In [1]:
%matplotlib widget

Importo il widget di matplotlib per vedere interattivamente i grafici su Jupyter Lab

In [2]:
import pandas as pd

Importo la libreria Pandas

In [3]:
import camelot

Importo la liberia Camelot di python che serve per estrarre le tabelle contenute in fogli PDF

In [4]:
import numpy as np

Importo la libreria Numpy

In [5]:
import matplotlib
import matplotlib.pyplot as plt

Importo la libreria Matplotlib

In [6]:
import os

Importo il modulo OS che fornisce funzioni per interagire con il sistema operativo

In [7]:
lista_anni = np.arange(2018,2021)
lista_mesi = np.arange(1,13)

Dichiaro due liste, una per gli anni e una per i mesi - QUI E' NECESSARIO L'INTERVENTO DELL'UTENTE

In [8]:
def configurazione(mese, anno):
    annomese = anno * 100 + mese 
    risultato = {}
    if (annomese == 201801):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False , 'area' : ['129,2090,3123,67'], 'columns' : ['373,444,517,591,661,735,811,890,972,1043,1122,1199,1275,1351,1428,1504,1580,1657,1736,1810,1886,1962,2036,2115,2188,2268,2344,2420,2500,2573,2652,2726,2799,2879,2955,3031']}
    if (annomese == 201802):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : True, 'area' : ['120,1740,2595,54'], 'columns' : ['313,388,448,507,572,634,694,769,842,901,964,1023,1080,1143,1205,1267,1327,1384,1446,1509,1568,1630,1690,1765,1825,1887,1947,2012,2071,2134,2191,2250,2313,2388,2450,2505']}
    if (annomese == 201803):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'], 'splittext' : True, 'area' : ['64,1700,2546,84'], 'columns' : ['266,332,394,455,514,591,650,724,799,860,924,978,1040,1102,1166,1225,1277,1339,1403,1468,1517,1576,1651,1728,1780,1855,1916,1978,2038,2092,2146,2208,2270,2344,2406,2458']}
    if (annomese == 201804):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'], 'splittext' : False, 'area' : ['46,1860,2656,59'], 'columns' : ['270,338,403,470,535,603,671,747,828,885,950,1010,1069,1134,1200,1267,1330,1384,1452,1517,1576,1641,1709,1774,1834,1912,1977,2042,2113,2173,2227,2295,2360,2438,2506,2563']}
    if (annomese == 201805):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False, 'area' : ['151,1810,2656,61'], 'columns' : ['365,433,496,557,622,683,746,824,900,950,1016,1071,1126,1187,1252,1318,1368,1421,1487,1550,1603,1666,1744,1819,1872,1948,2008,2071,2140,2192,2245,2311,2371,2444,2515,2565']}
    if (annomese == 201806):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False, 'area' : ['43,1788,2705,58'], 'columns' : ['241,305,370,440,502,569,639,719,800,862,926,1004,1069,1133,1201,1268,1335,1397,1461,1531,1593,1658,1725,1795,1859,1937,2002,2069,2134,2204,2265,2330,2397,2478,2545,2612']}
    if (annomese == 201807):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False, 'area' : ['34,1880,2754,51'], 'columns' : ['233,303,374,441,509,576,643,727,797,862,932,997,1061,1129,1196,1264,1337,1401,1469,1536,1604,1671,1739,1809,1876,1960,2027,2095,2162,2230,2300,2367,2437,2518,2588,2653']}
    if (annomese == 201808):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False, 'area' : ['30,1700,2582,34'], 'columns' : ['223,292,358,424,491,557,623,699,770,832,898,949,1001,1065,1133,1197,1251,1315,1384,1450,1514,1577,1641,1712,1779,1842,1906,1975,2043,2110,2174,2240,2306,2372,2441,2500']}
    if (annomese == 201809):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23,'striptext' : ['\n','.'] , 'splittext' : False, 'area' : ['32,1660,2585,64'], 'columns' : ['239,305,369,431,497,561,625,702,768,830,896,965,1029,1093,1156,1221,1283,1347,1409,1480,1534,1598,1665,1726,1791,1857,1916,1983,2049,2111,2172,2234,2300,2362,2426,2493']}
    if (annomese == 201810):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23,'striptext' : ['\n','.'] , 'splittext' : False, 'area' : ['299,1900,2940,213'], 'columns' : ['509,576,641,705,772,837,901,984,1061,1125,1195,1270,1332,1396,1463,1530,1592,1657,1721,1791,1853,1917,1979,2051,2113,2178,2242,2309,2374,2438,2502,2569,2634,2714,2781,2846']}
    if (annomese == 201811):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False, 'area' : ['88,1750,2815,48'], 'columns' : ['306,380,448,516,582,650,718,797,866,934,1005,1082,1148,1218,1285,1354,1421,1491,1555,1624,1691,1758,1827,1897,1964,2030,2097,2167,2236,2306,2370,2437,2506,2586,2653,2720']}
    if (annomese == 201812):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False, 'area' : ['207,1800,2799,50'], 'columns' : ['416,487,552,617,680,745,810,888,956,1019,1086,1137,1199,1265,1330,1398,1460,1526,1591,1659,1721,1787,1852,1920,1982,2045,2110,2176,2241,2309,2371,2437,2502,2577,2645,2708']}
    if (annomese == 201901):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False , 'area' : ['201,1930,2813,209'] , 'columns' : ['394,462,526,588,655,720,781,860,945,1000,1079,1139,1205,1272,1346,1413,1465,1532,1596,1675,1727,1792,1854,1944,1997,2063,2128,2194,2266,2336,2390,2454,2516,2592,2664,2723']}
    if (annomese == 201902):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : True , 'area' : ['58,1710,2538,63'] , 'columns' : ['333,396,459,511,580,641,705,777,847,903,964,1019,1082,1144,1206,1257,1311,1371,1434,1491,1545,1610,1671,1742,1797,1853,1923,1981,2037,2090,2142,2206,2267,2342,2401,2455']}
    if (annomese == 201903):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False , 'area' : ['170,1920,2853,119'] , 'columns' : ['379,454,524,590,656,724,792,873,961,1013,1091,1143,1210,1277,1353,1408,1466,1529,1600,1674,1725,1798,1876,1964,2015,2097,2166,2231,2308,2370,2419,2487,2555,2635,2710,2763']}
    if (annomese == 201904):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False , 'area' : ['52,1750,2740,33'] , 'columns' : ['257,342,407,472,538,601,670,754,844,894,979,1037,1103,1168,1248,1314,1379,1431,1496,1578,1628,1692,1763,1850,1904,1970,2035,2102,2182,2244,2298,2363,2434,2512,2590,2647']}
    if (annomese == 201905):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False , 'area' : ['68,1720,2586,62'] , 'columns' : ['280,352,417,483,549,615,681,757,833,884,950,1000,1065,1131,1198,1250,1299,1347,1415,1480,1530,1593,1672,1750,1799,1875,1939,2005,2073,2124,2173,2237,2301,2381,2445,2494']}
    if (annomese == 201906):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False , 'area' : ['147,1732,2660,49'] , 'columns' : ['345,432,496,562,626,694,758,836,906,966,1034,1082,1146,1214,1281,1332,1380,1444,1512,1578,1626,1692,1758,1823,1874,1950,2014,2078,2144,2197,2244,2310,2376,2454,2518,2570']}
    if (annomese == 201907):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False , 'area' : ['74,1580,2479,49'] , 'columns' : ['261,340,405,470,532,597,659,733,798,847,909,958,1022,1086,1157,1199,1246,1295,1360,1423,1472,1534,1599,1664,1710,1773,1833,1898,1963,2012,2063,2123,2188,2264,2326,2398']}
    if (annomese == 201908):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False , 'area' : ['34,1580,2443,29'] , 'columns' : ['238,305,368,435,501,566,633,707,776,824,891,940,1007,1072,1125,1175,1226,1273,1342,1391,1443,1508,1571,1641,1687,1752,1819,1884,1949,2000,2052,2117,2182,2249,2298,2363']}
    if (annomese == 201909):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False , 'area' : ['33,1750,2571,68'] , 'columns' : ['223,291,355,416,480,546,608,683,762,811,900,947,1007,1073,1156,1209,1266,1328,1392,1465,1519,1583,1642,1716,1770,1836,1895,1964,2035,2099,2155,2215,2280,2353,2431,2481']}
    if (annomese == 201910):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False , 'area' : ['71,1800,2810,118'] , 'columns' : ['283,363,432,499,566,636,700,780,868,930,1006,1077,1144,1211,1300,1358,1415,1482,1549,1626,1686,1755,1825,1902,1959,2029,2093,2163,2240,2307,2369,2433,2501,2580,2663,2717']}
    if (annomese == 201911):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False , 'area' : ['71,1800,2813,117'] , 'columns' : ['288,364,430,498,566,634,702,786,869,922,1014,1069,1135,1203,1296,1350,1410,1476,1544,1621,1680,1746,1816,1889,1950,2018,2086,2157,2238,2296,2359,2427,2497,2578,2657,2717']}
    if (annomese == 201912):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False , 'area' : ['85,1750,2723,87'] , 'columns' : ['290,366,434,498,566,628,695,772,853,904,990,1046,1111,1185,1249,1316,1372,1437,1504,1581,1636,1701,1769,1840,1898,1963,2030,2095,2169,2241,2290,2357,2424,2498,2573,2633']}
    if (annomese == 202001):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False , 'area' : ['31,1650,2579,40'], 'columns' : ['228,297,363,429,494,560,631,687,763,837,887,958,1010,1076,1142,1208,1274,1339,1408,1463,1529,1595,1666,1718,1787,1850,1921,1982,2037,2090,2171,2213,2282,2358,2432,2484']}
    if (annomese == 202002):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False, 'area' : ['34,1799,2776,34'], 'columns' : ['246,316,383,450,520,587,672,721,803,896,958,1042,1095,1165,1232,1299,1369,1433,1515,1571,1638,1708,1801,1854,1924,1988,2073,2137,2204,2262,2344,2397,2464,2543,2627,2683']}
    if (annomese == 202003):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 7 , 'striptext' : ['\n','.'] , 'splittext' : False, 'area' : ['3,520,743,47'], 'columns' : ['71,85,108,122,141,158,184,196,213,237,258,276,290,314,332,349,365,387,405,424,442,456,479,493,515,533,551,574,591,603,626,640,658,681,699,713']}
    if (annomese == 202004):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False, 'area' : ['52,1720,2532,54'] , 'columns' : ['257,331,392,445,512,583,647,698,759,838,907,973,1034,1088,1145,1208,1272,1335,1402,1461,1526,1590,1650,1711,1776,1844,1906,1979,2033,2094,2158,2218,2285,2354,2414,2464']}
    if (annomese == 202005):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : True, 'area' : ['28,1580,2450,42','28,1660,2450,42'] , 'columns' : ['220,286,347,421,480,540,603,656,726,789,855,915,975,1036,1096,1157,1219,1282,1343,1403,1466,1521,1584,1642,1708,1771,1833,1891,1948,2013,2078,2134,2194,2259,2319,2377','220,286,347,421,480,540,603,656,726,789,855,915,975,1036,1096,1157,1219,1282,1343,1403,1466,1521,1584,1642,1708,1771,1833,1891,1948,2013,2078,2134,2194,2259,2319,2377']}
    if (annomese == 202006):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 20 , 'striptext' : ['\n','.'] , 'splittext' : True, 'area' : ['100,1668,2614,87'], 'columns' : ['291,358,423,485,548,612,688,742,807,880,940,1018,1072,1134,1197,1262,1324,1386,1462,1513,1575,1640,1716,1765,1829,1892,1967,2027,2097,2143,2219,2270,2349,2406,2481,2535']}
    if (annomese == 202007):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : True, 'area' : ['30,1710,2561,111'] , 'columns' : ['229,297,360,423,485,548,624,681,746,812,874,950,1008,1070,1136,1201,1261,1324,1389,1452,1512,1577,1642,1702,1768,1828,1898,1958,2023,2081,2151,2209,2279,2345,2407,2470']}
    if (annomese == 202008):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False, 'area' : ['40,1918,2827,108','40,1920,2827,108'] , 'columns' : ['267,342,411,481,547,619,694,760,841,915,982,1054,1120,1192,1264,1336,1403,1478,1550,1619,1688,1757,1832,1899,1971,2043,2115,2184,2256,2325,2398,2463,2536,2608,2680,2749','267,342,411,481,547,619,694,760,841,915,982,1054,1120,1192,1264,1336,1403,1478,1550,1619,1688,1757,1832,1899,1971,2043,2115,2184,2256,2325,2398,2463,2536,2608,2680,2749']}
    if (annomese == 202009):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23,'striptext' : ['\n','.'] , 'splittext' : False, 'area' : ['256,1900,2868,117'], 'columns' : ['463,534,602,667,735,803,873,925,1006,1085,1155,1225,1278,1346,1413,1481,1549,1614,1682,1737,1805,1870,1943,1995,2074,2144,2209,2267,2324,2377,2444,2499,2567,2648,2716,2771']}
    if (annomese == 202010):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 10,'striptext' : ['\n','.'] , 'splittext' : False, 'area' : ['112,1700,2606,160','112,1800,2606,160'] , 'columns' : ['339,385,450,514,574,639,701,763,825,888,954,1026,1093,1150,1220,1282,1342,1409,1469,1531,1595,1660,1722,1784,1847,1911,1976,2036,2106,2165,2232,2294,2358,2417,2484,2543','339,385,450,514,574,639,701,763,825,888,954,1026,1093,1150,1220,1282,1342,1409,1469,1531,1595,1660,1722,1784,1847,1911,1976,2036,2106,2165,2232,2294,2358,2417,2484,2543']}
    if (annomese == 202011):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : False, 'area' : ['34,1850,2825,34'] , 'columns' : ['247,320,385,458,523,597,675,735,816,898,957,1039,1098,1169,1253,1321,1380,1451,1535,1595,1665,1735,1820,1876,1950,2017,2102,2181,2243,2299,2384,2440,2511,2590,2674,2731']}
    if (annomese == 202012):
        risultato = {'ext' : 'pdf','pages' : 'all', 'flavor' : 'stream', 'rowtol' : 23 , 'striptext' : ['\n','.'] , 'splittext' : True, 'area' : ['31,1650,2580,88'] , 'columns' : ['235,304,376,436,498,561,624,684,759,825,890,965,1023,1086,1156,1223,1274,1341,1404,1469,1530,1592,1655,1720,1783,1846,1908,1974,2034,2097,2162,2222,2285,2362,2429,2484']}
    return risultato

Creo una funzione di configurazione che sceglie quali parametri utilizzare per ogni file. In questo caso in base al nome del file (es.2019_1) la funzione sceglie la condizione adatta da associare al file - QUI E' NECESSARIO L'INTERVENTO DELL'UTENTE

In [9]:
date_toskip = []

Dichiaro un array che contiene i nomi dei file che non devono essere estratti (es. non esistono o non sono interessato a estrarne le tabelle) - QUI E' NECESSARIO L'INTERVENTO DELL'UTENTE

In [10]:
function_count = 0

Inizializzo a 0 la variabile che conta il numero di volte in cui ho eseguito la funzione. Il valore di tale variabile verrà aggiornato ogni volta che eseguo la funzione.

In [11]:
all_tables =[]

Dichiaro un array vuoto in cui successivamente inserirò i valori di tutti i dataframe delle tabelle estratte dai miei file

In [12]:
colname={"PROVINCIA DI": "PROVINCIA", 
           "PROVINCIA DI RESIDENZA" : "PROVINCIA" ,
           "RYSLER/JEEP DODGE": "CHRYSLER/JEEP/DODGE", 
           "RYSLER/JEEP/DODGE": "CHRYSLER/JEEP/DODGE", 
           "CHRYSLER/JEEP DODGE" : "CHRYSLER/JEEP/DODGE",
           "CHRYSLER" : "CHRYSLER/JEEP/DODGE" ,
           "HRYSLER/JEEP/DODGE" : "CHRYSLER/JEEP/DODGE" , 
           "HRYSLER/JEEP DODGE" : "CHRYSLER/JEEP/DODGE",
           "CHRYSLER/JEEP  DODGE" : "CHRYSLER/JEEP/DODGE",
           "CHRYSLER/JEEP/ DODGE" : "CHRYSLER/JEEP/DODGE",
           "CITROEN" : "CITROEN/DS",
           'LFA ROMEO' : 'ALFA ROMEO', 
           'OYOTA/LEXUS' : 'TOYOTA/LEXUS',
           "TOYOTA" : "TOYOTA/LEXUS" ,
           "YOTA/LEXUS" : "TOYOTA/LEXUS" , 
           "OLKSWAGEN" : "VOLKSWAGEN" , 
           "AND ROVER" : "LAND ROVER" , 
           "SANGYONG" : "SSANGYONG",
           "SSANGJONG" : "SSANGYONG",
           "SLA MOTORS" : "TESLA MOTORS",
           "ESLA MOTORS" : "TESLA MOTORS",
           "Totale" : "TOTALE"}

Array contenente le ridenominazioni delle colonne delle mie tabelle qualora siano state estratte in maniera incompleta/errata. Lo scopo è di uniformare i nomi delle colonne di ogni tabella - QUI E' NECESSARIO L'INTERVENTO DELL'UTENTE

In [13]:
indexname = {'BARLETTA-ANDRIATRANI' : 'BARLETTA-ANDRIA-TRANI',
             'BRIANZA' : 'MONZA E DELLA BRIANZA',
             'BARI BARLETTA-' : 'BARI',
             'ANDRIA-TRANI' : 'BARLETTA-ANDRIA-TRANI',
             'ASCOLI PICENO' : 'ASCOLIPICENO'
            }

Array contenente le ridenominazioni delle righe delle mie tabelle qualora siano state estratte in maniera incompleta/errata. Lo scopo è di uniformare i nomi delle righe di ogni tabella - QUI E' NECESSARIO L'INTERVENTO DELL'UTENTE

In [14]:
subset=['DATA', 'PROVINCIA']

Lista contenente il nome/i delle colonne di cui voglio verificare i valori. La lista viene chiamata nella funzione "drop_duplicates" e permette di eliminare righe "doppie", ovvero righe i cui valori sono identici per le due colonne selezionate.

In [15]:
riga = ["MESSINA"]
colonna = ['DATA' , 'TOTALE']

Dichiaro due variabili che indicano il valore/i delle righe e il nome/i della colonne che voglio cercare nel file. - QUI E' NECESSARIO L'INTERVENTO DELL'UTENTE

In [17]:
print ("Inizio estrazione numero:",function_count+1)#inserisco un print che segnala l'inizio dell'estrazione
global function_count 
function_count += 1 
for anno in lista_anni:
    for mese in lista_mesi:       #scorro la lista degli anni e la lista dei mesi
        myconfig = configurazione(mese,anno)#richiamo qui la funzione di configurazione definita precedentemente 
        data=str(anno) + '_' + str(mese)
        if data in date_toskip: 
            continue
        file = os.path.abspath("DATI/" + data + '.' + myconfig['ext']) #apro i file dalla mia cartella e li trovo in base a come li ho rinominati - QUI E' NECESSARIO L'INTERVENTO DELL'UTENTE
        print("\nQuesto è il file:\t" + data + '.' + myconfig['ext']) #inserisco un print per visionare uno ad uno i file che il programma sta leggendo
        if (function_count==1) : #quando eseguo la funzione la prima volta 
            tables= camelot.read_pdf(file,  pages=myconfig['pages'], flavor=myconfig['flavor']) #eseguo la funzione read_pdf con i parametri BASE della mia configurazione -  QUI E' NECESSARIO L'INTERVENTO DELL'UTEN                      
            tables.n #salva il numero delle tabelle trovate in ogni file
            for i in range(0,tables.n):
                print("\nQuesta è la struttura della tabella numero:" , i+1)
                print('\n',tables[i]) #mi indica la struttura della tabella, quante colonne e righe ha 
                print(tables[i].parsing_report)
                print("\nQuesto grafico mostra il dato testuale ricavato dalla tabella:")
                camelot.plot(tables[i], kind='text').show()  #mostra come viene parsato il dato testuale da Camelot, utile per ricavare le coordinate delle colonne
                print("Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:")
                camelot.plot(tables[i], kind='contour').show() #grafico che mi mostra l'area della tabella presa in considerazione, utile per ricavare le coordinate da inserire per l'area
                temp_df = tables[i].df #grazie a Panda creo il dataframe della tabella
                temp_df1=tables[0].df
                df=temp_df.replace(r'^\s*$', np.nan, regex=True).rename(columns=temp_df1.iloc[0]).drop(temp_df.index[0]) #ogni tabella avrà come header i nomi delle colonne della prima riga estratta dalla tabella della prima pagina
                print("\nQuesto è il dataframe:\n\n", df,'\n')
                print("\nQueste sono le colonne:\n\n", df.columns,'\n')
        else : #quando eseguo la funzione dalla seconda volta in poi
            tables= camelot.read_pdf(file,  pages=myconfig['pages'], flavor=myconfig['flavor'],  row_tol=myconfig['rowtol'], strip_text=myconfig['striptext'] ,split_text=myconfig['splittext'], table_areas=myconfig['area'],  columns=myconfig['columns']) #eseguo la funzione read_pdf con i parametri precedentemente settati nella mia configurazione -  QUI E' NECESSARIO L'INTERVENTO DELL'UTEN                      
            tables.n #salva il numero delle tabelle trovate in ogni file
            for i in range(0,tables.n):
                print("\nQuesta è la struttura della tabella numero:" , i+1)
                print('\n',tables[i]) #mi indica la struttura della tabella, quante colonne e righe ha 
                print(tables[i].parsing_report)
                print("\nQuesto grafico mostra il dato testuale ricavato dalla tabella:")
                camelot.plot(tables[i], kind='text').show()  #mostra come viene parsato il dato testuale da Camelot, utile per ricavare le coordinate delle colonne
                print("Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:")
                camelot.plot(tables[i], kind='contour').show() #grafico che mi mostra l'area della tabella presa in considerazione, utile per ricavare le coordinate da inserire per l'area
                temp_df = tables[i].df #grazie a Panda creo il dataframe della tabella
                temp_df1=tables[0].df
                df=temp_df.replace(r'^\s*$', np.nan, regex=True).rename(columns=temp_df1.iloc[0]).drop(temp_df.index[0]) #ogni tabella avrà come header i nomi delle colonne della prima riga estratta dalla tabella della prima pagina
                df.rename(columns=colname, inplace=True)
                print("\nQuesto è il dataframe:\n\n", df,'\n')
                print("\nQueste sono le colonne:\n\n", df.columns,'\n')
                date=[] #creo un array vuoto in cui andrò a salvare la data corrispondente al file per ogni valore estratto
                for i in range (0, len(df)):
                    date.append(str(anno) + '-' + str(mese) + '-01')
                df['DATA']=date
                all_tables.append(df)
if (function_count > 1) :
    dftot=pd.concat(all_tables, axis=0, ignore_index=True) #concateno tutti i dataframe ricavati dalla lettura di ogni file
    dftot.drop_duplicates(subset=subset, inplace=True) #elimino le eventuali righe doppie
    dftot.fillna(0,inplace=True) #tutti i valori NAN diventano 0
    dftot.set_index("PROVINCIA" ,inplace=True) #settare il nuovo indice della tabella
    dftot.rename(index=indexname,inplace=True)
    brand = dftot.loc[riga, colonna] #richiamo le due variabili che contengono i valori della/e riga/righe e colonna/e da estrarre
    print('\nQuesta è la tabella con i miei brand scelti:\n')
    print(brand) #utilizzare il comando print(brand) per visualizzare il dataframe degli specifici valori che ho estratto
    brand.to_csv("MESSINA.csv") #è opportuno chiamare il file.csv con il nome del brand estratto, in questo caso si chiamerà come il nome della riga estratta - QUI E' NECESSARIO L'INTERVENTO DELL'UTENTE

Inizio estrazione numero: 2

Questo è il file:	2018_1.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(64, 37)>
{'accuracy': 100.0, 'whitespace': 11.53, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               RESIDENZA        NaN  NaN  NaN                 NaN        NaN
2               AGRIGENTO         11   32    2                  39         29
3             ALESSANDRIA         18   57   34                  39         55
4                  ANCONA         29   78   20                  64         63
5                   AOSTA        476   28   29                 755        122
..                    ...        ...  ...  ...                 ...        ...
59  MONZA E DELLA BRIANZA         50  155  103                 100        101
60                 NAPOLI         30   90   57                 123        147
61                 NOVARA         29   91   34                  35         69
62                  NUORO          8    4  NaN                   5         17
63               ORISTANO          1    1  NaN                   4         27

   DACIA  FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1    NaN   NaN  NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2     28    87   22     2  ...   NaN   NaN       NaN      1      5
3     50   184   98     5  ...    11     2         2      1     49
4     60   198   74    10  ...    21     7         2    NaN     23
5     13  4503   43   NaN  ...    14    13       NaN      2     30
..   ...   ...  ...   ...  ...   ...   ...       ...    ...    ...
59    97   232  122    18  ...    38    24         9      3     62
60   128   399  191    16  ...    46    44         4      1     35
61    42   103   72     8  ...    21     2       NaN      3     49
62    22    27   13     3  ...     3   NaN         3    NaN      5
63    16    13   11     1  ...   NaN   NaN         1    NaN      9

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2            11         40   NaN     0    492
3            33         78     4     1   1096
4            39        139     8     3   1312
5            26         23     7     0   6983
..          ...        ...   ...   ...    ...
59          214        280     6     3   2730
60           82        138     5     2   2695
61           48        109     2     0   1075
62           17         15   NaN     0    244
63            4         22   NaN     0    162

[63 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(47, 37)>
{'accuracy': 100.0, 'whitespace': 10.24, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

              PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               PADOVA         62   127    60                  95         79
2              PALERMO         27    71    18                  79         34
3                PARMA         17    85    48                  36         53
4                PAVIA         32    22    40                  90        273
5              PERUGIA         42    64    36                 106         84
6        PESARO URBINO         20    40    22                  56         37
7              PESCARA          5    18    15                  33         47
8             PIACENZA         19    22    26                  42         49
9                 PISA         22    31    31                  61         64
10             PISTOIA         10    54    23                  62         50
11           PORDENONE         27    29    25                  27         41
12             POTENZA         11     6     7                  23         25
13               PRATO         14    19    27                  54         21
14              RAGUSA          5    29     1                  32         32
15             RAVENNA         16    26    22                  51         37
16  REGGIO DI CALABRIA          7    23     4                  25         30
17  REGGIO NELL'EMILIA         36    63    24                  67        104
18               RIETI          2     6     6                   8         12
19              RIMINI         10    28    20                  42         48
20                ROMA        112   229   328                 290        498
21              ROVIGO          3    32    23                  11         29
22             SALERNO         20    46    28                  61        121
23             SASSARI         17     4    12                  27         61
24              SAVONA         16    19     8                  16         45
25               SIENA         14    39    17                  39         34
26            SIRACUSA          4     7     7                  21         32
27             SONDRIO         10     8     4                  33          9
28        SUD SARDEGNA         15     5     5                  12         30
29             TARANTO          7    26    21                  18         24
30              TERAMO         19    12    15                  35         23
31               TERNI         10    13    12                  14         29
32              TORINO        719   265   171                 338        198
33             TRAPANI          9    23     4                  23         35
34              TRENTO        310   665   726                 377        441
35             TREVISO         53   129    42                 112        111
36             TRIESTE         13    23    17                  31         26
37               UDINE         34    38    36                  51         77
38              VARESE         53    87    81                 123         79
39             VENEZIA         37    89    29                 122         89
40            VERBANIA          5    17     7                  16         20
41            VERCELLI          7    20    11                  21         14
42              VERONA         48   161    68                  88        105
43       VIBO VALENTIA          2     5     4                  16         10
44             VICENZA         61    97    73                 133        106
45             VITERBO         11    14     9                  25         30
46              TOTALE       4520  6502  4832                7439       8994

   DACIA   FIAT   FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1    114    331    168    15  ...    31    14         5     14     43
2     98    226     88     7  ...    18    20         1      1     23
3     78    146     80    18  ...    20     1         2    NaN     35
4     90    180    135     7  ...    10     5       NaN      1     57
5     63    385    124     8  ...    21    13       NaN      2     52
6     53    140     75     1  ...    12     5         2      3     22
7     20    132     49     4  ...     2    12       NaN    NaN     16
8     41     97     57     2  ...     5     1         3      1     12
9     79    232    132    15  ...    20   NaN         2    NaN     40
10    44    119     34     1  ...    12     4       NaN      1     38
11    31    103     81     6  ...    24     5         1      2     23
12    28    102     18   NaN  ...     5   NaN       NaN    NaN     12
13    40    136     43     1  ...     5     4         1      1     27
14    34     97     37     2  ...   NaN     3         2    NaN     12
15    61    100     93     7  ...    17     3       NaN      1     26
16    37     82     38    12  ...    12     6         1    NaN     15
17    78    283    144     7  ...    27     1         1      4     55
18     8     31     16     2  ...   NaN     1       NaN    NaN      4
19    39     80     51     9  ...    18     4         2      1     27
20   518    921    866    43  ...    46   383         5      7    158
21    27     32     52     2  ...    18     2         2    NaN     12
22    63    220     83     2  ...     9     7       NaN    NaN     27
23    38     76     65     1  ...     7     3         1    NaN     11
24    27     94     91     7  ...     1     2       NaN      1     30
25    57     90     51     3  ...     6     3       NaN      1     26
26    46     78     60     3  ...     3     2       NaN    NaN      7
27    10     62    112     2  ...     9   NaN       NaN      1     32
28    42     46     69   NaN  ...   NaN   NaN       NaN    NaN     10
29    47     77     44     9  ...    12     2       NaN    NaN     22
30    38    123     68     1  ...     2     5         1    NaN     15
31    23     50     37     1  ...     1   NaN         2    NaN      8
32   255   7915    481    33  ...    77    46        13      7    166
33    30     48     25   NaN  ...     1     1       NaN    NaN      3
34    60   1466   2134    11  ...   212   396         1     28     68
35    86    173    178    23  ...    33    17         6      8     50
36    16     76     35    10  ...     4    15         1      9     44
37    65    174     81     9  ...    19     5         4      2     54
38   105    162    165    20  ...    36     3         2      7    111
39    75    256    133     2  ...    27     8         3      4     38
40    10     47     31     2  ...     2   NaN       NaN      1     34
41    18     36     38    13  ...     1   NaN         1    NaN     26
42    98    250    160     9  ...   113    19         9      5     32
43    16     25     20   NaN  ...   NaN     1       NaN    NaN      4
44    95    624    183    24  ...    42    14         2      6     64
45    43     71     48     1  ...     3     3       NaN    NaN     15
46  6135  34470  12532   803  ...  2260  1570       184    244   3363

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1           179        248    12     5    2619
2            83        141     6     0    1520
3            62        143    18     0    1342
4            66         72     6     2    1759
5            62        178    14     2    1940
6            29        107   NaN     2    1039
7            34         40     7     1     703
8            53         41     2     0     832
9            55        145    15     0    1597
10           26         76     2     2     974
11           57         99    11     0     968
12            6         37   NaN     1     461
13           52         82     8     1     961
14           32         26     2     0     501
15           57        127    20     2    1153
16           70         31     3     2     647
17           76        124     6     1    1825
18            5         25   NaN     0     225
19           35         83   NaN     1     846
20          865        737    42    15   10099
21           33         71     3     0     591
22           29         99     2     0    1432
23           26         91     4     0     733
24           34         64     3     0     667
25           37         81    10     2     849
26           24         21     1     0     534
27           15         24   NaN     0     416
28           15         50   NaN     0     469
29            6         54     2     0     661
30           27         41     2     0     700
31           18         51   NaN     0     456
32          412        427    14    12   13440
33           21         45   NaN     0     445
34          967        691   144     5   12692
35          187        213    27     3    2329
36           43         38     2     0     576
37           83        129     9     1    1411
38          227        236    14     2    2582
39           95        145    18     7    1891
40            2         35     1     2     356
41           17         29     2     1     400
42          158        258    20     3    2576
43            7          6   NaN     0     216
44          209        163    28     5    2823
45           28         31     3     0     590
46         8335      13382  1095   186  177822

[46 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2018_2.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(60, 37)>
{'accuracy': 100.0, 'whitespace': 11.49, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI  BMW CHRYSLER/JEEP/DODGE  \
1               AGRIGENTO         11    11    1                  30
2             ALESSANDRIA         14    41   46                  36
3                  ANCONA         25    50   35                  68
4                   AOSTA        647    39   34                 605
5                  AREZZO          8    18   57                  52
6            ASCOLIPICENO         11     5   18                  29
7                    ASTI         13    11   43                  20
8                AVELLINO          4    27   10                  17
9                    BARI         28    32   16                  80
10   BARLETTA-ANDRIATRANI         -7     1   10                  14
11                BELLUNO         34     1    3                  59
12              BENEVENTO          6     5    3                  18
13                BERGAMO         51   112   78                  52
14                 BIELLA         11    10   18                  24
15                BOLOGNA         32   106   75                  92
16          BOLZANO-BOZEN        603  1170  786                 387
17                BRESCIA         50   117  109                 119
18               BRINDISI          2     9   14                  19
19               CAGLIARI         20    13   23                  27
20          CALTANISSETTA          3     4    4                   8
21             CAMPOBASSO          8     7    4                  20
22                CASERTA         20    21   26                  52
23                CATANIA          5    15   26                  32
24              CATANZARO          9    29   14                  31
25                 CHIETI         14     8   11                  31
26                   COMO         26    54   29                  64
27                COSENZA         18    30   20                  43
28                CREMONA         12    44   52                  29
29                CROTONE          2     1    2                   6
30                  CUNEO         31    45   36                  84
31                   ENNA          1     2  NaN                   7
32                  FERMO          6     5    4                  13
33                FERRARA         15    11   19                  33
34                FIRENZE        240   309  320                 230
35                 FOGGIA         13     7   11                  26
36          FORLI' CESENA          6    25   14                  34
37              FROSINONE         35    11   23                  57
38                 GENOVA         10    47   26                  24
39                GORIZIA          5     3    5                   7
40               GROSSETO          4     4   10                  10
41                IMPERIA          6     7    8                   9
42                ISERNIA          2     2    1                   4
43              LA SPEZIA          5    14    2                  46
44               L'AQUILA         12     4    4                  25
45                 LATINA         15    13   28                  27
46                  LECCE         30    31   29                  57
47                  LECCO         16    19   31                  34
48                LIVORNO          8    24   12                  26
49                   LODI         13    12   17                  21
50                  LUCCA         21    50   34                  54
51               MACERATA         13    21   30                  23
52                MANTOVA         18    18   41                  29
53          MASSA-CARRARA         13    28    8                  31
54                 MATERA         14   NaN   18                   8
55                MESSINA         12    37   27                  17
56                 MILANO        114   286  283                 253
57                 MODENA         42    66   95                  63
58  MONZA E DELLA BRIANZA         53   104   89                 104
59                 NAPOLI         32    73   76                 100

   CITROEN/DS DACIA  FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1          17    10    69   27     3  ...     1   NaN         1    NaN      4
2          56    48   148  105     8  ...    11     4         2      2     41
3          59    50   171   51     9  ...    18     3         1      4     26
4         192    13  5426   58     4  ...    15    26         1      4     21
5          40    60   115   58     6  ...     8     6         3      2     28
6           2    32    74   29     3  ...     2     3         1    NaN     12
7          16    31    36   35     3  ...     2     1       NaN      1      7
8          28    23    45   32     1  ...     7     3       NaN      1      4
9          62    93   361  173    13  ...    24    20         6    NaN     66
10         10    12    34   10   NaN  ...     5   NaN         1    NaN     12
11         42    18   204   20   NaN  ...     8     1       NaN      3     15
12          7    20    27   11     2  ...     7     1       NaN    NaN      4
13        180   105   257  159    33  ...    26    21         4      6     37
14         11    38    46   45     4  ...     5     1       NaN    NaN     22
15        222   117   446  297    32  ...    46    10         4      9     64
16       2573   492  4303  641   NaN  ...   554   146       NaN      3     12
17        165   154   447  199    23  ...    46    26         3     10     51
18         17    28    88   25   NaN  ...   NaN     3       NaN    NaN      8
19         42    82   113  118    12  ...     1    13         1    NaN     14
20         15    12    43    6   NaN  ...     1   NaN       NaN    NaN      8
21         14     7    37   33   NaN  ...   NaN   NaN       NaN    NaN      8
22         44    80    97   61     8  ...    10     6         1      1      8
23         61    85    86   70    15  ...    17    11         1    NaN     39
24         47    18   103   37   NaN  ...     3     7       NaN    NaN     16
25         39    36   108   51     3  ...   NaN     6       NaN    NaN     12
26         55   101   232   91    11  ...    25    18         3      4     57
27         41    23   258   93     4  ...    11     6       NaN    NaN     17
28         53    34    55   67    15  ...    10     3       NaN    NaN     13
29         17     4    22    8   NaN  ...   NaN   NaN       NaN    NaN      5
30         87    51   198  113    13  ...    11    14         1      3     47
31          7    11     7    6     1  ...   NaN   NaN       NaN    NaN    NaN
32          3    11    32   17     4  ...     7     2       NaN      2      3
33         32    60    63   71   NaN  ...    18     1         2    NaN     17
34        285   179   759  456    35  ...   161    86         9     10     75
35          9    43    65   15     2  ...     1     3       NaN    NaN      8
36         31    64   110   81     9  ...     9     1         1    NaN     13
37         42    25   116   43     1  ...     6    10         3      2      6
38         36    71   157  184    11  ...     9    46         2      5     48
39          5    11    17    8    12  ...     3   NaN       NaN      1     18
40         24    22    48   28     3  ...     9     1         3    NaN     23
41         28    21    45   37     4  ...     4     6       NaN      3     16
42          4     6    17    9     1  ...   NaN     2       NaN    NaN      2
43         13    26    74   45    17  ...     7     5         5    NaN     10
44         39    32    92   18     1  ...     2     3         2    NaN     24
45         60    60   118   82     5  ...     9    14         2    NaN      9
46         37    79   137   75   NaN  ...     8     3       NaN    NaN     18
47         23    38   111   48     4  ...    18    13       NaN      5     34
48         29    51    71  147     2  ...    14     2         4      2     13
49         15    27    72   62     5  ...     3     1         1    NaN      9
50         47    69   182   73     1  ...    22     7         2      5     26
51         28    30    91   36     4  ...    18     3       NaN    NaN     21
52         79    45    51   45     3  ...    20   NaN         2      1     17
53         23    31    76   35   NaN  ...    13     1       NaN    NaN      8
54          1    22    73   16     5  ...     2   NaN       NaN    NaN      9
55         49    26   100   34     1  ...    10     9       NaN    NaN     10
56        683   419   696  648    66  ...   101    76        34     18    204
57         87   101   394  141     4  ...    37     4       NaN      5     35
58        125   143   225  136    27  ...    36    40         8      1     42
59        117   177   403  169    17  ...    39    41         3    NaN     42

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1             9         43   NaN     0    399
2            30         68    12     0   1026
3            46        118     9     3   1171
4            14         29     5     0   7953
5            15        101     3     2    966
6             5         41     1     0    451
7             9         32     6     0    458
8            21         28     3     0    397
9            45        145    17     1   1930
10           28         21     2     0    255
11           15         31     6     1    640
12            1         15   NaN     1    254
13          182        333    14     5   2732
14           15         36     1     0    455
15          218        340    33    10   3283
16          395       3745    22     4  22783
17          166        368    19     3   3558
18            3         30   NaN     0    443
19           61         67     2     1    908
20            3         12   NaN     1    209
21            7         23   NaN     0    257
22           16         30     5     3    982
23           29         68   NaN     1   1154
24           22         52   NaN     0    608
25           32         85     1     1    683
26          114        204    14     2   1830
27           17        100   NaN     0   1033
28           59         91     7     1    946
29            7          3   NaN     0    123
30           81        122    16     1   1487
31            2         16   NaN     0    120
32           10         37     1     1    256
33           65        104     7     0    881
34          287        528   178     4   7010
35           37         22     1     3    458
36           30        104     8     0    936
37           17         76     1     0    728
38           70        210     7     0   1470
39           16         38     1     0    260
40           11         66     2     0    443
41           17         15     1     0    328
42            1          3     1     1     81
43           22         68     1     0    529
44           16         48     2     1    519
45           46         46     4     3    923
46            8         97     7     0   1156
47           53        115     1     1    920
48           40         92     5     0    946
49           20         48     4     1    583
50           48        128     9     1   1315
51           10        110     2     2    650
52           58         93    10     0   1011
53           16         73     1     1    540
54            5         15   NaN     0    290
55           21         59     2     0    755
56          638        687    95    22   8945
57          134        192    32     3   2319
58          181        227    10     3   2529
59           78        166    10     4   2646

[59 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(50, 37)>
{'accuracy': 99.69, 'whitespace': 11.95, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

              PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               NOVARA         20    43    50                  33         68
2                NUORO         10     2     1                   1         12
3             ORISTANO          5     3     1                   2         20
4               PADOVA         46    92    73                 103         83
5              PALERMO         20    58    15                  59         29
6                PARMA         21    60    68                  33         42
7                PAVIA         29    35    43                  65        188
8              PERUGIA         25    55    44                  73         79
9        PESARO URBINO         14    27    28                  40         25
10             PESCARA          9     9    29                  24         50
11            PIACENZA          6    24    25                  36         50
12                PISA         25    18    49                  68         51
13             PISTOIA         10     9    17                  50         47
14           PORDENONE         18    22    49                  23         31
15             POTENZA         16     7     4                  21         21
16               PRATO          9    11    27                  45         20
17              RAGUSA         11     9     2                  26         28
18             RAVENNA          8    30    22                  53         20
19  REGGIO DI CALABRIA         10    15     6                  22         22
20  REGGIO NELL'EMILIA         32    55    46                  91        109
21               RIETI          6     1     4                   9          8
22              RIMINI          6    24    36                  35         31
23                ROMA         97   145   315                 261        490
24              ROVIGO          4    26    39                   8         34
25             SALERNO         25    29    26                  66         99
26             SASSARI          8     8     7                  27         51
27              SAVONA          7     7     6                  26         40
28               SIENA         13    36    14                  35         38
29            SIRACUSA          4     6    10                   9         17
30             SONDRIO          9     6     6                  19          8
31        SUD SARDEGNA         15     4     2                  15         34
32             TARANTO          4    16    17                  24         13
33              TERAMO         17    11    14                  33         12
34               TERNI         14    10    16                  17         33
35              TORINO        823   174   180                 795        179
36             TRAPANI          5    13     1                  12         34
37              TRENTO        315   848   929                 417        460
38             TREVISO         29    63    40                 107         80
39             TRIESTE         19    19    33                  34         11
40               UDINE         25    50    55                  53         69
41              VARESE         46    74    97                  71         88
42             VENEZIA         37    48    19                 122         73
43            VERBANIA          5     7     9                  17         20
44            VERCELLI          7     8    12                  10          8
45              VERONA         48   107    87                  64         71
46       VIBO VALENTIA          3     5     1                  17          3
47             VICENZA         70    75    71                 139         87
48             VITERBO          5     8     5                  24         31
49              TOTALE       4509  5681  5518                6854       9292

   DACIA   FIAT   FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1     48     92     57     9  ...    12     1         1    NaN     30
2     30     16     10   NaN  ...     1   NaN         2    NaN      2
3     24      9      5   NaN  ...   NaN   NaN         1    NaN      2
4     82    259    142    17  ...    35    19         6     11     39
5    123    200     69     7  ...    16    37         1      3     21
6     51    148     74    13  ...    21     1         1      6     23
7     89    143    131    16  ...     6     5         2      3     42
8     36    292     96    10  ...    22    15       NaN      5     65
9     50    117     71     2  ...    11    11         1      1     21
10    31     84     48     6  ...     3     9       NaN      3      8
11    19    128     62     5  ...     9     2         1      3     22
12    73    181    135    14  ...    16     4         2    NaN     23
13    55     78     38     1  ...    23     5       NaN    NaN     17
14    21    111     63     3  ...    12     2         2      1     22
15    21    114     23   NaN  ...     6     2       NaN    NaN     12
16    47    107     41     1  ...     6     9         2      2     25
17    28     79     29     1  ...   NaN     1         2    NaN      5
18    47     90     85     6  ...    16     3       NaN      3     28
19    45     70     34    11  ...    10     9         2    NaN      6
20    95    262    130     3  ...    20     1         1      3     34
21    13     28     26   NaN  ...   NaN     3       NaN    NaN      3
22    42     82     44    12  ...    12     3       NaN    NaN     18
23   494    977    890    54  ...    46   526        10      4    158
24    12     26     40     2  ...     8   NaN         4      1      5
25    63    260     73     1  ...     3    16       NaN    NaN     23
26    45     89     48     1  ...     5     5       NaN    NaN      6
27    30     62     67     9  ...     2     3       NaN      2     22
28    58     74     55     4  ...     7   NaN         1      6     24
29    72     74     58     5  ...     2   NaN       NaN    NaN      4
30     9     47    151     2  ...    11     3       NaN      4     28
31    50     53     63   NaN  ...   NaN   NaN         1    NaN      5
32    38     63     42     3  ...     8     4       NaN    NaN     15
33    31    110     54   NaN  ...     2     3         2    NaN      5
34    25     37     32     1  ...     3     3       NaN    NaN     10
35   296   5878    477    36  ...    71    44        20     13    135
36    27     27     18   NaN  ...     4     2         1    NaN      2
37    81   1959   2881     7  ...   213   253         2     11    206
38    73    102    140    25  ...    23    16         1     12     39
39    21     68     38    13  ...     5    13         3     10     28
40    70    184     81    14  ...    16     6         5      2     31
41   151    170    134    30  ...    29     8         4     12    125
42   115    253    147     3  ...    28     7         1      2     33
43    23     46     28     6  ...     8   NaN       NaN      1     21
44    29     29     40    13  ...     1     1         2      3     17
45    90    178    162    14  ...    82    16        13      4     48
46     9     23     14   NaN  ...   NaN     2       NaN    NaN      3
47    63    828    170    21  ...    39     5         3      5     52
48    52     51     37   NaN  ...     2     4       NaN      2     19
49  6874  32409  12841   871  ...  2335  1821       217    251   2970

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1            44         91     3     4     962
2            20         22     1     0     240
3           NaN         19   NaN     0     154
4           142        313    17     3    2476
5            72        122     6     2    1434
6            56        149    14     0    1292
7            66         89    10     0    1579
8            91        214    68     1    1832
9            21         94     3     3     912
10           32         35     7     0     655
11           25         55     5     0     798
12           47        195    16     0    1511
13           19         80     7     1     838
14           51         74    13     0     901
15            6         40   NaN     1     451
16           41         99     5     0     910
17           25         30   NaN     4     451
18           42        116    17     0    1079
19           57         29     3     1     596
20           55        157    11     0    1768
21            5         14   NaN     1     223
22           28         73     7     0     785
23          772        769    18     8    9977
24           25         86     2     1     520
25           25        107     2     1    1372
26           27         97     4     0     824
27           21         67     9     1     567
28           24         88    10     0     835
29           27         16   NaN     0     513
30           20         30     8     0     464
31           17         42   NaN     1     456
32            2         70     1     0     631
33           14         46     4     0     607
34           18         54     1     3     431
35          423        425    13    26   11815
36           16         55   NaN     0     392
37         1438        747   140     3   16329
38          139        248    19     1    1910
39           22         48     1     2     548
40           72        139    14     1    1469
41          215        261    19     2    2596
42          106        177    11     3    1930
43           12         27   NaN     1     372
44           19         31     3     1     379
45          131        301    12     5    2322
46            4         11   NaN     1     172
47          145        220    32     3    3006
48           26         42     4     2     529
49         8327      16178  1141   179  181734

[49 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2018_3.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(59, 37)>
{'accuracy': 100.0, 'whitespace': 11.82, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI  BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN  NaN                  CH
2               AGRIGENTO          5    20    3                  23
3             ALESSANDRIA         12    29   51                  46
4                  ANCONA         27    52   42                  76
5                   AOSTA       1051    41   25                1007
6                  AREZZO         14    37   24                  68
7            ASCOLIPICENO         14     6   18                  29
8                    ASTI          4    17   23                  20
9                AVELLINO          2    22   11                  17
10                   BARI         57    39   23                 129
11  BARLETTA-ANDRIA-TRANI          2     2   11                  14
12                BELLUNO         34     8    6                  84
13              BENEVENTO          4    11    5                  25
14                BERGAMO         46   127  123                 110
15                 BIELLA         11    17   16                  23
16                BOLOGNA         43   103   91                 111
17          BOLZANO-BOZEN        781  1724  373                 425
18                BRESCIA         85   160  176                 186
19               BRINDISI          4   NaN   11                  18
20               CAGLIARI         29    16   12                  32
21          CALTANISSETTA        NaN     4    5                   8
22             CAMPOBASSO          4     9    5                  20
23                CASERTA         24    19   23                  61
24                CATANIA          5    25   18                  31
25              CATANZARO         11    21   17                  37
26                 CHIETI          9     4   14                  47
27                   COMO         13    59   41                 104
28                COSENZA         14    53   24                  53
29                CREMONA          7    40   38                  23
30                CROTONE          1     3  NaN                   7
31                  CUNEO         21    46   57                 116
32                   ENNA          1     4    3                   1
33                  FERMO          4     7   13                  11
34                FERRARA          9    15   14                  29
35                FIRENZE        200   304  257                 415
36                 FOGGIA          5    17   14                  33
37          FORLI' CESENA          5    23   14                  55
38              FROSINONE         31    21   27                  73
39                 GENOVA         19    46   33                  39
40                GORIZIA          2     6    9                  10
41               GROSSETO          2     9    4                  21
42                IMPERIA          3     4    6                  11
43                ISERNIA          2   NaN    4                   5
44              LA SPEZIA          7     5    9                  27
45               L'AQUILA          2    15   11                  21
46                 LATINA         13    11   27                  46
47                  LECCE         16    35   27                  62
48                  LECCO         19    33   21                  72
49                LIVORNO          7    27   19                  40
50                   LODI          6    22   21                  28
51                  LUCCA         16    45   28                  78
52               MACERATA         10    19   25                  34
53                MANTOVA         19    37   42                  35
54          MASSA-CARRARA          7    35    9                  49
55                 MATERA         12   NaN   11                   6
56                MESSINA          7    29   23                  34
57                 MILANO        114   306  351                 260
58                 MODENA         46    58   89                  74

   CITROEN/DS DACIA  FIAT  FORD HONDA  ... SKODA SMART SSANGYONG SUBARU  \
1         NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN       NaN    NaN
2          14     8   103    37     3  ...     1     1       NaN      1
3          70    27   201   119     2  ...     7     7       NaN    NaN
4          79    40   260    72    15  ...    17     5       NaN    NaN
5         311     9  4735    70     8  ...    19    14         1      1
6          38    23   173    83    11  ...    14     9         4      1
7           2    17    97    35     1  ...     2     2         3    NaN
8          15    26    57    53     4  ...     3   NaN       NaN    NaN
9          30    23    87    41   NaN  ...     5     2       NaN    NaN
10         87    65   538   210    17  ...    21    34         6    NaN
11          4    11    47    28   NaN  ...     6   NaN       NaN    NaN
12         64    28   252    38     1  ...    13     1       NaN      7
13         13    12    68    26   NaN  ...     7     5         1    NaN
14        232    95   330   158    29  ...    47    28         4      4
15         19    10    77    43     9  ...     3     1       NaN      2
16        211    98   447   320    32  ...    46    13         7     10
17       2559   551  5934  2181     1  ...   554   507         1      3
18        172   104   575   262    20  ...    37    32         7     12
19          9    21    93    28   NaN  ...     3     4       NaN    NaN
20         62    76   133   107     9  ...     1    18       NaN    NaN
21         14     7    48    12   NaN  ...     1   NaN       NaN    NaN
22          8     6    51    35   NaN  ...     1   NaN         1    NaN
23         43    42   156    70     6  ...    16     8         1      1
24         56    54   148    98    15  ...    23    19         2    NaN
25         44    14   147    43     1  ...     6    12       NaN      2
26         33    16   176    66     8  ...     3     7       NaN      1
27         73    47   292    87    11  ...    35    24         3     11
28         62    19   282   124     1  ...    13     4         2    NaN
29         66    25    84    85    11  ...     8     7       NaN      1
30         13     7    38     9   NaN  ...   NaN   NaN       NaN    NaN
31        137    34   266   189    24  ...    26    30         1    NaN
32          7     6    24     8   NaN  ...     1     1       NaN    NaN
33          3    11    56    23     3  ...     4     5         3      3
34         28    26   113    80     2  ...    17     7         2      3
35        196   102  1389   558    33  ...   192    96         9     10
36         21    23    72    35     6  ...     5     9       NaN      1
37         32    49   188   104    15  ...    12     1       NaN      1
38         39    10   149    40     3  ...     3    11         3      2
39         24    46   250   226    19  ...     8    66       NaN      3
40          8     9    15    77    15  ...     5     1       NaN    NaN
41         30    22    54    37     6  ...     6     3         3    NaN
42         21    13    47    37     8  ...     6     2         1      1
43          4     3    11    11   NaN  ...   NaN     1       NaN    NaN
44         31    12   127    29   NaN  ...     1     2         2    NaN
45         19    21    99    52     7  ...     1     4         1      1
46         61    38   121    83     6  ...     7    23         3      1
47         22    55   153   109   NaN  ...    15     8       NaN    NaN
48         44    26   135    51     6  ...    19     5         4      6
49         26    49   144   167     3  ...    11   NaN         9    NaN
50         15    15    78    72     6  ...     7     1         1    NaN
51         49    53   227    93     5  ...    19     2         3      3
52         25    20   147    58     4  ...    23     2       NaN      3
53         78    21    92    52     2  ...    22     2       NaN    NaN
54         12    19    92    49     3  ...    17     1         1    NaN
55          3    11    63    29     3  ...     2     2       NaN      1
56         61    45   143    58   NaN  ...     7    25         2    NaN
57        597   220   953   696    82  ...   128   430        35     24
58         90    74   352   154    12  ...    39     4       NaN      6

   SUZUKI TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1     NaN            T          V   NaN   NaN    NaN
2       3            7         51   NaN     0    459
3      23           48        106    13     1   1184
4      28           73        183    14     9   1544
5      16           25         37     8     0   8741
6      18           21        132     6     1   1066
7      18           12         43     5     0    524
8      19           19         49     5     0    556
9      10           12         34     1     0    482
10     45           74        150    26     1   2396
11      9           28         37     5     0    331
12     28           21         61     6     0    894
13      5            6         20     1     1    330
14     64          219        387    23    10   3314
15     37           22         47     3     0    517
16     78          253        403    70     4   3590
17     12           67       3222   376     1  28400
18     73          188        461    37     7   4263
19      9            6         29     1     0    482
20     12           70         78    13     0   1056
21      3            7         21   NaN     0    242
22     13            7         19   NaN     1    268
23     16           25         35     4     3   1054
24     29           63         72   NaN     3   1313
25     15           19         90   NaN     0    720
26     13           26         93     4     1    884
27     62          138        212    24     1   2120
28     16           11         97     2     2   1124
29     25           57         97    12     1   1086
30      7            8          5   NaN     0    150
31     44           97        149    25     3   1923
32    NaN            1          9   NaN     0    121
33      4           17         37     3     0    351
34     23           73        121     9     2   1016
35     73          275        713   198    15   7747
36     11           36         21     3     1    536
37     20           28        100    15     2   1146
38     11           24         81   NaN     1    869
39     52           97        218    11     0   1776
40     16           16         50   NaN     0    368
41     22            8         53     2     0    455
42     18           24         26     6     0    360
43      1            2          5   NaN     6     89
44     15           23         52     4     1    544
45     13           20        120   NaN     1    570
46      5           42         51   NaN     2   1007
47     23           13        139     6     0   1319
48     17           71        118     2     1    992
49     19           38        103     6     1   1110
50     11           21         88     7     2    701
51     16           58        124    13     0   1443
52     20           16        106    11     1    810
53     14           45        127    18     0   1118
54     17           21        100     2     2    614
55      7            5         22     2     2    310
56     26           22         79     6     0    946
57    166          746        887   102    44  10085
58     56          139        209    30     3   2433

[58 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(52, 37)>
{'accuracy': 99.68, 'whitespace': 9.56, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE  \
1   MONZA E DELLA BRIANZA         60   111    91                  86
2                  NAPOLI         18    63    65                 127
3                  NOVARA         21    59    36                  30
4                   NUORO          4     3     1                   3
5                ORISTANO          4     3     4                   9
6                  PADOVA         39    80    78                 134
7                 PALERMO         21    51    22                  92
8                   PARMA         18    54    37                  35
9                   PAVIA         18    22    59                 122
10                PERUGIA         24    55    31                  96
11          PESARO URBINO         15    32    31                  55
12                PESCARA          8    15    27                  27
13               PIACENZA         13    17    42                  44
14                   PISA          8    33    41                  74
15                PISTOIA          6    23    23                  56
16              PORDENONE         16    24    15                  21
17                POTENZA         14     6     5                  27
18                  PRATO         16    27    30                  50
19                 RAGUSA          8    22     1                  28
20                RAVENNA         11    35    23                  72
21     REGGIO DI CALABRIA          7    11    11                  16
22     REGGIO NELL'EMILIA         31    51    38                 103
23                  RIETI          3     3     8                  10
24                 RIMINI          9    31    25                  47
25                   ROMA         81   163   318                 336
26                 ROVIGO          4    12    53                   9
27                SALERNO         26    37    32                  70
28                SASSARI         11     9     6                  28
29                 SAVONA          4    13    12                  30
30                  SIENA         12    20    15                  25
31               SIRACUSA          5     6    11                  17
32                SONDRIO         11     4     8                  18
33           SUD SARDEGNA          9     3     8                  11
34                TARANTO          3    19    18                  31
35                 TERAMO          7     7    25                  32
36                  TERNI         14    10    24                  24
37                 TORINO       1147   198   172                 951
38                TRAPANI          4    16     5                  13
39                 TRENTO        421   900  2210                 357
40                TREVISO         52    83    38                 105
41                TRIESTE         19    23     7                  32
42                  UDINE         28    41    42                  44
43                 VARESE         41    94    84                 124
44                VENEZIA         37    53    18                 143
45               VERBANIA          8    11     7                  17
46               VERCELLI          6    13     8                  14
47                 VERONA         51   137    89                  94
48          VIBO VALENTIA          2     3     3                  15
49                VICENZA         51    76    77                 159
50                VITERBO          8     9    15                  27
51                 TOTALE       5372  6638  6446                8609

   CITROEN/DS DACIA   FIAT   FORD HONDA  ... SKODA SMART SSANGYONG SUBARU  \
1         103    80    282    127    25  ...    33    59        13      5
2         108   115    567    226    20  ...    35    51         8      1
3          75    37    103     70     6  ...    10     1         1      1
4          14    20     27     14   NaN  ...     3     1         3    NaN
5          22     9     15     10   NaN  ...   NaN     1       NaN    NaN
6          76    49    346    182    14  ...    47    16         9     14
7          39    68    277    128     6  ...    24    34       NaN      2
8          82    48    203    105    15  ...    29     5         5      4
9          63    75    209    169    12  ...    12    11         1      3
10         75    35    378    156    15  ...    27    22       NaN      4
11         32    45    146     81     1  ...    17    13         1      3
12         55    16    145     44     7  ...     6    27         1    NaN
13         67    29    135     71     3  ...    15   NaN         2      3
14         44    48    240    133    15  ...    27     1         1      1
15         46    35    121     37   NaN  ...    22     7       NaN    NaN
16         28    12    155     58     2  ...    11     6       NaN      2
17         18    16    135     26     1  ...     9     1       NaN    NaN
18         43    39    118     38     4  ...     5     7         3    NaN
19         38    25     89     52   NaN  ...   NaN     4         1    NaN
20         37    39    128    103     5  ...    30     3         1      4
21         33    28    100     43     9  ...    11    11       NaN      1
22        108    51    339    129    14  ...    29     5         1      2
23         14    13     54     27     1  ...   NaN     3       NaN    NaN
24         49    31    121     37    12  ...    16    11         2    NaN
25        534   357   1369    962    70  ...    59   377        13      5
26         30    11     29     53     1  ...    15     1         5      1
27        125    42    220    127     2  ...     9    11         1    NaN
28         52    59    116     89   NaN  ...     7     3         1    NaN
29         40    21     72     77     7  ...     3     4       NaN      2
30         40    48    113     53     6  ...     9     4         1      3
31         24    39    116     73     3  ...     1     3         7    NaN
32         16     6     53    261   NaN  ...    11     1       NaN      3
33        110    31     78     70   NaN  ...   NaN     1       NaN    NaN
34         32    36     95     65    10  ...    10     9       NaN    NaN
35         18    17    152     53     1  ...     3    16       NaN    NaN
36         44    20     76     46     2  ...     3     2       NaN      2
37        203   155   6911    435    45  ...    89    33        24      8
38         37    15     54     25   NaN  ...     3     2       NaN      1
39        841    48   2753   2180   103  ...   226   634         4     12
40         97    57    143    174    22  ...    29    19         2      8
41         14    14     85     45    16  ...     7    17         3     11
42         90    28    225    101     8  ...    37     8         5      3
43         82    80    217    185    34  ...    31    16         2     10
44         98    58    309    121     8  ...    38    19         2      6
45         15     8     46     34     7  ...    13   NaN       NaN      1
46         20    16     47     58    19  ...     3     1         3      3
47         72    39    200    147    13  ...   114    19        12      3
48          6     7     34     21   NaN  ...     2   NaN       NaN    NaN
49         67    65    997    214    76  ...    52    12         5      7
50         31    21     96     50     2  ...     2    10         1      2
51      10093  4775  40228  15502  1130  ...  2709  3030       270    267

   SUZUKI TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1      50          213        310     6     5    2868
2      44           94        154    14     5    3001
3      25           49        132     2     5    1097
4       1           26         28     1     0     272
5       6            7         25     2     0     184
6      37          198        345    28     6    2883
7      31           77        120     8     3    1703
8      25           42        182    19     2    1512
9      41           67        100     6     2    1738
10     46           76        245    42     1    2039
11      8           20        117     8     3    1043
12     12           39         58     8     2     799
13     23           33         52    11     1     952
14     35           49        200    23     6    1591
15     24           26         96     4     0     953
16     34           62         94    18     0    1002
17     12            5         52     1     0     524
18     17           59        102     7     0    1037
19      6           38         43     2     3     531
20     28           58        134    31     0    1257
21     17           55         28     4     1     623
22     43           89        159     9     1    2015
23    NaN            7         18     1     1     304
24     11           42        105     8     0     914
25    136          955        801    39    10   11487
26     16           33        108     2     2     654
27     33           39        111     5     1    1575
28      8           31        100   NaN     1    1491
29     13           22         83    11     2     612
30     25           29        103     3     3     876
31      2           17         33     2     0     604
32     25           13         36     3     2     590
33      4           24         40     3     0     594
34     16            3         59     2     1     726
35     11           19         66     6     0     793
36      2           18         66   NaN     1     540
37     83          498        639    29    18   14074
38      1           24         54     1     0     425
39     54         1425       1017   219     4   20684
40     34          173        278    26     5    2289
41     10           26         70     1     0     630
42     29          101        175    16     3    1697
43     90          240        298    22     6    2827
44     20          119        187    21    10    2110
45     17           11         44     1     0     383
46     30           22         42     5     0     473
47     22          113        339    18     7    2545
48      7            4         11     1     0     219
49     68          213        232    32     2    3507
50     11           36         38     6     3     635
51   2769         9149      18108  1877   265  213731

[51 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2018_4.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(57, 37)>
{'accuracy': 100.0, 'whitespace': 13.13, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI  BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN  NaN                 NaN
2               AGRIGENTO          7    10    4                  20
3             ALESSANDRIA          8    30   49                  45
4                  ANCONA         19    44   31                  62
5                   AOSTA        490    33   40                 474
6                  AREZZO         13    22   32                  52
7            ASCOLIPICENO          8     2   11                  34
8                    ASTI          5    15   23                  21
9                AVELLINO         10     6    8                  42
10                   BARI         31    24   24                 187
11  BARLETTA-ANDRIA-TRANI          8     3   12                  19
12                BELLUNO         19     9    1                  55
13              BENEVENTO          2     5    4                  25
14                BERGAMO         35   106   59                 284
15                 BIELLA         10    13   17                  25
16                BOLOGNA         37    98  102                 129
17          BOLZANO-BOZEN        463  1404  808                 519
18                BRESCIA         39   111   68                 125
19               BRINDISI          2     8   19                  15
20               CAGLIARI          6     7   14                  44
21          CALTANISSETTA          2     6    4                  12
22             CAMPOBASSO          3     8    3                  13
23                CASERTA         12    30   31                  52
24                CATANIA          6    30   23                  39
25              CATANZARO          6    29   12                  36
26                 CHIETI          8    15   14                  48
27                   COMO         24    45   30                 101
28                COSENZA         19    27   16                  63
29                CREMONA         10    24   42                  24
30                CROTONE          2     3  NaN                   7
31                  CUNEO         24    45   38                 117
32                   ENNA          1     5    4                   4
33                  FERMO          1     8   12                  17
34                FERRARA          6     7   19                  24
35                FIRENZE        191   317  237                 293
36                 FOGGIA          4     6    5                  36
37          FORLI' CESENA          7    23   10                  49
38              FROSINONE         17    14   29                  50
39                 GENOVA         11    46   52                  45
40                GORIZIA          2     7    7                  15
41               GROSSETO          6     2    4                  17
42                IMPERIA          1     6    4                   9
43                ISERNIA          4     1    1                   4
44              LA SPEZIA          7    19    8                  21
45               L'AQUILA          6     6    6                  21
46                 LATINA          5     6   24                  56
47                  LECCE         15    21   25                  56
48                  LECCO         11    20    8                  36
49                LIVORNO          5    18   16                  39
50                   LODI          3    19   32                  31
51                  LUCCA         13    44   27                  72
52               MACERATA         10    26   19                  34
53                MANTOVA         19    31   22                  28
54          MASSA-CARRARA          2    15    8                  49
55                 MATERA          7     2    4                   9
56                MESSINA         12    15   25                  29

   CITROEN/DS DACIA  FIAT  FORD HONDA  ... SKODA SMART SSANGYONG SUBARU  \
1         NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN       NaN    NaN
2          24    11    66    25     1  ...     1     1       NaN    NaN
3          54    35   156    77     6  ...    19     4       NaN      2
4          73    35   210    59    10  ...    19     5         1    NaN
5         302     6  2584   452     6  ...    27    25         1      2
6          23    17   147    49     7  ...     8   NaN       NaN      2
7           3    15    74    19     4  ...     1     4         4      1
8          14    12    63    32     3  ...     3   NaN         1    NaN
9          37    11    79    24   NaN  ...     9     6       NaN    NaN
10         59    27   469   153    10  ...    21    12         7      1
11         12     9    26    12   NaN  ...     3     2       NaN    NaN
12         41     9   177    33     2  ...     5   NaN       NaN      5
13         12     9    53    12   NaN  ...     5     2       NaN    NaN
14        162    65   275   115    29  ...    45    41         7      5
15         12     9    52    45     6  ...     5   NaN         2    NaN
16        129    63   420   254    12  ...    42    23         4     16
17       1301  1106  1472  1928     1  ...   602   263       NaN      3
18        138    76   371   193    14  ...    31    34         4     12
19         22    12    68    13     1  ...     1     4       NaN    NaN
20         42    57    67   100     5  ...   NaN     9       NaN    NaN
21         11     5    38     8   NaN  ...     2     1       NaN    NaN
22         11     5    44    31     1  ...   NaN   NaN       NaN      1
23         42    23   130    35     7  ...    10     7         2    NaN
24         55    44   140    60    12  ...    30    26       NaN    NaN
25         39     8    94    42     1  ...     6     6       NaN      1
26         38     8   132    45     6  ...     7     4       NaN    NaN
27         62    43   251    84     8  ...    32     6         3     11
28         57    15   251    94     1  ...    10     8         2    NaN
29         41    17    71    68     8  ...     7     9         1      1
30          9     4    29     8   NaN  ...   NaN     1       NaN    NaN
31        102    31   243   112     9  ...    16    25         3      2
32          5     4    15     5   NaN  ...     3   NaN       NaN    NaN
33          2    10    41    16     1  ...     3     2       NaN      1
34         30    37    83    49     5  ...    20     5       NaN      1
35        248    86  1010   372    21  ...   134    84         9      2
36         14    11    65    17     2  ...   NaN     2       NaN    NaN
37         22    43   140    94     6  ...    12     4         1    NaN
38         48     9   149    44     2  ...     4     7       NaN      2
39         30    47   174   165    22  ...    10    53         2      1
40          4     6    22    21     7  ...     3   NaN         1    NaN
41         13     6    58    25     3  ...    13     3         1      1
42         20     9    52    26     8  ...     7     1       NaN    NaN
43          5     3    15     7   NaN  ...   NaN     1         1    NaN
44         11    17    54    37     2  ...     3     2       NaN    NaN
45         29     6   100     8     1  ...     1     3         1      1
46         50    16   113    64     5  ...     9    15         1    NaN
47         36    24   156    75     2  ...     9   NaN       NaN    NaN
48         25    17   115    25     3  ...    24     4         1      3
49         24    34    83   137     3  ...     9     4         5      1
50         16    11    73    53     5  ...     9     2         1      1
51         51    35   164    72     4  ...    14     3         1      2
52         24    11   131    41     1  ...    12     2       NaN      2
53         47    20    65    36     3  ...    19     5         1      1
54         18    15    80    35   NaN  ...     7     2         1      1
55          2     4    71    15     1  ...     4   NaN       NaN    NaN
56         41    29   123    51     2  ...    10    12         1    NaN

   SUZUKI TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1     NaN          NaN        NaN   NaN   NaN    NaN
2       4            6         32     1     0    365
3      48           34        119     5     2   1097
4      23           40        158     4    10   1246
5      25           20         38     8     1   5404
6      20           21        101     3     0    894
7       6           15         29   NaN     0    409
8       8           18         46   NaN     1    478
9       6            7         37   NaN     0    446
10     66           38        133     5     1   1981
11      9           16         23     1     0    260
12     22           22         42     4     0    622
13      8            8         13     2     1    284
14     42          136        308    12     3   2844
15     21           19         50     1     1    467
16     39          166        285    38    17   3097
17     18          519       1714   578     1  18135
18     60          158        375    13     8   3003
19      8            2         21     3     0    384
20     12           57         78     1     1    821
21      1            3         16   NaN     0    187
22     11            7         23   NaN     1    262
23      8           22         35     5     1    926
24     45           50         57     1     3   1168
25     22           15         48   NaN     0    579
26      7           19         62     1     0    740
27     64          101        211     8     1   1856
28     12           16         98     1     1    990
29     16           41         74     6     4    861
30      2           10         10   NaN     0    136
31     39           69        112    13     2   1604
32    NaN            5         11   NaN     0    127
33      4           15         40     5     1    286
34      7           40        101     5     0    795
35     77          360        596   164     7   6577
36      7           36         19     2     4    402
37     19           20         93     6     2    975
38     10           22         75     1     0    740
39     38           73        219     9     1   1526
40     16            9         36   NaN     0    259
41     18            7         55     3     2    384
42     19           18         31     3     2    295
43    NaN          NaN          6   NaN     0     85
44      8           14         83     2     0    447
45     14           15         49     2     1    446
46      6           29         65     4     1    819
47     25            5        110     7     0   1103
48     24           50        111     3     1    787
49     10           36         91   NaN     0    894
50      9           22         45     2     1    589
51     27           39        129    11     2   1214
52     17           19         94     7     4    677
53     12           44        138     7     1    912
54      8           12         66     2     0    487
55      4            3         12   NaN     0    234
56      4           12         64     3     0    765

[56 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(54, 37)>
{'accuracy': 100.0, 'whitespace': 11.31, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE  \
1                  MILANO         93   255   333                 249
2                  MODENA         39    56    70                 117
3   MONZA E DELLA BRIANZA         27    65    64                  83
4                  NAPOLI         14    71    49                 127
5                  NOVARA          8    50    42                  32
6                   NUORO          6     4     1                   3
7                ORISTANO          2   NaN     2                   6
8                  PADOVA         44    61    59                 124
9                 PALERMO         23    50    18                  99
10                  PARMA         16    52    48                  31
11                  PAVIA         21    26    37                  52
12                PERUGIA         20    42    30                  76
13          PESARO URBINO         19    29    21                  56
14                PESCARA          8    18    26                  29
15               PIACENZA         10    22    28                  51
16                   PISA         13    22    64                  73
17                PISTOIA          7    21    22                  50
18              PORDENONE         12    20    40                  24
19                POTENZA          5     7     6                  28
20                  PRATO         12    21    34                  63
21                 RAGUSA          3    10     1                  24
22                RAVENNA         14    27    16                  38
23     REGGIO DI CALABRIA         10    10     8                  24
24     REGGIO NELL'EMILIA         28    49    23                  41
25                  RIETI          6     1     3                   3
26                 RIMINI         10    22    28                  49
27                   ROMA         75   158   314                 366
28                 ROVIGO          3    17    53                   9
29                SALERNO         18    34     9                  74
30                SASSARI         10     5     5                  28
31                 SAVONA          5    12     9                  14
32                  SIENA          6    25    17                  29
33               SIRACUSA          6    15     7                  11
34                SONDRIO          8     7     5                  18
35           SUD SARDEGNA         18     8     2                  18
36                TARANTO          2    15    19                  18
37                 TERAMO         10     6    22                  33
38                  TERNI          6    10    16                  19
39                 TORINO       1496   138   143                 395
40                TRAPANI          4    14     1                  20
41                 TRENTO        380  1062   876                 489
42                TREVISO         33    58    22                  98
43                TRIESTE          9    17    30                  21
44                  UDINE         30    25    61                  35
45                 VARESE         30    69    79                 123
46                VENEZIA         21    50    21                 102
47               VERBANIA          4    11     2                  11
48               VERCELLI          5     9    10                  18
49                 VERONA         38    99    78                  80
50          VIBO VALENTIA          2     9     3                  12
51                VICENZA         37    66    60                 119
52                VITERBO          8     3    19                  36
53                 TOTALE       4428  5849  5103                7481

   CITROEN/DS DACIA   FIAT   FORD HONDA  ... SKODA SMART SSANGYONG SUBARU  \
1         530   188    749    624    50  ...   137   228        13     21
2          89    60    366     95     7  ...    33     9       NaN      2
3          77    57    258     79    21  ...    34    31        11      4
4         129    64    442    167    17  ...    27    39         4      2
5          48    23     91     48     6  ...    14     2         1      1
6           9    12     23      7     1  ...   NaN     1         1    NaN
7          20    14     13      7     1  ...     3     1       NaN    NaN
8          62    37    274    138    10  ...    40     9         3      2
9          38    54    266     97     8  ...    23    34         1      3
10         39    40    168     63    13  ...    23     1         2      2
11         51    48    174    119     5  ...     5     7       NaN      3
12         78    27    310     88    10  ...    19    20       NaN    NaN
13         22    34    144     78     2  ...    22     6         1      4
14         62     4    107     35     4  ...     5     3         2    NaN
15         51    21    131     59     6  ...     6     2       NaN      2
16         25    32    197     83    11  ...    19     5       NaN    NaN
17         49    29     94     17     2  ...    14     6         1    NaN
18         46    19    126     49     3  ...    16     5         1      3
19         15     6    152      7     1  ...     7   NaN       NaN    NaN
20         28    25     97     20     1  ...     5     5       NaN      1
21         18    12     69     33   NaN  ...     2   NaN         1    NaN
22         26    19    102     75    10  ...    19     8         2      2
23         24    19     92     35    10  ...    11    11       NaN    NaN
24        109    29    282     85     2  ...    20     1         2      2
25         11     9     44     20   NaN  ...   NaN     1       NaN      1
26         42    18     95     25     5  ...    11     8       NaN    NaN
27        406   219   1061    722    41  ...    35   287        10      5
28         19    24     30     49   NaN  ...    16     2         4    NaN
29        113    19    267     68   NaN  ...     9    17       NaN    NaN
30         46    21     91     71   NaN  ...     8     6         1    NaN
31         19    22     84     65     8  ...     1     1       NaN      3
32         28    35     99     43     5  ...    14     3       NaN      2
33         28    33     84     57     2  ...     1     1         4    NaN
34         10     4     53    206     1  ...    15     3       NaN      3
35         43    36     59     46   NaN  ...     1     1         1    NaN
36         20    19     87     36     7  ...    11     1       NaN    NaN
37         16     7    141     46   NaN  ...     6    11         1      1
38         34     6     58     34     1  ...     1     2       NaN    NaN
39        185   119   7446    428    34  ...    78    36        23      9
40         28    15     49     16   NaN  ...     2     3         1    NaN
41       1028   167   1936   1328    55  ...   190   488         3     24
42         71    48    101    138    23  ...    30    19         1      8
43          9    10    110     32     8  ...     2    13       NaN      7
44         39    37    166     77    16  ...    26    21       NaN      5
45        110    77    174     97    28  ...    44    12         5     11
46         77    37    246     90     4  ...    29    23       NaN      7
47         16    12     40     32     7  ...    11   NaN       NaN    NaN
48         17    12     49     38    12  ...     3     2         5      1
49         79    45    185    135    10  ...    84    22         9     11
50          7     7     30     14   NaN  ...   NaN     1       NaN    NaN
51         97    52    701    138    16  ...    31     9         3     10
52         24    20     63     33     3  ...     2    10       NaN      1
53       8009  4300  29680  11864   766  ...  2471  2181       187    248

   SUZUKI TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1     170          560        690    55    39    8488
2      36          105        189    23     3    2189
3      54          153        244     7     3    2275
4      31           82        183    11     3    2581
5      44           56        116   NaN     1     918
6       1            8         18   NaN     0     204
7       2            5         21     1     0     151
8      38          129        298    18     5    2377
9      22           61        146     6     2    1527
10     36           53        138    13     2    1244
11     53           72         94     8     2    1394
12     47           47        155    18     2    1600
13     21           24        136     2     1     960
14      6           26         38     6     1     609
15     28           45         61     9     0     860
16     24           40        156    11     0    1244
17     26           21        105     4     0     835
18     10           33         78     1     4     760
19      7            4         43   NaN     1     460
20     27           34        102     6     0     880
21     10           17         36   NaN     1     361
22     20           54        112     5     3    1013
23      8           37         28     3     1     557
24     48           79        145     7     2    1640
25      3            9         16   NaN     1     225
26     28           52         78     2     0     747
27    171          680        780    29    18   10317
28      6           20         81     4     0     507
29     15           21        102     1     0    1255
30     11           33         89     1     0     969
31     19           21         63     3     1     530
32     17           29         88     5     1     749
33      8           29         29     2     1     483
34     20           10         34     2     0     493
35      4           10         40   NaN     0     509
36     12           12         69   NaN     0     612
37      7           19         34     5     0     641
38      3           16         60     4     2     440
39    185          360        483    18     8   14041
40      3           18         38   NaN     2     373
41    158         1439        865   329     3   16188
42     38          118        227    15     5    1729
43     34           23         37     1     0     515
44     31           69        116     4     3    1305
45    110          192        260    11     5    2432
46     33           82        177    10     4    1630
47     28            6         40   NaN     0     350
48     35           15         40     4     0     425
49     29           96        285    20     4    2132
50      4            4         17   NaN     0     197
51     35          133        196    17     3    2558
52     19           23         34     7     3     529
53   2890         7844      14397  1670   230  171379

[53 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2018_5.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(55, 37)>
{'accuracy': 100.0, 'whitespace': 11.89, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI  BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN  NaN                 NaN
2               AGRIGENTO          8    14    1                  46
3             ALESSANDRIA         19    25   43                  57
4                  ANCONA         22    48   24                  70
5                   AOSTA       1151    54   27                 687
6                  AREZZO         13    32   16                  71
7            ASCOLIPICENO          7     2    8                  42
8                    ASTI          6    23   26                  27
9                AVELLINO          4    16    2                  42
10                   BARI         62    32   26                 210
11  BARLETTA-ANDRIA-TRANI          4     2   10                  26
12                BELLUNO         21    10    4                  88
13              BENEVENTO          5     2    4                  27
14                BERGAMO         55   130  116                 140
15                 BIELLA          5    32   13                  33
16                BOLOGNA         43    74   97                 129
17          BOLZANO-BOZEN        356  1453  238                 407
18                BRESCIA         45   129   94                 140
19               BRINDISI          3     8   15                  24
20               CAGLIARI         11     9   16                  50
21          CALTANISSETTA          3     8    5                  18
22             CAMPOBASSO          5     9    5                  19
23                CASERTA         18    24   28                  76
24                CATANIA          9    26   21                  52
25              CATANZARO         10    25   13                  64
26                 CHIETI         17    13   13                  67
27                   COMO         20    55   50                 123
28                COSENZA         14    35   11                  75
29                CREMONA          9    27   49                  25
30                CROTONE          1     2    1                   6
31                  CUNEO         35    46   29                 140
32                   ENNA        NaN     2    2                   9
33                  FERMO          3    11   14                  29
34                FERRARA         21    11   21                  36
35                FIRENZE        199   373  265                 385
36                 FOGGIA         11     7    4                  47
37          FORLI' CESENA         20    37   17                  71
38              FROSINONE         26     9   28                  56
39                 GENOVA         22    23   57                  66
40                GORIZIA          5     5    4                   6
41               GROSSETO          5     6    6                  28
42                IMPERIA          3     3    5                   7
43                ISERNIA          1     3    3                   9
44              LA SPEZIA          3    14    7                  31
45               L'AQUILA         11    10    8                  28
46                 LATINA          8    10   15                  70
47                  LECCE         14    31   31                  85
48                  LECCO         15    22   21                  99
49                LIVORNO          7    36    9                  48
50                   LODI         11    10   15                  34
51                  LUCCA         14    16   33                  87
52               MACERATA          5    23   24                  38
53                MANTOVA         18    44   30                  54
54          MASSA-CARRARA          7    23    5                  36

   CITROEN/DS DACIA  FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1         NaN   NaN   NaN  NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2          19    25   107   25     2  ...     1   NaN         1    NaN      3
3          59    43   218  105     3  ...     8     1       NaN      5     41
4          71    37   321   50    12  ...    24     7       NaN    NaN     28
5         224    19  2197   53     2  ...    22    20       NaN      4     41
6          35    48   194   53     6  ...    10     6         2      3     24
7          17    24   112   22     1  ...     1     2         5    NaN      4
8           8    34    76   48     2  ...     5   NaN         3    NaN     17
9          45    13   118   43     1  ...     4    14       NaN    NaN      7
10         85    78   634  163     6  ...    20     9        10      3     61
11          5    13    54   20   NaN  ...     1     4         1    NaN     12
12         52    23   144   30     1  ...    10     1       NaN      4     27
13         14    14    70   15     1  ...     9     4         1    NaN      3
14        183   174   355  139    28  ...    39    32         7      2     40
15         12    22    82   57     3  ...   NaN     2       NaN      1     33
16        186   129   473  267    26  ...    40    35         4     11     86
17       1121   562  3680  675     2  ...   563   214       NaN      4     17
18        169   168   473  196    13  ...    38    35         3     12     62
19         16    30   106   31   NaN  ...   NaN     8         1      1      8
20         46    60   101  113     6  ...   NaN    14       NaN    NaN     13
21         14    21    52   13   NaN  ...     1   NaN       NaN    NaN      6
22         16     2    68   46     1  ...     4   NaN         1      2     12
23         30    46   171   53     5  ...     7    12         2    NaN     19
24         56    69   172   86    16  ...    29    32         1    NaN     49
25         27    15   177   42     2  ...     3     9       NaN    NaN     13
26         34    24   178   38     2  ...     2     4       NaN      1     11
27         53    74   339   70    12  ...    34    15         3      9     76
28         75    20   283  106     2  ...    11    10       NaN    NaN     21
29         45    36    97   73    11  ...    13    17       NaN    NaN     23
30         14     6    36    5   NaN  ...   NaN     1       NaN    NaN      4
31        126    56   300  131    11  ...    24    28         1      4     45
32          5    14    22    8   NaN  ...     1   NaN       NaN    NaN      3
33          7     8    54   18     2  ...     3     4       NaN      1      5
34         29    61   127   75     1  ...    17     6         1      2     11
35        239   188  1270  392    23  ...   141   109         7     12     86
36         14    31   105   17     8  ...     2     1       NaN    NaN      7
37         31    35   210  101    17  ...    18     3         1    NaN     13
38         65    33   163   32     5  ...     3    24         1    NaN      8
39         36    47   269  169    17  ...     9    35       NaN      6     76
40        NaN    10    34   75    12  ...     3     1       NaN      3     20
41         30    25    81   21     1  ...    11     2         2      1     21
42         27    10    64   26     3  ...     1     3       NaN    NaN     24
43          6     2    29   13   NaN  ...   NaN     1       NaN    NaN      2
44         17    22   108   42     9  ...     5     5       NaN      3      4
45         36    25   154   27     1  ...     6     4         1    NaN     16
46         52    44   192   71     6  ...    11    16         1      1     11
47         44    81   211   69     1  ...    12     6       NaN    NaN     25
48         15    44   184   36     2  ...    25     8         1      8     25
49         27    60   150  140     6  ...    16     5         6    NaN     19
50         20    33   110   61     5  ...     4     2         3      1     16
51         55    86   240   73     1  ...    12     3         2      2     29
52         34    30   157   37     4  ...    15     5       NaN    NaN     23
53         83    30    91   44     3  ...    16     1       NaN      1     18
54         22    34   137   43     1  ...    14   NaN         2      2      6

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2             3         51   NaN     0    497
3            33        125    12     2   1262
4            52        172    16     4   1428
5            30         54    24     0   5234
6            15        154     3     1   1045
7            14         48     2     0    549
8            19         51     6     1    588
9            10         52     3     1    584
10           43        178    17     1   2453
11           25         33     2     3    330
12           21         54     7     1    713
13            6         21   NaN     1    338
14          178        296    16    14   3326
15           30         53     1     1    561
16          211        430    79     9   3633
17          827       2660   223     2  19153
18          168        468    31     6   3803
19            5         21   NaN     3    520
20           45         86     1     2    977
21            3         19   NaN     0    270
22            7         18     1     2    318
23           23         57     5     0   1033
24           49         70     1     4   1402
25           13         59   NaN     0    728
26           43        118   NaN     0    894
27          108        240    15     1   2144
28           12        124     6     4   1179
29           56         74     9     1   1037
30            1          9   NaN     0    135
31           83        157    19     6   1937
32            2         16   NaN     0    146
33           24         61     3     1    377
34           75        123    10     1   1072
35          492        656   216    10   8117
36           32         23   NaN     5    566
37           45        121    17     1   1216
38           31         90     6     1    901
39           94        266    16     3   1805
40           31         40     2     0    367
41            9         68     3     0    488
42           21         29     3     1    355
43            4          3   NaN     1    120
44           25         94     1     0    558
45           24         69     3     0    644
46           64         58     4     2   1059
47            8        117     5     1   1363
48           52        129     2     1   1095
49           24        129     3     0   1089
50           21         76     3     3    710
51           53        138    10     2   1363
52           20        118     5     2    849
53           28        149    15     2   1118
54           13         91     2     1    634

[54 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(56, 37)>
{'accuracy': 100.0, 'whitespace': 9.7, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE  \
1                  MATERA          8     4     9                  15
2                 MESSINA          8    22    20                  46
3                  MILANO        117   308   310                 344
4                  MODENA         37    75    71                  92
5   MONZA E DELLA BRIANZA         42   110    45                  83
6                  NAPOLI         33    66    53                 210
7                  NOVARA         22    83    36                  45
8                   NUORO          8     2     1                  10
9                ORISTANO          3     1     4                   8
10                 PADOVA         52    73    83                 125
11                PALERMO         31    52    12                 131
12                  PARMA         28    70    50                  43
13                  PAVIA         22    30    52                 146
14                PERUGIA         27    55    43                 102
15          PESARO URBINO         16    36    11                  62
16                PESCARA         17    23    17                  38
17               PIACENZA         17    20    33                  59
18                   PISA         12    25    49                 109
19                PISTOIA         13    20    21                  73
20              PORDENONE          9    18    20                  31
21                POTENZA         10     4     2                  36
22                  PRATO         14    23    16                  72
23                 RAGUSA          6    11     4                  35
24                RAVENNA         10    32    18                  53
25     REGGIO DI CALABRIA         13    20     9                  41
26     REGGIO NELL'EMILIA         39    37    32                  86
27                  RIETI          4     4     5                  18
28                 RIMINI         14    24     9                  38
29                   ROMA        106   157   292                 496
30                 ROVIGO          3    14     9                  20
31                SALERNO         28    35    18                 104
32                SASSARI          9    10     5                  42
33                 SAVONA          5    15    15                  23
34                  SIENA         11    28    11                  32
35               SIRACUSA          8    13     7                  26
36                SONDRIO          5     5     9                  28
37           SUD SARDEGNA         16    10     6                  20
38                TARANTO          3    13    16                  27
39                 TERAMO          3    15    14                  44
40                  TERNI         11    10     6                  39
41                 TORINO        692   169   149                 832
42                TRAPANI          7    16     4                  17
43                 TRENTO        578  1132  1651                 653
44                TREVISO         40    63    60                 118
45                TRIESTE         11    20    23                  27
46                  UDINE         24    40    42                  52
47                 VARESE         23    91    73                 228
48                VENEZIA         29    38    21                 175
49               VERBANIA          4    10     4                  17
50               VERCELLI          3    16    14                  27
51                 VERONA         53   129    72                 108
52          VIBO VALENTIA          2     8     3                   5
53                VICENZA         59    72    45                 178
54                VITERBO          7    10    10                  56
55                 TOTALE       4782  6481  5243                9885

   CITROEN/DS DACIA   FIAT   FORD HONDA  ... SKODA SMART SSANGYONG SUBARU  \
1           5     7     77     20     1  ...     3   NaN       NaN    NaN
2          52    30    200     50   NaN  ...     9    16       NaN      1
3         858   408   1193    731    73  ...    99   104        18     25
4         114   100    494    128    11  ...    36     6       NaN      4
5          98   121    365    100    16  ...    35    46         8      7
6         112   103    640    223    23  ...    38    48         4    NaN
7          62    47    117     55    12  ...    22     3         1      4
8          14    20     46     15     1  ...     5   NaN         4    NaN
9          20    16     29     18     1  ...     1     1       NaN    NaN
10         65    88    385    152    11  ...    38    13         6      8
11         45    72    388    109     6  ...    20    46         2      4
12         61    71    224     77    12  ...    16     2         1      4
13         59    91    259    120     7  ...     8    12       NaN      2
14         69    56    456     84     8  ...    19    14         3      4
15         26    38    176     64     3  ...    14    13         1      3
16         49    18    133     45     6  ...     6    21         3      2
17         47    25    129     58     7  ...     9     1         3      3
18         39    63    280    100     9  ...    15     6       NaN    NaN
19         50    70    130     21     3  ...    19     6       NaN      1
20         31    16    123     53     3  ...    14     2         1      4
21         12    15    194     22     2  ...     5     4       NaN    NaN
22         43    61    130     17     7  ...    11    10       NaN      1
23         26    26    119     42   NaN  ...     1     2         2    NaN
24         23    47    185     75     4  ...    17     4       NaN      1
25         22    44    160     41    12  ...    10     7         3    NaN
26        120    71    373    116     8  ...    24    20       NaN      1
27         16    14     67     24     1  ...     1     1       NaN    NaN
28         40    40    113     28     4  ...    14    11       NaN      1
29        505   463   1568    773    30  ...    60  1160        11     10
30         20    18     50     37   NaN  ...    17     4         5      1
31        126    40    315     76     3  ...     7    11         2    NaN
32         50    42    143     76     2  ...     7     9         1    NaN
33         28    27    117     61    12  ...     1     5         1      4
34         36    57    140     42     6  ...    10     3         1      2
35         18    49    115     52     2  ...     2     4         3    NaN
36          6    14     57    287   NaN  ...    11     8       NaN      6
37        272    48     82    143     2  ...     1   NaN       NaN    NaN
38         25    31    117     45    11  ...     7     9       NaN    NaN
39         22    20    180     27   NaN  ...     2     4       NaN      1
40         33    13     98     38     1  ...     4     4         2      2
41        210   196   5702    426    40  ...    70    46        25     13
42         34    20     48     27     1  ...     2     2       NaN    NaN
43        529    56   1376   2709    20  ...   225   404         5     24
44         85    54    170    166     6  ...    35    14         2      9
45          9    16     48     35    12  ...     2    15         2      9
46         45    57    241     86     7  ...    14    10         1      8
47         93   110    247    157    26  ...    39     9         2      7
48         76    77    385     83     7  ...    27    13         2      5
49         17    20     66     31     5  ...    12   NaN       NaN      1
50         25    18     71     45     7  ...     6     2         3      2
51         66    93    298    118    13  ...    88    20         8      5
52          8    10     36     20   NaN  ...     3     3       NaN    NaN
53         97    89    808    205    46  ...    31    21         1      9
54         27    35    123     50     4  ...     3     7       NaN    NaN
55       8391  6289  35336  12761   819  ...  2463  2986       211    307

   SUZUKI TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1       6            6         21   NaN     0     288
2      18           25         97     2     0    1021
3     219          728        939    86    30   10721
4      62          152        241    53     6    2719
5      44          167        267    15     9    2788
6      50          143        152    18     9    3217
7      46           45        154     4     1    1184
8     NaN           21         21   NaN     0     273
9       5            5         27     1     0     221
10     36          149        310    36     5    2771
11     27           92        134     9     2    1975
12     31           39        182    14    13    1571
13     60           62        108     4     5    1753
14     59           73        231    36     2    2055
15     21           24        139     4     4    1039
16      4           21         55    11     1     768
17     20           49         87    10     0     927
18     24           39        203    17     1    1542
19     18           23        103     6     1    1034
20     29           42         76    13     0     844
21     11            3         42     1     0     572
22     23           40        141     6     2    1066
23     11           29         39     1     0     548
24     31           36        123    24     0    1212
25      6           54         36     1     2     754
26     54          118        170    16     3    2023
27      4            6         19   NaN     2     302
28     18           50         90     7     1     836
29    184          763        925    27    18   13289
30      9           19         88     3     2     538
31     41           20        130     2     3    1584
32     10           21         94     1     0    1031
33     21           15         78    10     3     643
34     22           24        108     7     0     866
35      6           24         27   NaN     0     574
36     32           20         30     6     1     694
37      8           14         47   NaN     0     991
38     20            6         46     4     0     730
39     10           15         63     6     0     698
40      7           13         60     1     4     543
41    169          396        605    47    32   12445
42      7           19         37     1     0     443
43     59         1148        949   205     3   17123
44     38          128        275    23     2    2127
45     16           21         61   NaN     1     522
46     54           80        166    17     1    1591
47     88          185        303    14     2    2899
48     39           85        268    11     7    2074
49     17           14         45     1     0     430
50     37           21         44     6     0     520
51     37          119        340    24    10    2582
52      3            6          8   NaN     0     218
53     64          151        233    34     3    3167
54      9           33         58     2     5     684
55   3218         8926      17911  1675   304  199113

[55 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2018_6.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(55, 37)>
{'accuracy': 100.0, 'whitespace': 11.55, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

c:\users\simon\appdata\local\programs\python\python38\lib\site-packages\camelot\plotting.py:61: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  fig = plt.figure()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI  BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN  NaN                 NaN
2               AGRIGENTO          9    11    1                  40
3             ALESSANDRIA         14    31   46                  46
4                  ANCONA         20    40   19                  51
5                   AOSTA        877    48   39                 448
6                  AREZZO         12    24   22                  61
7            ASCOLIPICENO          5     9   12                  34
8                    ASTI         10    15   18                  18
9                AVELLINO          6    30    6                  41
10                   BARI         28    41   21                 187
11  BARLETTA-ANDRIA-TRANI          5     2   12                  10
12                BELLUNO         18     7    3                  88
13              BENEVENTO          4     2    4                  28
14                BERGAMO         54   104  110                 172
15                 BIELLA          8    20   11                  29
16                BOLOGNA         38    97   96                 111
17          BOLZANO-BOZEN         69  1572  483                  14
18                BRESCIA         31   119  110                 125
19               BRINDISI          4     3   12                  17
20               CAGLIARI         13    14   22                  36
21          CALTANISSETTA          1    10    9                  12
22             CAMPOBASSO          1    11    1                  25
23                CASERTA         11    18   28                  62
24                CATANIA         11    40   20                  47
25              CATANZARO         12    29   18                  45
26                 CHIETI         14    19   14                  44
27                   COMO         27    59   38                 117
28                COSENZA         13    43   23                  66
29                CREMONA          5    33   75                  25
30                CROTONE          4     3  NaN                   7
31                  CUNEO         24    49   43                 114
32                   ENNA          1     1    4                  10
33                  FERMO          7    14   13                  20
34                FERRARA         19    17   25                  31
35                FIRENZE        251   362  361                 497
36                 FOGGIA         13     9    8                  44
37          FORLI' CESENA          9    27   19                  61
38              FROSINONE         23    10   34                  63
39                 GENOVA         21    60   50                  38
40                GORIZIA          6     8    3                  11
41               GROSSETO          4    11    4                  19
42                IMPERIA          2     5    3                   8
43                ISERNIA          1   NaN  NaN                   5
44              LA SPEZIA          7    16    6                  27
45               L'AQUILA          8     4    5                  18
46                 LATINA         10    14   24                  51
47                  LECCE         14    32   23                  68
48                  LECCO         14    18   39                  97
49                LIVORNO          5    48   11                  28
50                   LODI         11    15   15                  28
51                  LUCCA         12    47   31                  60
52               MACERATA          6    30   20                  33
53                MANTOVA         12    41   36                  28
54          MASSA-CARRARA          4    27    3                  38

   CITROEN/DS DACIA  FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1         NaN   NaN   NaN  NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2          22    18    87   33     4  ...   NaN     2         2    NaN    NaN
3          71    37   163   95     8  ...    14     5         1      1     38
4          73    39   269   51    11  ...    21     8       NaN      2     12
5         143    18  1750   49     5  ...    13    91         1      4     33
6          52    34   162   58     2  ...    10     5         3      2     12
7           7    15    72   23     3  ...     1     2         2    NaN      2
8          12    48    54   47     3  ...     3   NaN         1      1     10
9          31    21    93   30     1  ...     9   NaN         1      1      5
10         61   100   550  148    12  ...    15     6         8      1     37
11          7    20    52   16     2  ...     6   NaN       NaN    NaN     13
12         47    25   154   33     1  ...     7     7         1      5     15
13          7    11    53   23   NaN  ...     4     2       NaN    NaN      7
14        138   108   329  126    31  ...    36    28         6     11     30
15         12    19    66   44     8  ...     3   NaN         1      1     20
16        135   102   462  254    24  ...    49    44       NaN      7     35
17        834    73   666  786     1  ...   569   663       NaN      6     22
18        140   168   426  237    18  ...    35    26         1     12     37
19         13    13    79   20     1  ...     1     5         1    NaN      5
20         46    61   103  108     4  ...   NaN     8       NaN    NaN     21
21         16    11    51   11   NaN  ...     2     2         1      1      2
22         10     8    59   28   NaN  ...     1     1       NaN    NaN      3
23         36    44   149   48     7  ...    12     4         3    NaN      5
24         54    72   224   78    11  ...    27    42         2      1     32
25         47    29   132   44   NaN  ...     4    10       NaN    NaN     14
26         34    36   159   38     2  ...     5     6       NaN      2     17
27         66    74   267   85     9  ...    31    13       NaN      9     57
28         46    11   247  100     2  ...    12    13         1    NaN      8
29         38    50    44   72     4  ...    13     9       NaN    NaN      7
30         13     7    37    7   NaN  ...     1   NaN       NaN    NaN      5
31        107    56   284  116     9  ...    13    28       NaN      6     47
32          7     7    16    4     1  ...     2   NaN       NaN    NaN    NaN
33          4    10    43   23     2  ...   NaN     1         3      2      1
34         21    45   123   51     2  ...    20     3         1    NaN     15
35        260   166  1723  425    17  ...   117    76        11     14     66
36         21    33    91   21     1  ...     2   NaN         1      1     13
37         22    46   152  104     9  ...    19     2         1      1      9
38         48    27   149   19     2  ...     2     7         2      2     11
39         29    65   180  191    18  ...     5    66         1      9     40
40          4    13    17   45     8  ...     5     6       NaN      2     11
41         20    18    70   27     7  ...     6   NaN         3      1     13
42         16     8    70   37     2  ...     6   NaN         1    NaN     14
43          3     8    21   11   NaN  ...     1     2       NaN    NaN      3
44         23    19    87   50    11  ...     3     1         1    NaN     11
45         25    29   134   24   NaN  ...     2     4         3      1     12
46         49    53   154   57     5  ...    15     8         3    NaN      7
47         37    73   168   64     1  ...     9     1       NaN    NaN     14
48         18    45   148   50     2  ...    18     7         1      7     17
49         18    52   102  146     4  ...    17     5         7      2     17
50         20    27    88   54     6  ...     8   NaN       NaN    NaN      6
51         49    42   203   83     3  ...    11     2         1      4     16
52         19    22   113   36     4  ...    17     2         1      2     18
53         74    31   111   50     1  ...    19     2       NaN      3      5
54         26    21   112   38     2  ...    10   NaN         1      1     12

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2             8         47     1     0    478
3            53        124    15     2   1135
4            49        184    13     9   1332
5            25         55     5     0   4234
6            16        144     5     1    994
7             4         52     4     0    455
8            12         48     5     0    522
9             4         35     1     1    505
10           55        179    21     4   2266
11           21         17     2     1    305
12           12         49     3     2    642
13            8         29   NaN     1    330
14          170        388    30    14   2974
15           19         98     1     1    525
16          230        360    83    25   3367
17          126       1509    39     9  12122
18          129        424    29     8   3421
19            3         20     1     2    412
20           58        123     3     2    979
21            5         23     2     0    263
22            2         15   NaN     1    282
23           28         49     9     0   1003
24           35         67     2     2   1366
25            7         56   NaN     1    699
26           14         98     1     1    763
27          114        217    25     2   1984
28           26        105     5     3   1051
29           52         81    19     1   1007
30            4          3     1     1    150
31           75        156    34     8   1761
32            1          7   NaN     0    114
33           10         51     1     1    329
34           62        110    14     0    942
35          669        616   209    11   8542
36           42         12     3     7    526
37           30        101    17     0   1045
38           26         73     3     1    828
39           98        240    14     3   1716
40            9         67     1     0    331
41           13         69     3     0    434
42           14         21     3     1    320
43            1         10     1     2     93
44            5        108     3     1    559
45           16         66     1     2    560
46           53         78     4     3    960
47            4        116     7     2   1373
48           57        122     5     4   1036
49           24        124     3     0    963
50           10         75     9     2    651
51           38        134    13     0   1221
52           12        127     8     0    704
53           52        132    18     1    959
54           14         83   NaN     0    511

[54 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(56, 37)>
{'accuracy': 100.0, 'whitespace': 10.38, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE  \
1                  MATERA          7     3     4                   6
2                 MESSINA          7    36    27                  35
3                  MILANO        143   308   396                 307
4                  MODENA         60    71   105                  99
5   MONZA E DELLA BRIANZA         52    84   103                  95
6                  NAPOLI         27    64    56                 150
7                  NOVARA         16    54    33                  33
8                   NUORO          5     4   NaN                   8
9                ORISTANO          4     2     1                   7
10                 PADOVA         38    90    79                 151
11                PALERMO         21    58     9                  98
12                  PARMA         14    58    62                  55
13                  PAVIA         23    38    75                 128
14                PERUGIA         31    60    24                  92
15          PESARO URBINO         10    27    17                  35
16                PESCARA         11    31    36                  28
17               PIACENZA         12    15    29                  39
18                   PISA         10    22    48                  53
19                PISTOIA         12    34    19                  43
20              PORDENONE         15    22    42                  16
21                POTENZA         12     6     1                  39
22                  PRATO         16    26    66                  60
23                 RAGUSA          5    17     1                  28
24                RAVENNA         12    24    20                  54
25     REGGIO DI CALABRIA          4    19     6                  38
26     REGGIO NELL'EMILIA         26    52    57                  47
27                  RIETI          2     3     7                  16
28                 RIMINI          7    20    13                  34
29                   ROMA         89   173   313                 388
30                 ROVIGO          4    26    13                  12
31                SALERNO         14    32    21                  80
32                SASSARI          7    14     5                  51
33                 SAVONA          5     7    17                  33
34                  SIENA          6    36    13                  31
35               SIRACUSA          4     7     9                  30
36                SONDRIO          8    10     6                  32
37           SUD SARDEGNA         11     4     9                  18
38                TARANTO          6    15    16                  20
39                 TERAMO          6     9     9                  27
40                  TERNI          4     9    11                  25
41                 TORINO        565   154   200                 592
42                TRAPANI          5    15     6                  14
43                 TRENTO        231  1665  1178                 298
44                TREVISO         42    75    64                  94
45                TRIESTE         16    26    24                  30
46                  UDINE         21    52    60                  50
47                 VARESE         24    60   103                 174
48                VENEZIA         30    51    18                 161
49               VERBANIA          6    14     8                  20
50               VERCELLI          3     9    12                  21
51                 VERONA         54   125    70                  97
52          VIBO VALENTIA          3     9     1                  15
53                VICENZA         65    68    57                 156
54                VITERBO          9     9    21                  47
55                 TOTALE       3648  7241  5653                7713

   CITROEN/DS DACIA   FIAT   FORD HONDA  ... SKODA SMART SSANGYONG SUBARU  \
1           3     8     79     21   NaN  ...     2   NaN       NaN    NaN
2          49    25    188     52   NaN  ...     9    14         2    NaN
3         699   390   1069    741    65  ...   122   201        25     38
4         114    87    410    128     6  ...    32     2       NaN      8
5          97   112    294    108    25  ...    26    61        11     10
6         137   160    586    231    16  ...    39    41         3    NaN
7          70    52     96     50     2  ...    15     2         1      3
8          10    20     28     14     1  ...     1   NaN         3    NaN
9          23    20     17     12     1  ...     1   NaN         1    NaN
10         64    67    278    117    17  ...    49    16         4      8
11         51   103    271    104     6  ...    22    45         3      3
12         35    54    187     83    13  ...    15     2       NaN     10
13         36    79    183    126     6  ...     9     3       NaN      3
14         79    43    378     97     8  ...    18    18         2      3
15         25    52    154     51     3  ...    16    12         2      2
16         46    29    131     43     3  ...     7    16         5    NaN
17         40    27    122     47     8  ...    11     1         2      4
18         30    71    231     88    12  ...     9     2         1      1
19         55    39    102     22     1  ...    16     3         1    NaN
20         21    38    154     50     2  ...    25     3         1      5
21         13    16    180     18   NaN  ...     5     3       NaN    NaN
22         34    45    134     18     5  ...     1    13       NaN      1
23         27    36    102     45     1  ...   NaN     4       NaN    NaN
24         19    51    137     72     2  ...    29    14         1      3
25         18    34    124     37    13  ...    15    10         2    NaN
26         90    71    332    100     8  ...    18     3       NaN      4
27          6    12     48     22     1  ...     1     3       NaN    NaN
28         34    27     98     36     7  ...    28     3         1    NaN
29        469   472   1278    726    43  ...    46   848        10     14
30         18    26     40     42   NaN  ...     9     2         4    NaN
31        114    44    234     77     3  ...    10     8         1    NaN
32         57    42    131     61   NaN  ...     6     2       NaN    NaN
33         21    26    122     46    11  ...     1     3       NaN      2
34         37    49    119     36     3  ...    13     3       NaN      6
35         25    30     98     59     4  ...     1     2         3    NaN
36          3     8     54    245     1  ...    12   NaN       NaN      6
37        107    43     66    123     1  ...   NaN     1       NaN    NaN
38         21    22    109     57     7  ...    10     4       NaN    NaN
39          9    26    133     40     1  ...     9    18         2    NaN
40         37    27     62     31     2  ...     4     6       NaN    NaN
41        209   242   4813    513    34  ...    79    34        25     16
42         48    29     48     24     1  ...     1     5       NaN    NaN
43        380    56   1156   1631   115  ...   190   433         3     20
44         67    70    164    131     8  ...    22    19         4     13
45          9    19     69     33    11  ...     3    17         1     11
46         18    77    187     79    10  ...    29     9         1      3
47         89   105    207    128    29  ...    39     7         1     14
48         66   108    297    117     3  ...    31     8       NaN     10
49          9    17     47     31     2  ...     8   NaN         1      1
50         13    23     42     30    10  ...     2     1         1    NaN
51         72    63    234    122    20  ...    82    16        11      8
52          3    11     45     17   NaN  ...     2   NaN       NaN    NaN
53        114    77    693    170    31  ...    32    11         1     10
54         30    33    109     38   NaN  ...     1     3       NaN    NaN
55       7101  5701  27988  11558   873  ...  2414  3180       218    365

   SUZUKI TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1       1            2         18   NaN     0     269
2      13           16         72     3     1     911
3     257          563        812   100    46    9898
4      27          109        183    44    16    2357
5      38          185        289    14    12    2746
6      38           85        198    11     3    3083
7      26           69        121     5     7     994
8       1           17         29   NaN     0     243
9       5            5         24   NaN     0     202
10     35          120        315    23    11    2485
11     13           75        145     7     0    1711
12     24           46        167    24     7    1387
13     34           66         98     9     5    1569
14     42           67        234    35     3    1928
15     15           14        122     3     2     873
16     13           10         34    10     2     760
17     19           33         60    16     2     816
18     21           40        158    12     2    1332
19     26           20        100     1     1     997
20     15           51         99    19     2     963
21      8            8         35     1     0     533
22     14           35        108    11     3    1006
23      4           24         42     1     1     524
24      9           41        102    41     1    1094
25     11           52         48     6     2     689
26     29           91        178     8     4    1721
27      1            5         17   NaN     1     250
28     18           38         89     5     0     752
29    176          850        860    63    32   11285
30      7           20         98     1     2     529
31     20           27        112     2     0    1319
32      4           19         92     5     0     802
33     17           33         74    15     2     607
34     15           25        104     8     0     771
35      6           26         23   NaN     1     547
36     25           15         41     6     0     590
37      7           15         43     1     1     798
38     12            9         40     2     0     667
39     10           17         64     6     0     639
40      8            6         58     1     6     471
41    132          373        598    47    32   10792
42      1           20         39   NaN     0     433
43     45          917        998   112    10   14953
44     26          134        238    27     8    1865
45     27           34         37     4     0     541
46     22           60        113    23     2    1445
47     88          172        323    42     7    2703
48     24           54        185    19     9    1839
49     32            8         48     1     3     418
50     26           22         32     4     1     416
51     21          110        362    20     7    2358
52      3            5         12   NaN     0     212
53     35          162        237    42     4    2930
54      9           34         43     3     3     635
55   2437         7678      16068  1562   407  174702

[55 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2018_7.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(59, 37)>
{'accuracy': 100.0, 'whitespace': 12.09, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               RESIDENZA        NaN  NaN  NaN                 NaN        NaN
2               AGRIGENTO         12   11    2                  48         22
3             ALESSANDRIA         22   57   40                  53         46
4                  ANCONA         26   56   38                  37         48
5                   AOSTA        827   43   20                 703        404
6                  AREZZO         18   31   22                  49         34
7            ASCOLIPICENO         11    9   13                  41         18
8                    ASTI          3   13   14                  12         11
9                AVELLINO          4   13    3                  31         25
10                   BARI         49   20   24                 123         66
11  BARLETTA-ANDRIA-TRANI          3    5   16                   7          5
12                BELLUNO         39   14    7                 118         61
13              BENEVENTO          8    7    8                  29          7
14                BERGAMO         39  125   89                  41        128
15                 BIELLA         12   29   17                  26         10
16                BOLOGNA         51  111   98                 118        177
17          BOLZANO-BOZEN         43  739   76                  12        134
18                BRESCIA         59  142  105                 131        139
19               BRINDISI          9    4   10                  26         17
20               CAGLIARI         20    7   10                  40         35
21          CALTANISSETTA          2    5    6                   7         10
22             CAMPOBASSO          5    1    2                  16          7
23                CASERTA         19   23   27                  77         35
24                CATANIA          7   30   24                  36         49
25              CATANZARO         10   32   10                  61         25
26                 CHIETI         16   22    8                  55         23
27                   COMO         34   67   26                  52         29
28                COSENZA         23   42    9                  55        131
29                CREMONA          7   30   37                  31         50
30                CROTONE          3  NaN    1                   3         20
31                  CUNEO         31   54   42                 104        183
32                   ENNA          2    3    1                   8          3
33                  FERMO          6   14    8                  11          8
34                FERRARA         21   10   19                  24         21
35                FIRENZE        223  389  321                 219        213
36                 FOGGIA          9    7    4                  39         28
37          FORLI' CESENA         16   30    6                  39         24
38              FROSINONE         36   11   23                  75         41
39                 GENOVA         20   48   43                  38         31
40                GORIZIA          4    2    4                   5          6
41               GROSSETO          4    5    4                  11          9
42                IMPERIA          3    6   10                   5         20
43                ISERNIA          1    1    1                   3          8
44              LA SPEZIA         10   15    7                  32         14
45               L'AQUILA         12    9   13                  14         28
46                 LATINA         19   11   16                  47         57
47                  LECCE         20   28   22                  72         43
48                  LECCO         27   21   18                  29         12
49                LIVORNO          8   26   19                  30         10
50                   LODI         18   16   26                  41         17
51                  LUCCA         22   40   24                  56         31
52               MACERATA         11   17   20                  16         19
53                MANTOVA         12   35   33                  19         19
54          MASSA-CARRARA          4   24    3                  42         15
55                 MATERA         11    3    4                  11          5
56                MESSINA         12   36   22                  27         52
57                 MILANO        150  280  307                 265        489
58                 MODENA         61   66   63                 143         67

   DACIA  FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1    NaN   NaN  NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2     25    97   26     1  ...     1   NaN         2    NaN      3
3     36   178   79     3  ...     6     4         1      2     34
4     40   241   42     6  ...    21     4         2      1     25
5     22  2016   29     9  ...    20    19         2      2     32
6     47   150   49     5  ...     4     1         3      2     15
7     23    95   23   NaN  ...     1   NaN         5    NaN      4
8     20    54   48     1  ...     3     1         1    NaN     13
9     19    80   29   NaN  ...     4     4         2    NaN      5
10    59   489  161     9  ...    14     5         7    NaN     52
11    12    39   23   NaN  ...     5     2       NaN    NaN     16
12    16   226   25   NaN  ...     4     1       NaN      6     24
13    13    54   17     2  ...     3   NaN         2      1      2
14   126   268  100    17  ...    21    23         5      9     44
15    22    63   44     2  ...     1   NaN       NaN      1     21
16    85   391  222    15  ...    16    23         3     12     59
17    25    69  159   NaN  ...   272    10         2      2     12
18   121   319  208    13  ...    19    27         2      8     48
19    21    94   23   NaN  ...     1     5       NaN      1      6
20    61    94  114     5  ...     1    17       NaN      1     18
21    20    46   16   NaN  ...   NaN   NaN       NaN    NaN      4
22     4    52   42   NaN  ...     1     2       NaN    NaN      5
23    42   154   44     5  ...    10     4         1    NaN     17
24    73   159   78     8  ...    27    26       NaN      1     43
25    20   159   43     2  ...     4     7       NaN      1     17
26    23   158   32     3  ...     5    12         1      1     12
27    88   240   65     5  ...    29     9         3     11     52
28    27   209   91     2  ...     9    11         1    NaN     13
29    43    31   73     5  ...     2     9       NaN      1      9
30     9    40   10   NaN  ...   NaN     1       NaN    NaN      5
31    55   246  122    10  ...     5    23         2      3     35
32     8    22    8   NaN  ...   NaN     1       NaN    NaN      4
33     8    47   11     2  ...     4     2         3      4      5
34    48    83   45     2  ...    11     4         1      1     15
35   143   961  308    16  ...    72    70         9      8     77
36    28    84   15     3  ...     1   NaN       NaN    NaN      9
37    59   183   78     5  ...     9     2       NaN      1     15
38    21   178   40     1  ...     2    20         3    NaN      4
39    60   182  172    14  ...     6    41         2      3     56
40    17     9  184    11  ...     1     3       NaN      1     11
41    19    47   33     1  ...    12     3       NaN    NaN     24
42    14    61   32     1  ...     1     2       NaN    NaN     14
43     3    19  NaN   NaN  ...   NaN   NaN       NaN    NaN      2
44    26    76   34     2  ...     6     3         1    NaN      8
45    26   120   24     5  ...     3     3         3      1     17
46    21   156   55     4  ...    12    10         2    NaN      8
47    56   195   69     3  ...     1     8       NaN    NaN     25
48    39   126   35     2  ...    15     3       NaN      6     28
49    53    70  104     4  ...    10     3         4      2      8
50    21    97   46     1  ...     3     1       NaN    NaN     10
51    63   192   74     2  ...    11     4         1      4     17
52    17   115   26     3  ...    11     3         1    NaN     17
53    32    68   34     1  ...     8   NaN       NaN      2      9
54    23    92   38     2  ...     4     1         2    NaN     11
55     4    71   19     1  ...   NaN     1         1    NaN      3
56    35   158   61     1  ...    11    18         2    NaN     18
57   326   808  640    41  ...    72   142        18     30    184
58    68   370  111     8  ...    28     9       NaN      7     33

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2             6         38   NaN     2    474
3            37         89    11     2   1050
4            39        154    11    10   1246
5            22         43     9     1   4652
6            30         94     1     0    844
7            13         44     6     3    502
8            11         40    10     1    493
9            11         29   NaN     1    459
10           73        117    26     4   1932
11           25         22     1     2    290
12           22         45     7     0    782
13            5         11   NaN     0    283
14          153        264    24    22   2450
15           25         28     2     2    431
16          172        290    75    13   2957
17           34       1252    43     5   4470
18          153        382    27     7   3085
19            5         11     3     7    439
20           50         86     3     1    908
21            8         14     1     0    237
22            5         18     1     2    238
23           18         39    13     2    984
24           49         65     2     8   1324
25           15         50     2     0    709
26           20         88     2     2    725
27          122        186    30     4   1756
28           11         80     2     2   1018
29           48         57    10     3    782
30            3          9   NaN     0    158
31           49        127    41     8   1660
32            1          7   NaN     0    130
33           11         41     2     1    299
34           50         94    11     0    823
35          446        546   191    14   7065
36           32         18     6     5    487
37           25         97    11     0    954
38           31         62     5     3    871
39           85        217    17     0   1534
40           12         18     3     1    371
41            9         67     4     1    410
42           16         17     3     1    294
43            1          2   NaN     8     82
44           21         74     3     2    480
45           19         50     3     1    545
46           45         50    11     2    885
47            7        101     7     5   1236
48           49         95     8     3    825
49           39         80     1     1    750
50           15         52     8     3    624
51           33        111    11     3   1134
52           16        104     5     5    655
53           40        116    15     2    819
54           17         72   NaN     1    477
55            4         19     1     0    264
56           27         62     4     0    939
57          575        608   124    38   8127
58           99        156    77     9   2198

[58 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(52, 37)>
{'accuracy': 100.0, 'whitespace': 10.86, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE  \
1   MONZA E DELLA BRIANZA         73    80    67                  97
2                  NAPOLI         30    68    57                 116
3                  NOVARA         25    71    21                  38
4                   NUORO          2     2     2                   5
5                ORISTANO          4     2     2                   4
6                  PADOVA         47    58    62                 109
7                 PALERMO         23    46     8                 112
8                   PARMA          9    36    21                  36
9                   PAVIA         34    28    51                  66
10                PERUGIA         34    49    26                  90
11          PESARO URBINO         28    32    25                  53
12                PESCARA         16    26    23                  26
13               PIACENZA         15    20    27                  47
14                   PISA         22    21    49                  74
15                PISTOIA         13    25    32                  35
16              PORDENONE         19    24    33                  39
17                POTENZA          6     3     5                  32
18                  PRATO         13    12    32                  55
19                 RAGUSA         11    13   NaN                  51
20                RAVENNA         23    21    12                  97
21     REGGIO DI CALABRIA         10     6     6                  48
22     REGGIO NELL'EMILIA         31    48    40                  31
23                  RIETI          3     7     3                  11
24                 RIMINI         15    31    17                  43
25                   ROMA        126   158   280                 306
26                 ROVIGO         10    16    39                  16
27                SALERNO         49    27    10                 120
28                SASSARI         14    13     5                  34
29                 SAVONA         12    12    10                  26
30                  SIENA          8    15     6                  29
31               SIRACUSA          6     9     7                  19
32                SONDRIO          8     2     5                   3
33           SUD SARDEGNA         12     4     4                  13
34                TARANTO          7    17    13                  14
35                 TERAMO         11     7    11                  37
36                  TERNI         12     3    15                  18
37                 TORINO       1344   167   158                 851
38                TRAPANI          3    16     3                  22
39                 TRENTO        286   668   776                 190
40                TREVISO         57    62    38                  81
41                TRIESTE         20    11    10                  50
42                  UDINE         28    41    33                  51
43                 VARESE         44   104    51                  59
44                VENEZIA         40    42    24                 153
45               VERBANIA          6    10     3                  22
46               VERCELLI          9     8     7                  17
47                 VERONA         57   138    63                  88
48          VIBO VALENTIA          1     5     3                   5
49                VICENZA         72    57    54                 178
50                VITERBO          8    14    12                  25
51                 TOTALE       4910  5250  4106                7205

   CITROEN/DS DACIA   FIAT  FORD HONDA  ... SKODA SMART SSANGYONG SUBARU  \
1          74   106    273   101     9  ...    16    31         9      5
2         149   131    501   202     3  ...    25    29         2    NaN
3          57    40     87    41     4  ...    18     3       NaN      2
4          12    18     33     9   NaN  ...     2   NaN         1    NaN
5          15    15     17    13     1  ...   NaN     1       NaN    NaN
6          42    47    296    97    13  ...    16    17         4     13
7          54    83    258    97     9  ...    11    35       NaN      4
8          22    38    164    80     8  ...    20   NaN       NaN      6
9          42    65    176   124     3  ...    11     5       NaN      8
10         57    45    338    87     7  ...    11    13         6      1
11         35    35    174    61   NaN  ...     4    11         1      5
12         44    20    127    32     5  ...     3    11         3      1
13         31    19    135    53     7  ...    11   NaN         1      5
14         34    64    194    78     6  ...    12     2       NaN      2
15         41    54     67    14     3  ...     9     6         2    NaN
16         62    13    173    59     2  ...    14     3         3      1
17         23    22    170    20   NaN  ...     5     1         1    NaN
18         33    26    143    17     1  ...     6     3       NaN    NaN
19         24    18    101    36   NaN  ...     1     2       NaN    NaN
20         14    30    119    68     2  ...    19     4         1      1
21         26    38    116    37    10  ...    10     4         3    NaN
22         88    61    295   110     5  ...    18     4       NaN      1
23          6    14     66    24     1  ...     1     2       NaN    NaN
24         33    18    123    19     9  ...     9     3         2    NaN
25        356   407   1122   764    20  ...    36   764         4     19
26         33    18     41    48   NaN  ...    12   NaN       NaN    NaN
27         89    48    225    86   NaN  ...     4     8         1    NaN
28         44    47    134    77     3  ...     3     4         1    NaN
29         31    24    103    60    12  ...     1   NaN       NaN      1
30         31    40     90    35     1  ...     3     3       NaN      1
31         38    34     86    44     3  ...     2     3         1    NaN
32          2    14     49   187   NaN  ...     8     1       NaN      5
33        122    50     76    89   NaN  ...     1     2         1    NaN
34         22    35     90    42     6  ...     8     3       NaN    NaN
35         13    24    125    38     1  ...     3     4         2    NaN
36         35    15     52    30   NaN  ...   NaN     3         1      1
37        198   157   5823   441    27  ...    47     9        25     11
38         30    24     42    23   NaN  ...     2     2       NaN    NaN
39        316    60   1208  1102   118  ...   135   543         1      8
40         72    46     84   121    13  ...    16    10         3      7
41          9    22     73    25     3  ...     3    10         2      4
42         39    45    177    68     7  ...    17     3         5      2
43         83   136    189   131    16  ...    22     8       NaN     14
44         73    48    249   104     2  ...    16     9         2      1
45         12    13     53    25     4  ...     9     1       NaN    NaN
46         13    14     39    33     6  ...     2   NaN       NaN      3
47         66    84    366   133    10  ...    67     9        10      8
48          3    11     39    15   NaN  ...   NaN   NaN       NaN      3
49         66    69    681   187    13  ...    26     7         2     15
50         21    30     74    39     1  ...     1     5       NaN      1
51       6074  4970  26537  9759   638  ...  1519  2208       200    295

   SUZUKI TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1      45          170        251     7    15    2390
2      42           64        149    17    14    2709
3      40           42         85     6     9     868
4       4           21         29   NaN     0     251
5       5            8         15     1     0     177
6      32          118        210    50     5    2168
7      17           74        146     9     5    1638
8      20           32        117    21     5    1154
9      37           62        103    11     5    1442
10     48           54        175    47     2    1653
11     15           29        104     4     6     916
12     13           21         32     8     4     628
13     16           30         55    10     1     826
14     20           34        122    18     1    1184
15     11           15        102     2     1     810
16     13           33         65    19     3     850
17      7            5         37     1     0     531
18     12           34         78    13     1     841
19      6           18         34     4     0     508
20     13           28         94     9     2     984
21     11           35         38     4     3     635
22     31           54        128    16     4    1496
23    NaN           13         17     2     0     286
24     18           43         68    10     2     708
25    194          802        700    31    27   11208
26      6           35         64     2     1     486
27     29           37         93     4     1    1353
28      6           28         79     3     1     780
29     16           30         54    14     3     587
30     14           16         84     4     7     660
31      3           37         23   NaN     2     521
32     13           18         27    11     1     473
33      1           10         49     1     0     624
34     10           16         56     3     0     640
35      6           14         50     5     0     569
36      4           21         46     1     3     425
37    153          339        414    60    41   12212
38      6           20         23   NaN     1     387
39     47         1101        802   128     9   10931
40     41          149        195    29     2    1743
41     13           29         34     2     0     478
42     27           69        144    12     3    1334
43    102          159        270    40     2    2475
44     23           74        140    18     5    1656
45     19           12         43     3     0     352
46     21            9         22     5     1     335
47     18          116        293    19     5    2468
48      7            6         12     1     0     208
49     35          157        172    52     7    2700
50      9           28         34     2     2     519
51   2576         7328      12885  1633   435  152393

[51 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2018_8.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(61, 37)>
{'accuracy': 100.0, 'whitespace': 16.79, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               RESIDENZA        NaN  NaN  NaN                 NaN        NaN
2               AGRIGENTO         11   14  NaN                  28         13
3             ALESSANDRIA         19   12   13                  24         43
4                  ANCONA         25   37   24                  38         55
5                   AOSTA        947   16   23                1600        119
6                  AREZZO         12   10   24                  39         31
7            ASCOLIPICENO         13    2   12                  21         10
8                    ASTI          3    2   13                  16         10
9                AVELLINO          5   12  NaN                   6         17
10                   BARI         49   16    7                  56         40
11  BARLETTA-ANDRIA-TRANI          1    2   16                   7          5
12                BELLUNO         35    5   37                  24         20
13              BENEVENTO         20    4    2                  13          5
14                BERGAMO         33   22   34                  38         96
15                 BIELLA          9    1    7                  12          5
16                BOLOGNA         69   35   23                  57         98
17          BOLZANO-BOZEN         98  293   95                  64        128
18                BRESCIA         82   37   58                  89         83
19               BRINDISI          6    2    6                   9         13
20               CAGLIARI         21    5   13                  34         43
21          CALTANISSETTA          4    4    4                   6          7
22             CAMPOBASSO          2    3    2                  15          7
23                CASERTA         14    6   18                  36         25
24                CATANIA          2    5    7                  23         40
25              CATANZARO         12    7    6                  27         35
26                 CHIETI         15    4    3                  33         27
27                   COMO         25   20   14                  30         19
28                COSENZA         16   22   16                  23         27
29                CREMONA          8   11   26                  12         32
30                CROTONE          4  NaN    1                   9         19
31                  CUNEO         20   12   25                  96         65
32                   ENNA        NaN  NaN  NaN                   4          9
33                  FERMO          2  NaN    4                   9          4
34                FERRARA         13    5    7                  17         12
35                FIRENZE        175  249  236                 232        286
36                 FOGGIA         29    4    4                  40          9
37          FORLI' CESENA          9    9    3                  20         26
38              FROSINONE         39    5   20                  43         27
39                 GENOVA          3    4   24                  18         14
40                GORIZIA          4    4    6                   7          3
41               GROSSETO          4    2    5                  14          6
42                IMPERIA          1  NaN    2                   6         21
43                ISERNIA          2    1  NaN                   4          1
44              LA SPEZIA          5    7    2                  19         12
45               L'AQUILA          7    2    5                  15         15
46                 LATINA          9    2   10                  39         41
47                  LECCE          7   19   13                  30         22
48                  LECCO         10    2   26                  14          5
49                LIVORNO          3    3   11                  13         14
50                   LODI         10    2   10                  17          9
51                  LUCCA         18   12   20                  54         28
52               MACERATA         10    8   18                  15         23
53                MANTOVA          6   11    9                  18          7
54          MASSA-CARRARA          7   14    4                  37         14
55                 MATERA         13  NaN    2                   4          2
56                MESSINA         16    8   10                  25         36
57                 MILANO        125  109  158                 241        225
58                 MODENA         17   12   38                  32         67
59  MONZA E DELLA BRIANZA         44   61   19                  56         38
60                 NAPOLI         16   20   26                  54         64

   DACIA FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1    NaN  NaN  NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2     17   55   16     1  ...     1     1       NaN    NaN      3
3     19  117   47     3  ...     8     2         1      2     13
4     21  125   38     5  ...    14   NaN         4      3      6
5     12  791   19   NaN  ...     9    16         1    NaN     15
6     29   92   32   NaN  ...     5     4         5      3      7
7      8   58   25   NaN  ...     1   NaN         1    NaN      3
8     22   25   18   NaN  ...   NaN     5       NaN    NaN      2
9     14   44   23   NaN  ...     7   NaN       NaN    NaN      5
10    56  351  112    14  ...     9     5         3      1     30
11     5   20   14   NaN  ...     5     2       NaN    NaN     12
12    17   86   14   NaN  ...     3     1       NaN      5     11
13    12   29    6   NaN  ...     6   NaN         1    NaN      3
14    68  141   64    21  ...    13    10       NaN      4     11
15    11   25   19     1  ...     1   NaN       NaN      2      8
16    63  204  177    19  ...    17    16         3      6     39
17    57  107   84   NaN  ...    95     7       NaN      1      8
18   125  212  124     8  ...    14    14         5      1     20
19    17   73   14     1  ...   NaN   NaN       NaN    NaN      3
20    80   60   67     5  ...   NaN     6       NaN    NaN     10
21    13   24    7     1  ...     1   NaN       NaN    NaN      4
22     3   37    9     1  ...     5     1       NaN    NaN      4
23    27   76   45     1  ...     7     1         1    NaN      4
24    58   82   51     4  ...    30    13       NaN    NaN     36
25    21   90   26   NaN  ...     5     3       NaN    NaN      4
26     7  132   28   NaN  ...     4     3         1    NaN      6
27    43  128   34     5  ...    27     4       NaN     10     15
28    21  116   66     1  ...     6     6       NaN    NaN      8
29    18   16   51     4  ...     7     1       NaN      1     12
30    10   31    5   NaN  ...   NaN     2       NaN    NaN      2
31    42  160   60     1  ...    10     5         1      2     17
32     8   12    5   NaN  ...   NaN     1       NaN    NaN    NaN
33     7   20   10     1  ...     3   NaN       NaN    NaN      1
34    30   43   50     2  ...    19     1         2      1      5
35    95  932  265    16  ...    56    25         4      7     37
36    26   43    8     1  ...     2     1         3    NaN      7
37    44   95   42     4  ...    10   NaN       NaN      1      7
38     9  126   22   NaN  ...     4     2         1      2      3
39    45   85   89     5  ...     3    10       NaN      3     20
40    13    9   15     4  ...     4   NaN       NaN    NaN      1
41    19   23   13     2  ...     6   NaN       NaN    NaN     12
42     8   31   23     1  ...     1   NaN       NaN      1      9
43     4    4    3   NaN  ...   NaN   NaN       NaN    NaN    NaN
44    14   44   31     3  ...     4     1         1    NaN      5
45     9   83   12   NaN  ...     1     4       NaN      2      8
46    40  106   54     2  ...     5     6       NaN    NaN      4
47    54  121   47     1  ...     7     2       NaN    NaN     13
48    25   67   19   NaN  ...     9     5       NaN    NaN      5
49    40   60   92   NaN  ...     6     2         2    NaN      4
50    20   44   32     1  ...     1   NaN       NaN      1      2
51    55  116   44     3  ...    11     1         1    NaN      4
52    15  106   27     2  ...     6     2         1    NaN     15
53    37   44   34     1  ...    12     1       NaN    NaN      5
54    17   64   29   NaN  ...     4   NaN       NaN    NaN      3
55    10   69   17   NaN  ...     1   NaN       NaN    NaN      3
56    38   91   39   NaN  ...     7     6       NaN    NaN     13
57   222  696  283     9  ...    77    16         8      4     39
58    55  160   55     2  ...    25     2       NaN      3      9
59    55  121   46     2  ...     6     1         3    NaN      6
60    76  232  112     4  ...    11     8       NaN      1     12

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2             5         18     1     1    301
3            23         38     8     1    572
4            27         65     4     9    752
5             9         14     7     0   3855
6            19         40   NaN     0    527
7             7         14   NaN     1    322
8             2         11     3     2    276
9             6         23     2     0    300
10           26         55    10     1   1373
11           16         13     1     5    176
12           17         25     5     0    405
13            1          5     2     2    188
14           78        139     8    13   1369
15           15         17     1     0    213
16          109        123    45     4   1802
17           29        438    17     1   2371
18          106        162    18     5   1951
19            1          6     1     3    275
20           40         50     2     0    655
21            4         10     1     0    149
22            4          8   NaN     0    168
23            4         15     1     0    604
24           34         36     1     2    787
25            9         33     2     0    469
26           19         49     1     3    523
27           51         78    11     2    868
28           15         47     1     2    598
29           26         35     6     0    535
30            4          1   NaN     0    125
31           28         57    16     4   1011
32            3          6     1     0     91
33           12         17   NaN     0    171
34           34         27    10     1    503
35          157        278   101     6   4860
36           18          5     1     2    362
37           18         39    11     1    566
38           21         31     1     1    512
39           37         97     6     0    733
40           11         11     1     0    156
41            4         35     3     0    249
42           10          9     4     0    187
43            1          6   NaN     0     45
44            7         32   NaN     0    259
45            7         27   NaN     6    343
46           34         30     2     3    608
47            5         58     7     2    850
48           25         49     1     0    418
49           21         50     1     0    509
50            9         29     1     1    325
51           33         57     5     2    778
52            9         58     8     1    508
53           32         46    10     0    548
54            8         40     2     0    355
55            2         13   NaN     0    221
56           11         36     6     9    580
57          265        287    55    25   4539
58           84         82    47    11   1151
59           89        120     3     1   1023
60           22         80    10     8   1381

[60 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(51, 37)>
{'accuracy': 100.0, 'whitespace': 17.01, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

              PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1            RESIDENZA        NaN   NaN   NaN                 NaN        NaN
2               NOVARA         14     7    15                  19         31
3                NUORO          1   NaN   NaN                   6         15
4             ORISTANO          4   NaN   NaN                   4         20
5               PADOVA         35    36    31                  83         28
6              PALERMO         23    22    14                  46         41
7                PARMA         11    21    27                  12         22
8                PAVIA         22    18    23                  31         87
9              PERUGIA         30    27    19                  49         42
10       PESARO URBINO         11    15    13                  34         18
11             PESCARA         12    11    15                  23         43
12            PIACENZA         11    10    16                  30         32
13                PISA         26    10    28                  28         24
14             PISTOIA          2     4    11                  22         25
15           PORDENONE         10     4    34                  19         69
16             POTENZA          8   NaN     1                  23         21
17               PRATO         15     3    17                  31         20
18              RAGUSA         18     7     1                  27         22
19             RAVENNA         12    10     8                  33         16
20  REGGIO DI CALABRIA          8     7     3                  25         21
21  REGGIO NELL'EMILIA         37    11    23                  20         57
22               RIETI          3     1     2                  15          9
23              RIMINI          1     6     9                  26         17
24                ROMA         85    60   149                 166        226
25              ROVIGO          4     2     6                   7         20
26             SALERNO         35    13    13                  62         82
27             SASSARI          9     4     5                  16         40
28              SAVONA         12     6     6                  18         26
29               SIENA          5    11     6                  22         25
30            SIRACUSA          2     5     4                   9         15
31             SONDRIO          6   NaN     4                   5          1
32        SUD SARDEGNA         10     1   NaN                  11         27
33             TARANTO          2     6     8                   6         15
34              TERAMO          9     2     7                  30         15
35               TERNI         12     6     9                  18         27
36              TORINO        504    24    69                 425        122
37             TRAPANI          3     4     2                   9         28
38              TRENTO        169   304   468                 169        316
39             TREVISO         36    22    68                  58         49
40             TRIESTE         10    12     9                  23          9
41               UDINE         19    27    33                  21         21
42              VARESE         28    24    32                  38         17
43             VENEZIA         31    13    22                 145         46
44            VERBANIA          5     3     8                   9          8
45            VERCELLI          8     4     4                   6         11
46              VERONA         49    65    44                  65         43
47       VIBO VALENTIA          3     2     1                   8          2
48             VICENZA         50    34    41                 109         51
49             VITERBO          4     1     8                  22         15
50              TOTALE       3608  2081  2557                5665       4114

   DACIA   FIAT  FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1    NaN    NaN   NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2     29     62    30   NaN  ...    13     1       NaN    NaN     14
3     13     18     5   NaN  ...     2   NaN       NaN    NaN    NaN
4     15      7     6   NaN  ...   NaN   NaN       NaN    NaN      2
5     47    165    78     5  ...    20     3         1      5     28
6     59    218    66     7  ...    14    17         1      2      2
7     36    144    47     5  ...    17     1         2      4     13
8     48     95    67     1  ...     2     2         2    NaN     16
9     26    245    49     7  ...    11     4         9      1     41
10    47     79    37   NaN  ...     6     6         1      4      6
11     6     74    34     1  ...     4    10       NaN    NaN     10
12    40     66    26     3  ...    12   NaN         1      2      4
13    53    146    58     4  ...    10   NaN         1      3     10
14    35     75    11   NaN  ...     9     1       NaN    NaN      8
15    17     69    36     2  ...    10     2       NaN    NaN      7
16    11    128    14   NaN  ...     4     2       NaN    NaN      7
17    35     72    10     1  ...     5     2         1    NaN     13
18    22     47    23   NaN  ...   NaN     1         1    NaN      6
19    47    105    51     3  ...    12     5       NaN    NaN     15
20    42     89    26     4  ...    12     2         1      1      6
21    49    157    45     1  ...     8     2         1      2      6
22    14     16    10     2  ...     1     2       NaN      1      1
23    24     67    27     5  ...     7     6       NaN      1      3
24   751    573   446    28  ...    32   100       NaN      4     48
25    11     41    26   NaN  ...     7     1       NaN    NaN      4
26    36    138    69     1  ...     6     3         1    NaN     10
27    50     67    39   NaN  ...   NaN     3         1    NaN      7
28    10     50    31     2  ...     2     5       NaN      1     12
29    27     74    20     3  ...     4     1         2      1      8
30    44     45    42     2  ...     1     1       NaN    NaN      3
31     7     24   134   NaN  ...    13   NaN       NaN      4     22
32    59     56    44     1  ...   NaN     1       NaN    NaN      1
33    50     55    28     2  ...     7     2       NaN    NaN      5
34    20    110    30   NaN  ...   NaN     5         2    NaN      6
35    14     39    12   NaN  ...     2     2         2      1      9
36   133   1787   244    11  ...    54     2        18      5     76
37    20     30    12   NaN  ...   NaN     1       NaN    NaN      4
38    59    612   662    11  ...   164   204         3      5     34
39    54     97   108    15  ...    12     7         4     11     22
40    14     33    22     5  ...     3     4         2      5     18
41    52    113    65     8  ...    15     9         3      5     12
42    96    106    88    16  ...    21     3       NaN      6     23
43    65    152    59     2  ...    14    10         1      1     25
44    11     29    15     2  ...     4   NaN       NaN      2     15
45     6     22    23     7  ...     3   NaN         2      1     13
46    72    193   104     6  ...    71     7        10      3     13
47    17     29     9   NaN  ...     2     1       NaN      1      1
48    48    342    97    13  ...    16     8       NaN     10     31
49    29     36    27     1  ...     2     3         1    NaN      4
50  4476  14151  6025   349  ...  1245   677       127    159   1217

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2            42         61     3     3    522
3            11         13   NaN     0    138
4             6         11   NaN     0    113
5            91        107    21     8   1318
6            45         63     4     5   1069
7            27         51     9     5    788
8            40         41     6     3    805
9            32         69    26     2   1085
10           17         50     4     2    567
11           16         14     7     3    457
12           12         28     9     0    493
13           16         84     7     0    766
14            2         40     2     0    601
15           38         44    11     1    582
16            6         27   NaN     1    375
17           13         52     5     3    505
18           12         18   NaN     2    311
19           28         50    27     0    700
20           26         32     4     3    474
21           51         58     4     0    903
22            4          7   NaN     0    137
23           21         40     7     3    487
24          412        355    18    17   6281
25           26         34     3     1    329
26           21         50     3     0    952
27           19         39     1     1    490
28           15         36     9     2    357
29           22         35     6     3    443
30           20         12     1     1    331
31           11         11     4     1    300
32           10         20   NaN     0    493
33            5         37     2     0    437
34            6         22     4     1    432
35            6         23     1     1    275
36          183        195    25    13   4891
37           11         33   NaN     0    289
38          525        595    80     7   6573
39           64        106    25     2   1252
40           20         19   NaN     0    307
41           54         75    12     2    889
42          105        144    17     3   1267
43           52         83     6     6   1170
44            8         16     1     0    214
45           12         13     4     0    213
46           82        254    13     3   1738
47            4          2     1     0    151
48           93         80    24     3   1542
49           19         19     5     3    388
50         4084       6548   893   255  91551

[50 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2018_9.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(59, 37)>
{'accuracy': 100.0, 'whitespace': 13.61, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               RESIDENZA        NaN  NaN  NaN                 NaN        NaN
2               AGRIGENTO          1   15    2                  23         20
3             ALESSANDRIA          7   64   34                  33         62
4                  ANCONA         18   58   39                  43         52
5                   AOSTA        347    9   42                 266        153
6                  AREZZO          8   16   27                  39         28
7            ASCOLIPICENO          4    4   15                  21          5
8                    ASTI          2    5   24                   9          7
9                AVELLINO          3   22    3                  10         28
10                   BARI         12   44   21                  91         75
11  BARLETTA-ANDRIA-TRANI          4  NaN   31                  12          6
12                BELLUNO          2    6   46                  45         61
13              BENEVENTO          5    1    1                  21          8
14                BERGAMO         22  117  110                  20        181
15                 BIELLA          4   17   12                  15         14
16                BOLOGNA         18  106  106                  86        145
17          BOLZANO-BOZEN        105  247  264                  17         45
18                BRESCIA         16  114   97                 101        111
19               BRINDISI          6    2   11                  13          7
20               CAGLIARI          7   10   16                  29         47
21          CALTANISSETTA          1    1    6                 NaN         11
22             CAMPOBASSO          3    1    1                   7         11
23                CASERTA         11    4   24                  31         13
24                CATANIA          6   11   18                  11         40
25              CATANZARO          5   26   10                  37         30
26                 CHIETI          7    8    9                  22         34
27                   COMO         20   41   41                  23         37
28                COSENZA         10   29   18                  63         42
29                CREMONA          5   30   77                  18         35
30                CROTONE          1  NaN    2                  10         27
31                  CUNEO         21   10   46                  85         95
32                   ENNA        NaN    3  NaN                   3          4
33                  FERMO          1    7    9                   9          4
34                FERRARA          3    5   12                  19         19
35                FIRENZE        151  160  363                 216        183
36                 FOGGIA          6    8    2                  22         23
37          FORLI' CESENA          3    6   16                  25         32
38              FROSINONE         15    2   25                  40         44
39                 GENOVA          5   24   18                  17         24
40                GORIZIA        NaN  NaN    4                   3          3
41               GROSSETO        NaN    2    2                   8          6
42                IMPERIA          2    3    2                   9         13
43                ISERNIA        NaN    1    4                 NaN          3
44              LA SPEZIA          4    6    8                  19         10
45               L'AQUILA          4    1    7                  11         27
46                 LATINA          7    4   14                  30         45
47                  LECCE         12   31   24                  34         33
48                  LECCO          9    7   15                  19          6
49                LIVORNO          3   21    7                  15         16
50                   LODI          5    7   17                  25         15
51                  LUCCA         12   31   27                  51         26
52               MACERATA          6   10   17                  18         18
53                MANTOVA          4   27   15                  18         64
54          MASSA-CARRARA          5   21    4                  39         18
55                 MATERA          3    1    8                   6          2
56                MESSINA          6   29   18                  15         43
57                 MILANO         44  235  421                 170        289
58                 MODENA          8   51   98                  86         56

   DACIA FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1    NaN  NaN  NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2     12   46   20     1  ...     1     2       NaN    NaN    NaN
3     21  146   85     4  ...    16     4         2      6     42
4     14  202   63     4  ...     5    13         3      1     21
5      9  898   35     3  ...    20    21         1      3     27
6     13  125   43     3  ...     1     3         5      2      9
7      6   81   22     3  ...   NaN     2         3    NaN      5
8      7   26   49     2  ...     2   NaN       NaN    NaN     13
9      9   59   31   NaN  ...     4     1       NaN      1      5
10    37  456  137    12  ...    20    12         4      1     37
11     3   58   21     1  ...     4     1       NaN    NaN     12
12     6  111   30   NaN  ...     6     1         1      4     24
13     6   43   14   NaN  ...     7   NaN         2    NaN      8
14    59  211  149    20  ...    29    26         4      9     37
15     9   54   45     3  ...     5   NaN         1    NaN     29
16    47  327  234    27  ...    40    36         5     15     65
17     5  682  104   NaN  ...   371     4         1      4     10
18    71  264  181     6  ...    17    14         4     12     49
19     9   86   21   NaN  ...   NaN     2       NaN    NaN     15
20    34   97  107     4  ...   NaN    11       NaN    NaN     10
21     3   46   14   NaN  ...   NaN   NaN       NaN    NaN      3
22     2   29   15   NaN  ...     3     1         1      1      5
23    16   93   49     4  ...    14    11         1      1     20
24    26  152   86     9  ...    22    21         2    NaN     61
25     9  133   38   NaN  ...     2     5       NaN      1     21
26     9  112   34   NaN  ...     3     8         1    NaN     10
27    42  273   86     5  ...    26    19         2      9     56
28    22  240   86     1  ...     9    11         1    NaN     18
29    16   48   47     9  ...     6     8       NaN    NaN     20
30     6   31    6   NaN  ...   NaN     3       NaN    NaN      4
31    21  194  113    13  ...    13    27         2      7     38
32     2   21    7   NaN  ...   NaN   NaN       NaN    NaN      3
33     7   43   16     2  ...     2     3       NaN      3      1
34    18   72   66     2  ...    13     4         2    NaN      8
35    74  674  332    24  ...   190    91         2      7     55
36    23   66   24     4  ...     1     2         1    NaN      9
37    18  133   89     4  ...     3     2       NaN      3     14
38     6  128   24     4  ...     7     6       NaN      2      5
39    16  173  145    19  ...     2    57       NaN      5     64
40     5    9   59     7  ...     1     1         1      1      9
41     8   54   27     1  ...    11     1       NaN    NaN     22
42     3   59   27     2  ...     5     3       NaN      2     23
43     3   14    9   NaN  ...   NaN   NaN       NaN    NaN    NaN
44    12   90   49     8  ...     2     4       NaN      1      4
45     4  101   20   NaN  ...     1   NaN       NaN      1     23
46    24  140   58     4  ...     5    11         2    NaN      9
47    33  153   71     1  ...     2     1       NaN    NaN     29
48    17  108   49     2  ...    14    10         2      9     18
49    22  123  115     1  ...    12     2         4    NaN     13
50    14   91   51     1  ...   NaN     6         1      1     11
51    32  198   68   NaN  ...    13     2         1      5     29
52     7  116   43     1  ...     9     3         1      7     15
53     9   46   45     1  ...    17     4         1      2      9
54    12   85   32   NaN  ...     7     1         1    NaN      6
55     3   82   17   NaN  ...     3     1         1      1      4
56     8  153   52   NaN  ...    10    12         2    NaN     23
57   177  842  570    56  ...    66   288        18     20    173
58    47  309  123    11  ...    18     8       NaN      5     52

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2             7         47   NaN     2    352
3            32         42    10     4    926
4            35        129     9     8   1130
5            17         22    11     1   2418
6            29         67     5     0    712
7            19         19     5     2    386
8            11         15    12     4    329
9             6         45   NaN     1    375
10           75        100    14     4   1852
11           30         28     3     1    309
12           22         22     5     0    518
13            6          8   NaN     0    264
14          206        316    12     7   2499
15           17         12   NaN     0    385
16          205        222    66    11   2647
17           50        474   351     5   3078
18          189        277    26     8   2662
19            6         11     2     2    391
20           69         89     4     0    804
21            4         15     1     2    201
22            9          8   NaN     0    189
23           17         21     4     4    686
24           32         46     2     2   1083
25           23         57     4     0    635
26           26         61     8     2    662
27          152        130    30     3   1612
28           16         62     5     1    952
29           50         69    12     2    820
30            7          6     1     0    144
31           61         52    19     8   1354
32            2          7   NaN     0    102
33           18         19     3     0    248
34           68         58    12     0    707
35          393        416   236     7   6007
36           38          9     3     7    437
37           38         63    13     2    788
38           25         71     3     1    687
39          100        154    12     2   1233
40           16         18     1     0    222
41            8         56   NaN     2    343
42           22          7     2     0    276
43            3          2   NaN     2     62
44           18         52     1     0    442
45           16         48     1     8    447
46           45         34     5     6    800
47            9         92     4     0   1112
48           56         80     4     1    715
49           39         71    10     1    759
50           20         56     7     0    546
51           39         92    14     5   1119
52           21         54    15     7    543
53           28         72    16     2    717
54           22         47     4     0    420
55            3         13     3     0    241
56           14         72     1     0    767
57          646        515    86    27   7501
58          117        106    25     7   1905

[58 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(52, 37)>
{'accuracy': 100.0, 'whitespace': 11.9, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE  \
1   MONZA E DELLA BRIANZA         14   102   102                  72
2                  NAPOLI          6    37    62                  70
3                  NOVARA         12    54    38                  27
4                   NUORO          4     3   NaN                   5
5                ORISTANO          3     1     3                   2
6                  PADOVA         26    27    80                 111
7                 PALERMO          5    35    11                  64
8                   PARMA          9    50    60                  30
9                   PAVIA          7     7    56                  51
10                PERUGIA         14    53    24                  78
11          PESARO URBINO          5    28    27                  16
12                PESCARA          4    19    23                  26
13               PIACENZA          9    10    19                  40
14                   PISA          9    26    54                  45
15                PISTOIA          1    23    20                  15
16              PORDENONE          8    11    34                  18
17                POTENZA         12   NaN     1                  15
18                  PRATO         12    12    24                  42
19                 RAGUSA          4    13     4                  31
20                RAVENNA          5    10    15                  57
21     REGGIO DI CALABRIA          3     1     7                  33
22     REGGIO NELL'EMILIA         13    36    20                  31
23                  RIETI          3     3     6                   4
24                 RIMINI          3     6    27                  15
25                   ROMA         52   127   296                 232
26                 ROVIGO          4    20    50                   4
27                SALERNO          5    33    11                  58
28                SASSARI          2     4    10                  12
29                 SAVONA          5     6    10                  22
30                  SIENA          5    21     3                  27
31               SIRACUSA          9     3     6                  11
32                SONDRIO          5     1     3                   5
33           SUD SARDEGNA        NaN   NaN     4                   3
34                TARANTO          5    14    18                  14
35                 TERAMO          7     2     9                  27
36                  TERNI          7     4     6                  13
37                 TORINO         77   134   139                 261
38                TRAPANI          1    12     2                   4
39                 TRENTO         98   135   817                  93
40                TREVISO         30    36   106                  75
41                TRIESTE        NaN    19    16                  39
42                  UDINE          4    50    39                  30
43                 VARESE         18    71    90                  51
44                VENEZIA         35    30    23                 134
45               VERBANIA          2     9     4                  11
46               VERCELLI          2     3    11                   7
47                 VERONA         26   118    74                  85
48          VIBO VALENTIA          2     3     2                  10
49                VICENZA         12    53    47                 169
50                VITERBO          2     4     6                  19
51                 TOTALE       1605  3200  4829                4442

   CITROEN/DS DACIA   FIAT  FORD HONDA  ... SKODA SMART SSANGYONG SUBARU  \
1          81    43    228   110    19  ...    21    36         9      3
2         120    29    412   171    11  ...    29    39         3      2
3          48    15     84    56     4  ...    10     2         1      2
4          14    14     19    20   NaN  ...   NaN     1         1      1
5          16     8     14    21   NaN  ...   NaN   NaN       NaN    NaN
6          40    26    216   148    15  ...    27    10         3     13
7          55    20    242   107     8  ...    14    37         1      2
8          35    22    146    81     9  ...    16     1         1      2
9          70    59    178   128    10  ...     6     2         1      6
10         37    23    325    71     5  ...    11    17        22      1
11         15    17    104    53     1  ...    15     9         2      6
12         36    11    111    39     1  ...     5    30         1    NaN
13         31     9    103    46     2  ...     8   NaN       NaN      5
14         30    25    211   107    10  ...    13     5         1      2
15         51    24     97    23   NaN  ...     8     5         2    NaN
16         26    15    127    54   NaN  ...     9     7       NaN      1
17         25    10    129    22   NaN  ...     6     1       NaN      1
18         37    21    121    15     2  ...     1     7         4      1
19         20    14     81    39   NaN  ...   NaN     3       NaN    NaN
20         24    16    102    85     3  ...    21     4       NaN      4
21         25    21     77    34    10  ...    10     6         1      1
22         55    25    268    97     7  ...    13     2       NaN      6
23          4     5     34    16   NaN  ...   NaN     2       NaN    NaN
24         39    11     82    26    17  ...     8     5         1      2
25        352   202   1155   689    31  ...    36   311         5     12
26         22    12     39    38   NaN  ...     8     1         3      1
27         63    18    187    85     1  ...     5    10         3    NaN
28         42    24     87    72     1  ...     1     7       NaN      1
29         31     6    106    53    11  ...     2     2       NaN      1
30         25    17    103    32     4  ...     5     4       NaN      7
31         35    15     79    50     2  ...     2     2         1    NaN
32          1     6     40    70   NaN  ...     4     2       NaN      4
33        102    17     45    63   NaN  ...   NaN   NaN       NaN    NaN
34         14     2     74    48     6  ...    10     1       NaN    NaN
35         19     5    121    45     1  ...   NaN    14         1      1
36         25     3     46    26     1  ...     1     3         1      1
37        161    82   1221   350    18  ...    46    27        33     13
38         25     9     43    22   NaN  ...   NaN   NaN       NaN    NaN
39        616    22    929   894     6  ...   262   436         1     15
40         73    28     70   117    18  ...    17    13         6      2
41          4     5     49    26    14  ...     1    17         1      4
42         18    36    131    89     9  ...    25     6         4      3
43         43    44    191   117    21  ...    30     4         3     14
44         49    35    235   111     5  ...    26    19         3      8
45          7     9     44    17     4  ...     9     2       NaN      1
46          6    13     28    35     9  ...     3   NaN       NaN      3
47         69    29    184   154    12  ...    68    12        12      8
48          7     8     21    19   NaN  ...     4     3       NaN      1
49         61    40    524   146    14  ...    14    13         1     15
50         13    10     55    35     1  ...     1     5       NaN      1
51       5273  2333  18724  9125   612  ...  1891  1935       218    329

   SUZUKI TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1      49          163        242     7     4    2077
2      37           82        180    24    10    2257
3      23          135         67     6     2     906
4       1           14          4     1     0     207
5       2            4         17   NaN     0     135
6      30          154        197    34     4    2035
7      26           85        134     8     4    1466
8      23           50         86    27     9    1093
9      40           57         43    14     2    1449
10     39           66        135    21     0    1530
11     22           27         67     5     3     745
12      7           18         20    12     0     597
13     12           63         48     8     1     754
14     28           50        124    13     3    1204
15     29            9         85     3     1     714
16     15           49         85    13     1     816
17      6            6         30     4     1     418
18     14           44         95     9     1     802
19      9           27         28   NaN     3     418
20     26           43         68    25     1     959
21     13           50         28     3     2     540
22     58           60         99     6     3    1330
23      3            9         11   NaN     2     173
24     10           31         50     7     4     616
25    134          846        609    83    32    8882
26     12           29         50     6     4     494
27     19           28         90     7     1    1157
28      7           35         86     6     0     688
29     20           22         53    10     2     535
30     25           26         70     5     0     611
31      3           28         22   NaN     0     429
32     22           17         13     8     0     281
33      5           21         28     1     0     486
34     20           18         35     2     0     570
35      6           26         41     7     0     553
36      2           19         38     4     3     376
37    107          341        307    31    27    5205
38      8           21         35   NaN     0     337
39     79         1009        486   218     6    9130
40     20          115        181    39     5    1641
41     19           22         35     2     1     443
42     35           68        114    16     1    1207
43     93          213        187    26     2    2142
44     25           72        115    23     4    1571
45     20            7         14   NaN     0     268
46     29           13         14     7     0     316
47     24           99        216    19     7    1909
48      6            4          9     1     0     168
49     50          169        143    42     8    2377
50     15           42         23     6     0     438
51   2632         7858       9713  1921   335  124976

[51 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2018_10.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(60, 37)>
{'accuracy': 100.0, 'whitespace': 12.52, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               RESIDENZA        NaN  NaN  NaN                 NaN        NaN
2               AGRIGENTO         11   14    3                  20         12
3             ALESSANDRIA         10   47   37                  31         51
4                  ANCONA         11   51   36                  50         61
5                   AOSTA        472   12   26                 432        186
6                  AREZZO          7   13   30                  41         37
7            ASCOLIPICENO          6    3   19                  20         11
8                    ASTI          2    7   29                  10         16
9                AVELLINO          2   21    4                  11         36
10                   BARI         16   30   37                  82         78
11  BARLETTA-ANDRIA-TRANI          2    1   16                  22          9
12                BELLUNO         11    8   21                  76         22
13              BENEVENTO          2    6    2                  15         10
14                BERGAMO         31   93   97                  83        158
15                 BIELLA          7   25   15                  15         17
16                BOLOGNA         28  121  114                 111        225
17          BOLZANO-BOZEN         11  650  221                 197         56
18                BRESCIA         37  121   87                  95        153
19               BRINDISI          3    8   14                  11         17
20               CAGLIARI         16   12   15                  29         38
21          CALTANISSETTA        NaN    3    6                   4         13
22             CAMPOBASSO          3    1    2                   8         10
23                CASERTA          8   11   23                  32         39
24                CATANIA          2   16   22                  27         42
25              CATANZARO          6   11   14                  29         35
26                 CHIETI          3    6   10                  32         26
27                   COMO         21   41   54                  50         57
28                COSENZA         12   34   14                  53         53
29                CREMONA          7   31   65                  24         50
30                CROTONE          1    2    2                   6         24
31                  CUNEO         19   27   38                  89        103
32                   ENNA        NaN    2    1                   3          6
33                  FERMO          4    6    5                  12          5
34                FERRARA          6   10   19                  27         22
35                FIRENZE        196  204  412                 226        192
36                 FOGGIA          1    4   10                  25         15
37          FORLI' CESENA          7    6   15                  30         36
38              FROSINONE         11    4   22                  40         36
39                 GENOVA          2   25   45                  24         22
40                GORIZIA          1    4    3                   7          3
41               GROSSETO          3    4    5                  12         17
42                IMPERIA          6    2    4                   8         22
43                ISERNIA          1  NaN    3                   7          3
44              LA SPEZIA          1   10    3                   8         16
45               L'AQUILA          8    1    4                  17         28
46                 LATINA          8    2   18                  40         50
47                  LECCE         14   29   26                  44         33
48                  LECCO         10    5   11                  22         24
49                LIVORNO          1   24   11                  28         25
50                   LODI          7    4   28                  21         28
51                  LUCCA         11   40   24                  44         50
52               MACERATA          5    9   22                  22         30
53                MANTOVA         11   32   32                  33         47
54          MASSA-CARRARA          3   32    6                  22         22
55                 MATERA          7    2    6                   9          3
56                MESSINA          9   14   28                  28         56
57                 MILANO         60  206  355                 253        494
58                 MODENA         38   49   87                  62        100
59  MONZA E DELLA BRIANZA         16  109   84                  82        127

   DACIA  FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1    NaN   NaN  NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2     10   103   19     4  ...     1     1       NaN    NaN      6
3     30   170   98     3  ...    15     1         1    NaN     44
4     24   188   59     5  ...    15     2         2      3     18
5     12  1891   57     4  ...    30    20       NaN      4     35
6     28   164   52     9  ...     4   NaN         3      2     18
7     15    91   18     3  ...     1     2         1    NaN      8
8     11    47   47     2  ...     1   NaN         1    NaN     11
9      7   100   29     2  ...     3   NaN       NaN      1      9
10    50   392  168    12  ...    19    15         5      2     50
11     5    55   17   NaN  ...     1     3       NaN      1     12
12    10   106   28     3  ...    13     2       NaN      7     35
13     7    64   15     1  ...     5     1         1    NaN      3
14   106   303  160    35  ...    37    15         6     11     41
15     7    66   43     7  ...     3   NaN       NaN      2     20
16   106   389  326    22  ...    45    29         6      6     69
17     8   803   88     1  ...   392     4       NaN      3     19
18    91   348  196    19  ...    42    29         2     11     56
19    15    98   31   NaN  ...     2     3       NaN      1      8
20    39   121  107     6  ...   NaN     9       NaN    NaN     21
21     5    46   13   NaN  ...   NaN   NaN       NaN    NaN      2
22     5    46   10   NaN  ...   NaN     1       NaN    NaN     11
23    18   144   54     5  ...     9     7       NaN      1      4
24    23   201   84     8  ...    29    14         3      1     55
25    14   155   49     1  ...     5     3       NaN    NaN     12
26    15   165   33     2  ...     2     7       NaN    NaN     12
27    55   301   89     6  ...    27    18         3      9     80
28    20   261  103     3  ...     8     3         1    NaN     23
29    25    73   49     5  ...     7     6         1    NaN     13
30     5    27    6   NaN  ...   NaN     3       NaN    NaN      4
31    38   246  121    18  ...    20    20         3      4     49
32     6    21    7   NaN  ...     2   NaN       NaN    NaN      3
33     4    42   18     2  ...     3     1         2    NaN      8
34    40    86   75     2  ...    17     5         1      2      9
35   114   816  418    19  ...   202   108         7      8     85
36    13    66   28     1  ...     1   NaN         3    NaN      5
37    52   155   81     5  ...    10     3         1      1     16
38    18   143   37     4  ...     1     7         1    NaN      9
39    29   173  186    17  ...     7    48         1      7     63
40    11    18   14     9  ...     3     4         2      1     24
41     8    59   36     3  ...    10     2       NaN      2     16
42     9    74   34     2  ...     3   NaN       NaN      1     23
43     1    13    6     1  ...     1   NaN       NaN    NaN      1
44    17    84   50     5  ...     3     2       NaN      1      9
45     7   117   27     2  ...     1     5         1    NaN     17
46    30   146   72     6  ...    12    20         1      2     13
47    42   174   70     2  ...     1     6       NaN    NaN     27
48    35   170   57     6  ...    28     7         1      3     38
49    37   122  144     3  ...    14     6         4      4     16
50    19    85   72     3  ...     4     3         2    NaN     11
51    55   208   84     1  ...    18     4         1      2     29
52    13   110   36   NaN  ...     5     6         1      3     19
53    24    53   56     3  ...    16     2       NaN      3     15
54    19   100   29     1  ...     9     3       NaN    NaN     11
55     4    53   20     2  ...   NaN   NaN       NaN    NaN      9
56    15   171   58     3  ...     7    12         1    NaN     16
57   295  1119  679    64  ...   129   337        29     36    257
58    79   368  149     4  ...    32     8         4     10     43
59    72   387  164    16  ...    38    36        12      6     61

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2             6         31     1     3    393
3            46         72    14     8   1040
4            46        113    17    17   1176
5            16         33    16     1   4186
6            45         85     8     1    862
7            13         26     1     3    401
8            13         48     7     1    433
9            16         37   NaN     1    447
10           78        136    18     8   1928
11           28         25     4     5    309
12           19         57     3     1    575
13            4         10   NaN     1    264
14          216        283    10    18   2897
15           29         57     3     2    485
16          275        271    75    11   3430
17           52        901   246     1   4399
18          189        295    35     6   3070
19            9         13     1     5    442
20           71         79     3     0    879
21            3         27   NaN     0    210
22           13         10     3     3    198
23           19         27     5     8    837
24           75         67     3     6   1241
25           25         64     3     0    652
26           23         65     4     2    700
27          155        190    12     1   1872
28           19         81     4     3   1020
29           51         69     9     3    876
30            4          6   NaN     0    134
31           72        127    28     8   1532
32            2          9     1     0    126
33           16         23     5     0    237
34           60         84    13     2    860
35          361        545   320     6   7104
36           37         17   NaN     8    418
37           54         97    23     0    970
38           30         65     7     0    689
39           99        191    17     3   1397
40           17         33     1     0    245
41           18         58     4     1    433
42           19         28     4     1    340
43            2          7     2     2     81
44           17         77     1     1    467
45           26         50     2    10    463
46           67         63     3     7    941
47           17        117    13     3   1211
48           71        100     1     2    934
49           39         88     9     0    930
50           20         51     5     3    607
51           57        103    11     5   1242
52           26         56     9     3    594
53           57         84    14     2    911
54           23         70     6     3    495
55            2         16   NaN     0    212
56           13         72     6     4    889
57          720        677    90    60   9315
58          125        129    54     8   2225
59          213        255    12    20   2786

[59 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(52, 37)>
{'accuracy': 100.0, 'whitespace': 13.41, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

              PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1            RESIDENZA        NaN   NaN   NaN                 NaN        NaN
2               NAPOLI         14    40    38                  80        106
3               NOVARA         17    70    30                  37         59
4                NUORO        NaN     1   NaN                   6         12
5             ORISTANO          4   NaN     3                   4         22
6               PADOVA         31    72    86                  62         55
7              PALERMO          6    35    25                  64         73
8                PARMA         15    47    47                  36         41
9                PAVIA         17     2    60                  43         56
10             PERUGIA         12    60    32                  55        102
11       PESARO URBINO          9    32    27                  42         42
12             PESCARA          6    10    30                  21         62
13            PIACENZA          8     8    19                  46         42
14                PISA          6    29    30                  47         49
15             PISTOIA          2    17    17                  17         35
16           PORDENONE          8    30    24                  25         57
17             POTENZA          5     3     3                  17         33
18               PRATO         12     7    27                  35         40
19              RAGUSA          6    10     3                  23         38
20             RAVENNA          5     6    11                  64         27
21  REGGIO DI CALABRIA          4     1     3                  28         25
22  REGGIO NELL'EMILIA          8    43    17                  62         86
23               RIETI          3     1     4                   7          9
24              RIMINI          5    30    23                  39         40
25                ROMA         45   103   309                 294        423
26              ROVIGO          4     5    29                   5         13
27             SALERNO         11    36    11                  61        102
28             SASSARI          8    10     3                  25         69
29              SAVONA          1     5     5                  15         27
30               SIENA          6     3    11                  30         37
31            SIRACUSA          6     4     7                  18         31
32             SONDRIO          7     4     4                  10          4
33        SUD SARDEGNA          5     3     4                  17        124
34             TARANTO          3    17    20                  15         23
35              TERAMO          8     7    10                  20         32
36               TERNI          2     6    10                  18         36
37              TORINO         87    78   139                 391        165
38             TRAPANI          4    16     2                   9         34
39              TRENTO        120   704   714                 143        404
40             TREVISO         25    55   109                  76         75
41             TRIESTE          2    11    40                  21         32
42               UDINE         14    29    47                  31         64
43              VARESE         10    54    71                  41         65
44             VENEZIA         30    33    35                 137        106
45            VERBANIA          4     6     1                  11         15
46            VERCELLI          2     6     5                  14         20
47              VERONA         33   362    73                  82        101
48       VIBO VALENTIA          2     3     2                  10          9
49             VICENZA         50    55    50                 144        108
50             VITERBO          5    11     9                  22         31
51              TOTALE       1911  4445  4641                5381       6418

   DACIA   FIAT   FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1    NaN    NaN    NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2     42    527    166    14  ...    33    54         2      1     48
3     43     94     92     3  ...    14   NaN         3      1     37
4      8     26     16   NaN  ...     4   NaN         3    NaN      3
5     14     13     24     1  ...   NaN   NaN         1    NaN      2
6     52    326    158    15  ...    44    15         6     11     37
7     31    261    106     8  ...    18    33         2      2     19
8     64    195     94    10  ...    19     2         2      3     31
9     59    229    159     5  ...     8     9       NaN      9     74
10    40    294     68    12  ...    13    12        22      3     30
11    35    132     78     1  ...    15     8         1      2     20
12     9     99     46     1  ...     7    18         6      2     14
13    20    117     47     6  ...     9     2         2      6     25
14    55    218    103    11  ...     9     1         1      1     33
15    39    102     24     4  ...    10     4       NaN      1     24
16    15     74     57     1  ...     6     3         3      1     29
17     9    170     13   NaN  ...     3     3       NaN    NaN     12
18    45    137     33     1  ...     2     8         1      2     21
19     9    108     40   NaN  ...     1     3         1    NaN      5
20    32    116     91    11  ...    24     3       NaN      1     23
21    30    110     39     8  ...    12     4         1    NaN      4
22    77    288     96     5  ...    17     2       NaN      2     43
23     7     63     17   NaN  ...     1     4       NaN    NaN      1
24    34     98     52    13  ...     9     7       NaN      3     23
25   341   1228    818    29  ...    50   347         8     11    200
26    21     43     31   NaN  ...     5     1         2      3      7
27    17    264     86   NaN  ...     9    11         1    NaN     23
28    32    116     69     2  ...     2     8       NaN    NaN      7
29    14    110     73    13  ...     1     5       NaN      3     27
30    17    100     40     5  ...     6     6         1      5     21
31    12     89     55     8  ...     2     2         3    NaN      5
32     5     55     73   NaN  ...    10     1       NaN      2     32
33    29     46     63     1  ...     1   NaN       NaN    NaN      4
34    25     67     39     6  ...    10     5       NaN    NaN     12
35    13    135     47   NaN  ...     1    16         2    NaN     11
36    25     70     38     2  ...     3     5       NaN      1      5
37   152   1232    510    29  ...    85    35        29     18    151
38    19     66     34     1  ...     1     2       NaN    NaN      3
39    20    832   1038     8  ...   195   369         3     16     57
40    52    100    134    12  ...    30    21         4     16     44
41     7     59     37    16  ...     5    13         3      8     29
42    24    126     75     8  ...    26     2         1      7     45
43   108    266    187    32  ...    39    10         3      9    119
44    60    301    141     4  ...    24    18         3      8     33
45    15     62     27     3  ...    12   NaN       NaN      1     29
46    19     37     42    11  ...     5   NaN         5    NaN     39
47    65    301    184    12  ...    73    27         9      8     34
48     5     41     15   NaN  ...   NaN     3       NaN      1      4
49    69    637    189    18  ...    21     7         5     14     64
50    28     70     38   NaN  ...     1     6         5      1     18
51  3835  22547  10578   722  ...  2208  1968       258    344   3182

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1           NaN        NaN   NaN   NaN     NaN
2            85        180    11    19    2552
3            64        124     4     6    1037
4            13         11   NaN     0     189
5             9         22     1     0     178
6           159        207    51     5    2450
7            75        148    13     5    1556
8            78         94    25    13    1354
9            92         77    14     3    1670
10           72        142    24     3    1562
11           18         82     6     6     877
12           30         43     4     1     660
13           59         48    14     3     833
14           54        145    18     3    1278
15           30         87     4     1     742
16           60         77    17     0     802
17            5         34   NaN     1     471
18           39        107    10     2     871
19           33         32     1     1     481
20           53         84    30     1    1072
21           44         46     4    10     616
22           73        122    17     7    1607
23            8         13     2     3     243
24           35         66    14     3     798
25          935        714    56    25   10396
26           39         56     5     1     471
27           34         96     5     2    1313
28           35         86   NaN     0     718
29           30         56     9     1     560
30           26         74    19     6     674
31           39         29   NaN     1     514
32            9         27     4     0     388
33           14         33     1     0     701
34           15         34     4     1     594
35           25         50     8     2     652
36           40         53     2     5     482
37          369        452    41    40    6040
38           25         37     1     0     441
39          525        615   199     4    9245
40          149        223    46     7    1947
41           31         31     2     0     531
42           76        119    18     0    1249
43          246        268    28     3    2723
44           94        172    24     4    2035
45           11         48     1     0     371
46           18         26     7     1     418
47          139        334    26    10    2899
48            3         13   NaN     0     192
49          166        161    49     7    2657
50           44         37    15     2     535
51         8163      12305  2020   499  146655

[51 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2018_11.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(61, 37)>
{'accuracy': 100.0, 'whitespace': 12.98, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               RESIDENZA        NaN  NaN  NaN                 NaN        NaN
2               AGRIGENTO          2   10    2                  26         21
3             ALESSANDRIA          8   48   38                  48         59
4                  ANCONA         15   49   44                  78         46
5                   AOSTA        365   19   24                 605        244
6                  AREZZO          8   11   27                  52         19
7            ASCOLIPICENO          4    1   11                  22         11
8                    ASTI          3    3   26                  18         11
9                AVELLINO        NaN    7    5                  21         40
10                   BARI         14   43   49                  64         69
11  BARLETTA-ANDRIA-TRANI          2    1   15                  17         15
12                BELLUNO          6    2   10                 110         35
13              BENEVENTO          3    3    3                  22         10
14                BERGAMO         17  109  100                  41        141
15                 BIELLA          7   27   11                  23         12
16                BOLOGNA         16  103  110                 128        186
17          BOLZANO-BOZEN        227  719   51                 438         63
18                BRESCIA         33  113   50                 126        142
19               BRINDISI          2    2   13                  17         14
20               CAGLIARI          9    7   16                  36         38
21          CALTANISSETTA          1    2    4                  10         14
22             CAMPOBASSO          2    2    3                   7         24
23                CASERTA          6   11   26                  56         27
24                CATANIA          5   56   26                  45         53
25              CATANZARO          7   19   10                  37         39
26                 CHIETI          6    6   20                  30         32
27                   COMO         13   54   53                  91         39
28                COSENZA          7   33   15                  57         54
29                CREMONA          3   39   52                  25         48
30                CROTONE          2    4    5                   8         26
31                  CUNEO         14   28   48                 121         76
32                   ENNA        NaN    6    1                   7          9
33                  FERMO          2    9    4                   9          8
34                FERRARA         12    9   34                  33         29
35                FIRENZE        138  304  329                 394        215
36                 FOGGIA          3    1   12                  31         23
37          FORLI' CESENA          6   13   18                  54         27
38              FROSINONE          9    2   23                  42         36
39                 GENOVA          5   37   51                  48         27
40                GORIZIA          2    6    3                   2        NaN
41               GROSSETO          5    3    3                  19         12
42                IMPERIA          1    2    4                  11         25
43                ISERNIA        NaN  NaN    1                   4          3
44              LA SPEZIA          5    6   10                  19         12
45               L'AQUILA          3    3    9                  16         19
46                 LATINA          8    2   22                  52         29
47                  LECCE         13   36   23                  50         19
48                  LECCO         13    8   18                  51         24
49                LIVORNO          1   29   14                  36         21
50                   LODI          3   13   22                  30         25
51                  LUCCA          9   57   23                  54         46
52               MACERATA          7    9   26                  21         26
53                MANTOVA          5   43   34                  28         52
54          MASSA-CARRARA          5   46    6                  40         10
55                 MATERA          3  NaN    5                   9          3
56                MESSINA         10   22   24                  37         47
57                 MILANO         62  235  369                 349        401
58                 MODENA         26   60   80                  54         92
59  MONZA E DELLA BRIANZA         35  105   96                 121        168
60                 NAPOLI         14   49   60                 133        125

   DACIA  FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1    NaN   NaN  NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2     17   106   12   NaN  ...     1     3       NaN    NaN      3
3     63   167   75     5  ...    11     4         1    NaN     34
4     45   208   66     7  ...    12     5         3      4     30
5     10  1242   46     3  ...    22    15         2      1     34
6     41   156   56    12  ...     7     9         3      2     16
7     22    83   18   NaN  ...     5   NaN         3      1      7
8     46    45   40   NaN  ...     1     9         1    NaN     14
9     30    98   36   NaN  ...   NaN     1       NaN    NaN      1
10    93   389  157    13  ...    16    23         2      1     51
11    19    54   23     1  ...     2     1       NaN    NaN      5
12    21   111   30   NaN  ...     6   NaN       NaN      5     35
13    41    58   15     1  ...     5     1         2    NaN     10
14   159   280  160    36  ...    32    18         4      4     71
15    25    62   41    10  ...     1     1         2    NaN     25
16   133   418  221    26  ...    35    41         4     14     87
17    18   570  157   NaN  ...   337     3       NaN      2     11
18   162   302  210    17  ...    36    33         2     12     55
19    20    80   25   NaN  ...   NaN     2         1    NaN     13
20    64   111   84     7  ...   NaN     9       NaN      1     13
21    14    48    6   NaN  ...     1   NaN       NaN    NaN      5
22     5    47   12   NaN  ...     2   NaN         1      2     14
23    55   148   52     2  ...    14     4       NaN      1     12
24    60   171   54    10  ...    27    35       NaN    NaN     38
25    19   111   36     1  ...     1     2       NaN      1     15
26    17   160   45     4  ...     5     3         3      1     13
27    93   272   93    12  ...    26    12         6      8     61
28    11   242   80     1  ...     6     9         1    NaN     18
29    40    74   59     8  ...     5     6       NaN      2     21
30     5    34    6   NaN  ...   NaN   NaN       NaN    NaN      5
31    79   246  119    18  ...    15    19         2      5     52
32     6    22    4     1  ...     1     1       NaN    NaN      1
33     7    50   15     3  ...   NaN     2         2      2      2
34    68    83   76     4  ...    21     6         2      3     22
35   130  1412  319    21  ...   152   103        10      8     71
36    30    77   20     2  ...     1   NaN       NaN    NaN     10
37    61   161   78    12  ...    11     2       NaN      1     25
38    33   152   39     3  ...     4     7       NaN      1      7
39    57   208  125    12  ...     7    40         1      4     64
40    20    13   17    10  ...     3     2         1      2     19
41    31    46   26     2  ...    11   NaN         1      3     23
42     8    67   25     3  ...     6     1       NaN      2     11
43     5    16    3   NaN  ...     1   NaN       NaN    NaN      4
44    27    92   39     5  ...     2     3       NaN      1      8
45    20   140   16   NaN  ...     4     2         2    NaN     17
46    53   157   66     3  ...    13    10       NaN    NaN     14
47    75   164   63     1  ...     2     6         2    NaN     27
48    36   165   58     3  ...    22     8       NaN      8     38
49    39   110   99     4  ...    13     2         5      4     25
50    26    80   66     3  ...     3     3         2      1     12
51    82   212   75   NaN  ...    20     2         2    NaN     22
52    24    98   51     1  ...     4     2         1      2     23
53    63    58   58   NaN  ...    22   NaN         3      2     13
54    25   108   30     2  ...     8     3         2    NaN      8
55    14    63   18     1  ...     2   NaN       NaN    NaN      6
56    38   175   53   NaN  ...    11    13         2    NaN     10
57   429  1037  600    70  ...   120    70        16     30    250
58   118   403  123     2  ...    34     7       NaN      6     61
59   130   337  138    17  ...    28    25        12      5     62
60   156   519  152    13  ...    28    42         2      2     40

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2             6         38     1     1    410
3            56         78    18     2   1077
4            39        122    19    15   1182
5            22         44     2     0   3146
6            41         84    10     3    856
7            15         18     3     0    433
8            14         30     7     1    450
9             9         35   NaN     2    447
10           54        129    35     3   1888
11           17         24     1     2    296
12           18         31     4     0    592
13            5         11     2     1    323
14          232        284    20    21   2824
15           28         41     4     0    467
16          270        257    66     7   3265
17           46       1355    48     2   4886
18          199        312    41    12   3145
19            4         15     2     2    399
20           57         60     3     0    779
21            4         14   NaN     0    217
22            5          7     1     1    205
23           16         35     7     7    839
24           59         64     1     1   1201
25           23         59     2     0    593
26           26         80     1     1    777
27          161        183    17     5   1894
28           21         84     6     4    936
29           65         78    10     6    966
30            2         13   NaN     0    153
31           85        131    25    10   1589
32            2          7   NaN     0    123
33           13         20     1     3    281
34           71         76     6     2    926
35          272        648   425    10   7403
36           43         22     7     5    473
37           35        101    17     0    971
38           29         69     5     0    724
39          118        149    15     4   1476
40           13         33     3     0    245
41           15         65     4     0    433
42           15         21     4     1    313
43          NaN          3     2     3     73
44           20         81     3     0    505
45           26         52     1    10    536
46           66         66     5     4    927
47           18         81    11     4   1232
48           66        106     3     2   1013
49           38         99     4     0    847
50           28         55     1     2    621
51           53         90    13     2   1266
52           27         66     9     4    592
53           40         74    15     2    885
54           10         59     1     1    496
55            2         19     2     2    242
56           25         66     7     1    880
57          681        648   100    42   8841
58          143        142    38     9   2239
59          224        241    22    16   2775
60           72        149    18    16   2600

[60 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(50, 37)>
{'accuracy': 100.0, 'whitespace': 11.51, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

              PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               NOVARA         14    83    26                  41         54
2                NUORO          2     3   NaN                  11         18
3             ORISTANO          3     1     1                   9         16
4               PADOVA         23    85    88                 109         62
5              PALERMO          2    24    15                  83         56
6                PARMA         13    63    47                  47         40
7                PAVIA         16    11    65                  61         72
8              PERUGIA         15    63    40                  77         64
9        PESARO URBINO          9    33    22                  35         29
10             PESCARA          5    18    17                  31         45
11            PIACENZA          6     7    21                  53         37
12                PISA          6    37    43                  61         45
13             PISTOIA          4    11    23                  47         53
14           PORDENONE          3     2    21                  36         18
15             POTENZA          4     7     3                  29         69
16               PRATO         15    16    52                  48         43
17              RAGUSA          5     9     1                  40         31
18             RAVENNA          3     8    20                  56         24
19  REGGIO DI CALABRIA          6     5     4                  23         28
20  REGGIO NELL'EMILIA         10    21    38                  60         68
21               RIETI          1     2   NaN                  12          6
22              RIMINI          5    52    24                  42         45
23                ROMA         67   114   301                 326        415
24              ROVIGO          1    10    38                  12         23
25             SALERNO          9    44     9                  64         99
26             SASSARI          1     8     5                  34         62
27              SAVONA          2     4    14                  21         30
28               SIENA          4    33    13                  19         38
29            SIRACUSA          3     9    11                  28         42
30             SONDRIO          2     3     7                  13          5
31        SUD SARDEGNA          9     3     2                  23         78
32             TARANTO          5    19    17                  24         12
33              TERAMO          7     6    17                  43         32
34               TERNI          3     4    21                  19         39
35              TORINO         52   140   133                 336        173
36             TRAPANI          2    13     1                  15         24
37              TRENTO        119   460   751                 259        435
38             TREVISO         27    24    74                  86         77
39             TRIESTE        NaN    22     9                  22         19
40               UDINE         18    56    36                  40         56
41              VARESE         20    58    76                  81         62
42             VENEZIA         37    26    36                 179         80
43            VERBANIA          2     7     3                  18          9
44            VERCELLI        NaN     4    11                  12         11
45              VERONA         35   196    58                  78         92
46       VIBO VALENTIA          2     2     3                  16          9
47             VICENZA         39    63    50                 123        115
48             VITERBO          3    11    11                  31         29
49              TOTALE       1851  4546  4469                7066       6130

   DACIA   FIAT  FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1     59    100    56     4  ...    24     2         1    NaN     37
2     17     25    13   NaN  ...   NaN   NaN         3    NaN      3
3     14     14    15     1  ...   NaN   NaN         1    NaN      3
4     91    312   133    12  ...    41    24         2     15     46
5    107    276    92     8  ...    17    31       NaN      1     15
6     68    145    86    16  ...    14     3         3      9     30
7     90    192   132     6  ...    10     5         1      5     55
8     51    302    75     2  ...    18    13        22      2     36
9     61    127    53   NaN  ...    11     7         1      3     28
10    17    125    32   NaN  ...     5    14         1      2     13
11    48    120    42     4  ...    12     1       NaN      5     18
12    71    233   108     8  ...    13     5         1      1     30
13    59    109    21     2  ...    12     5         1      1     35
14    28    108    58     3  ...    16     1         1      2     28
15    19    143    15   NaN  ...     6     2       NaN    NaN     11
16    40    136    12     2  ...     3     9         1      1     16
17    15    100    36     3  ...     3     2         1    NaN     15
18    67    119    82     5  ...    22     7         1      4     33
19    40    127    36    10  ...    12     6       NaN      1      9
20   100    276    77     6  ...    18     2       NaN      4     54
21    17     40    22   NaN  ...   NaN     1       NaN    NaN      3
22    54    119    43    15  ...    17     7         1      3     12
23   564   1260   647    28  ...    51   320         6      8    193
24    20     33    36   NaN  ...    11     2       NaN      1     11
25    56    239    99     3  ...     8    12         1    NaN     27
26    52     88    65     1  ...     4   NaN         1    NaN      3
27    28    119    36    10  ...     4     8       NaN      2     30
28    39    106    39     6  ...     4     3         1      5     17
29    37     90    44     3  ...   NaN     3       NaN    NaN      3
30     7     37    19   NaN  ...     9     1       NaN      3     37
31    40     51    61     2  ...   NaN     1       NaN    NaN      9
32    45     82    40     5  ...    10     1       NaN    NaN     14
33    16    144    46     1  ...   NaN    10         1    NaN     11
34    27     70    25   NaN  ...     1     1         3      1      8
35   272   1209   434    37  ...    75    31        21     10    132
36    19     67    26     3  ...     1     3       NaN    NaN      3
37    43    870   928    18  ...   206   375         2     20     67
38    94    120   130     5  ...    24    16         2     11     53
39    14     63    25    14  ...     2    13         3      5     26
40    48    148    72    12  ...    25     8         5      3     46
41   141    218   145    22  ...    37     8       NaN     13    108
42   109    321   124    10  ...    26    15         2     10     38
43    17     51    28     6  ...     8     2       NaN      2     25
44    16     41    36     8  ...     6     1         2      1     29
45   113    305   173    15  ...    85    31        13      8     38
46     8     39    20   NaN  ...     1     5       NaN    NaN      4
47    88    636   146    19  ...    22     4         2     18     64
48    35     91    44     1  ...     2     8         1      2     10
49  6319  22064  9213   728  ...  2081  1659       219    336   3200

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1            62        127     3     2    1014
2            12         20     1     0     209
3             6         16   NaN     0     174
4           185        218    51     4    2594
5            88        123     4     8    1561
6            87        104    25    12    1319
7            77         84    17     3    1519
8            76        135    65     2    1649
9            42         99     8     4     902
10           26         37     4     3     622
11           56         37    17     0     834
12           57        148    27     0    1399
13           18         79     4     2     885
14           68         51    11     0     732
15           11         32     1     0     578
16           34        107     9     0     956
17           33         26     2     1     476
18           59         82    33     1    1081
19           52         48     4     6     671
20           88        101    10     4    1545
21           13         11   NaN     0     232
22           40         47    14     0     837
23          944        678    70    17    9751
24           25         66     8     2     510
25           24         86     1     2    1266
26           28         70     5     0     686
27           33         62    13     1     615
28           32         98    11     0     751
29           27         31   NaN     1     536
30           15         18     4     1     263
31           14         40   NaN     0     824
32           15         37     3     0     591
33           24         37     5     1     643
34           22         44     1     3     444
35          383        420    63    35    5869
36           24         37   NaN     0     398
37          536       1478   190     4   10234
38          177        195    35     6    1960
39           47         27     3     0     488
40           72        119    24     2    1359
41          258        244    37     3    2687
42          101        208    27     4    2095
43           13         31     3     1     347
44           18         16     9     0     351
45          144        314    29     8    2845
46            4          9   NaN     0     210
47          191        167    53     3    2710
48           32         35     4     5     596
49         8157      13323  2006   405  146991

[49 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2018_12.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(63, 37)>
{'accuracy': 100.0, 'whitespace': 14.46, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               RESIDENZA        NaN  NaN  NaN                 NaN        NaN
2               AGRIGENTO          1   23    5                  18         13
3             ALESSANDRIA          5   21   31                  45         52
4                  ANCONA         11   71   33                  67         46
5                   AOSTA        440   40   38                 571        145
..                    ...        ...  ...  ...                 ...        ...
58                 MODENA         25   57   79                  60         87
59  MONZA E DELLA BRIANZA         40   96   76                 106        102
60                 NAPOLI         11   49   49                 107        103
61                 NOVARA          9   61   30                  22         31
62                  NUORO          7    1    2                  11         16

   DACIA FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1    NaN  NaN  NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2     22   52   18     1  ...   NaN     1         1    NaN      2
3     40  156   69     5  ...     7     1       NaN      3     17
4     48  173   39     8  ...    14     1         1      1     21
5      7  960   40     2  ...    11    29       NaN    NaN     23
..   ...  ...  ...   ...  ...   ...   ...       ...    ...    ...
58    84  352  113     1  ...    25     5         2      4     39
59   101  275  116    13  ...    30    39         8      4     36
60   129  379  112    10  ...    35    25       NaN    NaN     51
61    80   92   50     3  ...    27   NaN       NaN      2     22
62    12   29   12     1  ...   NaN   NaN       NaN    NaN      1

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2             6         49   NaN     2    334
3            39         79    10     0    860
4            33         88     8    10    985
5            12         42    20     0   2857
..          ...        ...   ...   ...    ...
58          115        123    79     8   1934
59          129        255    16    18   2377
60           44        166    13    16   2139
61           32        121     4     4    869
62           12         14   NaN     0    199

[62 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(48, 37)>
{'accuracy': 100.0, 'whitespace': 12.61, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

              PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1             ORISTANO          1     1     1                  10         16
2               PADOVA         31    88    66                 106         71
3              PALERMO         13    41    10                  84         48
4                PARMA          4    75    54                  44         36
5                PAVIA         12    10    48                  68         53
6              PERUGIA         18    60    29                  67         71
7        PESARO URBINO         11    45    25                  48         44
8              PESCARA          7    11    18                  30         43
9             PIACENZA          7     8    22                  40         40
10                PISA          5    44    40                  64         25
11             PISTOIA          1    29    24                  35         44
12           PORDENONE         11     4    10                  37         25
13             POTENZA          6     3     4                  43         51
14               PRATO          5    13    38                  57         34
15              RAGUSA          3    19   NaN                  34         28
16             RAVENNA         17    19    16                  79         22
17  REGGIO DI CALABRIA          7    11    10                  33         25
18  REGGIO NELL'EMILIA         13    34    41                  52         83
19               RIETI        NaN     2     3                   6          8
20              RIMINI          6    29    24                  40         35
21                ROMA         40   136   234                 302        256
22              ROVIGO          4     1    16                   9         13
23             SALERNO          9    67     9                  78        101
24             SASSARI          6     8     2                  23         43
25              SAVONA          6     5     8                  24         29
26               SIENA          4    22    10                  30         41
27            SIRACUSA          4     8    10                  20         32
28             SONDRIO        NaN     3     5                   8          7
29        SUD SARDEGNA          6     6     4                  25        170
30             TARANTO          4     6    17                  23         17
31              TERAMO          3     9    13                  31         22
32               TERNI          6     8    10                  20         33
33              TORINO         65   115   118                 285        159
34             TRAPANI          4    21     2                  16         30
35              TRENTO        113   606   538                 243        540
36             TREVISO         33    31    28                  83         62
37             TRIESTE          2    10     9                   6         15
38               UDINE          6    55    14                  39         83
39              VARESE         15    99    72                  48         68
40             VENEZIA         43    29    25                 176         64
41            VERBANIA          3     1     6                  17          7
42            VERCELLI          2     3     7                  13         10
43              VERONA         26   174    82                  75        103
44       VIBO VALENTIA        NaN     3     4                  15          6
45             VICENZA         37    87    46                 207         91
46             VITERBO          4    11     7                  31         31
47              TOTALE       1919  4743  3546                6664       5471

   DACIA   FIAT  FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1     18     11    10   NaN  ...   NaN   NaN         1    NaN      1
2     78    264   149    11  ...    39    13         2      4     27
3     79    197    69     2  ...    18    36         1      3     16
4     53    144    60     8  ...     6   NaN       NaN      4     25
5     90    185   108     4  ...     8     4       NaN      3     27
6     48    303    54     7  ...    11    21        10      3     23
7     53    138    46     1  ...    19     6         1      1      7
8     15    133    31     1  ...     4    12         5      1     18
9     71    111    37     3  ...    12   NaN       NaN      2     10
10    62    175    83     9  ...    14   NaN       NaN      1     20
11    50    112    22     1  ...    10     5       NaN    NaN     25
12    24    100    52     1  ...    18     1         2      2     24
13    17    148    15     1  ...     2     2       NaN    NaN     11
14    36    109    27     4  ...     6     6       NaN    NaN     16
15    22     88    29   NaN  ...   NaN     2       NaN    NaN     12
16    57    127    72     4  ...    22   NaN         1      1     34
17    36    117    37     3  ...     7     6         1    NaN     16
18    49    268    56   NaN  ...    14     7         1      8     42
19    19     39    15   NaN  ...   NaN     1       NaN    NaN      2
20    31     89    36    10  ...     9     4         1      2      6
21   408   1029   552    30  ...    36   160         8      6    116
22    21     26    27   NaN  ...    10   NaN         1      2     15
23    52    213    56   NaN  ...     7     4         1    NaN     23
24    44     96    61     1  ...   NaN    11       NaN    NaN      6
25    19    150    34     9  ...     1     2       NaN      3     25
26    42     92    23     1  ...     4     2         2      2     29
27    38     79    48   NaN  ...     2     3         1    NaN      5
28     7     46    16   NaN  ...     6   NaN       NaN      2     10
29    26     57    36   NaN  ...   NaN     1       NaN    NaN      6
30    28     70    24     3  ...     7     2       NaN    NaN      8
31    18    121    23     1  ...     3    12         1      1     18
32    27     58    18   NaN  ...     1     2         1    NaN      5
33   218   1192   359    24  ...    61    16        17      7    107
34    20     58    19     1  ...     2     4       NaN    NaN      3
35    51    914   733    60  ...    98   131         7      6     34
36    67     89   115    12  ...    21    11         1      6     21
37    12     58    15     7  ...     1    12         5      4     17
38    59    150    74     6  ...    16     4       NaN      3     42
39   122    202    99    22  ...    35     2       NaN     12     83
40    84    291   112     2  ...    33    10         1      7     21
41    14     42    17     1  ...    14   NaN       NaN      1     12
42    14     46    35     1  ...     5   NaN         1    NaN     28
43    94    226   142     8  ...    89    10         3      5     24
44    14     35    11   NaN  ...     1     1       NaN    NaN      4
45    79    454   130     8  ...    20     7         1     15     52
46    27     68    44   NaN  ...   NaN     3       NaN    NaN     16
47  5426  18710  7514   525  ...  1679  1379       146    204   2435

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1             4         12   NaN     0     129
2           138        231    26     9    2277
3            57        120     7     5    1325
4            49         87    18     7    1110
5            45         62     7     4    1217
6            47        142    33     3    1447
7            33         80     5     3     849
8            17         39     6     4     617
9            33         39    11     0     744
10           33        144    13     3    1182
11           19         70     4     2     951
12           34         68    16     0     740
13            3         37     1     0     521
14           36         91     2     0     784
15           20         42     1     1     473
16           37         66    14     1     975
17           26         35     4     4     579
18           59         85     5     5    1390
19            5         10     2     0     177
20           26         53    11     2     700
21          668        589    49    26    7688
22           21         49     3     1     374
23           18         79   NaN     1    1162
24           23         72   NaN     0     614
25           25         55    10     0     531
26           18         80     5     0     676
27           20         19     1     3     482
28           13         32     4     1     241
29           11         39     1     0     761
30           11         30     2     1     518
31           24         33     3     1     508
32            8         46     3     0     363
33          244        465    43    13    4975
34           15         30     1     1     395
35          262        385   146     8    7489
36          112        175    17     5    1576
37           32         39     2     0     390
38           56        131    22     1    1284
39          154        177    24     4    2127
40           78        183    10     9    1805
41           13         21   NaN     1     264
42            7         15     5     0     278
43          110        615    13     6    2482
44            4         10   NaN     0     199
45          126        180    30     6    2275
46           18         24     2     7     492
47         5431      11424  1540   366  124078

[47 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'INFINITI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2019_1.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(62, 37)>
{'accuracy': 100.0, 'whitespace': 11.99, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               RESIDENZA        NaN  NaN  NaN                 NaN        NaN
2               AGRIGENTO          8   12    4                  28         27
3             ALESSANDRIA         15   25   44                  43         67
4                  ANCONA         25   36   30                  40         74
5                   AOSTA        482   24   23                 549        479
..                    ...        ...  ...  ...                 ...        ...
57                 MILANO         97  238  381                 226        644
58                 MODENA         39   56   75                  35        124
59  MONZA E DELLA BRIANZA         51   78   75                  82        189
60                 NAPOLI         30   53   58                  76        150
61                 NOVARA          9   27   22                  21         64

   DACIA  FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1    NaN   NaN  NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2     33    92   30   NaN  ...     3   NaN       NaN    NaN      3
3     66   173  103     5  ...    10     2         1      1     55
4     60   192   58    16  ...    18     9         6      1     11
5     14  2091   39   NaN  ...     9    20       NaN      1     33
..   ...   ...  ...   ...  ...   ...   ...       ...    ...    ...
57   594  1028  651    80  ...   118    73        10     28    286
58   140   361  148     3  ...    23     6         1      4     49
59   159   334  141    32  ...    40    23         7      3     68
60   139   516  197     9  ...    16    50         2      3     48
61    56   103   69     9  ...     2   NaN       NaN    NaN     49

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2             9         55     2     1    506
3            41         74    18     6   1140
4            28        133     8    10   1167
5            15         38    16     0   4949
..          ...        ...   ...   ...    ...
57          699        829    91    51   9810
58          137        175    30    14   2273
59          203        263    23    11   2925
60           99        168    13    14   2717
61           53         89     5     3    933

[61 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(49, 37)>
{'accuracy': 100.0, 'whitespace': 11.47, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

              PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1                NUORO          4     4     1                   8         28
2             ORISTANO          2     2     1                   7         30
3               PADOVA         36    40    89                  68        150
4              PALERMO         14    40     6                  77         77
5                PARMA          9    43    54                  24         45
6                PAVIA         24    15    53                  52         86
7              PERUGIA         16    38    44                  72         82
8        PESARO URBINO          7    23    20                  18         46
9              PESCARA        NaN    24    13                  27         67
10            PIACENZA         10    13    20                  41         49
11                PISA         13    34    41                  62         49
12             PISTOIA          8     9    18                  32         75
13           PORDENONE         10    15    26                  24         41
14             POTENZA          5     1     6                  26         61
15               PRATO         11    16    47                  49         59
16              RAGUSA          6    10     3                  31         47
17             RAVENNA          7    28    17                  69         37
18  REGGIO DI CALABRIA         13    13     4                  34         43
19  REGGIO NELL'EMILIA         16    26    41                  56        101
20               RIETI          3     3     5                   4         10
21              RIMINI          8    15    20                  24         57
22                ROMA        100   149   289                 192        428
23              ROVIGO          8    14    28                  11         33
24             SALERNO         14     9     9                  55        149
25             SASSARI          4     6     4                  36         78
26              SAVONA          8     4     7                  22         49
27               SIENA          9    19     8                  31         58
28            SIRACUSA          5     5    11                  18         41
29             SONDRIO          7     4     8                   9          7
30        SUD SARDEGNA          4     3     4                  15        233
31             TARANTO          5    14    16                  28         23
32              TERAMO          9     4     6                  29         29
33               TERNI          5     8    10                  14         59
34              TORINO         78    85   120                 298        228
35             TRAPANI          5    13     1                  15         34
36              TRENTO        132   716  1050                 507        617
37             TREVISO         45    62    53                  88         88
38             TRIESTE          8    18    15                  31         29
39               UDINE         27    43    42                  34        116
40              VARESE         24    45    83                  66         90
41             VENEZIA         38    40    24                 143        107
42            VERBANIA          6     7     6                  11         18
43            VERCELLI          4     6     4                  17         27
44              VERONA         38   135    75                  59        172
45       VIBO VALENTIA          3     4     3                  11          9
46             VICENZA         49    36    50                 132        128
47             VITERBO         10     4     9                  20         35
48              TOTALE       2473  4087  4894                6249       9168

   DACIA   FIAT   FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1     14     29     10   NaN  ...     1   NaN         4    NaN      2
2     15     16     16   NaN  ...   NaN   NaN         1    NaN      6
3    126    361    177    17  ...    31    21         5     14     51
4    116    250    111     8  ...    17    28         1      4     13
5    101    149    103    12  ...    12   NaN         3      5     37
6    129    223    171     4  ...     7     6         1      4     78
7     74    325     89     7  ...     9    18        19      1     42
8     73    126     83     4  ...     9     8         2      2     27
9     20    109     42   NaN  ...     5    15         5    NaN     12
10    49    134     55     6  ...     9   NaN         1      2     29
11    75    274    138    11  ...     8     4         1    NaN     34
12    77    127     25     3  ...    10     3       NaN      1     30
13    43    100     79     4  ...    17     1         1    NaN     24
14    18    118     19   NaN  ...     7     3       NaN    NaN     15
15    47    140     37     3  ...   NaN     7         1    NaN     17
16    36     89     45   NaN  ...   NaN     1         2    NaN      5
17    68    140    100     4  ...    22     7       NaN      2     28
18    47    106     43     7  ...    10     6         1    NaN      8
19   110    248    106     7  ...    17     6       NaN      2     36
20    18     43     19   NaN  ...   NaN     6       NaN    NaN     10
21    60    108     53     7  ...    17     7         2    NaN     37
22   594   1236    858    51  ...    26   436         9     13    191
23    31     33     51     1  ...     3     1         2      3      7
24    61    229    104     2  ...     4    17         2    NaN     17
25    59     86     75   NaN  ...     4     6       NaN      1      9
26    33    118     54    10  ...     1     4         1    NaN     28
27    60    111     40     1  ...     9     2         1      3     19
28    47     88     63     2  ...     3     5         2    NaN      4
29    16     63     22   NaN  ...    11     6       NaN      3     47
30    45     53     75     2  ...   NaN     3       NaN    NaN      2
31    38     82     51     5  ...     3     1       NaN    NaN     13
32    27    157     56     1  ...     3    10         2    NaN      7
33    35     83     25     3  ...   NaN     2         6    NaN      3
34   420   1561    468    27  ...    53    41        25      5    181
35    24     81     23   NaN  ...   NaN     3       NaN    NaN      5
36    67   1578    943    17  ...   397   414         6     19     74
37   126    129    180    10  ...    30    23         1      9     61
38    22     47     25    12  ...   NaN    19         1    NaN     36
39    48    144     79    12  ...    21    15         2      2     44
40   213    263    121    21  ...    42    11         3     10    130
41   110    290    168     6  ...    29    16         1      4     38
42    23     61     23     3  ...     2   NaN       NaN      1     33
43    30     71     50    10  ...     3   NaN         1    NaN     45
44   141    232    211     8  ...   111    21        10      8     51
45    14     31     23   NaN  ...   NaN   NaN       NaN    NaN      4
46   123    704    223    17  ...    22    18         2      7     72
47    44     76     50     1  ...     1    13       NaN    NaN      9
48  7728  24445  11152   747  ...  2027  1792       211    229   3388

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1            25         14     1     0     222
2             3         19     1     0     181
3           180        286    27     6    3091
4            69        154     5     3    1561
5            65        117    26     8    1360
6            74         98    13     5    1668
7            61        197    33     4    1713
8            49         99     7     5     979
9            28         38     8     0     650
10           44         56    12     2     861
11           73        179    14     4    1608
12           27        119     7     2     924
13           71         48    10     0     789
14            3         39     1     0     537
15           55        112     6     3    1044
16           34         46     2     0     522
17           44        121    21     0    1223
18           59         29     3     2     658
19           75        134    16     7    1672
20           11         17     1     0     255
21           46         83    10     1     876
22          929        806    82    30   10250
23           33         78     2     4     562
24           31        105     5     1    1359
25           29        105     3     1    1086
26           23         84     3     2     642
27           36         84    11     0     791
28           21         36   NaN     1     559
29           12         22     4     0     336
30           16         47   NaN     0     782
31           14         38     1     1     621
32           28         47     6     1     686
33           13         64     2     2     514
34          385        592    37    29    6560
35           21         54   NaN     0     440
36          849       1046   193    31   12236
37          146        268    29     3    2167
38           33         52     4     1     538
39           84        151    28     1    1498
40          246        305    25     0    2856
41           95        205    21    10    2164
42            5         37   NaN     0     372
43           26         36    14     0     506
44          142        344    20     8    2741
45           12          8     1     0     209
46          167        227    35     2    2930
47           39         36     4     5     589
48         8356      14865  1704   421  164864

[48 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2019_2.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(60, 37)>
{'accuracy': 100.0, 'whitespace': 9.01, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI  BMW CHRYSLER/JEEP/DODGE  \
1               AGRIGENTO          3    10    4                  27
2             ALESSANDRIA          5    53   60                  53
3                  ANCONA         20    42   34                  53
4                   AOSTA        463    25   22                1557
5                  AREZZO          9    12   19                  51
6            ASCOLIPICENO          5     4   19                  21
7                    ASTI          6    10   21                  26
8                AVELLINO          9    32    6                  25
9                    BARI         12    31   43                 101
10  BARLETTA-ANDRIA-TRANI          4     4   14                  13
11                BELLUNO          7    10   17                  60
12              BENEVENTO          5     2    3                  18
13                BERGAMO         28   144   94                  76
14                 BIELLA          6     4   16                  29
15                BOLOGNA         31    93  116                 134
16          BOLZANO-BOZEN         76  1714  881                1137
17                BRESCIA         29   131   75                 117
18               BRINDISI          2     5   12                  16
19               CAGLIARI          9    21   25                  39
20          CALTANISSETTA          1     3    7                  13
21             CAMPOBASSO          3     2    5                  13
22                CASERTA         16    14   26                  50
23                CATANIA          7    24   37                  42
24              CATANZARO          7    24   17                  40
25                 CHIETI          9     9   23                  41
26                   COMO         21    65   49                 108
27                COSENZA          6    34   17                  56
28                CREMONA          6    42   37                  26
29                CROTONE        NaN     1    1                  16
30                  CUNEO         18    48   55                 126
31                   ENNA          2   NaN  NaN                   8
32                  FERMO          8     4    4                  17
33                FERRARA         11     9   25                  45
34                FIRENZE        225   305  454                 338
35                 FOGGIA          6     7    9                  32
36          FORLI' CESENA          3    16   22                  32
37              FROSINONE         13     7   32                  40
38                 GENOVA          9    41   49                  44
39                GORIZIA          4     1    2                   7
40               GROSSETO          8     7    2                  26
41                IMPERIA        NaN     5   10                   9
42                ISERNIA        NaN     1    4                   4
43              LA SPEZIA          5     7   15                  20
44               L'AQUILA          8     4    4                  35
45                 LATINA          5     9   20                  44
46                  LECCE          5    16   32                  69
47                  LECCO         18    21   40                  60
48                LIVORNO          6    24   16                  39
49                   LODI          8     9   22                  26
50                  LUCCA         13    39   32                  62
51               MACERATA          4    18   27                  28
52                MANTOVA          6    39   38                  43
53          MASSA-CARRARA          6    31    4                  30
54                 MATERA          7     1   12                  12
55                MESSINA          6    22   27                  27
56                 MILANO        118   299  492                 611
57                 MODENA         28    68   85                  66
58  MONZA E DELLA BRIANZA         84    88   74                 112
59                 NAPOLI         16    67   69                 106

   CITROEN/DS DACIA  FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1          18    18   110   15     3  ...     1     1         2    NaN      4
2          70    50   204   92     8  ...    12     3       NaN      7     54
3          73    61   204   48    13  ...    14    10         2      2     25
4         457    11  2734   68     2  ...    14     6         2    NaN     23
5          43    55   143   67     4  ...     4     6         5    NaN     25
6          25    20   101   29     2  ...     2     8         1    NaN     10
7          15    30    58   55     5  ...     4   NaN         2    NaN     15
8          49    22    97   31   NaN  ...     2   NaN       NaN    NaN      7
9          78    95   395  124     9  ...    19     6         3      1     55
10         14    12    64   24   NaN  ...     3   NaN       NaN    NaN     13
11         38    14   122   29     1  ...     6     2         1      2     29
12         16    16    58   16     1  ...     6     1       NaN      1     10
13        178   171   305  200    37  ...    25    10         2      7     75
14         14    12    71   48     1  ...     5   NaN       NaN      1     25
15        169   116   386  313    24  ...    32    21         8      8     57
16       1176    11  2854  331     1  ...   254     7       NaN      4     18
17        200   146   354  217    28  ...    36    27         3     10     74
18         20    15   111   23     1  ...     1     4         3    NaN      9
19         53    74   135  105     8  ...     1     9         1    NaN     11
20         18    19    44   12   NaN  ...   NaN     3       NaN    NaN      5
21         14    17    48   10     1  ...   NaN     1       NaN    NaN     12
22         51    39   137   53     4  ...     5     5         3    NaN     12
23         54    58   122   86    14  ...    23    21         1    NaN     42
24         31    15   111   37     2  ...     4     3       NaN    NaN     15
25         52    21   167   43     7  ...     2     6         1      1     14
26         74    90   301  110    11  ...    37    15         1      7    100
27         99    16   230   95     3  ...     6     7       NaN    NaN     21
28         80    49    81   75    10  ...     7     3       NaN      1     19
29         23     7    45   11   NaN  ...   NaN   NaN       NaN    NaN      3
30        111    70   269  129    19  ...    13    16         2      5     48
31          6    12    13    9   NaN  ...     2   NaN       NaN    NaN      5
32          9    17    46   15   NaN  ...     1     3         1    NaN      6
33         36    47    90   75     5  ...    19     4         1      3     17
34        301   211  1015  456    20  ...   113    47         4      8     85
35         32    26    62   24   NaN  ...     2     2         3      1      8
36         32    43   148   88    11  ...     8     7         1      1     23
37         46    30   174   42     5  ...     1     9         2      1     10
38         46    60   186  156    21  ...     5    33         2      6     80
39          3    11    13  119     7  ...     2     4         2    NaN     14
40         14    24    64   33     3  ...     9     1         2    NaN     24
41         18     6    61   34     6  ...     3     4       NaN    NaN     21
42          6     4    11    8   NaN  ...   NaN     3       NaN      1      1
43         21    30   120   50     7  ...     3     1         2      1      8
44         27    14   105   11     1  ...     1   NaN         6    NaN     13
45         68    59   179   68     7  ...    10    15         4      1      8
46         38    50   183   63   NaN  ...     1     4       NaN    NaN     24
47         28    52   133   72     3  ...    21     9         3      3     38
48         17    59   121  104     6  ...    12     3         6      2     18
49         25    31   100   61     5  ...     6     5         1      1     15
50         46    71   223   77     6  ...    13     1         2      2     15
51         24    22   106   46     3  ...    13     3         2      1     20
52         56    48    74   67     1  ...    16     4       NaN      1     14
53         21    40   109   34   NaN  ...     9   NaN         4      1      9
54          7    10    53   18     4  ...   NaN     1       NaN    NaN      7
55         54    19   136   47     1  ...    12     7       NaN      1     16
56        474   471  1069  769   116  ...   147    84        31     20    321
57        111    97   327  147    11  ...    36     5         2      7     49
58        179   133   312  179    22  ...    36    34         7      5     63
59        187   123   533  171    16  ...    13    46         5      2     51

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1            11         59     1     0    455
2            33        109    14     5   1244
3            30        133    12     9   1198
4            18         51     9     0   7016
5            29        103     2     3    869
6            19         38     1     0    489
7            15         34     5     3    473
8            12         37     3     1    519
9            68        163    12     2   1948
10           18         22     3     1    307
11           22         54     9     2    607
12            6         13   NaN     3    314
13          176        330    17    17   2977
14           19         54     2     2    470
15          234        349    41     8   3342
16          412       1796    91     5  16077
17          175        413    25    14   3531
18            7         19   NaN     0    438
19           66        100     5     1   1000
20            2         25     1     0    269
21            6         10   NaN     1    238
22           23         52     3     5    906
23           27         67     4     0   1192
24           19         57     2     0    625
25           26         52   NaN     2    762
26          117        284    18     6   2205
27           19        101     6     3   1020
28           67         93     9     5   1072
29            4         10     1     0    157
30           65        121    26    15   1751
31            4         12   NaN     0    132
32            6         26     1     0    285
33           63         96     9     2    985
34          363        602   421     8   8186
35           35         30     1     0    479
36           37        105     8     2    992
37           36         72   NaN     2    834
38          104        216     8     3   1604
39           11         31   NaN     1    388
40           13         85     1     0    481
41           18         31     3     1    337
42            3          3   NaN     3     75
43           18         88     3     1    552
44           19         53     1     2    509
45           37         65     4     1    971
46           22        110     7     0   1315
47           61        123     4     1   1061
48           32         89     2     1    910
49           24         64     1     6    703
50           54        156    15     5   1345
51           21         54     8     4    632
52           55        115     9     3   1055
53            7         88     2     1    550
54            3         20     3     0    257
55           25         75     5     1    834
56          704        854    79    86  10519
57          132        155    57    19   2306
58          212        283    13    25   3023
59           78        185    13    15   2834

[59 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(50, 37)>
{'accuracy': 99.71, 'whitespace': 10.32, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

              PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               NOVARA         14    12    27                  28         71
2                NUORO          3     1     1                   8         17
3             ORISTANO          6     1     1                   4         26
4               PADOVA         42    94    97                 108        104
5              PALERMO         20    46    17                  91         85
6                PARMA         20    52    41                  37         50
7                PAVIA         22    14    54                  81         52
8              PERUGIA         17    60    40                  76         95
9        PESARO URBINO         11    34    26                  40         44
10             PESCARA          4    21    17                  31         57
11            PIACENZA          4    10    26                  37         60
12                PISA         12    42    26                  81         45
13             PISTOIA          4    21    21                  44         62
14           PORDENONE          8    12    21                  34         43
15             POTENZA          6     8    10                  27         70
16               PRATO         11    22    36                  55         43
17              RAGUSA         11    11     2                  39         32
18             RAVENNA          8    17    25                  71         39
19  REGGIO DI CALABRIA          5    10     5                  40         29
20  REGGIO NELL'EMILIA         21    39    38                  63         94
21               RIETI          1     1     3                   8          6
22              RIMINI          4    45    24                  37         41
23                ROMA         82   165   342                 317        450
24              ROVIGO          4    26    28                  18         31
25             SALERNO         14    38    16                 104         88
26             SASSARI          3     5     4                  33         61
27              SAVONA          4    11    16                  30         39
28               SIENA          8     9     6                  41         53
29            SIRACUSA          3    11    10                  21         37
30             SONDRIO          4     7     6                  17          7
31        SUD SARDEGNA          7     4     3                  23        133
32             TARANTO          4    13    21                  24         17
33              TERAMO          3     3     8                  33         34
34               TERNI          7    10    18                  23         81
35              TORINO        121   124   165                 700        242
36             TRAPANI          3     8     5                  19         37
37              TRENTO        175   403   669                 207        947
38             TREVISO         28    69    45                 106        108
39             TRIESTE          9    18    13                  42         26
40               UDINE         18    61    41                  37         58
41              VARESE         38    70   117                  96        104
42             VENEZIA         25    34    28                 130        102
43            VERBANIA          2    12     2                  19         14
44            VERCELLI          6     4     5                  20         15
45              VERONA         41   133    80                 101        118
46       VIBO VALENTIA          1     6   NaN                  17         11
47             VICENZA         37    68    65                 125        118
48             VITERBO          6    12    10                  30         30
49              TOTALE       2362  5675  5658                9449       9371

   DACIA   FIAT   FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1     62    110     61     7  ...    21   NaN       NaN      5     38
2     12     27     20     1  ...   NaN     1       NaN    NaN      1
3     16     19     13   NaN  ...   NaN   NaN       NaN    NaN      4
4    111    316    189    17  ...    32    18         7     15     58
5     67    247    111     8  ...    16    41       NaN      2     18
6     66    170     98     9  ...    18     2       NaN      6     33
7     90    219    164    13  ...    17     8       NaN      5     64
8     62    351     90     9  ...     9     8        10      1     43
9     55    114     59     6  ...    12     5         6      3     20
10     9    120     36   NaN  ...     2     6         2      1     18
11    30    128     52     9  ...    11   NaN         4      4     20
12    73    234    115     7  ...    15     3         4      3     23
13    54    110     31     2  ...    13     5         1    NaN     23
14    28    100     58     6  ...    10     4         4      1     22
15    22    156     18     1  ...     7     1         3    NaN      7
16    32    135     28     2  ...     2     6         1      1     21
17    22     85     34   NaN  ...   NaN     3       NaN    NaN     11
18    64    132    100    12  ...    25     2       NaN    NaN     25
19    44    118     44     7  ...     7     2       NaN    NaN      5
20    91    298     89     7  ...    16     1         1      2     42
21     9     45     24   NaN  ...     2     1         1      1      7
22    44     78     39    11  ...    16     5         3      1     28
23   469   1192    755    42  ...    69   295        17     13    210
24    27     51     50     1  ...     7     1         1      1     14
25    54    222     84     2  ...    10    12         4      1     20
26    36     91     61   NaN  ...     3     3         1    NaN      3
27    37    110     68    11  ...     4     4         1      2     26
28    61    106     65     6  ...    13   NaN         2      3     22
29    40    100     56     5  ...     3     3       NaN    NaN      4
30    18     59     26   NaN  ...    11   NaN       NaN      2     31
31    29     47     64     1  ...   NaN     1       NaN    NaN      4
32    31     89     48     3  ...     3     4       NaN    NaN     15
33    22    133     48   NaN  ...     3     4         2    NaN      9
34    28     68     40   NaN  ...     2     2         3      1      5
35   283   1826    472    45  ...    57    26        25      3    179
36    14     51     18     1  ...   NaN     1       NaN    NaN      5
37    53   1440   1476     3  ...   540   350         6     15    140
38    89    122    175    14  ...    25    21         3     16     52
39    13     56     30    16  ...     1    12         2      4     36
40    44    160     71    15  ...    15     5         6      4     33
41   140    265    164    38  ...    41     7         1      8    141
42    95    206    159     9  ...    35    11         4      4     33
43    13     62     37     2  ...     9   NaN       NaN      1     25
44    15     55     35     8  ...     1   NaN         3      1     35
45    89    295    189    16  ...    89    17         9     10     47
46    15     20     13   NaN  ...     1     4       NaN    NaN      4
47    84    524    178    29  ...    13     7         1     16     60
48    36     73     39     2  ...   NaN     4       NaN    NaN     13
49  6068  26562  11433   909  ...  2258  1456       274    282   3510

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1            56        122     4     3    1033
2            17         22     1     0     236
3             7         30   NaN     0     184
4           166        301    34    10    2892
5            75        156     7    10    1640
6            62        138    16    11    1417
7            78        105     9     8    1638
8            93        171    35     3    1804
9            27        112     6     6     958
10           29         35     2     2     667
11           51         44     6     2     817
12           28        182    14     5    1499
13           26         95     5     0     962
14           42         72     7     1     821
15            4         39     2     0     541
16           43        132     4     3     968
17           22         43   NaN     0     475
18           45         81    20     1    1206
19           56         49     3     5     663
20           71        145     6     4    1678
21            5         23     2     1     229
22           30         80     8     3     835
23          925        805    45    31   10596
24           29         74     1     0     567
25           37        108     6     1    1389
26           35        104     4     0     918
27           26         64     7     2     659
28           31         70     9     0     793
29           31         28     2     0     553
30           11         29     6     2     340
31           16         37     4     0     654
32           19         31     4     1     631
33           26         53     4     2     642
34           19         53     5     0     570
35          369        576    28    51    7543
36           19         44   NaN     0     393
37         1134       1251   419    31   14547
38          151        281    40     8    2152
39           32         37     3     2     530
40           79        152    13     1    1437
41          229        310    18     5    2973
42          113        266    17     6    2047
43           11         29   NaN     1     368
44           24         26   NaN     1     400
45          145        325    20    12    2877
46            4         15     2     0     192
47          162        292    25    10    2679
48           33         43     4     6     587
49         8685      15915  1877   557  177825

[49 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2019_3.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(62, 37)>
{'accuracy': 100.0, 'whitespace': 12.29, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               RESIDENZA        NaN  NaN  NaN                 NaN        NaN
2               AGRIGENTO         10   13    2                  35         18
3             ALESSANDRIA          9   53   39                  56         79
4                  ANCONA         20   50   35                  44         64
5                   AOSTA        488   31   16                 644        422
..                    ...        ...  ...  ...                 ...        ...
57                 MILANO         83  316  365                 259        648
58                 MODENA         24   76   90                  64        110
59  MONZA E DELLA BRIANZA         25   90   89                  75        164
60                 NAPOLI         20   77   55                 129        177
61                 NOVARA         13   30   26                  27         68

   DACIA  FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1    NaN   NaN  NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2     19    98   29     2  ...   NaN     5       NaN    NaN    NaN
3     57   208  113     8  ...    16     7       NaN      1     27
4     61   205   78     9  ...    15     8         4    NaN     26
5     21  5361  442   NaN  ...    23   150       NaN      1     17
..   ...   ...  ...   ...  ...   ...   ...       ...    ...    ...
57   604   945  794   111  ...   224   266        57     14    241
58   147   323  151     7  ...    33     7         2      3     45
59   155   313  186    30  ...    46    45        10      2     49
60   172   492  209    14  ...    40    39         1      1     39
61    81   104   62     8  ...    15     3       NaN    NaN     33

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2             5         53   NaN     0    466
3            50        130    15     7   1314
4            59        147    16     9   1335
5            21         43    11     2  10011
..          ...        ...   ...   ...    ...
57          831        887    98    80  10564
58          118        183    50    24   2365
59          233        341    10    17   3019
60           92        197    22    11   3095
61           62        161     2     8   1049

[61 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(50, 37)>
{'accuracy': 100.0, 'whitespace': 13.14, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

              PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1            RESIDENZA        NaN   NaN   NaN                 NaN        NaN
2                NUORO          5     6   NaN                   3         18
3             ORISTANO          2   NaN     3                   4         16
4               PADOVA         28    90    75                 109        143
5              PALERMO         18    48    26                  97         78
6                PARMA         11    74    46                  38         71
7                PAVIA         24    18    55                  62         52
8              PERUGIA         30    58    46                  63         84
9        PESARO URBINO         12    45    27                  34         40
10             PESCARA          6    27    17                  23         50
11            PIACENZA          5    14    32                  35         51
12                PISA         16    21    35                  92         50
13             PISTOIA          5    29    21                  29         54
14           PORDENONE          9    21    55                  44         31
15             POTENZA          6     3     3                  32         33
16               PRATO          7    19    34                  49         68
17              RAGUSA         10    12     3                  33         38
18             RAVENNA          9    25    27                  55         29
19  REGGIO DI CALABRIA          9    22    11                  40         36
20  REGGIO NELL'EMILIA         25    35    40                  55        107
21               RIETI          3     4     4                   8          7
22              RIMINI          8    22    27                  33         57
23                ROMA         52   165   332                 282        505
24              ROVIGO          4    21    22                  20         29
25             SALERNO         17    18    20                  84        138
26             SASSARI          4     7     6                  35         62
27              SAVONA          8    15    17                  33         38
28               SIENA          9    11    18                  30         42
29            SIRACUSA        NaN     5     9                  22         32
30             SONDRIO          7    13     3                  14          5
31        SUD SARDEGNA          9     2     5                  21        294
32             TARANTO          5    11    16                  28         22
33              TERAMO          8     9    17                  36         41
34               TERNI          5     7     9                  19         42
35              TORINO         86   195   157                 748        270
36             TRAPANI          2    10     3                  20         36
37              TRENTO        183   555  1037                 474        863
38             TREVISO         28    76    86                 102         89
39             TRIESTE        NaN    18    20                  56         11
40               UDINE         22    38    48                  40         67
41              VARESE         17    78    65                  58        110
42             VENEZIA         20    51    61                 139        105
43            VERBANIA          7    11     7                  15         26
44            VERCELLI          2    15     9                  14         13
45              VERONA         53   115    92                  90        136
46       VIBO VALENTIA          1     4     3                  12          7
47             VICENZA         44    65    52                 130        110
48             VITERBO          8     7    13                  21         31
49              TOTALE       2433  6418  6327                7907       9885

   DACIA   FIAT   FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1    NaN    NaN    NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2     18     28     22     1  ...     3   NaN       NaN    NaN    NaN
3     20     10     21   NaN  ...   NaN   NaN         1    NaN      2
4    135    304    228    12  ...    72    19         5      7     37
5    114    267    107     5  ...    19    41       NaN      2     25
6    120    149    112    18  ...    33     4         2      2     19
7    150    230    136    18  ...    10     7         2      3     44
8     58    315     96    11  ...    26    17        21      2     10
9     66    134     67     2  ...    18     2         3      3     19
10    30    115     44     7  ...     4    16         8    NaN     10
11    47    142     54     9  ...    16   NaN       NaN      3      5
12    89    242    106    11  ...    16     7         1    NaN     35
13    69     93     20     1  ...    12     7       NaN    NaN     31
14    33    122     57     4  ...     8     3         1      3     16
15    18    121     15   NaN  ...     6     6         2    NaN      6
16    32    137     23     1  ...     4     4         4    NaN     25
17    39     90     47     1  ...   NaN     2       NaN    NaN      2
18    77    124    100     7  ...    19     7         2      2     27
19    52    123     43     6  ...    12     7         2    NaN      6
20   104    302    113    11  ...    23     4       NaN      3     43
21    15     35     17   NaN  ...   NaN     3       NaN      1      2
22    77     87     46     9  ...    17     5       NaN    NaN     19
23   641   1252    790    70  ...    32   852         8     10    228
24    43     42     46     3  ...    14   NaN         1      1      8
25    54    245     92     3  ...    15     8       NaN    NaN     13
26    58     93     74     3  ...     6     5         1    NaN      3
27    24    133     71     6  ...     4     4       NaN    NaN     23
28    53     99     49     2  ...    12     5         1      1     12
29    59    101     55     5  ...     1     5       NaN    NaN    NaN
30    14     56     46     1  ...    10   NaN       NaN      1     25
31    61     44     64     1  ...     1   NaN       NaN    NaN      5
32    46     93     44     5  ...    10     1       NaN    NaN     19
33    40    133     41     1  ...     3     8         3    NaN     11
34    38     65     37     1  ...     1     4         3    NaN      5
35   368   1699    405    37  ...    87    25        36      3    132
36    12     54     16     1  ...     1     1       NaN    NaN      9
37    70    995   1982    11  ...   195   250         2      8     42
38   121    110    190    14  ...    29    22         2      4     49
39    23     71     30    13  ...     3    12         4      3     10
40    61    183     83    10  ...    23     7         4      5     47
41   190    298    157    22  ...    39     8         1      5    114
42   110    259    145     8  ...    39     9         2      3     36
43    25     50     31   NaN  ...    13     1         1    NaN     14
44    27     40     35     6  ...     4     2         3      1     28
45   168    293    203    14  ...   101    20        10     10     39
46    15     29     16   NaN  ...     1     3       NaN      1      3
47   146    684    196    58  ...    48    10         3      5     66
48    37     80     33   NaN  ...     4     2         1    NaN      9
49  8653  31632  12296   893  ...  2671  2362       274    166   2835

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1           NaN        NaN   NaN   NaN     NaN
2            21         16   NaN     0     251
3             1         24   NaN     0     159
4           224        330    48    20    3050
5            80        161     8     6    1827
6            77        156    27    10    1553
7            66        109    12     5    1735
8            83        208    39     4    1846
9            41        125     4     2    1002
10           33         35    14     1     754
11           55         59    10     5     911
12           46        184    27     6    1532
13           33        101     7     1     914
14           46         81    18     3     907
15            3         59     2     1     500
16           57        126     1     5     950
17           35         47     5     2     528
18           52        130    32     0    1289
19           44         50     4     3     702
20          105        147     8     7    1849
21            3         16     2     0     236
22           54         76     8     3     900
23         1001        823    70    28   12132
24           38         92    10     2     601
25           24        123     2     4    1444
26           26        121     2     0     897
27           38         84    11     3     688
28           23        111     8     3     792
29           22         40   NaN     1     561
30           16         37     7     0     350
31           15         33     2     0     903
32           22         36     4     1     664
33           28         37     2     2     712
34           23         57     4     2     533
35          389        589    36    29    7442
36           25         50     1     0     425
37         1106        639   185    16   15137
38          177        312    28     7    2135
39           37         62     1     0     570
40           96        178    31     5    1576
41          272        327    28     2    2965
42          124        239    14    13    2166
43           12         51   NaN     0     408
44           34         40     3     1     461
45          181        413    22    16    3019
46            8         10   NaN     0     193
47          180        297    58    15    3018
48           43         33     3     5     538
49         9294      17535  2103   676  193662

[49 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2019_4.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(59, 37)>
{'accuracy': 100.0, 'whitespace': 12.19, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI  BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN  NaN                 NaN
2               AGRIGENTO          3    15    3                  27
3             ALESSANDRIA          7    42   32                  54
4                  ANCONA         11    59   29                  50
5                   AOSTA        490    51   33                 510
6                  AREZZO          4    30   43                  36
7            ASCOLIPICENO          6     3   21                  23
8                    ASTI          5     9   24                  16
9                AVELLINO          6    25    7                  29
10                   BARI         10    38   37                  79
11  BARLETTA-ANDRIA-TRANI          3     7    9                  13
12                BELLUNO          6    13   15                  20
13              BENEVENTO          5     5    1                  21
14                BERGAMO         19   121   79                  98
15                 BIELLA          3    18   14                  22
16                BOLOGNA         27   103   92                  98
17          BOLZANO-BOZEN        467  1522  645                 878
18                BRESCIA         21    86   91                  75
19               BRINDISI          6     5   14                  17
20               CAGLIARI          8     6   14                  44
21          CALTANISSETTA          1     9    6                   7
22             CAMPOBASSO          4     4    4                   9
23                CASERTA          7    16   27                  46
24                CATANIA          9    34   26                  53
25              CATANZARO          9    27    5                  36
26                 CHIETI          9     6    7                  43
27                   COMO         12    43   47                  69
28                COSENZA         10    43   16                  51
29                CREMONA          3    32   42                  21
30                CROTONE          1     3    2                  11
31                  CUNEO          9    31   50                 113
32                   ENNA        NaN     1  NaN                   5
33                  FERMO          3    19    6                  16
34                FERRARA          7    13   18                  31
35                FIRENZE        179   411  389                 277
36                 FOGGIA          6     9    9                  27
37          FORLI' CESENA          8    33   14                  28
38              FROSINONE         18     5   25                  37
39                 GENOVA         13    39   42                  45
40                GORIZIA          1     7    3                   4
41               GROSSETO          1     3    1                  15
42                IMPERIA          2     4    5                   6
43                ISERNIA          1     2    2                   6
44              LA SPEZIA          1     8    6                  13
45               L'AQUILA          4     5    9                  23
46                 LATINA          7    10   10                  39
47                  LECCE         10    30   19                  45
48                  LECCO          4    26   13                  35
49                LIVORNO          2    24   18                  29
50                   LODI          5     8   17                  19
51                  LUCCA         12    46   20                  51
52               MACERATA          2    21   15                  24
53                MANTOVA          2    30   26                  22
54          MASSA-CARRARA          4    31    6                  26
55                 MATERA          2     4    9                   9
56                MESSINA          5    30   26                  28
57                 MILANO         41   276  295                 271
58                 MODENA         17    36   60                  59

   CITROEN/DS DACIA  FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1         NaN   NaN   NaN  NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2          18    26    82   30     2  ...   NaN   NaN       NaN    NaN      5
3          68    57   147  107     5  ...    11     2         3    NaN     40
4          55    58   159   65    11  ...    13     7         1      1     26
5         342    16  4151  335   NaN  ...    15    68         2    NaN     36
6          40    57   100   59     1  ...     7     7         5      4     24
7          29    33    96   18     2  ...     3     1         1      1      8
8          14    70    40   59     3  ...     5   NaN       NaN      2     19
9          44    38    88   35   NaN  ...     5     2       NaN    NaN      7
10         79    86   413  154     5  ...    14    30         2      1     56
11         15    14    33   21     1  ...     3     1       NaN    NaN     18
12         40    24   168   38     1  ...    11     1       NaN      1     28
13         12    22    81   11   NaN  ...     5   NaN         2    NaN      2
14        184   164   304  176    28  ...    36    19         2      1     48
15          7    27    47   52   NaN  ...     3   NaN       NaN    NaN     29
16        151   176   307  276    23  ...    44    27         4      6     67
17       1312   699  6984  580     2  ...   434  1097         1    NaN     19
18        186   222   308  179    19  ...    48    28         2      4     86
19         17    20    98   20   NaN  ...     2   NaN       NaN    NaN     13
20         58    57   176  103     7  ...     2    26       NaN    NaN     22
21         16    19    35    8   NaN  ...   NaN     1       NaN    NaN      4
22         21     8    46    4   NaN  ...     2   NaN         1      1      7
23         36    88   135   41     2  ...    14     7         2    NaN     13
24         49    83   137   73     9  ...    22    28       NaN    NaN     50
25         35    20    97   34   NaN  ...     4     5       NaN    NaN      9
26         26    35   137   41     4  ...     4     4         1      1     17
27         74    96   206  102    11  ...    24    11         1      4     88
28         44    19   232   97   NaN  ...    10     4         1    NaN     10
29         56    69    67   69     7  ...     6     8         1    NaN     21
30         16     9    38    5   NaN  ...   NaN   NaN         1    NaN      1
31        119    95   228   97     3  ...    19    19         2    NaN     46
32          9     1    10    5   NaN  ...     1     1       NaN    NaN      2
33          7    19    41   19     3  ...     3     1       NaN      1      6
34         26    84    78   70     3  ...    27     4       NaN      1     17
35        391   184  1105  398    25  ...   119    73         4      1     85
36         34    49    66   13     2  ...   NaN     3         2      1      8
37         43    69   131   77    11  ...    12     4         1    NaN     14
38         38    19   156   40     1  ...     3     7       NaN      1      6
39         30    74   150  147    12  ...    10    39         1      4     68
40          1     5     9   12     5  ...     4     2       NaN    NaN     20
41         14    30    56   29   NaN  ...    14     4       NaN      1     25
42         17     9    59   23     5  ...     4     2       NaN    NaN     17
43          1     7    16    5   NaN  ...     1   NaN         1    NaN    NaN
44         21    38    84   37     4  ...    11     4       NaN    NaN     15
45         27    27   103   18   NaN  ...     2   NaN         4      3     13
46         44    56   122   62     2  ...     6    17       NaN    NaN     10
47         33    68   128   69   NaN  ...     2     5       NaN      1     28
48         27    48   124   39     6  ...    23     2       NaN      1     38
49         23    61    67  101     2  ...    13     4       NaN    NaN     16
50         24    39    87   60     3  ...     8     1         2      1     15
51         24    97   161   64   NaN  ...    13     5         1    NaN     25
52         21    37    79   43     1  ...    13     5       NaN    NaN     20
53         92    65    70   53     5  ...    14     1       NaN    NaN      5
54         16    32    88   38     1  ...     9     3       NaN    NaN      7
55         16    11    53   18     1  ...     2   NaN       NaN    NaN      5
56         45    28   121   46     2  ...     6     5         4    NaN     13
57        447   572   763  711    89  ...   161   176        40      9    314
58         98   133   276  155     5  ...    36     9         6      2     45

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2             3         27     3     0    376
3            48         96    16     5   1089
4            34        108    16    10   1085
5            17         49    18     1   7894
6            41        107    10     2    831
7            13         26     6     0    433
8            15         42     2     5    475
9            15         30     1     1    514
10           62        120    18     8   1789
11           19         17     4     1    251
12           12         45     7     1    611
13            8         19   NaN     0    308
14          162        310    19    13   2753
15           21         50     1     2    424
16          212        292    50    19   2933
17          354       3368   238    12  25570
18          165        384    17    15   3084
19            6         12   NaN     1    419
20           61         71     5     0    946
21            7         18   NaN     0    225
22           10         19   NaN     3    254
23           33         45     7     6    915
24           50         78     3     0   1221
25           23         50     1     1    518
26           22         64     2     1    675
27           99        202    17     6   1793
28           17         81     6     1    952
29           54         92     2     6    909
30          NaN         10   NaN     0    140
31           54        129    19     8   1569
32            2         12   NaN     0    102
33           10         21     1     1    301
34           43         84     8     1    833
35          353        546   323    12   7458
36           34         25    10     3    461
37           31        106    16     1    944
38           25         79     2     1    745
39           88        194     5     5   1422
40            9         32     1     0    223
41           12         46     2     0    387
42           16         24     3     2    293
43            3          3   NaN     1     74
44           20         77     2     0    492
45           16         47   NaN     2    474
46           45         44     2     4    769
47           24        114     7     0   1110
48           57        105     2     2    865
49           32         95     5     2    806
50           26         58     5     5    597
51           47        118     8     4   1130
52           17         75     7     6    591
53           38         82    11     3    843
54           17         75     2     0    481
55            3         14     1     1    219
56           19         59   NaN     0    796
57          616        680    63    66   8830
58          110        199    54    18   2069

[58 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(53, 37)>
{'accuracy': 100.0, 'whitespace': 11.17, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN   NaN                 NaN
2   MONZA E DELLA BRIANZA         28    62    85                  78
3                  NAPOLI         12    67    59                 102
4                  NOVARA          4    41    28                  32
5                   NUORO          3     5   NaN                   6
6                ORISTANO          3     2     1                  17
7                  PADOVA         33    65    84                  86
8                 PALERMO         19    49    23                  73
9                   PARMA         10    46    30                  40
10                  PAVIA         13    26    65                  52
11                PERUGIA         13    44    36                  74
12          PESARO URBINO          4    32    27                  39
13                PESCARA          6    18    22                  28
14               PIACENZA          4    15    25                  41
15                   PISA         15    23    25                  77
16                PISTOIA          5     6    18                  20
17              PORDENONE          9    21    13                  30
18                POTENZA          4     9     1                  30
19                  PRATO          3    12    20                  37
20                 RAGUSA          4     9     1                  35
21                RAVENNA         11    23    15                  54
22     REGGIO DI CALABRIA          5    19     3                  24
23     REGGIO NELL'EMILIA         12    42    37                  46
24                  RIETI          1     3     6                  15
25                 RIMINI          6    20    22                  29
26                   ROMA         49   138   238                 266
27                 ROVIGO          3    17    21                  14
28                SALERNO         22    33    13                  69
29                SASSARI        NaN    13     4                  32
30                 SAVONA          3    11     5                  17
31                  SIENA          5     9     9                  27
32               SIRACUSA        NaN     6     6                  17
33                SONDRIO          6     7     5                  23
34           SUD SARDEGNA          6     2     2                  22
35                TARANTO          6    15    12                  27
36                 TERAMO          1     6     7                  35
37                  TERNI          4    11    12                  17
38                 TORINO         67   148   110                 378
39                TRAPANI        NaN    18     2                  15
40                 TRENTO        131   533   793                 253
41                TREVISO         22    57    59                  85
42                TRIESTE        NaN    18    11                   9
43                  UDINE         18    23    39                  37
44                 VARESE         13    85    68                  45
45                VENEZIA         25    35    35                  52
46               VERBANIA          3    13     9                  13
47               VERCELLI          4    10    12                  14
48                 VERONA         27   136    62                  93
49          VIBO VALENTIA          1     9     1                   7
50                VICENZA         30    60    56                 141
51                VITERBO          7    14    14                  25
52                 TOTALE       2218  5623  4749                6557

   CITROEN/DS DACIA   FIAT   FORD HONDA  ... SKODA SMART SSANGYONG SUBARU  \
1         NaN   NaN    NaN    NaN   NaN  ...   NaN   NaN       NaN    NaN
2         138   169    299    152    21  ...    47    19         4      1
3         170   183    436    217    15  ...    32    39         9    NaN
4          71    75     84     53     4  ...    15     3         1      1
5          15    18     22     14   NaN  ...     3     2         1    NaN
6          15    12      7     20     1  ...     1   NaN         1    NaN
7         102    90    276    190    18  ...    56    15         3      5
8          81   108    228    114     6  ...    16    37       NaN      1
9          65   110    128     88     9  ...    17     3         2      2
10         50   107    193    143    12  ...    13     8         1      1
11         85    84    269     81     5  ...    20     5         9      1
12         44    65    116     53     2  ...    18     8         1      6
13         59    20     93     42     2  ...     5     7         5    NaN
14         41    59    113     57    10  ...    11     2         2    NaN
15         33    77    192     92    11  ...    19     3         2    NaN
16         48   124     83     26     1  ...    20     2         1      1
17         43    29     63     56     7  ...    14     1         1      2
18         20    15    125     21   NaN  ...     3     2       NaN    NaN
19         36    52    102     28     4  ...    10     4         1      1
20         29    22     69     38   NaN  ...     1     2       NaN    NaN
21         34    80    103     69     8  ...    25     7         3    NaN
22         29    44     72     37     4  ...    12    10         3      1
23         88   133    244     98     7  ...    16   NaN         1      2
24          5    14     39     26   NaN  ...     2     1       NaN    NaN
25         45    65     85     33     8  ...    25     5         1      1
26        468   656    961    770    38  ...    49   551         8      6
27         24    13     28     35     1  ...     6     1         4      1
28        121   110    213     96     1  ...     8    13         2      1
29         53    48     87     55     2  ...    10     4         1    NaN
30         33    32    119     65     8  ...     3     2       NaN      1
31         46    73     78     51     7  ...    14     8         1      2
32         32    45     66     41     4  ...     3     6         3    NaN
33          5    12     47     40     1  ...    13   NaN       NaN      2
34        279    23     43     59   NaN  ...   NaN   NaN         1    NaN
35         11    37     74     49     5  ...     9     2       NaN    NaN
36         25    28    104     35   NaN  ...     5     8         3    NaN
37         36    23     55     32     1  ...     3     5         1      1
38        212   373   1493    454    41  ...    80    26        19      3
39         26    13     52     17   NaN  ...     1     3       NaN    NaN
40        541    64   1751   1147    40  ...   156   415         1      5
41         80   124     91    158     9  ...    30    20       NaN      9
42         22    22     49     24     8  ...     5    13         2      1
43         56    70    130     73     9  ...    26     4         3    NaN
44        102   194    213    153    27  ...    59    10       NaN      3
45         91   118    218    129     5  ...    36    15       NaN      4
46         12     4     53     34     3  ...    13   NaN       NaN      1
47         13    25     47     32     8  ...     3     1         2    NaN
48        133   152    256    164    19  ...   112    21         5      3
49          7    13     30     19   NaN  ...   NaN     2       NaN    NaN
50        118   111    486    168    18  ...    34    16       NaN      4
51         19    76     84     39     1  ...     1     5         1      1
52       8643  8483  29612  10928   745  ...  2363  3116       210    128

   SUZUKI TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1     NaN          NaN        NaN   NaN   NaN     NaN
2      63          173        262    16    13    2609
3      49           82        158    10     6    2584
4      41           86        105     3     6     972
5       1            8         16   NaN     1     197
6       7            7         13   NaN     0     162
7      63          150        273    21    14    2419
8      18           63        140     1     2    1503
9      44           74        123    31    11    1341
10     60           71        105    14     2    1457
11     33           59        181    37     3    1589
12     31           32         96     6     8     869
13      6           25         34     2     1     595
14     29           42         57    14     4     834
15     15           44        141    13     6    1200
16     24           26        101     4     2     812
17     23           42         79     8     1     731
18     13            2         27     4     0     441
19     26           45         93     5     0     816
20      9           17         44     1     0     408
21     23           40         95    18     4    1027
22     13           31         43     4     2     553
23     52           65        125    12     4    1551
24      5            7         22     1     0     238
25     36           34         79     4     3     773
26    199          791        710    65    19   11150
27     16           25         65     4     2     477
28     18           34         88     6     2    1298
29     13           35         82     4     0     762
30     27           17         56     1     3     566
31     29           21         95     8     0     744
32      9           34         30   NaN     4     500
33     26           11         33     5     2     331
34      5           23         43   NaN     0    1183
35     13           12         22     5     1     584
36      5           26         47     6     1     554
37      7           26         51     8     5     439
38    182          321        401    22    35    6348
39      2           21         55     1     0     395
40     74         1729        597   257    26   14693
41     41          123        243    23    10    1860
42     35           34         30     3     0     444
43     25           73        101    18     2    1211
44    116          209        232    24     5    2570
45     26           98        189    13     6    1713
46     28            7         37   NaN     0     346
47     41           26         31     3     0     405
48     48          146        333     9    19    2653
49      4            6         10     1     0     195
50     62          139        230    23    10    2471
51     10           29         39    11     5     568
52   3401         8591      15237  1777   518  174412

[52 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2019_5.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(61, 37)>
{'accuracy': 100.0, 'whitespace': 10.9, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI  BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN  NaN                 NaN
2               AGRIGENTO          3    14    9                  36
3             ALESSANDRIA         12    27   43                  56
4                  ANCONA         15    43   22                  42
5                   AOSTA        543    70   29                 732
6                  AREZZO         11    35   36                  40
7            ASCOLIPICENO          4    10   20                  20
8                    ASTI          4    17   16                  11
9                AVELLINO          5    25    4                  25
10                   BARI         14    32   44                  94
11  BARLETTA-ANDRIA-TRANI          2     3   16                   9
12                BELLUNO          2    14   22                  43
13              BENEVENTO          2     4    6                  28
14                BERGAMO         21   115  106                  69
15                 BIELLA         11    20   11                  18
16                BOLOGNA         26   122   78                 102
17          BOLZANO-BOZEN        321  1733  909                1683
18                BRESCIA         27   118   82                  90
19               BRINDISI          1     2   16                  16
20               CAGLIARI          8    16   12                  39
21          CALTANISSETTA          1    11    7                   3
22             CAMPOBASSO          4     2    4                  15
23                CASERTA          3    23   17                  35
24                CATANIA          1    29   42                  48
25              CATANZARO          7    26   14                  29
26                 CHIETI          5     6   10                  38
27                   COMO         11    60   56                  67
28                COSENZA          8    44   15                  61
29                CREMONA          5    52   46                  24
30                CROTONE          4     2    3                  10
31                  CUNEO         15    58   65                 115
32                   ENNA          1     4    3                   1
33                  FERMO          3    11    9                  18
34                FERRARA         12    17   14                  30
35                FIRENZE        252   528  303                 452
36                 FOGGIA          3    15    9                  37
37          FORLI' CESENA          5    29   12                  30
38              FROSINONE         11     8   31                  44
39                 GENOVA          9    36   48                  25
40                GORIZIA          3     4    1                   3
41               GROSSETO          4     8    6                  20
42                IMPERIA        NaN     3    6                  10
43                ISERNIA          1     2    1                   7
44              LA SPEZIA          5    22    6                  14
45               L'AQUILA          3    10    5                  28
46                 LATINA          4     9   21                  35
47                  LECCE          9    33   25                  39
48                  LECCO          6    34   17                  33
49                LIVORNO          8    22   14                  40
50                   LODI          5    19   32                  20
51                  LUCCA         11    50   34                  50
52               MACERATA         10    34   20                  24
53                MANTOVA          5    56   22                  23
54          MASSA-CARRARA          5    30    7                  28
55                 MATERA          4     3    6                  12
56                MESSINA          6    21   27                  44
57                 MILANO         60   303  327                 260
58                 MODENA         27    56   89                  55
59  MONZA E DELLA BRIANZA         32    86   86                 100
60                 NAPOLI         24    65   61                 128

   CITROEN/DS DACIA  FIAT  FORD HONDA  ... SKODA SMART SSANGYONG SUBARU  \
1         NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN       NaN    NaN
2          23    30    87    27   NaN  ...     1     1         1    NaN
3          53    84   171   101     4  ...    12     4       NaN      2
4          49    64   198    52    11  ...    22     7       NaN    NaN
5         363    14  5319    66     3  ...    26   110       NaN    NaN
6          45    64   120    61     6  ...     4     3         1      5
7          60    46    72    25     1  ...     4     1         3    NaN
8          16    62    54    68     3  ...     5   NaN         1    NaN
9          40    27   115    42   NaN  ...     6     3       NaN    NaN
10        109    82   419   170     9  ...    19    17         2      1
11         14    13    53    19   NaN  ...     6     1       NaN    NaN
12         71    30   112    37     2  ...    11     2       NaN      2
13         11    18    96    17     3  ...     8     2       NaN    NaN
14        205   203   282   169    34  ...    50    16         2      7
15         27    34    75    60     5  ...     4   NaN         1    NaN
16        156   241   322   278    27  ...    40    39         7      3
17        577   240  8172  1390     2  ...   736   277       NaN      2
18        196   255   339   228    21  ...    45    28         1     10
19         20    16    77    22   NaN  ...     1     5       NaN    NaN
20         54    81   177   113     5  ...   NaN    10       NaN    NaN
21         15    28    39     9   NaN  ...     1   NaN       NaN    NaN
22         11     9    41    11   NaN  ...     2     3       NaN    NaN
23         51    48   118    63     5  ...    12     5         1      2
24         63    83   128    85    10  ...    21    21       NaN    NaN
25         38    25   117    42   NaN  ...     8     6       NaN      1
26         32    39   157    33     4  ...     5     9       NaN    NaN
27        104   125   200   113    19  ...    31    17         1      9
28         43    21   226   110     3  ...    10     6         1    NaN
29         63    68    73    58     7  ...     6     6       NaN    NaN
30         23     8    35    12   NaN  ...     1     1       NaN    NaN
31        133   144   309   127     4  ...    19    17       NaN      3
32          2     6    10     7   NaN  ...     3     2       NaN    NaN
33          9    15    44    21     6  ...     3     1         1      2
34         26    72    72    65     3  ...    30     1         1    NaN
35        532   216  1244   366    32  ...   184   104         2      6
36         30    77    85    19     4  ...     2     1         1    NaN
37         40    75   150    86    16  ...     9     4         1    NaN
38         14    42   161    44     3  ...     4     6       NaN      1
39         40   102   192   173    14  ...     5    44       NaN      4
40          7    16    14    46     8  ...     3     1       NaN      1
41         14    29    48    31     1  ...    13     1         1    NaN
42         27     8    70    38     8  ...     4     1       NaN    NaN
43          3     6    17     3   NaN  ...     1     1       NaN    NaN
44         16    39   106    50     3  ...     5     2       NaN    NaN
45         23    30   127    19     2  ...     3     5         1      1
46         46    45   114    70     3  ...     4    16         2    NaN
47         29    93   196    61   NaN  ...     3    15       NaN    NaN
48         33    49   143    45     7  ...    24     9       NaN      5
49         17    68    91   113     6  ...    17     6         5    NaN
50         19    59    76    66     6  ...     5   NaN         1      1
51         37    79   178    83     3  ...    17     1       NaN      2
52         18    28    97    30     3  ...    13     1         3      2
53         59    72    70    63     4  ...    28   NaN       NaN      1
54         34    32   100    30     1  ...    11     2         2    NaN
55         23    10    60    17     3  ...     2     1       NaN    NaN
56         52    53   162    47     1  ...    10    15       NaN      1
57        559   669  1019   698    98  ...   163   197        60     16
58        108   157   308   149     6  ...    41     6         5      4
59        181   204   260   160    25  ...    46    38        12      4
60        183   213   505   222    10  ...    39    38         2      1

   SUZUKI TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1     NaN          NaN        NaN   NaN   NaN    NaN
2       7           10         59   NaN     0    472
3      54           58         73    14     1   1128
4      21           49        192    16     9   1261
5      38           24         65    12     2   9808
6      27           34        146     3     2    923
7      12           13         48   NaN     0    517
8      22           14         37     5     4    495
9      11           22         38     1     0    565
10     47           74        152    13    10   2030
11     14           15         26   NaN     0    290
12     31           27         48     2     1    656
13      2            6         16   NaN     0    364
14     67          211        394    19    14   3154
15     43           33         69     1     2    551
16     85          287        406    59    25   3598
17     26          719       3793   255    19  27660
18     65          234        419    28    12   3519
19     12            7         11     3     3    481
20     15           68        118     4     1   1030
21      9            1         27   NaN     0    253
22      3           14         22   NaN     1    247
23     11           33         58     5     3    917
24     60           60         94     2     1   1278
25      7           21         81   NaN     0    642
26     12           31         92     2     0    762
27     92          154        252    20     7   2078
28     19           20         98     6     2    990
29     20           56        108     9     6   1042
30      3            9         13   NaN     0    165
31     51           88        168    27     8   1934
32    NaN            5         12   NaN     0    127
33      7           16         37     1     3    336
34     10           80        109     7     4    921
35     85          525        756   377     6   9035
36      9           35         35     4     1    592
37     20           53        138     7     1   1072
38      9           43         92     4     2    812
39     80          107        234    11     6   1607
40     12           10         21     3     0    294
41     19           11         73     1     1    424
42     25           38         37     4     1    398
43      3            2         10     1     0     93
44     10           25        100     2     0    592
45     18           23         74     3     2    582
46     13           54         58     6     0    869
47     31           11        139     4     1   1282
48     38           75        134     2     4   1004
49     15           42        118     3     1    931
50     14           32         76     1     5    727
51     33           49        127    10     5   1240
52     21           22        106     4     4    636
53     17           75        138    14     7   1070
54      9           25         97   NaN     1    561
55     10            6         23     1     0    287
56     11           23         78     2     1    899
57    284          913        868    75    69  10377
58     48          155        228    59    11   2441
59     62          243        262    11    11   2972
60     33           72        189    17     8   2966

[60 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(51, 37)>
{'accuracy': 100.0, 'whitespace': 9.96, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

              PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1            RESIDENZA        NaN   NaN   NaN                 NaN        NaN
2               NOVARA         12    54    41                  27         72
3                NUORO          2     4     2                  10         19
4             ORISTANO          4   NaN     2                  12         18
5               PADOVA         35   105    74                  79        131
6              PALERMO         14    53    26                  90         76
7                PARMA          7    57    43                  34         39
8                PAVIA         13    22    48                  45         49
9              PERUGIA         17    49    39                  69         77
10       PESARO URBINO          8    34    13                  34         39
11             PESCARA          5    25    31                  23         52
12            PIACENZA          3    26    24                  36         48
13                PISA         13    49    17                  61         28
14             PISTOIA         11    29    20                  28         51
15           PORDENONE          9    19    32                  20         54
16             POTENZA          5     5     1                  27         17
17               PRATO          7    18    43                  36         62
18              RAGUSA          3     9     1                  32         46
19             RAVENNA          6    23    16                  58         44
20  REGGIO DI CALABRIA          1    32     4                  31         26
21  REGGIO NELL'EMILIA         13    45    41                  36        111
22               RIETI          1     3     4                  11          9
23              RIMINI         10    27    16                  33         48
24                ROMA         65   185   296                 287        532
25              ROVIGO          3    29    51                   8         27
26             SALERNO         14    40    16                  77         95
27             SASSARI          8    12     4                  32         46
28              SAVONA          3    16     9                  18         32
29               SIENA         11    24    12                  37         41
30            SIRACUSA          1    11    12                  19         37
31             SONDRIO          3     8     7                   5         16
32        SUD SARDEGNA          7     4     2                  24        110
33             TARANTO          3    22    18                  22         28
34              TERAMO          5    14    16                  28         33
35               TERNI          1    10    16                  23         45
36              TORINO         88   167   138                 429        277
37             TRAPANI        NaN    16   NaN                  15         34
38              TRENTO        142   710   892                 739        972
39             TREVISO         22    71    83                  87         84
40             TRIESTE          2    18    33                  13         15
41               UDINE         15    53    43                  27         71
42              VARESE         16    79    86                 141        155
43             VENEZIA         18    50    36                  98        107
44            VERBANIA          3     8     8                  18         20
45            VERCELLI          6    11    10                   9         20
46              VERONA         43   154   144                  83        138
47       VIBO VALENTIA          3    10     1                  13         12
48             VICENZA         41    66    53                 145         82
49             VITERBO          2    11    18                  23         27
50              TOTALE       2348  6738  5544                8460       9018

   DACIA   FIAT   FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1    NaN    NaN    NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2     76    102     78     9  ...    16     3         1      1     34
3     23     18     15   NaN  ...     9   NaN       NaN    NaN      1
4     15     13     22   NaN  ...     1   NaN       NaN    NaN    NaN
5    121    301    174    17  ...    49    17         1      8     53
6    107    307    103     1  ...    13    42         1      4     25
7    108    148     99     9  ...    18     1         3      3     38
8    150    214    166    13  ...    11     3       NaN      6     54
9     94    300    105    13  ...    17    16         4      1     19
10    78    122     80     2  ...    14     5         4      3     27
11    41    114     41   NaN  ...     2    16         5      1     17
12    54    115     55     7  ...    14   NaN         4      2     24
13    99    188     97     9  ...    18     4         1      1     23
14   131     65     29     3  ...    13     8       NaN      1     20
15    33     88     45     2  ...     4     1         3      3     22
16    26    167     20     2  ...     7     3         1    NaN      8
17    58    106     36     4  ...     9     5         1    NaN     21
18    26     85     38   NaN  ...   NaN     6       NaN    NaN     12
19    77    100     77     3  ...    28     8         1      1     27
20    28    111     43     8  ...    11     8         5      1     13
21   117    220    108    12  ...    23    10       NaN      4     51
22    15     52     25     1  ...     1     2         1    NaN      3
23    56     69     40     8  ...    19     7         1    NaN     31
24   741   1164    819    50  ...    45   554         5      8    229
25    48     53     47     2  ...    11     2       NaN      2     17
26    47    289     79     1  ...    12     2         1    NaN     18
27    33    114     76     1  ...     5     8         4    NaN     14
28    37    106     76    11  ...     3     6       NaN      2     28
29    87     97     46     4  ...     9     1         2      1     23
30    43     72     47     6  ...   NaN     6         1    NaN      6
31    14     60     47   NaN  ...    15     3       NaN      3     36
32    44     57     72     1  ...     1     2       NaN    NaN      8
33    37     92     40     7  ...     9     4       NaN    NaN      9
34    38    122     51     1  ...     2     6         2      1      9
35    34     72     37     2  ...     6     5         1    NaN      4
36   426   2286    467    41  ...    80    57        25      4    167
37    18     76     23   NaN  ...     2     3       NaN    NaN      7
38    84   1750   1000    10  ...   261   345         3      5     65
39   133    126    183     9  ...    42    25       NaN      6     44
40    21     59     31    14  ...     4    15         2      6     30
41    69    150     79     8  ...    32     7         1      3     49
42   190    245    138    23  ...    35     4       NaN      7    130
43   135    257    134    11  ...    38    13       NaN      5     43
44    13     49     41     2  ...     8   NaN       NaN    NaN     27
45    36     58     41    14  ...     3     1         2      2     33
46   168    290    171    22  ...   124    17         7     17     51
47    10     38     17   NaN  ...     1     1       NaN    NaN    NaN
48   116    714    178    21  ...    42    15       NaN      6     69
49    35     77     42   NaN  ...     3     6       NaN      1     14
50  8956  34900  11908   848  ...  2898  2409       215    218   3485

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1           NaN        NaN   NaN   NaN     NaN
2            67        121     3     5    1051
3            19         19   NaN     0     242
4             6         36   NaN     0     187
5           192        316    27     6    2738
6            89        158     1     5    1690
7            74        153    15     8    1377
8            88        109    13     5    1693
9            63        213    29     2    1727
10           23        132     6     2     936
11           26         51     4     0     704
12           55         68     9     0     882
13           44        190    28     5    1359
14           25        109     9     2     909
15           72         77     8     0     826
16            5         38     2     1     512
17           49        130     9     1     965
18           33         45     3     0     506
19           62        119    21     2    1073
20           37         53     5     2     633
21           94        174     5     6    1706
22            8         26   NaN     0     236
23           40         74     7     2     785
24          948        922    46    23   12526
25           31         94     2     1     593
26           35        139     1     2    1385
27           28        109     6     1    1074
28           31         89     3     1     657
29           46        116   NaN     0     825
30           33         31   NaN     0     471
31           26         33     4     0     409
32           17         56   NaN     1     743
33           16         33     2     0     630
34           24         79     9     2     683
35           34         73     3     1     597
36          377        548    27    36    7836
37           27         59   NaN     1     461
38          630        675   166    12   15047
39          185        309    25    10    2216
40           29         63   NaN     1     533
41           71        177    35     4    1502
42          269        319    14     4    2921
43          115        252    18     7    1945
44           11         53     2     1     397
45           19         35     5     2     464
46          144        395    26    17    2965
47            6         15     1     0     225
48          197        268    21    12    2931
49           31         35     4     5     577
50         9713      18880  1764   486  197307

[50 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2019_6.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(62, 37)>
{'accuracy': 100.0, 'whitespace': 11.2, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               RESIDENZA        NaN  NaN  NaN                 NaN        NaN
2               AGRIGENTO        NaN   25    1                  29         26
3             ALESSANDRIA         10   44   41                  37         57
4                  ANCONA         17   35   17                  40         46
5                   AOSTA        721   60   28                2981        199
..                    ...        ...  ...  ...                 ...        ...
57                 MILANO         76  381  316                 245        510
58                 MODENA         11   59   86                  41         82
59  MONZA E DELLA BRIANZA         35   67  103                  88         86
60                 NAPOLI         18   86   28                 127        175
61                 NOVARA         11   56   14                  22         56

   DACIA  FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1    NaN   NaN  NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2     14   100   15     1  ...     2     4         1    NaN      4
3     55   151   68     9  ...    17     2       NaN      5     46
4     65   152   41     9  ...    19    13       NaN    NaN     35
5     17  1472  155     6  ...    23    31         1    NaN     42
..   ...   ...  ...   ...  ...   ...   ...       ...    ...    ...
57   665   755  601    91  ...   178   123        28     20    336
58   133   135   70     7  ...    41    12         1      8     42
59   171   209  134    36  ...    39    30         7      5     82
60   219   462  186    14  ...    32    45         4      4     41
61    81    97   62     9  ...    17     2       NaN    NaN     53

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2             5         39     1     1    448
3            45        100    17     4   1050
4            39        179    16    14   1142
5            22         54     3     3   6786
..          ...        ...   ...   ...    ...
57          756        899    85   136   9933
58           95        139    79    24   1860
59          177        302    10    31   2686
60           88        201    18    35   2930
61           56         97     4     8    980

[61 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(50, 37)>
{'accuracy': 100.0, 'whitespace': 11.24, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

              PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1            RESIDENZA        NaN   NaN   NaN                 NaN        NaN
2                NUORO          4     3     1                  11         21
3             ORISTANO          2     1     2                   9         16
4               PADOVA         21    83    69                  81         93
5              PALERMO         16    45    28                  81         63
6                PARMA          5    53    40                  41         63
7                PAVIA         13    27    47                  44         61
8              PERUGIA         20    70    40                  64         78
9        PESARO URBINO          2    34     9                  25         37
10             PESCARA          7    12    31                  17         54
11            PIACENZA          4    16    35                  24         59
12                PISA         13    48    16                  53         43
13             PISTOIA          2    28    15                  17         58
14           PORDENONE          6    15    24                  10         45
15             POTENZA          8    14     2                  24         25
16               PRATO          1    13    44                  31         36
17              RAGUSA          7    17     3                  26         40
18             RAVENNA          9    19     7                  62         33
19  REGGIO DI CALABRIA          6    30     4                  23         25
20  REGGIO NELL'EMILIA         10    50    27                  19         89
21               RIETI          2     3     5                   9          9
22              RIMINI         11    23    14                  29         48
23                ROMA         68   177   282                 247        525
24              ROVIGO          3    25    57                   8         25
25             SALERNO         25    29    47                  56        124
26             SASSARI          8    11     4                  24         52
27              SAVONA          1    17     6                  20         36
28               SIENA          8    16     9                  30         29
29            SIRACUSA          4     7    11                  19         26
30             SONDRIO          5     4     4                  12         11
31        SUD SARDEGNA          8     5     2                  26         44
32             TARANTO          6    17    15                  30         28
33              TERAMO          6     5    18                  25         19
34               TERNI          6     2    11                  14         44
35              TORINO         98   184   123                 547        296
36             TRAPANI          4    15     3                  10         28
37              TRENTO        123   643   884                 176        940
38             TREVISO         27    88    63                  64         87
39             TRIESTE          7    26    21                   8         12
40               UDINE         14    75    34                  28         28
41              VARESE         18    72    79                 127        114
42             VENEZIA         30    47    35                  84         88
43            VERBANIA          6    10    11                  10         10
44            VERCELLI          3     8     6                  13         12
45              VERONA         36   143   161                  63        122
46       VIBO VALENTIA        NaN     9     1                   8          5
47             VICENZA         39    72    64                  74         27
48             VITERBO          3    13    14                  25         30
49              TOTALE       2554  6639  5196                8425       7845

   DACIA   FIAT  FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1    NaN    NaN   NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2     10     23    18     1  ...   NaN   NaN         1    NaN      9
3     17     11    18   NaN  ...     1   NaN       NaN    NaN     12
4    117    272   140    15  ...    60    16       NaN     14     56
5     99    285   116     3  ...    15    43         1      4     32
6    136    101    90     8  ...    36     1         3      1     52
7    117    159   123     9  ...    14     9       NaN      3     65
8     68    228    80     5  ...    16    16         9      3     35
9     84     99    47     4  ...    19     9         2      2     28
10    21     75    20     2  ...     3    12         1    NaN     19
11    53     82    47     7  ...     9     5       NaN      4     23
12    93    174    65     9  ...    18     2         1      2     41
13   171     66    26     5  ...    17     6         1      1     26
14    22     82    43   NaN  ...     8    10         3      1     30
15    21    124    18   NaN  ...     6     3       NaN    NaN     11
16    59     86    24     2  ...     5     4         1    NaN     23
17    41     74    36     2  ...     1     1         1    NaN     14
18   126    101    59     8  ...    30     4       NaN      3     34
19    44     96    39     4  ...     8     8         3    NaN     15
20   108    242    76     3  ...    26   NaN         1      5     59
21    14     45    25   NaN  ...   NaN     1         1      1      7
22    57     92    45    10  ...    14     5         1    NaN     27
23   684   1504   790    30  ...    43   335         2      8    273
24    30     29    38     2  ...    18     3         2      1     19
25    59    234    78     1  ...    13     3         1    NaN     31
26    64     96    60     1  ...     7     3       NaN    NaN     11
27    26    118    62     4  ...     3     1       NaN    NaN     27
28    50     85    61     5  ...    10     8         1    NaN     14
29    56     89    54     1  ...     1     5       NaN    NaN     10
30    16     32    72     4  ...    15   NaN       NaN    NaN     32
31    42     47    52     1  ...   NaN     3         1    NaN      4
32    34     96    29     4  ...     7   NaN       NaN    NaN     13
33    29     99    33   NaN  ...     3    15         6    NaN     14
34    30     60    31   NaN  ...   NaN     4         2      1      5
35   402   2259   367    30  ...   102    51        37      6    173
36    21     47    14   NaN  ...     2     1       NaN    NaN      6
37    69    786   876    15  ...   157   473       NaN     18     68
38   117    130   135    14  ...    50    11       NaN      7     46
39    21     82    23     8  ...     7    10       NaN      2     23
40    53    148    72    11  ...    41    10         4      1     49
41   186    231   129    27  ...    53     8       NaN     13    115
42   119    257   110     9  ...    41    14         5      9     42
43    19     51    40     5  ...    15     1       NaN    NaN     27
44    29     48    27     9  ...     5   NaN         1    NaN     37
45   138    216   143    15  ...   133    13         3      9     52
46    16     19    15   NaN  ...     1     1       NaN    NaN      3
47   178    667   145    22  ...    50     6       NaN     16     73
48    35     67    37     1  ...     2     4       NaN    NaN     19
49  8514  23232  9814   769  ...  2573  2408       199    261   3738

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1           NaN        NaN   NaN   NaN     NaN
2            17         16   NaN     0     224
3             5         20   NaN     0     171
4           159        299    48    20    2641
5            68        159     8    12    1703
6            59        120    23    16    1421
7            77        120    13     7    1549
8            75        192    41     6    1654
9            49        128     8     5     867
10           23         45    14     4     543
11           56         59    10     8     849
12           41        172    17     4    1251
13           29         82     2     2     904
14           40        103    18     4     835
15            2         43     2     1     460
16           54        128     9     4     881
17           33         47     2     2     514
18           45         98    42     4    1131
19           46         44     7     2     607
20           85        124     5     8    1570
21            6         17     1     2     239
22           39         76    11     4     821
23          792        806    67    58   11993
24           20         82     3     1     546
25           21         87     7     3    1320
26           31         94   NaN     0     691
27           26         76    14     5     619
28           33        102     5     1     725
29           29         34     1     1     543
30           22         32     5     4     387
31           11         47     1     0     428
32           19         22     2     0     605
33           11         46    11     2     561
34           19         70     1     4     447
35          324        589    34    41    7752
36           21         41     1     1     391
37          777        947   150    35   11963
38          149        252    25    18    2010
39           22         35     1     2     497
40           56        154    23     3    1308
41          212        290    28    12    2798
42          103        233    16    15    1931
43            8         58   NaN     2     406
44           22         21     6     4     377
45          162        349    39    21    2722
46            3          7   NaN     0     163
47          163        244    48    21    2871
48           26         30     3    11     520
49         8203      16139  1690   977  171626

[49 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2019_7.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(57, 37)>
{'accuracy': 100.0, 'whitespace': 12.04, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI  BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN  NaN                 NaN
2               AGRIGENTO          4    20    2                  26
3             ALESSANDRIA         13    76   34                  27
4                  ANCONA         11    54   16                  40
5                   AOSTA        616    58   21                1504
6                  AREZZO          5    39   28                  35
7            ASCOLIPICENO          7     4    4                  24
8                    ASTI          3    11    8                  13
9                AVELLINO         10    22    2                  26
10                   BARI         16    40   56                  88
11  BARLETTA-ANDRIA-TRANI          1     4   12                  26
12                BELLUNO          8    12   11                  27
13              BENEVENTO          3     6    4                  11
14                BERGAMO         24   146   71                  59
15                 BIELLA          7    23    4                  19
16                BOLOGNA         31   110   59                  87
17          BOLZANO-BOZEN         46  1043  233                 321
18                BRESCIA         28   126   65                  80
19               BRINDISI          2     5   10                  17
20               CAGLIARI         11    15   15                  40
21          CALTANISSETTA          2     4    6                   6
22             CAMPOBASSO          1     4    2                  12
23                CASERTA          5    27   12                  54
24                CATANIA          9    21   30                  44
25              CATANZARO          6    47    5                  31
26                 CHIETI         14    12    9                  34
27                   COMO         20    65   33                  51
28                COSENZA         16    20    4                  55
29                CREMONA         10    47   27                  16
30                CROTONE          1     3    1                   7
31                  CUNEO         10    39   39                  86
32                   ENNA        NaN     1  NaN                   1
33                  FERMO          5     4    3                  17
34                FERRARA          7    14   10                  30
35                FIRENZE        161   456  391                 235
36                 FOGGIA          6     6    7                  32
37          FORLI' CESENA          6    26    5                  24
38              FROSINONE         11    16   33                  48
39                 GENOVA          9    49   39                  26
40                GORIZIA          1     3    4                   7
41               GROSSETO          3     5    8                  13
42                IMPERIA          2     4    4                   7
43                ISERNIA          2     2    2                   6
44              LA SPEZIA          5    12    6                  14
45               L'AQUILA          7     7    4                  16
46                 LATINA          2     7   11                  31
47                  LECCE         13    38   17                  58
48                  LECCO         10    16   33                  50
49                LIVORNO          6    25   12                  27
50                   LODI          6    13   19                  22
51                  LUCCA          6    42   14                  40
52               MACERATA          4    24    9                  23
53                MANTOVA         10    45   22                  24
54          MASSA-CARRARA          2    36    8                  22
55                 MATERA          6     3    4                  15
56                MESSINA          4    11    9                  29

   CITROEN/DS DACIA  FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1         NaN   NaN   NaN  NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2          18    10    80   20   NaN  ...     1   NaN         1    NaN      7
3          48    66   159  103     5  ...    21     1       NaN      5     42
4          33    79   179   46    14  ...    17    10         1      1     43
5         204    19  1167   56     1  ...    14   114         1      1     57
6          51    58   108   44     1  ...     2     2         6      2     27
7          27    37    89   14   NaN  ...     1     1         1      3     10
8          10    33    42   40     3  ...     1     1       NaN      1     21
9          31    35   107   35   NaN  ...     9   NaN       NaN      1     11
10         53   106   373  146     8  ...    19    20         1    NaN     53
11          6    22    51   22   NaN  ...     3     1       NaN    NaN      9
12         41    15   134   34     1  ...     6     1       NaN      2     32
13          9    25    77   13     1  ...     5     1         1    NaN      3
14        156   179   227  126    26  ...    56    17       NaN      6     73
15         18    24    58   40    11  ...     2   NaN       NaN      1     33
16        118   188   328  255    22  ...    59    30         1     13     97
17        104    15   221  235   NaN  ...   297    17       NaN      2     25
18        124   176   306  189    18  ...    51    21         2      8    100
19         11    26    87   21   NaN  ...     1     4       NaN    NaN      8
20         45    64   116  102     3  ...   NaN    13       NaN    NaN     22
21         17     8    50   11   NaN  ...     1   NaN       NaN    NaN      5
22         12     9    45    3   NaN  ...     4     1         1      1      7
23         49    92   132   41     1  ...    10     6         1    NaN      8
24         60    85   158   81     7  ...    35    14         1    NaN     53
25         23    26    99   41   NaN  ...     4     5       NaN    NaN     12
26         33    15   146   29   NaN  ...     6     5         1    NaN     14
27         52    70   219  100    12  ...    40    15         2      6    102
28         51    26   191   92     1  ...    12     6         1    NaN     13
29         53    43    62   65     8  ...    13     4       NaN      2     23
30         19     7    37    7   NaN  ...   NaN     2       NaN    NaN    NaN
31        101    79   200  109    14  ...    15    11         1      3     54
32          7     5    11    5   NaN  ...     1     1       NaN    NaN      2
33          2    10    36   16     2  ...     2     3         1      1     10
34         15    57    54   57     1  ...    24     6         1      2     12
35        471   221  1075  358    23  ...   128   104         6      5     87
36         26    28    68   17     1  ...     4   NaN       NaN    NaN     14
37         31    76   117   96     9  ...    14     4       NaN    NaN     23
38         36    36   154   36     1  ...     7     6         1      2      6
39         23    70   176  142    13  ...     5    30         1      6     75
40         11    18    16   18     8  ...     3     5         1    NaN     16
41          6    27    35   26     3  ...    10     2         1    NaN     17
42         20    10    52   38     7  ...     2     1       NaN    NaN     17
43          5     2    11    9   NaN  ...   NaN     1       NaN    NaN    NaN
44         20    31    76   51     1  ...    12     1       NaN    NaN     15
45         19    19   120   11     1  ...     2     4         2      2     11
46         48    56   126   64     2  ...    11    13         2    NaN      7
47         27    53   183   73   NaN  ...     8     3       NaN    NaN     29
48         18    40   138   45     4  ...    32    10       NaN      5     45
49         13    64    91   91   NaN  ...    16     2         2      1     23
50         20    38    83   42     1  ...     3     2         2      1     17
51         38    87   149   78     1  ...    25     4         1      1     33
52         31    28    98   37     3  ...    14     2         1      4     18
53         39    52    53   45     4  ...    24   NaN         1      1     11
54         18    31   100   35   NaN  ...    10     1         2    NaN     13
55          4    17    68   17   NaN  ...     3     1       NaN      1      7
56         37    26   139   41     2  ...    12    13       NaN    NaN     27

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2             6         32     1     0    382
3            31        109     8     4   1098
4            46        148    20     9   1172
5            20         54     7     1   4538
6            33        124     3     2    853
7            14         40   NaN     3    415
8            14         47    11     4    458
9            16         47     4     7    529
10           54        156     6     7   1966
11           16         20     2     1    286
12           16         49     4     1    580
13           18         15   NaN     3    331
14          140        288    27    24   2750
15           28         49   NaN     6    462
16          202        300    66    19   3503
17           59       1104    26    56   5680
18          130        378    36    11   2988
19            6          7     2     0    388
20           69         83     9     5    934
21            4         29   NaN     1    238
22           10         18   NaN     1    214
23           22         44     7    13    978
24           42         90     3     1   1255
25           23         52   NaN     0    597
26           24         84     2    11    677
27          117        248    33     5   1901
28           24        103     2     7    913
29           55         89    12     6    894
30            6         10   NaN     0    152
31           55        137    26    14   1544
32            2         16     1     0    108
33            5         36     3    11    285
34           45         86     7     7    795
35          330        642   206    16   7393
36           28         22     2    12    534
37           30         99    22     6    958
38           24         78     8     4    805
39           76        211    12     1   1476
40            8         29     1     1    240
41           15         53     6     0    365
42           24         29     2     0    337
43            4          5   NaN   160    239
44            8         74     4     1    478
45           12         62     4     3    505
46           44         62     8     7    861
47           22        104     6     1   1240
48           42        117     7     2    963
49           34         83     7     2    773
50           19         66     1     9    597
51           43        110     4     6   1106
52           17         81     5     9    622
53           49        106    24     8    890
54           20         71     1     0    493
55            3         14   NaN     1    263
56           20         82     5     1    786

[56 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(55, 37)>
{'accuracy': 100.0, 'whitespace': 11.45, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN   NaN                 NaN
2                  MILANO         66   352   280                 214
3                  MODENA         22    75    53                  40
4   MONZA E DELLA BRIANZA         30    95    73                  83
5                  NAPOLI         13    79    46                 160
6                  NOVARA          9    80    14                  27
7                   NUORO          3     2     1                   7
8                ORISTANO          2   NaN     1                  12
9                  PADOVA         20    74    59                  73
10                PALERMO         19    60    17                  85
11                  PARMA         11    63    26                  22
12                  PAVIA         18    23    30                  48
13                PERUGIA         13    80    25                  64
14          PESARO URBINO          9    37    10                  25
15                PESCARA          1    12    11                  25
16               PIACENZA          3    19    18                  21
17                   PISA          9    45    21                  66
18                PISTOIA          5    38    15                  32
19              PORDENONE         10    20    14                  23
20                POTENZA          3     3     2                  39
21                  PRATO          3    19    18                  39
22                 RAGUSA          3    20     2                  31
23                RAVENNA          3    31     9                  46
24     REGGIO DI CALABRIA          9    17     3                  22
25     REGGIO NELL'EMILIA         15    54    13                  46
26                  RIETI          2     2     6                   7
27                 RIMINI          6    19    14                  22
28                   ROMA         53   161   199                 280
29                 ROVIGO          5    18    22                   4
30                SALERNO          8    60    26                  68
31                SASSARI          7    13     4                  29
32                 SAVONA          4     8     8                  14
33                  SIENA         10    28    14                  39
34               SIRACUSA          2    10     7                  17
35                SONDRIO          6     6     1                  28
36           SUD SARDEGNA         10     6     5                  23
37                TARANTO          2    25    17                  36
38                 TERAMO          8    10    18                  30
39                  TERNI          5     6    10                  16
40                 TORINO        238   127    96                1186
41                TRAPANI          2    14   NaN                  11
42                 TRENTO        144   736   693                 203
43                TREVISO         24    83    24                  70
44                TRIESTE          6    23     6                  24
45                  UDINE         10    55    32                  34
46                 VARESE         17    94    60                  83
47                VENEZIA         14    50    20                  61
48               VERBANIA          5     6     4                   8
49               VERCELLI          1    10     4                  13
50                 VERONA         20   168   113                  44
51          VIBO VALENTIA          2     9     2                   6
52                VICENZA         22    75    39                 139
53                VITERBO          5     8    13                  18
54                 TOTALE       2171  6096  3715                7446

   CITROEN/DS DACIA   FIAT  FORD HONDA  ... SKODA SMART SSANGYONG SUBARU  \
1         NaN   NaN    NaN   NaN   NaN  ...   NaN   NaN       NaN    NaN
2         432   645    778   658    72  ...   202    88        53     14
3          72   112    262   168     8  ...    43    12         1      3
4          93   190    247   139    13  ...    44    27         5      5
5         183   220    474   222    11  ...    41    50         3      1
6          45    64     83    51     6  ...    22   NaN       NaN      1
7           5    12     39    12   NaN  ...     4   NaN       NaN    NaN
8          14    17     12    27   NaN  ...   NaN   NaN       NaN    NaN
9          97   109    248   147    16  ...    52     8         2     16
10         68   112    233   103     6  ...    15    43       NaN      3
11         58   102     95    86     7  ...    23     5         2      2
12         44   117    163   118    11  ...    11    15         1      1
13         53    81    240    79     7  ...    21    11         6      2
14         32    77     96    61     1  ...    14    20       NaN      2
15         48    19    122    29     1  ...     5     9         4      1
16         43    46    109    42     5  ...    14     1         1      1
17         29    92    177    95    10  ...    26     5       NaN    NaN
18         38    66     73    23     3  ...    14     1       NaN      2
19         25    24     81    58     4  ...     6     4         3    NaN
20         20    12    165    20   NaN  ...     8     7       NaN      1
21         52    42     94    37     1  ...     8     4         2    NaN
22         30    30     91    41   NaN  ...   NaN     4       NaN    NaN
23         34    71     87    72     7  ...    27     4       NaN    NaN
24         22    39    120    42     6  ...    13    10       NaN    NaN
25         78   115    223    86    11  ...    33     3       NaN      6
26          3    27     44    16   NaN  ...   NaN     3       NaN    NaN
27         35    51     67    33     8  ...    10    12       NaN      1
28        412   725    996   722    26  ...    57   328         5     11
29         27    44     22    33     1  ...    24   NaN       NaN      2
30        118    74    259    65     1  ...     7    12       NaN    NaN
31         45    41    101    65     2  ...     1     7       NaN    NaN
32         21    23     88    47     7  ...     1     5       NaN    NaN
33         36    63     92    43     4  ...     8     2         3      5
34         32    41    101    57     1  ...     3     2       NaN    NaN
35          3    15     47    76     2  ...    18     2       NaN      4
36         39    42     54    59     1  ...   NaN   NaN       NaN    NaN
37         19    41    100    42    12  ...    13     1       NaN    NaN
38         29    28    114    33   NaN  ...     1     8         2      1
39         30    31     52    30     1  ...     2     3       NaN      3
40        182   410   2519   398    17  ...    83    45        29      8
41         26    18     89    15   NaN  ...     1     1       NaN    NaN
42        818    49    945   918     9  ...   179   685         2     17
43         69   108    116   152    10  ...    40    21         1      6
44          9     8     65    29     4  ...     4    14         3      5
45         30    40    134    53    10  ...    31     9         3      2
46        106   203    186   139    23  ...    45     7         2     11
47         72    94    199   103     6  ...    37     6         2      5
48         25    11     43    26     4  ...    13   NaN       NaN    NaN
49         24    29     35    26     3  ...     9   NaN         2    NaN
50        116    99    184   135    12  ...    89     8         9      7
51          8    14     33    13   NaN  ...   NaN     2       NaN      1
52         88   120    540   157     5  ...    49    18         1      7
53         22    33     74    42     1  ...     4     5         1    NaN
54       6621  7635  20088  9511   620  ...  2452  2079       196    247

   SUZUKI TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1     NaN          NaN        NaN   NaN   NaN     NaN
2     348          603        918    85    91    9923
3      75          111        152    74    25    2112
4      77          172        291    16    17    2636
5      50          164        186    14    26    3088
6      48           43        137     3     8     972
7       3           12         20   NaN     0     218
8       9            6         31   NaN     0     182
9      59          131        278    44    13    2392
10     19           73        149     6    18    1612
11     49           66        120    22    18    1267
12     74           67        131    13     9    1494
13     35           61        179    59     7    1582
14     22           35        117     5     3     880
15     11           25         50   NaN     4     667
16     16           18         59    19     6     755
17     26           50        156    15     6    1298
18     20           20         96     5     3     707
19     19           35         89    14     4     769
20     11            4         33   NaN     0     496
21     26           32        110     6     2     864
22      9           24         40     1     5     473
23     27           41        102    29     3    1003
24     14           40         55     5     4     631
25     65           79        118    13    10    1576
26      5            4         14     2     2     228
27     26           46         79     9     5     744
28    299          720        777    65    60   10160
29     11           28         65     7     0     488
30     20           33         96     6     1    1375
31      8           30         75     5     4     703
32     25           33         59     4     2     510
33     27           19         85     8     3     733
34      7           20         38   NaN     0     552
35     19           13         35     5     2     405
36      5           11         38     1     0     555
37     10           10         30     3     1     671
38     12           21         44     7     2     590
39     10           15         67     3     6     481
40    196          270        541    45    62    8877
41      4           14         40     1     1     393
42     84          794        795   140    16   11466
43     47          126        211    36     7    1897
44     18           23         53     1     1     442
45     38           59        140    32     5    1226
46    130          212        278    26     6    2644
47     47           74        225    15    19    1687
48     24           12         37   NaN     0     346
49     44           24         23     2     2     383
50     51          103        332    33    13    2525
51      7            4          9     2     0     193
52     59          149        259    40    11    2666
53      9           26         41     4     6     475
54   3853         7029      14395  1613  1009  152800

[54 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2019_8.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(57, 37)>
{'accuracy': 100.0, 'whitespace': 18.21, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               RESIDENZA        NaN  NaN  NaN                 NaN        NaN
2               AGRIGENTO          1    8    1                  15         15
3             ALESSANDRIA         19   41   17                  21         33
4                  ANCONA          8   29   17                  30         30
5                   AOSTA        192   22    5                 454         47
6                  AREZZO          1   19   12                  22         30
7            ASCOLIPICENO          7    5    5                   7         13
8                    ASTI          2    5    6                   7          7
9                AVELLINO          2   18    1                  16         23
10                   BARI          3   25   32                  44         53
11  BARLETTA-ANDRIA-TRANI          3    2    9                  11          5
12                BELLUNO          8    8    4                  16         26
13              BENEVENTO        NaN    3  NaN                   8          6
14                BERGAMO         12   63   48                  25         80
15                 BIELLA          7    8    3                  11          3
16                BOLOGNA         16   29   47                  35         75
17          BOLZANO-BOZEN          7  572   34                   9         30
18                BRESCIA         16   45   40                  41        100
19               BRINDISI        NaN    1    3                  10          9
20               CAGLIARI         11    4   11                  27         26
21          CALTANISSETTA          3    2    5                   4          9
22             CAMPOBASSO          2    2  NaN                   3         13
23                CASERTA          7   11   16                  14         25
24                CATANIA          5   21   14                  32         37
25              CATANZARO          2   13    5                  17         16
26                 CHIETI         11    4    2                  25         25
27                   COMO          4   33   35                  38         25
28                COSENZA          8   10    8                  28         24
29                CREMONA          5   26   40                   9         25
30                CROTONE          1    4    1                   1         13
31                  CUNEO          5   13   23                  48         48
32                   ENNA        NaN    1    1                   4          2
33                  FERMO          1    3    3                   6          3
34                FERRARA          3    6    8                  15         18
35                FIRENZE         73  162  275                 144        289
36                 FOGGIA          3    5    6                  14         14
37          FORLI' CESENA          5   22    6                  11         20
38              FROSINONE         13    4   21                  27          8
39                 GENOVA          3   14   24                  19         15
40                GORIZIA        NaN    2    2                   1          4
41               GROSSETO          5    2    2                   7          5
42                IMPERIA        NaN    1    4                   5          9
43                ISERNIA        NaN  NaN  NaN                   5          1
44              LA SPEZIA        NaN    5    3                   6         14
45               L'AQUILA          3    2    1                   8         18
46                 LATINA          3    5    8                  16         26
47                  LECCE          2   17   16                  34          9
48                  LECCO          4    1    6                  24         11
49                LIVORNO          2   11    6                  21         13
50                   LODI          9    4   11                   7         13
51                  LUCCA          9   27   20                  21         25
52               MACERATA          2    8    6                  11         13
53                MANTOVA          3   25   17                   6         33
54          MASSA-CARRARA          3   10    1                  17         18
55                 MATERA          5    2    7                  11         15
56                MESSINA         10   19   11                  18         24

   DACIA FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1    NaN  NaN  NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2     32   63   21   NaN  ...   NaN     2         1    NaN      5
3     22   91   42     4  ...    13     1       NaN      1     15
4     36   79   23     6  ...    15     6         2    NaN      7
5      9  484   44     2  ...     8    24       NaN    NaN     28
6     39   60   30   NaN  ...     1     1       NaN    NaN     19
7     18   62   18     1  ...     1     3       NaN    NaN      8
8     51   26   28     2  ...     1   NaN         1    NaN      7
9     37   49   18     1  ...     5   NaN       NaN    NaN      2
10    61  213   89     4  ...     6     3         2    NaN     28
11    11   16   11   NaN  ...     4   NaN       NaN    NaN      6
12    17   52   19   NaN  ...     4   NaN       NaN      1     19
13    16   51    9   NaN  ...     1   NaN       NaN    NaN      4
14   119  111   86    19  ...    31    16         3      1     25
15    32   31   15     4  ...     2   NaN       NaN    NaN      9
16   152  178  136    10  ...    25    15         3      6     58
17    16   41  414     1  ...   184     5       NaN      1     27
18   177  171  104    11  ...    25    26         1      4     27
19    18   41   16   NaN  ...     4     2       NaN    NaN      8
20    73   69   65     4  ...   NaN    23       NaN    NaN     12
21    15   17   15   NaN  ...     2     1       NaN    NaN      1
22     8   18    7   NaN  ...     2   NaN       NaN    NaN     10
23    48   57   24     4  ...     8     6       NaN    NaN      7
24    79   63   47     5  ...    31    10       NaN    NaN     25
25    18   61   22   NaN  ...     4    13       NaN    NaN      6
26    24   79   19   NaN  ...     1     4         1    NaN      6
27    53   95   38     3  ...    22    11       NaN      2     24
28    12   97   58     3  ...     7     6         1    NaN      3
29    35   37   34   NaN  ...     5     4       NaN    NaN      3
30     5   21    6   NaN  ...     1   NaN       NaN    NaN      1
31    67  113   63     2  ...     4     7         1      3     28
32     4   13    4   NaN  ...     2   NaN       NaN    NaN      2
33     4   16   11   NaN  ...     2     1       NaN    NaN      6
34    50   38   36     1  ...    12   NaN         1    NaN     10
35   107  377  183    11  ...    73    57         3      1     47
36   107   36   16   NaN  ...   NaN   NaN         2      1      4
37    70   76   48     5  ...    11     2         1    NaN     16
38    36   71   27     1  ...     4     3         4    NaN      3
39    68   92   71     7  ...     1    10       NaN    NaN     28
40    15    7   10   NaN  ...     1     1       NaN    NaN     12
41    18   22   12   NaN  ...     8     1         1      1     13
42    11   28   19     2  ...     4     1       NaN      1     11
43     4    5    4   NaN  ...   NaN     1       NaN    NaN    NaN
44    19   56   25     2  ...     3     1         1      1      9
45    17   44    4   NaN  ...     1     2         1    NaN      4
46    48   90   25   NaN  ...     7    11         1    NaN      4
47    68   93   47   NaN  ...     3     9       NaN    NaN     15
48    31   62   21   NaN  ...    15     9       NaN      6      5
49    42   50   56   NaN  ...     8     1         1    NaN      8
50    19   32   29     3  ...     3   NaN       NaN    NaN      4
51    71   90   33   NaN  ...     8   NaN       NaN    NaN     24
52    33   39   20     1  ...     9     2       NaN      1     16
53    33   30   36   NaN  ...    10   NaN       NaN      1      3
54    14   45   23     1  ...     5   NaN       NaN    NaN      5
55    12   39   15   NaN  ...     2   NaN       NaN    NaN      2
56    43   73   29     1  ...     2     8         3    NaN      3

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2             2         25   NaN     0    307
3            22         51     9     3    596
4            25         71     3    19    642
5             9         29     3     0   1712
6            23         56     1     4    488
7            14         20   NaN     9    307
8             5         12     4     3    283
9             4         25   NaN     1    295
10           17         67     7     5   1065
11            8         18   NaN     6    165
12            6         25     1     0    311
13            9          9   NaN     1    202
14           91        146    23    16   1541
15           12         25   NaN     4    228
16          129        177    21    17   1759
17           40        568   118     5   2530
18           62        208    17     3   1831
19            2          6   NaN     1    231
20           43         44     3     2    614
21          NaN          7   NaN     0    141
22            4          5   NaN     5    145
23            5         17     7    15    601
24           28         48   NaN     1    755
25           14         34   NaN     1    361
26           31         55     3     4    483
27           55        117    23     3    989
28            5         52     1     2    472
29           25         39     4     3    542
30          NaN          6   NaN     0     85
31           28         71    12    21    834
32            2          4   NaN     1     67
33            6         16   NaN     4    165
34           37         36     8     3    502
35          203        307   125     7   3752
36            7         10     1    10    353
37           14         61     8     1    571
38           18         40     2     2    449
39           52        118     8     2    805
40            8         20     1     0    126
41            5         45   NaN     1    224
42            7         15   NaN     0    196
43          NaN          2   NaN    15     56
44           11         43   NaN     0    279
45            7         32     1     2    253
46           26         45     2     2    556
47           11         60     5     0    775
48           32         52     2     2    456
49           20         51   NaN     2    471
50            8         34   NaN     6    306
51           28         71     3     6    681
52            8         29     6     1    359
53           32         44     9    12    501
54           12         37     2     0    280
55            2         12     1     0    178
56           12         43   NaN     1    499

[56 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(55, 37)>
{'accuracy': 100.0, 'whitespace': 14.35, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN   NaN                 NaN
2                  MILANO         48   144   175                  80
3                  MODENA         18    36    47                  19
4   MONZA E DELLA BRIANZA         13    23    46                  42
5                  NAPOLI          9    22    34                  41
6                  NOVARA          4    26    11                  13
7                   NUORO          5     5   NaN                   6
8                ORISTANO          4   NaN     1                   5
9                  PADOVA         10    55    52                  62
10                PALERMO          8    25    16                  51
11                  PARMA          9    20    30                  14
12                  PAVIA          9    12    24                  21
13                PERUGIA          9    24    19                  36
14          PESARO URBINO          7    12    18                  18
15                PESCARA          4    16    17                  14
16               PIACENZA          3     2    17                  13
17                   PISA         14    13    12                  25
18                PISTOIA          4     9     6                   7
19              PORDENONE          2     3    12                  21
20                POTENZA          6     3   NaN                  21
21                  PRATO          4     2    29                  19
22                 RAGUSA          1     8     1                  13
23                RAVENNA          3    18     8                  28
24     REGGIO DI CALABRIA          3    11     3                  23
25     REGGIO NELL'EMILIA         26    11    20                  15
26                  RIETI          4     1     1                   6
27                 RIMINI          4    12    15                   5
28                   ROMA         55    66   140                 135
29                 ROVIGO          3    17    23                   6
30                SALERNO         15     6    11                  46
31                SASSARI          3     8     1                  18
32                 SAVONA          2     3     6                   9
33                  SIENA          4    13     5                  21
34               SIRACUSA          2     8     3                   8
35                SONDRIO          5     2     1                  13
36           SUD SARDEGNA          8     1   NaN                  20
37                TARANTO          1    10    12                  19
38                 TERAMO          6     5    11                  20
39                  TERNI          4     6     3                  15
40                 TORINO        102    50    55                1132
41                TRAPANI          2     4     1                  12
42                 TRENTO         55   282   640                 263
43                TREVISO         17    31    42                  53
44                TRIESTE          8     5     8                  15
45                  UDINE          3    23    18                  20
46                 VARESE         16    18    42                  35
47                VENEZIA         10    14    25                  47
48               VERBANIA          2     1     2                   4
49               VERCELLI        NaN     4     4                   1
50                 VERONA         20   134   157                  37
51          VIBO VALENTIA        NaN     2     3                   6
52                VICENZA         24    33    36                  62
53                VITERBO          4   NaN     7                  13
54                 TOTALE       1131  2663  2779                4134

   CITROEN/DS DACIA   FIAT  FORD HONDA  ... SKODA SMART SSANGYONG SUBARU  \
1         NaN   NaN    NaN   NaN   NaN  ...   NaN   NaN       NaN    NaN
2         289   377    452   244    24  ...    45   636        32      6
3          42   187    144    81     5  ...    25    12         2      6
4          45   118     93    54     6  ...    15     7         2      3
5          82   114    141    76     3  ...    14    10       NaN      2
6          31    51     36    37     5  ...     2   NaN         1      1
7          18    22     16    13   NaN  ...   NaN   NaN         1    NaN
8          11    15     13    15   NaN  ...   NaN   NaN       NaN    NaN
9          51    79    173    82     6  ...    35     3         5      5
10         52    87    178    78     7  ...    11    37         3    NaN
11         51    74     50    49     2  ...    12   NaN         2      1
12         35    83     87    60     3  ...     6     4         1      3
13         41    42    161    49     3  ...     9     9         5    NaN
14         15    53     48    27     1  ...     8     7         2      1
15         37    12     70    23     1  ...     4    28         2      4
16         22    26     48    32     1  ...     7     1       NaN      2
17          8    70     77    52     4  ...    11     4         1      1
18         22    77     27    16   NaN  ...    12     2         1    NaN
19         15    46     55    36   NaN  ...     2     3         6      2
20         14    12     92    10   NaN  ...     5     2       NaN    NaN
21         18    35     41    19     3  ...     3   NaN         3    NaN
22         22    26     37    12     1  ...   NaN     5       NaN    NaN
23         22    50     63    51     2  ...    14     9         1      1
24         19    36     74    27     5  ...    11   NaN         4    NaN
25         46    81    151    35     4  ...     7   NaN         1      1
26          3    16     22    19   NaN  ...   NaN   NaN       NaN    NaN
27         14    50     41    32     3  ...     8     4       NaN    NaN
28        261   462    446   406    14  ...    25   906         6      4
29         16    17     17    25     1  ...    10   NaN         2      2
30         49    34    128    56   NaN  ...     7     4       NaN    NaN
31         38    47     68    45   NaN  ...     1     6       NaN    NaN
32         21    24     63    29     3  ...     2     2       NaN      4
33         24    38     37    23   NaN  ...     4     4       NaN      2
34         24    49     60    37     2  ...     1     4       NaN    NaN
35          2     6     32    15   NaN  ...    10   NaN       NaN      2
36         18    40     43    42     1  ...   NaN     1       NaN    NaN
37         11    32     65    52     2  ...    12     2       NaN    NaN
38          9    22     74    17   NaN  ...     1     7         6    NaN
39         33    18     42    28   NaN  ...     3     1       NaN    NaN
40         99   238   3907   223    11  ...    50    23         6      1
41         15    20     37    14     1  ...   NaN   NaN       NaN    NaN
42        165    50    531   509     3  ...   199   568         7      1
43         55    96     59    93     6  ...    29     9         2      8
44         21    28     18    19     7  ...     2     8         1      2
45         26    62     82    52     5  ...    11     9         2      3
46         49   114    113    50    14  ...    17     2       NaN      6
47         46    78    104    74     2  ...    24     7       NaN      3
48         17    12     28    12     1  ...     8   NaN       NaN    NaN
49          5    21     16    28     2  ...   NaN   NaN         1    NaN
50         75   110    139    98     4  ...    69     5         6      6
51          8     7     23    11   NaN  ...     1     4       NaN    NaN
52         46    86    363    92    13  ...    18    17       NaN      9
53         21    45     45    16   NaN  ...     1     5       NaN    NaN
54       3670  5839  13000  5620   302  ...  1382  2686       149    124

   SUZUKI TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1     NaN          NaN        NaN   NaN   NaN    NaN
2      46          294        361    29   147   5198
3      19           71         45    54    33   1319
4      15           78        138     6     6   1186
5      12           54         91     5    37   1363
6       9           43         63   NaN     5    506
7       2           11         16   NaN     0    182
8       1            2         21   NaN     0    127
9      29           86        152    26    12   1362
10     11           44         87     4    13   1134
11     17           33         67     7    11    715
12     15           52         60     4     7    769
13     21           38         95    24     2    926
14     13           11         62     2     3    520
15      4           13         25     2     2    462
16     10           16         29     7     0    428
17     13           21         93    10     8    674
18      6           11         45     1     4    531
19     21           32         43     8     0    520
20      7            1         17     1     2    295
21     10           13         70   NaN     1    433
22      6           12         24     2     3    282
23     15           11         72    22     3    717
24      8           25         27   NaN     5    412
25      6           45         63     3     4    838
26      1            2         12   NaN     1    144
27     10           38         36    13     3    504
28     59          376        409    21    39   6160
29      4           11         38     2     2    315
30     12           27         55     1     2    735
31      7           18         43   NaN     3    460
32     16           13         30     4     2    337
33     15           13         58     5     0    416
34      4           27         24   NaN     1    380
35     22           12         10   NaN     1    179
36      2           10         29   NaN     0    364
37      6           10         10   NaN     0    470
38      9           11         24     2     1    351
39      4            9         45     1     2    324
40     57          147        198     5   553   8332
41      2           11         28   NaN     0    251
42     43          392        436    73     9   5961
43     12           74        117    13     7   1124
44     19           23         18   NaN     0    309
45     31           62         81    34     3    842
46     24          116        156     8     0   1405
47     18           48        111     8     7    994
48     15            9         11     1     0    188
49     15            9          8     5     3    171
50     18           59        230     8    24   1859
51      5            2          5   NaN     0    132
52     24           97        156    28     8   1616
53      8           20         25     1     7    342
54   1460         3949       7429   894  1220  88939

[54 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2019_9.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(59, 37)>
{'accuracy': 99.99, 'whitespace': 13.56, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               RESIDENZA        NaN  NaN  NaN                 NaN        NaN
2               AGRIGENTO          2   17    4                  26         22
3             ALESSANDRIA          4   21   47                  33         45
4                  ANCONA          7   34   41                  47         37
5                   AOSTA        905   39   27                 894        345
6                  AREZZO          5   16   31                  35         31
7            ASCOLIPICENO          5    7   15                  18         19
8                    ASTI          4    9   19                   9         15
9                AVELLINO          3   19    2                  10         52
10                   BARI         16   33   43                 109         82
11  BARLETTA-ANDRIA-TRANI          3    2   14                  17         13
12                BELLUNO          5   15    2                  34         33
13              BENEVENTO          5    1    1                  13         13
14                BERGAMO         12   72   79                  48        171
15                 BIELLA          4    8    7                  21         12
16                BOLOGNA         20  103   96                  72        152
17          BOLZANO-BOZEN         29  916  177                 194         61
18                BRESCIA          8  106   96                  49        140
19               BRINDISI          4    5   10                  12          8
20               CAGLIARI         10   13   20                  41         32
21          CALTANISSETTA        NaN    4    6                   8          7
22             CAMPOBASSO          1    5    1                   5         10
23                CASERTA         10   20   14                  33         53
24                CATANIA          7    9   25                  41         50
25              CATANZARO          5    9   12                  38         31
26                 CHIETI          4    5    8                  29         43
27                   COMO          9   23   67                  47         61
28                COSENZA          9   11   19                  51         47
29                CREMONA          5   43   49                  23         40
30                CROTONE          1    3    1                   4         16
31                  CUNEO          7   27   48                  87        109
32                   ENNA        NaN    3    2                   2          5
33                  FERMO        NaN    8  NaN                  10          2
34                FERRARA          1    8   12                  19         22
35                FIRENZE        153  341  491                 188        294
36                 FOGGIA          5    5    5                  18         32
37          FORLI' CESENA          1   10    7                  38         23
38              FROSINONE          4    9   32                  48         38
39                 GENOVA          4   38   39                  32         19
40                GORIZIA        NaN  NaN  NaN                   5          1
41               GROSSETO          2    5    6                  14         14
42                IMPERIA        NaN    2    4                   4         35
43                ISERNIA        NaN  NaN    2                   2          6
44              LA SPEZIA          2    7    6                   5         17
45               L'AQUILA          5    6    7                  24         26
46                 LATINA          3    6   11                  26         56
47                  LECCE          8   24   25                  49         19
48                  LECCO          4   16   13                  12         27
49                LIVORNO          3   27   14                  20         29
50                   LODI          2    9   25                  19         33
51                  LUCCA          6   18   16                  42         26
52               MACERATA          5   17   19                  27         25
53                MANTOVA          5   35   27                   8         49
54          MASSA-CARRARA          3   32    4                  22         21
55                 MATERA          8    4    8                   9         20
56                MESSINA          7    9   23                  25         49
57                 MILANO         50  247  414                 312        431
58                 MODENA          9   57   96                  44         86

   DACIA  FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1    NaN   NaN  NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2     10    96   14   NaN  ...     2     1       NaN    NaN      8
3     35   139   86     5  ...     5     1       NaN      3     31
4     41   165   46     6  ...    21     6         3      1     20
5      7  1249   46     3  ...    10    61       NaN      2     25
6     30   100   48     3  ...     3     2         2      1     19
7     15    70   21     1  ...     2     3       NaN      1     10
8     23    36   37     1  ...     2   NaN         1      2     11
9     24    75   29   NaN  ...     4   NaN       NaN    NaN      9
10    45   432  138     3  ...    19    21         1    NaN     43
11     8    78   22     2  ...     3     2       NaN    NaN      8
12    11   147   22   NaN  ...     6   NaN       NaN      4     12
13    12    64   11   NaN  ...     3     2       NaN    NaN      6
14    97   233  157    39  ...    29    33         2      7     32
15    13    84   46     5  ...     1   NaN         2      1     19
16   112   264  272    19  ...    50    45         4      7     54
17    15   863  158     3  ...   302     6       NaN    NaN     31
18   111   347  179    23  ...    34    42         5      3     53
19    19    79   26   NaN  ...     1   NaN       NaN    NaN      6
20    28   118   94     7  ...     1    11       NaN      1     15
21     1    43    9   NaN  ...     1   NaN       NaN    NaN      2
22     6    38    5   NaN  ...   NaN     2       NaN    NaN      8
23    55   109   45     2  ...     6     2       NaN      1      5
24    51   121   63     7  ...    24    14       NaN    NaN     47
25     6   123   40     2  ...     2     6       NaN    NaN     15
26    14   112   42     3  ...     5     4         1    NaN     18
27    63   203   90     4  ...    28    14         1      3     64
28    11   212   84   NaN  ...    10    14       NaN    NaN     21
29    30    49   66    10  ...    15     3       NaN      1     12
30     2    28    7   NaN  ...   NaN     1         1    NaN      2
31    58   200  129    11  ...    13    16         2      2     25
32     4    12    1   NaN  ...     2   NaN       NaN    NaN      5
33    12    21    8     6  ...     2     1       NaN      1      3
34    35    56   58     4  ...    20    11       NaN    NaN      9
35   129  1164  383    30  ...   119    95         3      4     77
36    29    70   19     2  ...     1     1         1    NaN     14
37    47   101   83    14  ...    12   NaN         2      2     20
38    19   147   40     2  ...     2     7       NaN      1      7
39    42   166  159    22  ...     2    30       NaN      1     40
40    12    11   26     8  ...     2     1         1      1     14
41    12    35   37     3  ...     8     3       NaN      1     17
42    14    46   38     5  ...     3     1       NaN      1     16
43     3    15    6     1  ...   NaN     1       NaN    NaN    NaN
44    15    93   42     7  ...     3   NaN       NaN    NaN     12
45     8    94   16     2  ...     3     1         1    NaN     23
46    36   136   41     3  ...    12     5       NaN    NaN     10
47    46   184   69     1  ...     6     4         1    NaN     20
48    25   107   38     4  ...    15    10         1      4     25
49    42    76  106     2  ...    18     7         5    NaN     20
50    21    84   48     6  ...     1     2         2      2      8
51    45   194   66   NaN  ...    22     4         2      4     17
52    19    79   22     3  ...    10     3       NaN    NaN     19
53    45    44   63     2  ...    21     4       NaN    NaN     15
54    19    78   27     2  ...    12   NaN       NaN    NaN      7
55     6    61   19   NaN  ...     1   NaN       NaN    NaN      3
56    18   123   50     1  ...     1    11       NaN    NaN     19
57   362   724  627    90  ...   134   109         9     15    196
58    93   202  178     8  ...    41     1         2      6     24

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2            11         43     1     0    387
3            26         73     8     2    909
4            52        143     7     8   1111
5            29         55    11     3   4159
6            39         92     6     2    733
7            19         35     3     2    417
8            11         38   NaN     0    395
9            14         36   NaN     1    413
10           77        151    15     8   1988
11            8         23     2     0    305
12           20         56     1     2    574
13           23         16   NaN     0    291
14          164        306    22    23   2562
15           29         37     3     2    430
16          240        324    54    18   2974
17           60       1202   322    36   4925
18          195        326    20    18   2973
19            4         15   NaN     0    379
20           63         95     5     1    882
21            6         25     1     0    185
22            8         20     2     2    203
23           18         58     4     2    855
24           58        116     1     1   1137
25           13         54   NaN     0    564
26           35         79     1     4    637
27          153        213    21    11   1833
28           18        102     6     2    925
29           59         98    13     7    929
30            2          8   NaN     0    113
31           69        147    11    13   1505
32          NaN         11   NaN     0    106
33           11         30     3     2    241
34           69        101    17     3    791
35          355        614   351    15   7301
36           33         49     1     2    540
37           47         95    12     1    868
38           30         68     6     0    713
39          101        204    10     7   1424
40           14         26     3     2    220
41           13         57     1     1    359
42           25         29     2     3    308
43            5          9     1     0     81
44           14         86   NaN     0    455
45           22         54     1     2    470
46           43         65     4     2    845
47           17        112     8     0   1134
48           82         94     3     2    770
49           25         90     4     0    733
50           25         65     3     1    584
51           54        134    17     1   1096
52           23         93    10     3    585
53           59         85     8     4    842
54           25         75   NaN     1    449
55            6         23     2     0    267
56           35         83     1     1    778
57          736        835    62    90   9261
58          127        128    33     9   1983

[58 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(53, 37)>
{'accuracy': 100.0, 'whitespace': 13.77, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN   NaN                 NaN
2   MONZA E DELLA BRIANZA         19    87    77                  58
3                  NAPOLI         13    63    67                  69
4                  NOVARA          8    49    27                  23
5                   NUORO          7     2     3                   7
6                ORISTANO          1     1     1                   4
7                  PADOVA         17    34    53                  81
8                 PALERMO          9    30    27                  75
9                   PARMA          7    28    51                  27
10                  PAVIA          7    15    57                  46
11                PERUGIA         15    29    51                  44
12          PESARO URBINO         11    32    22                  29
13                PESCARA          3    28    28                  26
14               PIACENZA          1    21    30                  18
15                   PISA          3    28    54                  48
16                PISTOIA          4     6    14                  28
17              PORDENONE          5    12    35                  24
18                POTENZA          5     4     3                  35
19                  PRATO          3     8    43                  36
20                 RAGUSA          4     8     3                  29
21                RAVENNA          6    21    18                  54
22     REGGIO DI CALABRIA          6    11     6                  24
23     REGGIO NELL'EMILIA         12    23    32                  30
24                  RIETI          1     2     8                   1
25                 RIMINI          6    16    25                  23
26                   ROMA         35   101   305                 196
27                 ROVIGO        NaN    10    51                   8
28                SALERNO         12    22    20                  57
29                SASSARI          2    10     6                  18
30                 SAVONA          3     5    11                  17
31                  SIENA          2     7    11                  71
32               SIRACUSA          1     4     8                  17
33                SONDRIO          6     4     5                   7
34           SUD SARDEGNA          7   NaN     4                   7
35                TARANTO          1    11    16                  23
36                 TERAMO          2     3    11                  24
37                  TERNI          2     3    11                  18
38                 TORINO        230   126    81                 572
39                TRAPANI        NaN    16     2                  13
40                 TRENTO        204   680   701                 230
41                TREVISO         19    69    16                  73
42                TRIESTE          1    23    20                  17
43                  UDINE         10    38    42                  30
44                 VARESE          8    38    87                 118
45                VENEZIA         15    32    37                  59
46               VERBANIA          2     9    10                   9
47               VERCELLI          1     6    10                  11
48                 VERONA         15   145   157                  50
49          VIBO VALENTIA          4     3     1                  10
50                VICENZA         20    49    56                 118
51                VITERBO          1     6    15                  10
52                 TOTALE       2175  4516  4718                5694

   CITROEN/DS DACIA   FIAT  FORD HONDA  ... SKODA SMART SSANGYONG SUBARU  \
1         NaN   NaN    NaN   NaN   NaN  ...   NaN   NaN       NaN    NaN
2          94    98    224   126    27  ...    33    27         4    NaN
3         198   119    397   164    13  ...    18    30       NaN      3
4          48    45     79    64    10  ...     8     2       NaN      1
5          11    10     29    20   NaN  ...     1   NaN         1    NaN
6          16    11     12    10   NaN  ...   NaN   NaN         1    NaN
7         103    71    266   166    11  ...    44    16         2     11
8          79    49    353   115     5  ...    15    38       NaN      1
9          78    36    110    92     8  ...    14     2       NaN      1
10         49    62    164   145     8  ...    10     3       NaN      7
11         74    26    237    96     8  ...    19    16         9    NaN
12         29    52    100    73     1  ...    12    10         4      1
13         61    19    120    24   NaN  ...     2     2         4    NaN
14         37    23     93    54     2  ...    13     2         3      1
15         25    39    188    84    11  ...    17     3       NaN      1
16         55    42     56    42     4  ...     5     5       NaN    NaN
17         32    17     71    57     8  ...     5   NaN         4      1
18         12    17    105    19   NaN  ...     4     2       NaN    NaN
19         53    25     69    35     2  ...     5    11         3      1
20         43    17     91    39   NaN  ...     1     2       NaN    NaN
21         45    56     76    72     7  ...    22     5       NaN    NaN
22         19    27    115    27     6  ...     8     4         1    NaN
23         84    69    285    88     6  ...    17     1         1      5
24          6    12     41    19   NaN  ...   NaN     2       NaN    NaN
25         36    25     77    47     7  ...    16    13         4      1
26        286   389   1065   777    40  ...    13   247         1     13
27         29    11     22    32   NaN  ...    19   NaN       NaN    NaN
28         88    27    265    85   NaN  ...    10    16         2    NaN
29         51    33     97    66   NaN  ...     5     4       NaN    NaN
30         33    10    131    45     8  ...     4     2       NaN      1
31         31    21     50    42     8  ...     5     3         4      3
32         36    20    110    43     2  ...     2     6       NaN    NaN
33         11    10     46    78     1  ...    14   NaN       NaN      2
34         29    17     57    55   NaN  ...     1   NaN       NaN    NaN
35         45    24     74    45     7  ...     8   NaN       NaN    NaN
36         33    13    113    40     1  ...     2    12         3      1
37         40     8     51    33     2  ...     2   NaN         3    NaN
38        238   160   1514   420    33  ...    59    53        20      4
39         35    12     84    19   NaN  ...   NaN     2         1    NaN
40        626    43    864   814    14  ...   210   387         2     15
41         94    58     95   150    18  ...    15    21         1      6
42          9    17     48    28     9  ...     3     5         2      4
43         61    30    146    70     9  ...    23     2         3      1
44        112    85    222   119    20  ...    30     6       NaN      5
45         58    70    150   132    13  ...    30     4       NaN      3
46         22     7     60    22     2  ...     7   NaN         1      1
47         13    17     37    50     7  ...     5   NaN         4      1
48        111    64    185   158    13  ...   102    10         3      6
49         12     4     26    16     1  ...     2   NaN       NaN      1
50         79    76    468   162    14  ...    44    31         3      7
51         22    21     55    30   NaN  ...   NaN     3       NaN    NaN
52       6646  4325  19393  9511   753  ...  1979  1634       149    192

   SUZUKI TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1     NaN          NaN        NaN   NaN   NaN     NaN
2      38          206        277    17    12    2439
3      35           73        191    11     4    2509
4      31           64        100     4     4     887
5       2           19         18   NaN     0     217
6       9            8         16     1     0     134
7      38          157        260    17    24    2468
8      26           80        138     4     3    1723
9      16           62        135    17    11    1262
10     23           80        121    11     8    1362
11     30           66        174    25     1    1484
12     11           23        108     5     4     865
13     15           35         59     4     2     745
14      4           32         73     7     3     713
15     21           42        144    11     3    1225
16     22           30         86     5     1     755
17     22           59         67    10     5     781
18      6            4         40     3     0     411
19     15           64        123     5     3     826
20      8           25         42     2     1     437
21     10           22        118    25     1    1009
22      8           46         55   NaN     4     589
23     29           89        105    10     6    1472
24      5           10         16     4     1     198
25     39           39         74    14    10     786
26    147          996        711    53    41   10026
27      7           26         87     5     4     493
28     37           37         99     2     2    1300
29      7           31         90     2     1     645
30     20           27         62     6     1     594
31     22           28        102    13     2     656
32      6           30         42     1     0     494
33     22            9         20     3     3     333
34      5           20         50   NaN     0     621
35      9           17         29     2     0     594
36     10           25         64     5     0     579
37     11            9         76     5     1     426
38    109          360        451    33    47    6576
39      7           15         54     1     0     436
40     70          821        673   384    32   10277
41     17          158        250    24    15    1748
42     23           52         40     3     2     452
43     30           93        124    31     5    1291
44     93          236        247    20    13    2432
45     13          100        226    14    11    1557
46     24            7         43     1     0     342
47     15           19         41     3     4     367
48     27          138        335    13    17    2403
49      5            5         13   NaN     1     163
50     23          176        259    27    14    2692
51     14           26         46     7     1     445
52   2507         8315      14075  1973   648  142136

[52 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2019_10.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(59, 37)>
{'accuracy': 100.0, 'whitespace': 12.09, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI  BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN  NaN                 NaN
2               AGRIGENTO        NaN    17    4                  17
3             ALESSANDRIA          6    22   37                  45
4                  ANCONA         11    45   47                  56
5                   AOSTA        560    36   14                1111
6                  AREZZO          8    27   48                  25
7            ASCOLIPICENO          3     5   12                  15
8                    ASTI          3     9   32                  10
9                AVELLINO          1    10    6                  14
10                   BARI         17    34   67                 102
11  BARLETTA-ANDRIA-TRANI          2     8    9                  20
12                BELLUNO          3    20   14                  30
13              BENEVENTO        NaN     1    3                  22
14                BERGAMO         19    83  128                  24
15                 BIELLA          3    21    3                  26
16                BOLOGNA         21    73  105                  53
17          BOLZANO-BOZEN         74  1549  298                  43
18                BRESCIA         21   118  105                  86
19               BRINDISI          1     3   18                   7
20               CAGLIARI         10    10   13                  35
21          CALTANISSETTA          3     6    6                  11
22             CAMPOBASSO          1     2    4                   9
23                CASERTA          4    27   31                  30
24                CATANIA          9    39   29                  32
25              CATANZARO          6    12   12                  24
26                 CHIETI          3     4   12                  29
27                   COMO          6    50   46                  47
28                COSENZA          7    36   16                  48
29                CREMONA          9    42   42                  16
30                CROTONE          2     3    2                   2
31                  CUNEO          6    31   42                  91
32                   ENNA        NaN     4    1                   1
33                  FERMO          2     2    7                  14
34                FERRARA          5    16   24                  24
35                FIRENZE        235   378  538                 226
36                 FOGGIA          6     3    8                  16
37          FORLI' CESENA          5    17   11                  25
38              FROSINONE          5     8   57                  28
39                 GENOVA          6    42   45                  36
40                GORIZIA        NaN     4    1                   5
41               GROSSETO          4     9    3                  17
42                IMPERIA        NaN     1    4                   5
43                ISERNIA          2   NaN    3                   3
44              LA SPEZIA          2    11    7                   8
45               L'AQUILA          1     6   11                  11
46                 LATINA          7     8   11                  23
47                  LECCE         11    38   20                  46
48                  LECCO          3    24   16                  21
49                LIVORNO          4    24   12                  21
50                   LODI          2    16   27                  20
51                  LUCCA          7    33   17                  35
52               MACERATA          6    13   31                  27
53                MANTOVA          3    34   39                  14
54          MASSA-CARRARA          2    25    6                  21
55                 MATERA          5   NaN    5                   8
56                MESSINA          3    36   32                  37
57                 MILANO         61   206  454                 140
58                 MODENA          9    66   91                  43

   CITROEN/DS DACIA  FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1         NaN   NaN   NaN  NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2          22     6   113   22   NaN  ...     1     3         1    NaN      9
3          51    43   159   84     5  ...     5     1       NaN      4     39
4          40    39   173   63     9  ...    19     1       NaN    NaN     41
5         152    13  2281   80     2  ...    13    56       NaN      1     43
6          45    25   104   53     1  ...     7     2         3    NaN     24
7          22    25    73   19     3  ...   NaN     1         3      1      7
8          16    47    50   42     2  ...     1     1       NaN      1     24
9          30     8    74   32   NaN  ...     4     2       NaN    NaN     11
10         81    53   399  132     8  ...    16    38         3      1     56
11         13     9    53   16   NaN  ...     3     2       NaN    NaN      9
12         47    16   124   32   NaN  ...     4   NaN       NaN      4     27
13         10    24    71   21   NaN  ...     5     3       NaN    NaN    NaN
14        181   108   265  154    30  ...    49    26         2      5     48
15         10    14    69   55     5  ...   NaN     1       NaN      1     34
16        126   106   281  313    26  ...    55    30         3      5    109
17         88     9   585  113   NaN  ...   263    12         3      2     17
18        155   126   333  227    21  ...    41    66         7      7     73
19         12    14    80   43     1  ...     3     1       NaN    NaN      9
20         44    49   114  120     8  ...     2     7       NaN    NaN     19
21         15    16    41   11   NaN  ...   NaN   NaN       NaN      1      5
22         13     4    41    8   NaN  ...   NaN     1       NaN      1     14
23         48    49   107   50     5  ...     9     6         4      1     10
24         57    44   126   83    11  ...    26    13         1    NaN     40
25         34    14   134   35   NaN  ...     3     5       NaN    NaN     10
26         29    14   133   33     2  ...     5     4         1      2     13
27         65    86   190  111    10  ...    28    16         1      7     69
28         60    19   220   93     2  ...     9     6       NaN    NaN     10
29         66    34    73   77     8  ...    12     8       NaN      1     15
30         22     7    33    6   NaN  ...   NaN   NaN       NaN    NaN      4
31        114   123   175  125    13  ...     9    27         5      3     59
32          1     8    19    5   NaN  ...   NaN   NaN       NaN    NaN      5
33         10     5    34   20     1  ...     3     3       NaN      2      5
34         29    45    52   79     3  ...    21     6         1      2     24
35        469   160   928  363    34  ...   171   102         7      3     78
36         29    30    78   19     2  ...     3   NaN       NaN    NaN      5
37         25    46   115   80     8  ...     7   NaN       NaN    NaN     23
38         45    23   120   49     4  ...     6     2         1      2      9
39         41    51   161  178    12  ...     7    30       NaN      3     78
40          6     8    21   25    10  ...     4     3       NaN    NaN     17
41         11     9    39   34     4  ...    12     3         1    NaN     20
42         16     8    56   29     4  ...     3     1       NaN    NaN     16
43          1     2     6    4   NaN  ...   NaN     2       NaN    NaN      3
44         16    30    90   52     9  ...     3   NaN       NaN    NaN     17
45         27    14   100   20   NaN  ...     1     2         1      3      7
46         55    34    95   74     6  ...     7    10         2    NaN     10
47         18    60   209   69     2  ...     4     6       NaN    NaN     34
48         17    39   144   47     5  ...    20    12       NaN      3     31
49         27    31    97  152     2  ...    11     4         2    NaN      8
50         23    20    74   71     4  ...     2     1         1    NaN     14
51         34    62   165   66     1  ...    14     3         1      3     37
52         23    26    93   45     2  ...     8     4         1      3     31
53         38    28    50   69     2  ...    13   NaN       NaN      2     15
54         17    26    76   33     1  ...    11   NaN         1    NaN     13
55         54    10    66   20     3  ...     3     1       NaN    NaN      4
56         42    17   154   48     3  ...     8    19       NaN    NaN      7
57        492   465   864  761    80  ...   140   275        11     17    308
58        105    98   243  180     5  ...    41    16         2      2     56

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2            11         45   NaN     0    450
3            62        105    14     3   1049
4            42        177    14    10   1203
5            40         62    20     0   4957
6            31        148     8     1    839
7            21         63     4     1    462
8            21         43     1     0    465
9             7         53     2     1    417
10           61        157    20     3   2003
11           23         21     1     0    305
12           16         54     2     0    569
13           10         12     3     0    296
14          200        352    16    13   2765
15           13         32     2     0    443
16          254        373    74     7   3119
17          169       1388   123    19   5593
18          154        430    38     1   3334
19            9         14   NaN     1    398
20           78         96     4     1    911
21            4         27     1     0    221
22           13         15     2     1    231
23           38         47     5     3    923
24           58        113   NaN     2   1202
25           24         87     1     0    632
26           37         86     4     2    690
27          147        234    27     3   1913
28           18        110     4     0    928
29           70        117     8     8    975
30            5          7   NaN     0    132
31           61        162    27     2   1647
32            3         14     1     0    117
33           14         67     4     1    325
34           72         99     9     1    871
35          463        686   373    12   8007
36           41         39     2     5    499
37           62        108     7     1    891
38           36         92     6     2    764
39          115        264    19     2   1564
40           17         30     1     1    239
41           14         69     7     0    419
42           37         26     5     1    323
43            2          5     2     0     64
44           12        100     3     0    528
45           20         69     4     0    496
46           57         64     5     4    843
47           30        122    11     1   1343
48           74        125    11     1    907
49           28        117     7     2    861
50           29         71     2     3    643
51           49        150    20     0   1214
52           24        132     7    10    708
53           63        111    16     6    882
54           17         94     5     1    489
55            7         19     2     0    277
56           38        105     4     0    875
57          742        932    92    40   9999
58          160        157    48     9   2186

[58 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(53, 37)>
{'accuracy': 100.0, 'whitespace': 12.29, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN   NaN                 NaN
2   MONZA E DELLA BRIANZA         17    63    90                  71
3                  NAPOLI          8    51    66                  77
4                  NOVARA         10    54    22                  30
5                   NUORO          2     2   NaN                   3
6                ORISTANO        NaN     2     2                   6
7                  PADOVA         24    78    79                  81
8                 PALERMO          5    41    22                  62
9                   PARMA          6    49    37                  36
10                  PAVIA         13    18    43                  49
11                PERUGIA         11    55    45                  52
12          PESARO URBINO          6    34    25                  29
13                PESCARA          6    24    29                  22
14               PIACENZA          4    18    34                  21
15                   PISA          7    40    42                  49
16                PISTOIA          3     8    11                  34
17              PORDENONE          8    14    23                  25
18                POTENZA          8     4     2                  26
19                  PRATO          7    17    45                  29
20                 RAGUSA          2    14     1                  20
21                RAVENNA          5    26    20                  46
22     REGGIO DI CALABRIA          4    14     3                  28
23     REGGIO NELL'EMILIA         15    43    44                  47
24                  RIETI          4     1     1                   3
25                 RIMINI          5    29    21                  29
26                   ROMA         48   164   290                 195
27                 ROVIGO          3    12    39                   9
28                SALERNO         13    43    18                  67
29                SASSARI          8    10    10                  24
30                 SAVONA          5    12    18                  15
31                  SIENA          4     7    11                  38
32               SIRACUSA          2     7    10                  30
33                SONDRIO        NaN     5     2                   5
34           SUD SARDEGNA          8     1     3                  13
35                TARANTO          4    12    20                  22
36                 TERAMO          1     9    29                  35
37                  TERNI          4    12     5                  13
38                 TORINO        135   114    99                 543
39                TRAPANI          3    11     2                  18
40                 TRENTO        152   637   697                 201
41                TREVISO         17    50    39                  59
42                TRIESTE          4    17     8                   6
43                  UDINE         13    49    37                  32
44                 VARESE         19    82    96                  45
45                VENEZIA          7    27    40                  17
46               VERBANIA          4     4     8                  18
47               VERCELLI          5     4     2                   9
48                 VERONA         23   107   194                  68
49          VIBO VALENTIA        NaN    11     1                   8
50                VICENZA         17    76    80                  93
51                VITERBO          5    10     7                  18
52                 TOTALE       1899  5559  5158                5431

   CITROEN/DS DACIA   FIAT   FORD HONDA  ... SKODA SMART SSANGYONG SUBARU  \
1         NaN   NaN    NaN    NaN   NaN  ...   NaN   NaN       NaN    NaN
2         103   103    240    216    16  ...    26    48         6      1
3         208   114    478    199    12  ...    16    36         2    NaN
4          57    39     74     60    10  ...    10     2       NaN      3
5          12    21     22      9   NaN  ...   NaN     2         3    NaN
6          19    15     14     19   NaN  ...   NaN   NaN       NaN    NaN
7         114    75    281    145    20  ...    45    12         2      7
8          90    38    312    118     4  ...    19    49         1      3
9          72    38    104    106    11  ...    16     4         2      2
10         55    82    193    128    11  ...    15     9       NaN      2
11         71    37    290     78    13  ...    17    17        12    NaN
12         20    66     97     64     2  ...    17    21         2      5
13         57    16    121     38   NaN  ...     3    25         2    NaN
14         60    38     88     55     7  ...    13     5         3      3
15         46    73    182    107     7  ...    15     5       NaN      2
16         52    90     99     37     1  ...    14     3       NaN      1
17         35    22     77     52     2  ...     9     8         1      1
18         22    15    141     26   NaN  ...     6     3         1      1
19         40    44     86     27     4  ...     8     5       NaN    NaN
20         31    21     98     42     1  ...     1   NaN       NaN    NaN
21         26    44    113     94     3  ...    17     4       NaN      3
22         19    39    121     44     6  ...     8     4         4    NaN
23        103    53    241    105    10  ...    24     2         2      2
24         12     9     42     25     2  ...   NaN     2         1    NaN
25         47    30     87     60    11  ...    13     8         1    NaN
26        434   399   1189    924    42  ...    34   262         3      7
27         15    19     32     19     3  ...    14   NaN         2    NaN
28        130    53    262     99     2  ...    11     9         2      1
29         58    45    107     86   NaN  ...     8     5         1    NaN
30         28    17    163     71     9  ...     1     3       NaN      5
31         40    50    102     43     3  ...     8     4         3      5
32         37    32    101     54   NaN  ...     3     2       NaN    NaN
33          9    12     51     31   NaN  ...    11     9       NaN      1
34         44    34     48     72   NaN  ...   NaN     2       NaN    NaN
35         18    27    100     46     4  ...     7     2       NaN    NaN
36         25    15    112     48   NaN  ...     7    14         1      1
37         45    17     56     42     1  ...     1     4       NaN    NaN
38        248   231   2303    470    24  ...    71    61        27      6
39         28    11     89     28   NaN  ...     1     3       NaN    NaN
40        820    41    758   1003    10  ...   132   549         1     18
41         81    53    101    156     7  ...    35    21         1      7
42         14    21     47     20     7  ...     3     5         3      4
43         59    43    135     70     8  ...    22     9         4      6
44        136   132    231    164    26  ...    47     4       NaN      9
45        103    66    126    130     6  ...    31    13         1      6
46         11     8     41     41     6  ...    11   NaN       NaN      2
47         11    15     55     47     7  ...     2   NaN         1    NaN
48        119    64    204    185    12  ...   102    12         6      7
49          9    11     24     15   NaN  ...     1     3       NaN    NaN
50         88    60    540    172    27  ...    45    42         1     11
51         22    37     86     37   NaN  ...   NaN     6       NaN    NaN
52       7342  5134  21487  10772   736  ...  2035  2162       171    225

   SUZUKI TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1     NaN          NaN        NaN   NaN   NaN     NaN
2      78          178        333    19    11    2676
3      39          134        216    11    12    2723
4      38           38        103     4     4     896
5       2           16         21     1     0     199
6       4            4         17     1     0     151
7      45          150        333    51     9    2553
8      18          111        206     8     2    1712
9      51           56        166    28     4    1317
10     68          103        159    17     3    1523
11     40           87        266    40     2    1736
12     22           32        180     2     2     970
13      6           32         59     3     3     672
14     20           48         91    18     1     854
15     27           50        200    25     1    1409
16     25           25        119     7     2     849
17     18           63         83    13     3     849
18     10            6         44   NaN     1     470
19     18           40        153     8     1     924
20     14           34         48     2     1     516
21     29           66        135    13     1    1139
22      8           50         63     4     2     634
23     68           77        141    19     2    1580
24      3           12         24     4     0     219
25     11           51         88    12     2     850
26    314         1029        923   111    19   10985
27     18           35         91     2     3     475
28     13           32        134     7     3    1440
29      4           42         93     2     0     745
30     23           24         68    10     3     646
31     28           29        122    16     0     802
32      5           33         43     2     0     549
33     30           17         26     6     2     304
34      5           19         66     1     0     721
35     14           18         31     3     1     650
36     11           31         82     8     1     706
37      8           19         71     3     0     459
38    165          391        531    44    25    8263
39      4           23         67   NaN     1     441
40     71          641        823   276    14   11687
41     54          162        308    32     5    1918
42     32           44         51     3     1     457
43     44          107        163    41     2    1386
44    103          275        329    25     6    2812
45     46           93        255    26     4    1650
46     20            7         56     4     1     360
47     38           21         42    10     7     422
48     31          154        424    24     4    2656
49    NaN            3         23   NaN     0     201
50     70          200        277    40     3    2759
51      9           34         46     7     2     530
52   3545         8869      16890  2111   361  156851

[52 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2019_11.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(59, 37)>
{'accuracy': 99.99, 'whitespace': 13.51, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI  BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN  NaN                 NaN
2               AGRIGENTO          2    13  NaN                  17
3             ALESSANDRIA          4    27   37                  43
4                  ANCONA         11    43   43                  59
5                   AOSTA       1081    33   25                1532
6                  AREZZO          5    12   38                  32
7            ASCOLIPICENO          3     3   20                  16
8                    ASTI          1    10   21                  14
9                AVELLINO          2    19    4                  18
10                   BARI         16    38   51                  85
11  BARLETTA-ANDRIA-TRANI          1     5    9                  14
12                BELLUNO          5    11    8                  31
13              BENEVENTO          3     2    4                  16
14                BERGAMO          7   120   57                  26
15                 BIELLA          6    22   15                  20
16                BOLOGNA         15    88   87                  69
17          BOLZANO-BOZEN         25  1261  312                 124
18                BRESCIA         13   132  102                  61
19               BRINDISI          2     7   12                  13
20               CAGLIARI          6    13   23                  45
21          CALTANISSETTA        NaN     6    4                  13
22             CAMPOBASSO          2     4  NaN                   9
23                CASERTA          3    12   26                  37
24                CATANIA          6    14   36                  33
25              CATANZARO          9    18    7                  24
26                 CHIETI          2    11    9                  24
27                   COMO          5    49   56                  49
28                COSENZA          7    24   19                  37
29                CREMONA          5    37   51                  14
30                CROTONE        NaN     2  NaN                   5
31                  CUNEO          8    33   48                  67
32                   ENNA        NaN     3    1                   1
33                  FERMO          1     5    6                  12
34                FERRARA          4    10   18                  32
35                FIRENZE        128   379  336                 212
36                 FOGGIA          4     6    4                  20
37          FORLI' CESENA          8    16   10                  27
38              FROSINONE          7    11   28                  38
39                 GENOVA          8    45   44                  31
40                GORIZIA        NaN   NaN    2                   2
41               GROSSETO          2     4    2                  11
42                IMPERIA        NaN     2    9                   7
43                ISERNIA        NaN     4    1                   5
44              LA SPEZIA          1    10   13                   6
45               L'AQUILA          2     2    6                  21
46                 LATINA          4     8   18                  25
47                  LECCE          8    33   21                  43
48                  LECCO          4    24   11                  23
49                LIVORNO          2    18   19                  13
50                   LODI          4    11   20                  20
51                  LUCCA          8    42   29                  49
52               MACERATA          8    13   24                  15
53                MANTOVA          2    34   29                  10
54          MASSA-CARRARA          3    27    4                  31
55                 MATERA          2     4    8                   9
56                MESSINA          4     7   28                  29
57                 MILANO         38   294  361                 277
58                 MODENA          9    62   89                  49

   CITROEN/DS DACIA  FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1         NaN   NaN   NaN  NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2          27     9    84   14     2  ...   NaN     2       NaN    NaN      5
3          48    31   132   67     3  ...    10   NaN       NaN      5     27
4          58    34   145   53     6  ...    26     5         2      2     29
5          81    12  5421   90     1  ...    17    12         1      1     31
6          43    42    99   41     4  ...     9     2         2      2     18
7          21    24    48   29     2  ...   NaN   NaN       NaN    NaN      5
8           5    23    33   31     4  ...     1   NaN       NaN    NaN      6
9          23    14    35   23   NaN  ...     7   NaN       NaN    NaN      7
10        101    70   421  135    10  ...    12    32       NaN      2     53
11         11     6    37   15     1  ...     4     1       NaN    NaN      4
12         28     8   123   29   NaN  ...     9     1       NaN      4     15
13         17    12    62   10     1  ...     2     1       NaN    NaN      3
14        165   136   202  178    33  ...    39    24         1      4     36
15         11    25    71   47     8  ...     2     1         1    NaN     21
16        115   169   275  285    21  ...    47    40         4      7     55
17         32    16   795  179     1  ...   258    12       NaN      2      9
18        148   176   254  205    16  ...    32    68         1      9     42
19          9    11    86   25   NaN  ...     2     3       NaN    NaN      6
20         45    62   148  102     8  ...   NaN    10       NaN      1     12
21         14    15    24    7   NaN  ...   NaN   NaN       NaN    NaN      1
22          9     5    27    3     1  ...     1   NaN       NaN      1      7
23         42    48    70   59     5  ...     9     4       NaN      1     10
24         37    55   106   59     7  ...    22    27       NaN    NaN     32
25         30    30   107   33     1  ...     1     4       NaN    NaN      6
26         42    20   114   38     2  ...     3     1         2    NaN      6
27         70    81   152   98     9  ...    30    26         2      8     55
28         44    22   212   81     2  ...    10     5       NaN      1     16
29         56    55    82   69     3  ...     9    14       NaN      1     19
30         23     5    26    5   NaN  ...   NaN   NaN       NaN    NaN    NaN
31         85    94   196  111    11  ...    12    26       NaN      6     32
32          3     8    10    6   NaN  ...   NaN     1       NaN    NaN      1
33         12     9    23   17     4  ...     3   NaN       NaN      2      7
34         37    55    49   60   NaN  ...    22     8         1      1     14
35        486   159   870  422    20  ...   167   164         2     10     48
36         30    19    61   17     1  ...     2   NaN         2    NaN      5
37         21    71   108   86    10  ...     6   NaN       NaN      1     18
38         42    18   121   39     1  ...     3     5         1      1      1
39         26    58   153  131    14  ...     7    45       NaN      4     57
40          6    17     3   20     8  ...     6   NaN       NaN      1      8
41         10    25    33   27     2  ...    17   NaN         1      1     11
42         11    12    56   35     3  ...     2     1         1    NaN      7
43          3     4     9    7   NaN  ...   NaN   NaN       NaN    NaN      1
44         13    16    80   41    10  ...     6     2       NaN      1     16
45         27    11    80   18     1  ...     1     5         1    NaN     15
46         58    40   105   67     5  ...    10     7       NaN    NaN      3
47         19    72   153   66     1  ...     3     3       NaN    NaN     18
48         22    42   111   45     2  ...    15    12       NaN      4     27
49         39    47    70  110     4  ...    14   NaN         2    NaN     11
50         24    26    56   49     2  ...     3     1       NaN    NaN     15
51         30    61   165   60     1  ...    22     2         2      3     24
52         23    32    58   47     3  ...    10     3         1      3     17
53         43    49    71   73     1  ...    18     1       NaN      4      9
54         23    46    73   32   NaN  ...    10   NaN       NaN    NaN      5
55         41     6    43   19     1  ...     5   NaN       NaN    NaN      3
56         46    27   112   60   NaN  ...    10    21       NaN    NaN     15
57        439   407   744  653    70  ...   108   411        29     18    178
58        110   101   250  162     9  ...    40    14         2      5     38

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2             6         37   NaN     0    349
3            40         87    20     3    917
4            56        154    19     7   1172
5            13         36     8     1   8818
6            20        100     2     3    810
7            19         53     3     0    417
8            12         32     8     0    418
9             7         35     4     0    340
10           58        118    19     4   1943
11           23         19     3     3    242
12           10         40     6     0    497
13            3         12   NaN     4    252
14          184        336    35     8   2625
15           22         39     2     2    429
16          219        316    59     7   2967
17          170       1230   125     9   6284
18          176        349    36    17   2966
19            4         19   NaN     0    342
20           66         99     6     0    921
21            2         19   NaN     0    179
22            8         10     1     1    154
23           32         60     2     3    819
24           38        102   NaN     4    965
25           23         65     1     1    528
26           38         82   NaN     2    655
27          140        211    29     7   1723
28           13         94     2     1    848
29           58         90     9     5    998
30            4          6   NaN     0    107
31           64        145    23     5   1455
32            3          7   NaN     0     83
33           19         47     1     1    278
34           91         85     9     2    769
35          409        630   417    15   7537
36           27         49     3     1    392
37           84         96    24     2    923
38           28         61     7     1    622
39           99        218    16     0   1436
40           16         23     2     0    219
41           12         69     5     0    372
42           21         36     1     0    288
43            1          4   NaN     0     55
44           15         82     6     1    474
45           14         55     3     2    397
46           41         60    10     2    794
47           25        113     8     2   1080
48           61         95     8     0    767
49           32         91     8     2    780
50           27         56     4     9    557
51           44        116    16     4   1139
52           22         89     6     6    604
53           59        109    18     3    887
54           22         77     1     2    482
55            5         12     1     1    225
56           21         98     4     0    760
57          653        767   104    60   9238
58           92        122    49    11   2065

[58 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(53, 37)>
{'accuracy': 100.0, 'whitespace': 13.41, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN   NaN                 NaN
2   MONZA E DELLA BRIANZA         23    73    86                  63
3                  NAPOLI          7    55    75                  77
4                  NOVARA          9    59    24                  20
5                   NUORO        NaN     3     1                   4
6                ORISTANO          3   NaN   NaN                   6
7                  PADOVA         11    76    88                  79
8                 PALERMO          8    51    23                  77
9                   PARMA          6    53    53                  39
10                  PAVIA         16    13    47                  50
11                PERUGIA          7    63    41                  55
12          PESARO URBINO         11    33    24                  25
13                PESCARA          8    14    38                  16
14               PIACENZA          2    26    28                  14
15                   PISA          8    22    35                  37
16                PISTOIA          1    22    29                  32
17              PORDENONE          5     8    19                  22
18                POTENZA          4     7   NaN                  31
19                  PRATO          4    17    34                  40
20                 RAGUSA          3    12     1                  27
21                RAVENNA          3    18    23                  67
22     REGGIO DI CALABRIA          4    18     6                  18
23     REGGIO NELL'EMILIA          8    35    45                  42
24                  RIETI        NaN     4     4                  11
25                 RIMINI          5    33    25                  23
26                   ROMA         39   120   309                 234
27                 ROVIGO          5     6    34                   7
28                SALERNO          6    37     9                  54
29                SASSARI        NaN    10     5                  30
30                 SAVONA          4     9    11                  19
31                  SIENA          6     9    12                  29
32               SIRACUSA          2    11     4                  19
33                SONDRIO          2     6     2                 NaN
34           SUD SARDEGNA          4     7     3                  16
35                TARANTO          2    18    11                  14
36                 TERAMO          2     5    27                  35
37                  TERNI          2     8    16                  18
38                 TORINO         83   161   167                 346
39                TRAPANI          2    14     3                  16
40                 TRENTO         99   672   736                 205
41                TREVISO         19    24    35                  86
42                TRIESTE          3    20     8                  15
43                  UDINE         12    41    29                  27
44                 VARESE         10    84   103                  49
45                VENEZIA          2    35    33                  43
46               VERBANIA          3    14     4                  12
47               VERCELLI          6     7     6                  11
48                 VERONA         19   165    98                  59
49          VIBO VALENTIA          1     6     1                  10
50                VICENZA         30    74    70                 127
51                VITERBO          2    10     8                  22
52                 TOTALE       2037  5431  4758                5943

   CITROEN/DS DACIA   FIAT  FORD HONDA  ... SKODA SMART SSANGYONG SUBARU  \
1         NaN   NaN    NaN   NaN   NaN  ...   NaN   NaN       NaN    NaN
2          95    97    179   156    21  ...    36    98         5      5
3         149   125    351   202    10  ...    16    30         3      4
4          60    51     51    66     7  ...    18   NaN       NaN    NaN
5          13    15     19    13   NaN  ...     1     1       NaN    NaN
6          14    14     12    19   NaN  ...   NaN   NaN       NaN    NaN
7         108    94    220   175    23  ...    46    10         1      7
8          70    75    223   138     4  ...    15    47       NaN      3
9          59    72     73   105    10  ...    10     3         3      7
10         55    86    150   122    13  ...    14     4       NaN      4
11         56    53    190    86     7  ...    22    22         7      5
12         33    50    114    74     1  ...    12    14         2      2
13         43    24     75    43   NaN  ...     2    25       NaN      3
14         40    31    106    50     4  ...    12     2       NaN      2
15         50    83    161    94     7  ...    17     2       NaN    NaN
16         55    51     67    26     3  ...     8     3         1    NaN
17         25    22     73    63     3  ...     7    10         4      2
18         23    24    103    17   NaN  ...     5     4       NaN    NaN
19         48    45     77    35     2  ...     7     3       NaN    NaN
20         34    16     81    36   NaN  ...     2     1       NaN    NaN
21         35    53    100    79     6  ...    27   NaN       NaN      3
22         11    32     72    33     9  ...     6     7         3    NaN
23        102   101    218   109     8  ...    18     2       NaN      9
24         10    12     29    20     1  ...   NaN     2       NaN    NaN
25         43    39     67    48    13  ...    27    15         2      2
26        415   559    953   783    59  ...    49  3360         1     13
27         24    29     25    42     2  ...    20   NaN         2      1
28         79    53    235    82     4  ...     5     4       NaN    NaN
29         60    41     77    71     1  ...   NaN     4       NaN    NaN
30         30    32    120    64     8  ...     2     5       NaN      3
31         35    36     61    35     4  ...     8     7         2      3
32         31    31     83    59     4  ...     3     3       NaN    NaN
33          9    11     32    18   NaN  ...    10     1       NaN      7
34         34    31     43    70   NaN  ...   NaN   NaN       NaN    NaN
35         24    31     50    32     4  ...    10     3       NaN    NaN
36         28    19     95    43   NaN  ...     2    18         5    NaN
37         40    22     39    35   NaN  ...     1     2       NaN    NaN
38        240   273   1476   378    19  ...    68    13        21      9
39         22    14     55    21   NaN  ...     5     2       NaN    NaN
40        790    63    973  1025     3  ...   218   745         1     18
41         92    78     88   164    10  ...    32     9         1      7
42         27    18     43    21    13  ...     1     6         3      6
43         43    41     90    63     7  ...    19    12       NaN      4
44         99   147    201   118    33  ...    28     4       NaN     15
45         82    76    133   153     4  ...    29    11         1      6
46         15    12     37    26   NaN  ...    13   NaN       NaN      2
47         19    17     29    34     4  ...     3   NaN       NaN      4
48        110   103    170   155    24  ...   113    12         6      9
49          6    15     23    10   NaN  ...     1     1       NaN    NaN
50         80    88    491   156    33  ...    36    52       NaN     21
51         20    31     46    39     3  ...     1     3       NaN      1
52       6769  5884  21733  9996   726  ...  2089  5609       135    303

   SUZUKI TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1     NaN          NaN        NaN   NaN   NaN     NaN
2      41          190        222    19    13    2381
3      45           77        144    13    14    2378
4      23           60        120     4     4     822
5     NaN           22         10     2     0     175
6       3            6         27     1     0     152
7      24          155        269    36     7    2356
8      10           78        162     8     4    1473
9      19           38        128    25     6    1179
10     44           76        103    17     2    1300
11     26           80        198    44     1    1470
12     16           22        110     7     0     876
13     12           28         47    12     4     664
14     15           56         55     3     4     774
15     21           40        163    24     2    1229
16     13           24        113     7     0     720
17     12           48         74    13     0     734
18      7            5         39     3     2     401
19     14           44        116     2     1     835
20      3           37         40     1     0     405
21     16           47        110    28     2    1047
22     11           43         57     6     6     504
23     44           64        132    13     3    1478
24    NaN            8         19   NaN     0     195
25      4           40         71    12     1     792
26    160         1005        722    85    17   12490
27      8           30         71     6     1     483
28     22           48         96     4     1    1156
29      4           24         88     3     2     634
30     14           20         67    15     0     583
31     21           20         90    13     0     623
32      7           25         42     3     0     482
33     37            8         25    10     2     256
34      3            5         49   NaN     0     370
35     10           12         16     4     0     464
36      7           34         61     2     1     607
37      4           23         52     3     3     421
38    137          380        514    23    24    6420
39      2           16         45   NaN     1     367
40     41          663        645   359    19   12711
41     37          151        267    18    10    1791
42     25           44         36     1     0     428
43     39           98        140    31     4    1189
44     93          296        253    22     2    2530
45     29           77        245    18     9    1651
46     19           10         23     2     1     286
47     29           22         35     4     4     347
48     23          110        366    16    11    2343
49    NaN            1         13   NaN     0     159
50     47          152        239    42     6    2647
51     14           33         31     5     3     446
52   2395         8066      14022  2142   421  150587

[52 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2019_12.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(57, 37)>
{'accuracy': 100.0, 'whitespace': 13.66, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI  BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN  NaN                 NaN
2               AGRIGENTO          2    19    1                  26
3             ALESSANDRIA          9    43   32                  39
4                  ANCONA         14    52   39                  56
5                   AOSTA        897    33   13                 866
6                  AREZZO          8    24   17                  39
7            ASCOLIPICENO          5     4   18                  23
8                    ASTI        NaN     3   31                  18
9                AVELLINO          3    13    5                  21
10                   BARI         14    48   50                  88
11  BARLETTA-ANDRIA-TRANI          3     2   12                  26
12                BELLUNO          6    11    1                  14
13              BENEVENTO          5     5    3                  16
14                BERGAMO         17   127   87                  79
15                 BIELLA          6    10   11                  17
16                BOLOGNA         17    93   86                  90
17          BOLZANO-BOZEN         24  1140  695                  35
18                BRESCIA         14   117   95                  86
19               BRINDISI          3     9   13                  21
20               CAGLIARI          4    13   12                  32
21          CALTANISSETTA        NaN     5    4                   6
22             CAMPOBASSO          4     4    5                   8
23                CASERTA          8    11   20                  23
24                CATANIA          4    37   35                  36
25              CATANZARO          3    19   11                  38
26                 CHIETI          6     2   12                  25
27                   COMO          8    24   41                  48
28                COSENZA          8    25   17                  43
29                CREMONA          4    36   37                  12
30                CROTONE          1     2  NaN                   8
31                  CUNEO         13    28   44                  71
32                   ENNA        NaN     6    1                   4
33                  FERMO          3    15    4                  16
34                FERRARA          5     9   13                  31
35                FIRENZE        107   346  213                 318
36                 FOGGIA          6    20    5                  40
37          FORLI' CESENA          5    16   10                  19
38              FROSINONE         13     6   33                  27
39                 GENOVA         13    40   45                  47
40                GORIZIA          2     4    2                   5
41               GROSSETO          3    10    3                  19
42                IMPERIA          3     6   12                   5
43                ISERNIA          1   NaN    1                   4
44              LA SPEZIA          4    12    4                   6
45               L'AQUILA          1     5    8                  26
46                 LATINA          6     8   13                  36
47                  LECCE          8    45   27                  60
48                  LECCO          4    14   15                  41
49                LIVORNO          1    27   14                  13
50                   LODI          4     8   23                  15
51                  LUCCA          8    31   32                  53
52               MACERATA          4    19   31                  38
53                MANTOVA          2    43   30                  17
54          MASSA-CARRARA          6    35    8                  40
55                 MATERA          4     6    8                  10
56                MESSINA          3    41   20                  40

   CITROEN/DS DACIA  FIAT FORD HONDA  ... SKODA SMART SSANGYONG SUBARU SUZUKI  \
1         NaN   NaN   NaN  NaN   NaN  ...   NaN   NaN       NaN    NaN    NaN
2          12    19   100   28   NaN  ...   NaN     3       NaN    NaN      6
3          51    54   154   68     9  ...     2     2         1      2     53
4          34    33   163   35     9  ...    14    27         2      1     36
5          78     4  2312   61     2  ...    12     9       NaN      1     49
6          36    43   119   51     6  ...     6     2         1      1     24
7          11    33    77   30     2  ...   NaN     5         1    NaN      8
8          13    29    39   32     1  ...     1   NaN       NaN    NaN     17
9          30    22    64   33     1  ...     3     4       NaN    NaN     11
10         56    82   450  147     5  ...    16    83       NaN      1     74
11          9    16    83   13   NaN  ...     1     1       NaN    NaN      4
12         32    14   136   17     2  ...     8     3       NaN      1     31
13          6    13    57   14     2  ...     7     1       NaN    NaN     22
14        113    94   231  144    25  ...    50    29         1     11     48
15         18    15    72   37     3  ...     7     1       NaN      1     18
16        123   168   333  298    12  ...    44    29         1     10     75
17         75   463   184  214   NaN  ...   268   138       NaN      1     15
18        183   151   298  182    16  ...    35    40         2      8     74
19         12    13    77   26   NaN  ...     1     2       NaN    NaN     17
20         27    68   158  120     2  ...   NaN    67       NaN    NaN     21
21         14    15    31    7     1  ...     5     2         1    NaN      8
22          9    10    32   10   NaN  ...     1     1       NaN      1      9
23         41    63    93   56     3  ...     8     4       NaN      3     37
24         47    74    88   83     9  ...    25    67       NaN    NaN     50
25         25    31   105   33   NaN  ...   NaN    17       NaN    NaN      7
26         36     8   114   28     1  ...     5     8         2      2     15
27         54    53   156   86    10  ...    21    19       NaN     12     48
28         42    41   197   83     1  ...     8    27       NaN    NaN     27
29         46    28    53   56    10  ...     9     5       NaN      2     29
30         10     8    16    4   NaN  ...   NaN     1       NaN    NaN      1
31         75    98   309  119    11  ...    16    36       NaN      6     54
32          3     3    11    7   NaN  ...     1   NaN       NaN    NaN      3
33          6    16    28   20     2  ...     5     4       NaN      4      6
34         34    43    61   58   NaN  ...    21     5       NaN      3     30
35        233   146   713  289    22  ...   107   259       NaN      9     46
36         21    21    58   15     3  ...     1   NaN         1    NaN      8
37         19    64   118  101    10  ...    16     2         1      1      7
38         28    30   119   41     2  ...     4    23         1      3     20
39         20    57   159  100    14  ...     5   112       NaN      3     61
40          4    12     1   30     4  ...     2   NaN         1      1     32
41          9    21    37   13   NaN  ...     5     1       NaN      3     25
42         13    11    51   24     1  ...   NaN     1       NaN    NaN      9
43          5     2    11    2   NaN  ...   NaN     2       NaN    NaN      1
44         15    21    92   37     4  ...     5     3       NaN    NaN     15
45         21    15    91   16     1  ...   NaN     3         1      1     39
46         29    43    92   85     3  ...     9    35       NaN    NaN      4
47         23    74   166   63   NaN  ...     4    17       NaN    NaN     29
48         18    29    93   34     3  ...    15    19       NaN      8     37
49         29    51    86  125     3  ...    15     1         5      1     16
50         16    23    86   49     3  ...     2     5       NaN    NaN     11
51         29    72   172   56     1  ...    16     3         2      4     40
52         13    39    99   39     1  ...    13     1       NaN      4     19
53         54    50    38   44   NaN  ...    15   NaN       NaN      2     27
54         19    32    88   29   NaN  ...     9     1         2    NaN     21
55         39    11    77   17     1  ...     3     2       NaN    NaN      6
56         30    44   115   46     1  ...     6    38         1    NaN     24

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2             8         40   NaN     0    394
3            38         86    10     5    940
4            54        116     7     6   1047
5            21         46     8     2   4962
6            24         81     2     3    752
7             9         35     2     3    438
8            11         28     3     3    433
9             6         20   NaN     1    358
10           46         90    16     9   1983
11           16         23     2     1    296
12           19         26     3     0    472
13            7          4     1     2    264
14          151        253    13    29   2518
15           13         54     1     1    399
16          153        191    43    16   2846
17          121       1612    10    16   7021
18          124        247    10    25   2913
19            5         21     2     0    364
20           47         59     1     1    898
21            1         19   NaN     1    182
22            1          8     1     0    179
23           23         41     3     1    875
24           46         83     3     2   1117
25            9         42     2     0    523
26           32         46     3     2    611
27          104        152    26     9   1508
28            6         87     1     3    862
29           58         59     3    11    836
30            3         10     1     0     98
31           46         88    21     6   1520
32          NaN          9   NaN     0     86
33            9         29     4     5    267
34           50         65    12     9    793
35          287        471   242    10   6055
36           25         21     2     1    425
37           47         66     6     4    818
38           22         58     4     2    691
39           87        153     6     8   1333
40           17         23   NaN     0    224
41            5         46     1     0    347
42           14         18     4     0    248
43            2          5     1     1     53
44           10         75     4     0    458
45           19         47     3     0    451
46           39         39     4     3    788
47           14         82     4     3   1055
48           49         71     6     5    737
49           21         86     1     1    759
50           16         50     2     4    549
51           34         89    14     4   1096
52           17         87    13     2    669
53           45         74    10     5    770
54           21         62     4     5    510
55            2          7     2     1    282
56           20         74     2     0    760

[56 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(55, 37)>
{'accuracy': 100.0, 'whitespace': 10.71, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN   NaN                 NaN
2                  MILANO         52   175   271                 157
3                  MODENA         17    43    80                  66
4   MONZA E DELLA BRIANZA         15    43   100                  71
5                  NAPOLI         14    61    60                  95
6                  NOVARA         10    49    11                  23
7                   NUORO          3     1   NaN                   7
8                ORISTANO          1   NaN     1                   5
9                  PADOVA         25    41    53                  86
10                PALERMO         11    29    26                  85
11                  PARMA        NaN    81    27                  34
12                  PAVIA         18    14    43                  60
13                PERUGIA         17    49    37                  77
14          PESARO URBINO          6    36    29                  27
15                PESCARA          6    15    25                  31
16               PIACENZA          3    37    27                  23
17                   PISA          7    43    38                  53
18                PISTOIA          3    10    35                  25
19              PORDENONE          8    15     3                  11
20                POTENZA          4     5     3                  38
21                  PRATO          6    22    26                  34
22                 RAGUSA          3    20     1                  39
23                RAVENNA         12    22    18                  55
24     REGGIO DI CALABRIA          3    21     4                  25
25     REGGIO NELL'EMILIA         12    38    31                  51
26                  RIETI          2     3     2                   5
27                 RIMINI          2    20    27                  22
28                   ROMA         47   142   240                 268
29                 ROVIGO          2    13    10                   4
30                SALERNO         11    43    19                  56
31                SASSARI          1    11     2                  39
32                 SAVONA          3     3    12                  18
33                  SIENA          6    12    13                  32
34               SIRACUSA          4     9     3                  21
35                SONDRIO          4     5   NaN                  11
36           SUD SARDEGNA          4     6     4                  15
37                TARANTO          2    16    13                  27
38                 TERAMO          8     6    21                  39
39                  TERNI          6     7     9                  27
40                 TORINO        133   128   140                 407
41                TRAPANI          3    23     4                  20
42                 TRENTO         84   471   729                 224
43                TREVISO         15    97    23                  99
44                TRIESTE          3    13     1                  12
45                  UDINE          7    54     7                  28
46                 VARESE         14    29    76                  66
47                VENEZIA         16    33    54                  71
48               VERBANIA          6     8     2                  16
49               VERCELLI          2    10     4                  12
50                 VERONA         18    96    69                  67
51          VIBO VALENTIA        NaN     8     5                  16
52                VICENZA         23    39    60                  84
53                VITERBO          7     7     6                  17
54                 TOTALE       2015  4913  4526                5741

   CITROEN/DS DACIA   FIAT  FORD HONDA  ... SKODA SMART SSANGYONG SUBARU  \
1         NaN   NaN    NaN   NaN   NaN  ...   NaN   NaN       NaN    NaN
2         332   494    647   588    55  ...   127   483        15     20
3          86   101    196   149     1  ...    29    24       NaN      8
4          93   113    215   120    15  ...    35    35         1      6
5         202   162    403   174     9  ...    11   107         1      4
6          38    27     80    45     5  ...    21   NaN       NaN      2
7          11    21     17    12     1  ...     3     1         1    NaN
8          14    22     12    20   NaN  ...   NaN     1         2    NaN
9         108    55    260   158    11  ...    35    13         3     20
10         54    95    211   110     6  ...    16    32         1      3
11         65    65    100    79     7  ...    18    20         1      7
12         39    92    169    97     7  ...    12    17       NaN      3
13         53    48    240    83     7  ...    15    23        12      4
14         39    60    139    90     1  ...    15    12         1      3
15         39    19    112    34     1  ...     1    47         1      2
16         36    38     70    44     9  ...     6     1         5      5
17         52    77    196    91     5  ...    22     5       NaN      2
18         34   100     73    23   NaN  ...     8     6         1    NaN
19         31    39     88    72     2  ...    10    23         2      2
20         15    33    103    25   NaN  ...     7     6       NaN    NaN
21         29    41     77    22     2  ...     6     7         2    NaN
22         30    49     77    49   NaN  ...     1    12       NaN    NaN
23         29    59    107    87     5  ...    14     4       NaN      4
24         13    32     54    29     5  ...     4     7         1    NaN
25         81    61    264   128     4  ...    24     1       NaN      3
26          3    12     36    13   NaN  ...     1     3       NaN      1
27         35    42     70    28     6  ...     9    13         1      1
28        360   493    920   883    60  ...    17  4748         3     13
29         23    18     19    37     3  ...    12   NaN         1    NaN
30        110    98    230    85     2  ...     4     6         1    NaN
31         31    71     67    56     2  ...     4    15       NaN    NaN
32         28    19     58    60     4  ...     1   NaN       NaN      4
33         25    50     71    32     3  ...    10    26         2      3
34         26    36     71    52   NaN  ...   NaN     2       NaN    NaN
35         11     9     39    83   NaN  ...     8   NaN       NaN      7
36         19    26     44    59     3  ...   NaN   NaN       NaN    NaN
37         23    36     77    27     3  ...    12     4       NaN    NaN
38         19    16    105    31     1  ...     3    35         4      1
39         30    27     72    28   NaN  ...     3     4       NaN      2
40        198   380   1858   382    19  ...    63     6         8      8
41         22    18     59    24   NaN  ...     1   NaN       NaN    NaN
42        710    44   1032   708     3  ...   108   506         1     46
43         70    86    121   147     5  ...    29     9         1     11
44         11    17     56    29    11  ...     3     4         4      6
45         39    47     97    74     8  ...    28    27       NaN      5
46         87   133    206   114    20  ...    23     4       NaN     20
47         73    92    184   136     3  ...    30     8         8     10
48         12    11     24    26     3  ...     6     1       NaN      2
49          9    14     25    35     2  ...     6     1         1      3
50         92   122    169   152    17  ...    83     9         3      7
51          3    18     19    22   NaN  ...     1   NaN       NaN    NaN
52         65    99    618   174    26  ...    34    57       NaN     21
53         25    47     74    45     1  ...     1     6       NaN    NaN
54       5730  6677  19294  9326   585  ...  1792  7551       115    380

   SUZUKI TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1     NaN          NaN        NaN   NaN   NaN     NaN
2     367          461        476    65    72    7688
3      45           94         97    40    21    1876
4      97          122        147    16    15    2057
5      60           56         91    13     5    2399
6      27           38         78     2     2     707
7       3            6         12     1     0     183
8       4            1         26   NaN     0     162
9      28          111        174    54    18    2179
10     10           61         98     2     2    1358
11     28           39         99    12     5    1135
12     63           51         98    13     7    1329
13     52           48        155    27     5    1493
14     20           19         94     7     2     921
15     13           39         33     5     1     611
16     20           36         54     6     3     670
17     48           29        124    11     1    1285
18     62           18         75     5     1     848
19     24           45         60     9     2     738
20      5            2         32   NaN     2     406
21     14           24         79     3     6     709
22     25           18         31     1     1     498
23     37           33         90    15     1     962
24     17           29         45     3     5     451
25     80           61         91     8     7    1455
26      2            5         11     1     1     169
27      7           34         54    10     4     636
28    214         1003        504    60    24   13104
29     29           14         50     3     4     381
30     39           41         62     4     2    1239
31     17           17         55     4     1     610
32     11           17         49     6     3     475
33     26            8         70     7     0     657
34     11           20         33   NaN     0     429
35     13            6         11     2     1     287
36      8           13         38   NaN     0     350
37     13           13         22     5     0     523
38      9           13         56    13     0     565
39     11           10         39     2     1     415
40    265          289        377    14    14    6871
41      4           21         24     2     0     395
42    201          354        451    98    20    9685
43     40           91        170    23    16    1706
44     46           31         29     3     1     419
45     63           64         93    11     7    1139
46    147          231        189    15    16    2267
47     57           68        171    15    13    1669
48     35            8         18     3     2     285
49     52           13         29   NaN     3     317
50     70          111        242     6    22    2247
51    NaN            4         11     1     0     171
52     93          109        179    32    16    2598
53     27           22         21     5     3     513
54   4083         6145      10891  1212   589  140075

[54 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI', 'JAGUAR',
       'KIA', 'LANCIA', 'LAND ROVER', 'MAHINDRA', 'MASERATI', 'MAZDA',
       'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT',
       'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2020_1.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(61, 37)>
{'accuracy': 100.0, 'whitespace': 14.31, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN   NaN                 NaN
2               AGRIGENTO          5    17     3                  22
3             ALESSANDRIA          7    20    46                  33
4                  ANCONA         16    29    32                  38
5                   AOSTA        388    49    28                 919
6                  AREZZO          6    22    14                  35
7            ASCOLIPICENO          5     7     6                  20
8                    ASTI          3    11    22                  22
9                AVELLINO          4    18     2                  21
10                   BARI         19    33    66                  85
11  BARLETTA-ANDRIA-TRANI          2     2     9                  19
12                BELLUNO          5    12     4                  17
13              BENEVENTO          5     7     2                  20
14                BERGAMO         23    55   101                 101
15                 BIELLA          3    13    11                  18
16                BOLOGNA         23    76   105                  96
17          BOLZANO-BOZEN        133  1172  1091                 122
18                BRESCIA         18   109   110                  43
19               BRINDISI          2     6     6                  19
20               CAGLIARI          9    13    16                  41
21          CALTANISSETTA        NaN     6     6                  14
22             CAMPOBASSO          1     3     1                  19
23                CASERTA          9    22    15                  26
24                CATANIA         11    37    26                  36
25              CATANZARO          8    25    15                  32
26                 CHIETI          5     6    12                  26
27                   COMO         17    49    20                  52
28                COSENZA          5    22    15                  46
29                CREMONA          2    18    22                  21
30                CROTONE          3     5     1                  12
31                  CUNEO         10    30    55                  89
32                   ENNA          1     3     1                   4
33                  FERMO          2    13     5                  13
34                FERRARA          6    10    18                  25
35                FIRENZE        106   427   445                 284
36                 FOGGIA        NaN     5     6                  22
37          FORLI' CESENA          6    23    12                  21
38              FROSINONE         22     5    33                  43
39                 GENOVA          4    23    59                  29
40                GORIZIA        NaN     1   NaN                   9
41               GROSSETO          3     7     9                  22
42                IMPERIA        NaN     5     6                   3
43                ISERNIA        NaN   NaN   NaN                   6
44              LA SPEZIA          1    12     4                   6
45               L'AQUILA          3     4     4                  22
46                 LATINA         10     7    16                  48
47                  LECCE          9    27    26                  46
48                  LECCO         13    15    19                  34
49                LIVORNO          6    18    16                  37
50                   LODI          8     9    20                  24
51                  LUCCA          6    30    26                  46
52               MACERATA          2    27     7                  29
53                MANTOVA          6    26    34                  17
54          MASSA-CARRARA          4    20     7                  29
55                 MATERA        NaN     4    10                   6
56                MESSINA         10    19    12                  35
57                 MILANO         57   225   333                 241
58                 MODENA         21    51    80                  49
59  MONZA E DELLA BRIANZA         27    57   113                  80
60                 NAPOLI         26    70    68                 101

   CITROEN/DS DACIA   DR  FIAT FORD  ... SMART SSANGYONG SUBARU SUZUKI  \
1         NaN   NaN  NaN   NaN  NaN  ...   NaN       NaN    NaN    NaN
2          28    18  NaN   101   16  ...     1       NaN    NaN      8
3          63    50    1   146   74  ...   NaN       NaN      1     40
4          61    35   16   160   46  ...     1       NaN    NaN     22
5          80    10  NaN  3603   97  ...   NaN       NaN    NaN     70
6          60    50    4   116   39  ...     1         4      1     18
7          35    17    1    74   29  ...     1       NaN    NaN      9
8           9    33    6    48   41  ...   NaN       NaN    NaN     14
9          40    23    3    73   27  ...   NaN       NaN    NaN      6
10        123    62    3   402  135  ...    11         2    NaN     55
11          8     8    5    38    9  ...     1       NaN    NaN      8
12         68    12  NaN   128   33  ...   NaN       NaN    NaN     17
13         16    24    4    90   12  ...   NaN       NaN    NaN      2
14        209   137    4   227  118  ...   NaN       NaN      1     39
15         17    13    1    51   31  ...   NaN       NaN      1     33
16        212   142    2   299  237  ...     3         2      6     54
17        488    17    3  5029   83  ...   NaN         1      3     28
18        201   126    5   289  226  ...     1         1      4     55
19         19    15  NaN    88   14  ...   NaN       NaN    NaN      8
20         46    56  NaN    98   97  ...   NaN       NaN      2     15
21         19    25  NaN    38    4  ...   NaN       NaN    NaN      1
22         10    10    2    43    7  ...   NaN       NaN    NaN      7
23         60    41   10   155   50  ...   NaN       NaN      2      3
24         54    78  NaN   110   52  ...   NaN       NaN    NaN     35
25         52    15  NaN   107   33  ...   NaN       NaN    NaN      9
26         39    23    2   125   35  ...   NaN       NaN    NaN     15
27         86    88    1   167   80  ...   NaN         1      4     84
28         48    25    3   191   83  ...     1       NaN    NaN     16
29         70    38    8    79   44  ...     1       NaN    NaN      9
30         12     7  NaN    32    7  ...   NaN       NaN    NaN      3
31        128    54    5   227  116  ...   NaN         4      2     33
32          7     8  NaN    16    4  ...   NaN       NaN    NaN      1
33          7     7    1    32    9  ...   NaN         1    NaN      4
34         48    51    1    61   68  ...   NaN       NaN      1     14
35        537   178    5   698  404  ...    10         3      8     44
36         28    20    3    68   10  ...   NaN       NaN    NaN      6
37         26    65    1   123   88  ...     1       NaN    NaN     21
38         26    22    1   143   31  ...   NaN         8    NaN      9
39         24    63  NaN   162  143  ...     1       NaN      3     93
40          9    14  NaN    10   18  ...   NaN         2    NaN     15
41         20    21    2    54   24  ...     1       NaN      6     19
42         23    16  NaN    57   27  ...   NaN       NaN    NaN     28
43          2     3    3    13    4  ...   NaN       NaN    NaN    NaN
44         19    20  NaN    85   35  ...   NaN       NaN    NaN     16
45         33    26  NaN   105    9  ...   NaN       NaN    NaN      7
46         63    43    2   159   53  ...     1         1    NaN      9
47         25    49  NaN   174   48  ...   NaN       NaN    NaN     21
48         34    47    1    93   29  ...   NaN         1    NaN     33
49         38    58    1    94  123  ...     1         6      1     16
50         18    24    7    70   39  ...     1       NaN    NaN     14
51         38   102    3   176   38  ...     1         4    NaN     29
52         33    14    3    90   36  ...   NaN       NaN      2     25
53         57    35    4    46   51  ...   NaN       NaN      2     12
54         22    31  NaN   100   26  ...   NaN         1      1     10
55         31     9  NaN    71   17  ...   NaN       NaN    NaN     10
56         48    34  NaN   150   24  ...     1       NaN    NaN     14
57        770   368   19   674  472  ...     3        48     15    231
58        131    96    7   242  114  ...     1         1    NaN     30
59        125   133    6   231  117  ...     1         6      2     44
60        241   121    6   448  171  ...     1         1      1     38

   TESLA MOTORS TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN          NaN        NaN   NaN   NaN    NaN
2           NaN            5         48   NaN     6    409
3           NaN           34        105    11     3   1020
4             1           27        146    10     1   1064
5           NaN           98         59     8     7   6931
6           NaN           30        144    10     6    876
7           NaN           16         43     2     1    433
8           NaN           15         39     6     1    448
9           NaN           12         37   NaN     2    424
10          NaN           78        176     9     4   1906
11          NaN           19         22     1     2    251
12            1           21         35     3     0    494
13          NaN            6         10   NaN     1    333
14            7          149        270    24    24   2593
15          NaN           16         61   NaN     0    408
16            2          222        316    57     6   2965
17            4          157       1375    19     7  14520
18            2          165        391    18    17   2907
19          NaN            9         28     2     1    374
20          NaN           46         89     2     0    783
21          NaN            3         20   NaN     1    217
22          NaN            4         20     2     0    217
23          NaN           22         64     5     8    928
24          NaN           48        104     4     2   1132
25          NaN           22         85     1     0    598
26          NaN           13         75     4     3    626
27          NaN          124        249    28     4   1792
28          NaN           10         94     4     2    848
29          NaN           63         72     4     1    854
30          NaN            6          9   NaN     0    134
31          NaN           63        145     8    11   1473
32            1            3         14   NaN     0    119
33          NaN           14         46   NaN     0    271
34          NaN           54         96    15     1    877
35          NaN          326        600   284    14   7291
36          NaN           37         31     3     5    413
37          NaN           57         96    15     5    921
38          NaN           28         85     7     2    755
39          NaN           97        236     9     4   1396
40          NaN           16         23     2     1    249
41          NaN            6         72     3     1    421
42          NaN           34         37     1     1    323
43          NaN            2          3     1     0     54
44          NaN           16        114     1     2    523
45          NaN           14         69     2     4    456
46          NaN           45         76     6     4    893
47          NaN           14        123     7     1   1006
48            2           50         98     5     0    785
49          NaN           37        116     8     1    887
50          NaN           18         66     1     1    609
51          NaN           45        152     3     3   1176
52          NaN           14        114     7     2    639
53            1           42         94    10     2    823
54          NaN           19         84   NaN     2    500
55          NaN            2         18     1     1    269
56          NaN           17        105     1     5    783
57           25          624        797    65    40   8436
58            1          117         99    33    11   1894
59            6          186        218    16     7   2391
60          NaN           91        167    13    18   2593

[60 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(51, 37)>
{'accuracy': 100.0, 'whitespace': 11.98, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

              PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1            RESIDENZA        NaN   NaN   NaN                 NaN        NaN
2               NOVARA          8    37    12                  28         81
3                NUORO          9     1   NaN                   5         20
4             ORISTANO          1     2     2                   7         20
5               PADOVA         17    66    74                  87        138
6              PALERMO         13    44    14                  66        101
7                PARMA          5    44    13                  28         77
8                PAVIA         15    21    36                  58         69
9              PERUGIA         14    47    43                  68         80
10       PESARO URBINO          5    21    19                  23         46
11             PESCARA          6    15    28                  27         44
12            PIACENZA          6    22    25                  21         46
13                PISA         17    27    44                  57         57
14             PISTOIA          7    17    24                  36         66
15           PORDENONE          7    19     7                  33         41
16             POTENZA          5     4     3                  31         15
17               PRATO          7    20    14                  33         65
18              RAGUSA          4     8     4                  29         49
19             RAVENNA          7    25    11                  53         45
20  REGGIO DI CALABRIA          6    20     7                  26         12
21  REGGIO NELL'EMILIA         20    29    18                  52        128
22               RIETI          3     3     3                   5          9
23              RIMINI          6    15    16                  22         52
24                ROMA         52   134   306                 276        618
25              ROVIGO          2    21    35                   8         37
26             SALERNO         24    12    34                  49        174
27             SASSARI          4    10     6                  30         62
28              SAVONA          5    16    14                  14         45
29               SIENA          7    20    13                  30         49
30            SIRACUSA          3     4     6                  14         41
31             SONDRIO          4     3     3                  10         16
32        SUD SARDEGNA          5     2     5                  16         43
33             TARANTO          3    13    20                  26         20
34              TERAMO          5     7    11                  36         35
35               TERNI          4    10     9                  17         56
36              TORINO        150   120   105                 370        378
37             TRAPANI          2    10     5                  21         26
38              TRENTO         91   737   827                 400        928
39             TREVISO         25    45    25                  95        107
40             TRIESTE          2     8     2                   8         12
41               UDINE         18    15     7                  36         70
42              VARESE         16    58    52                  96        120
43             VENEZIA         12    40    44                  69        127
44            VERBANIA          3     9     5                  11         17
45            VERCELLI          3     7     5                   8         13
46              VERONA         26   101    74                  57        147
47       VIBO VALENTIA          1     4     1                  11          6
48             VICENZA         33    44    55                  73        132
49             VITERBO          4    10    10                  16         36
50              TOTALE       1798  5004  5347                5987       9420

   DACIA   DR   FIAT  FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1    NaN  NaN    NaN   NaN  ...   NaN       NaN    NaN    NaN          NaN
2     59    2    105    54  ...   NaN       NaN      1     38          NaN
3     15  NaN     22     9  ...   NaN         1    NaN    NaN          NaN
4     22  NaN     16    16  ...   NaN       NaN    NaN      5          NaN
5     93    4    310   160  ...     2         2      6     33            4
6     51    6    268   102  ...   NaN         3      1     19          NaN
7     68   12     85    84  ...     1         1      1     28            1
8     81    2    188    93  ...     1         3    NaN     50            1
9     32  NaN    289   104  ...   NaN         8    NaN     36          NaN
10    42    1    112    54  ...   NaN         1      2     19            1
11    25    5     92    43  ...   NaN         3      1     13          NaN
12    21    1     98    47  ...   NaN         1    NaN     22          NaN
13    94    3    202    91  ...     2       NaN      1     30          NaN
14    78    1     81    22  ...   NaN       NaN      1     26          NaN
15    27    4     91    60  ...   NaN         2      1     26          NaN
16    20    3    126     8  ...   NaN       NaN      1     10          NaN
17    57    1    103    37  ...   NaN       NaN      1     13          NaN
18    18  NaN     95    40  ...   NaN       NaN    NaN      5            1
19    60  NaN     89    79  ...   NaN       NaN      1     20            2
20    38    4    107    44  ...   NaN         2    NaN      7          NaN
21    79    3    221   105  ...     1         1    NaN     31          NaN
22    13  NaN     47    14  ...   NaN       NaN    NaN      5          NaN
23    37    3     70    35  ...     1         6    NaN     50          NaN
24   420   10   1025   791  ...    68         1      5    156            3
25    33    1     34    40  ...   NaN         2      1      9          NaN
26    53    2    254    77  ...   NaN       NaN    NaN     15          NaN
27    51    1     99    58  ...   NaN         1    NaN      4            1
28    26  NaN     74    73  ...   NaN       NaN      3     29          NaN
29    52    1     82    44  ...   NaN         2      1     21          NaN
30    51    1     95    35  ...     1       NaN    NaN      6          NaN
31    10  NaN     33    75  ...   NaN       NaN      1     22            1
32    35  NaN     53    43  ...     1       NaN    NaN      8          NaN
33    23  NaN     75    39  ...     1       NaN    NaN     11          NaN
34    20  NaN    138    41  ...   NaN         3    NaN      7          NaN
35    34    1     51    39  ...   NaN       NaN    NaN      2          NaN
36   221   44   1343   435  ...   NaN        24      6    113            2
37    19  NaN     69    14  ...   NaN       NaN    NaN      6          NaN
38    62    2   1348  1035  ...   174         3      7     61            9
39    70    3     84   121  ...   NaN         2      4     64            3
40    10  NaN     58    16  ...     1         1      6     37          NaN
41    43  NaN    129    63  ...   NaN         3      1     27            1
42   147    2    214   125  ...     1       NaN      5     81            5
43    69    3    175   112  ...   NaN         2      5     33            2
44    13  NaN     51    14  ...   NaN         1      2     18          NaN
45    21  NaN     45    41  ...   NaN       NaN    NaN     26          NaN
46    86    7    163   152  ...   NaN         3      6     30            4
47     7  NaN     25    12  ...   NaN       NaN      1      2          NaN
48    93    5    442   165  ...   NaN       NaN      5     37            3
49    20    6     87    38  ...   NaN       NaN    NaN     12          NaN
50  5649  309  25842  9106  ...   301       180    146   2852           97

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1           NaN        NaN   NaN   NaN     NaN
2            51         71     6     2     894
3            11         12   NaN     0     168
4             4         34   NaN     1     178
5           152        303    15    13    2439
6            79        169     3     2    1436
7            44        145    29     6    1186
8            68         90     6     4    1336
9            45        233    28     2    1584
10           19        120     7     2     828
11           31         58     4     6     602
12           32         65     2     1     709
13           51        195    16     3    1428
14           27         99     6     0     829
15           52         86     6     0     768
16            6         36     1     0     406
17           48        114     5     5     839
18           41         47     2     2     476
19           38        134    19     5    1082
20           48         56     5     4     610
21           71        143    11     3    1465
22            7         20   NaN     0     207
23           35         73     7     3     760
24          883        843    54    42    9529
25           33         93     7     0     539
26           40        126     4     7    1329
27           22         85     2     1     622
28           23         80     4     2     602
29           42        109     9     4     821
30           26         48     3     1     479
31           19         27     1     1     306
32           17         48   NaN     0     369
33           17         17     1     5     534
34           27         56     4     0     628
35           15         68     6     2     461
36          289        520    13    20    6315
37           23         52     1     0     386
38          672        660   291    22   12736
39          129        257    30     7    1795
40           38         41     2     0     419
41           78        124     5     5    1240
42          229        326    14     6    2627
43           94        274    14     7    1786
44            7         17     3     2     293
45           26         29     3     1     371
46          137        303    23     6    2279
47            3         11   NaN     0     166
48          141        283    30     3    2445
49           36         23     6     0     510
50         7554      15003  1469   467  155528

[50 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2020_2.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(66, 37)>
{'accuracy': 100.0, 'whitespace': 13.14, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

       PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS DACIA  \
1     RESIDENZA        NaN  NaN  NaN                 NaN        NaN   NaN
2     AGRIGENTO          3   11    6                  17         20    15
3   ALESSANDRIA          4   41   31                  22         67    27
4        ANCONA          9   46   11                  33         35    29
5         AOSTA        443   52   10                 826         97    83
..          ...        ...  ...  ...                 ...        ...   ...
61       NOVARA         10   48   28                  23         55    38
62        NUORO          2    4    2                   3         14    11
63     ORISTANO          1    2    1                   4         16     8
64       PADOVA         14   77   50                  63        131    39
65      PALERMO         13   43   27                  50         77    36

     DR  FIAT FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1   NaN   NaN  NaN  ...   NaN       NaN    NaN    NaN          NaN
2   NaN    79   19  ...   NaN       NaN    NaN      9          NaN
3     6   145   69  ...   NaN         1      6     39          NaN
4     2   114   30  ...     1         3      1     22            2
5   NaN  5138  506  ...   NaN       NaN    NaN     75            4
..  ...   ...  ...  ...   ...       ...    ...    ...          ...
61    1   100   53  ...   NaN         1    NaN     53          NaN
62  NaN    19    9  ...   NaN       NaN    NaN      4          NaN
63  NaN    11   11  ...   NaN       NaN    NaN      5          NaN
64    4   280  133  ...   NaN         3     13     42            7
65    3   228   85  ...     1       NaN      3     24            1

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2            13         44   NaN     3    386
3            34         82     3     0    954
4            60        139    12     0    989
5            33         73     9    14   8727
..          ...        ...   ...   ...    ...
61           48         85     6     0    900
62           21         18   NaN     0    200
63            7         14     2     0    129
64          155        224    23    25   2232
65           66        134     2     4   1281

[65 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(46, 37)>
{'accuracy': 100.0, 'whitespace': 12.04, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

              PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1            RESIDENZA        NaN   NaN   NaN                 NaN        NaN
2                PARMA          7    45    19                  39         70
3                PAVIA         13    18    47                  50         61
4              PERUGIA         14    50    31                  51         79
5        PESARO URBINO          6    27    13                  21         37
6              PESCARA          1    22    21                  20         48
7             PIACENZA        NaN    24    26                  19         36
8                 PISA         13    27    25                  44         45
9              PISTOIA         10    24    27                  41         54
10           PORDENONE          7    21     7                  24         35
11             POTENZA          2     8     3                  25         15
12               PRATO        NaN    21    34                  38         50
13              RAGUSA          5    14     1                  20         38
14             RAVENNA          6    14    13                  53         35
15  REGGIO DI CALABRIA          3    22     6                  23         12
16  REGGIO NELL'EMILIA         11    43    33                  49        102
17               RIETI          1     3     7                   3         10
18              RIMINI          1    13    10                  24         35
19                ROMA         59   136   259                 208        482
20              ROVIGO          2    18     9                   3         24
21             SALERNO         16    27    23                  66        121
22             SASSARI          4     6     4                  25         53
23              SAVONA          4     6    22                  14         36
24               SIENA         12     7    17                  49         38
25            SIRACUSA        NaN    12    13                  14         30
26             SONDRIO        NaN     4     5                   3         21
27        SUD SARDEGNA          4     7     3                   7         36
28             TARANTO          3     8    20                  18         23
29              TERAMO          3    11    20                  32         25
30               TERNI          5     9    18                  18         39
31              TORINO        119   140   143                 425        307
32             TRAPANI          5     4   NaN                  26         31
33              TRENTO        107   978   821                 558       1118
34             TREVISO         23    65    23                  85         94
35             TRIESTE          5    17     5                  20         17
36               UDINE         15    51    16                  28         58
37              VARESE         24    57    61                  48         82
38             VENEZIA         16    40    23                  68         66
39            VERBANIA          3    15     3                  12         12
40            VERCELLI          2     8     7                  14         24
41              VERONA         21    72    66                  51        113
42       VIBO VALENTIA          4    10     1                   7          4
43             VICENZA         30    28    39                 125         89
44             VITERBO          5    15     9                  17         24
45              TOTALE       1903  5840  5130                5648       8706

   DACIA   DR   FIAT   FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1    NaN  NaN    NaN    NaN  ...   NaN       NaN    NaN    NaN          NaN
2     42    9     89     83  ...     2       NaN      7     34            3
3     78    4    131    123  ...     1         1      2     45            2
4     34  NaN    224     77  ...     1         3      2     40            2
5     25  NaN     87     30  ...   NaN       NaN      5     23            1
6      5  NaN     78     29  ...     2         1      2      6          NaN
7     13    2     63     50  ...   NaN       NaN    NaN     19            4
8     72    2    184     83  ...     4       NaN      2     31          NaN
9     31  NaN     74     18  ...   NaN       NaN      2     12          NaN
10    21    2     62     36  ...   NaN         2      3     25            1
11     6    2     89     16  ...   NaN       NaN    NaN      6            1
12    24    1     84     27  ...     1       NaN    NaN     10            1
13    18    1     72     31  ...     1       NaN    NaN     12            1
14    52    1     81     61  ...     1       NaN      1     25            3
15    23    2     78     33  ...     1         2      1     15          NaN
16    45    4    205     80  ...   NaN       NaN      2     37            1
17    12    2     21     23  ...     1       NaN    NaN      5          NaN
18    31  NaN     68     43  ...   NaN         3      1     32            2
19   319    9    929    794  ...    18         5     15    223            7
20    20  NaN     30     25  ...   NaN       NaN    NaN      4          NaN
21    21  NaN    246     79  ...   NaN         4    NaN     17            2
22    22  NaN     77     49  ...     1       NaN    NaN     10          NaN
23    15  NaN     77     61  ...   NaN       NaN      2     32          NaN
24    39  NaN     75     32  ...   NaN         1      2     22          NaN
25    32    1     64     36  ...   NaN       NaN      2      5            1
26     9  NaN     36     66  ...   NaN       NaN      1     27            2
27    30  NaN     39     45  ...     1       NaN    NaN      8          NaN
28    14    1     56     32  ...     1       NaN    NaN     14          NaN
29     9  NaN     93     35  ...   NaN         1      2     13          NaN
30     9    1     33     34  ...   NaN         1      1      6          NaN
31   161   14   1506    473  ...     1        24     10    149            6
32    24  NaN     62     11  ...   NaN       NaN    NaN      4            1
33    49    3   2420   1494  ...   245       NaN      9     62           31
34    69    3    104    155  ...   NaN         1      9     39            3
35    15  NaN     37     27  ...   NaN         2      4     43          NaN
36    51  NaN    127     68  ...   NaN       NaN      2     44          NaN
37    88  NaN    199    132  ...     2       NaN     10     99            7
38    77    4    196    107  ...     1         2      8     33          NaN
39    16  NaN     34     34  ...   NaN       NaN    NaN     24            1
40    11  NaN     26     35  ...   NaN         1      1     37          NaN
41    59    3    164    144  ...   NaN         6      8     33            6
42    12  NaN     29      8  ...   NaN       NaN    NaN      4          NaN
43    67    2    579    166  ...   NaN       NaN     11     56            5
44    23    3     55     29  ...   NaN       NaN    NaN      9          NaN
45  4273  215  27801  10773  ...   333       137    273   3207          258

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1           NaN        NaN   NaN   NaN     NaN
2            34        142    18     1    1120
3            52         92     5     3    1292
4            51        186    30     8    1442
5            20         90     3     1     735
6            33         47     2     3     578
7            30         78     3     1     632
8            44        183    15     3    1302
9            23         90     4     3     816
10           39         75     6     0     651
11            5         36   NaN     1     343
12           39        105     8     4     801
13           26         44     1     4     433
14           28        124    12     1     946
15           58         49   NaN     2     498
16           89        106    16     3    1331
17            5         16   NaN     2     188
18           40         61     8     1     664
19          982        802    49    32    9055
20           33         75     4     0     457
21           58         79     2     5    1245
22           25         67     1     2     532
23           27         77     5     0     577
24           22         91     7     2     703
25           28         49   NaN     3     452
26           20         19     5     1     325
27           18         38   NaN     0     343
28           13         23     5     7     469
29           14         55     5     0     519
30           14         57     2     1     397
31          312        447    13    18    6495
32           20         47   NaN     1     402
33         1097        695   302     6   16628
34          123        225    15     9    1751
35           28         40     2     0     406
36           87        159    29     5    1247
37          206        218     6     7    2309
38           87        219    14     2    1605
39           12         26   NaN     0     325
40           24         28     2     1     372
41          135        267     9     8    2206
42            5          8   NaN     0     162
43          139        242    21     8    2516
44           36         32     4     3     454
45         8058      16172  1409   439  162793

[45 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2020_3.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(57, 37)>
{'accuracy': 99.99, 'whitespace': 27.83, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               AGRIGENTO          1  NaN    1                 NaN          2
2             ALESSANDRIA          1    6    8                   2         11
3                  ANCONA          2    7    5                   3          5
4                   AOSTA        108   15    5                 465         15
5                  AREZZO        NaN   10    1                   4         14
6            ASCOLIPICENO          1    1  NaN                   4          2
7                    ASTI        NaN    1    2                   4          4
8                AVELLINO        NaN    1    1                   5          5
9                    BARI          3    5    2                   4          8
10  BARLETTA-ANDRIA-TRANI        NaN  NaN    1                   4        NaN
11                BELLUNO        NaN    2    4                   1          1
12              BENEVENTO          1  NaN    2                   5          1
13                BERGAMO          1    9    7                   6          9
14                 BIELLA        NaN    1    8                   2          3
15                BOLOGNA          3   23    6                   5         19
16          BOLZANO-BOZEN        NaN  401    3                   5         15
17                BRESCIA          2    9    5                   2         36
18               BRINDISI        NaN    3    1                   1          1
19               CAGLIARI          1    5  NaN                   2          8
20          CALTANISSETTA        NaN    2    1                   1          3
21             CAMPOBASSO          1  NaN    2                 NaN        NaN
22                CASERTA          1    4    3                   8         12
23                CATANIA          1    8    2                   7          6
24              CATANZARO        NaN    3    3                   7          3
25                 CHIETI          2    1    2                 NaN          5
26                   COMO          1    7   12                   2         17
27                COSENZA          2    7    1                   5          2
28                CREMONA        NaN    2    8                 NaN          3
29                CROTONE          1    3  NaN                 NaN          6
30                  CUNEO          1   11    1                   5         14
31                   ENNA        NaN  NaN  NaN                   1          1
32                  FERMO        NaN    1  NaN                 NaN          2
33                FERRARA          1    6    2                   2         12
34                FIRENZE         11  151   58                  28         68
35                 FOGGIA          4    1  NaN                   3          4
36          FORLI' CESENA          2    4    3                   3          6
37              FROSINONE          3    2    1                   3         11
38                 GENOVA        NaN    4    4                   6          7
39                GORIZIA        NaN    1    1                 NaN        NaN
40               GROSSETO          1    2  NaN                   1          6
41                IMPERIA          1    1  NaN                   2          6
42                ISERNIA        NaN  NaN  NaN                   1          2
43              LA SPEZIA          1    2    1                   1          8
44               L'AQUILA        NaN    1  NaN                   3          4
45                 LATINA        NaN    3  NaN                   8         11
46                  LECCE        NaN    5    2                   1          5
47                  LECCO        NaN    2    3                   6          4
48                LIVORNO        NaN  NaN    2                   2          8
49                   LODI          2    2    1                 NaN          3
50                  LUCCA          1    4    1                   5         12
51               MACERATA          1    5    6                   4          8
52                MANTOVA        NaN    2    4                   3          7
53          MASSA-CARRARA        NaN    2  NaN                   4          5
54                 MATERA        NaN    1    1                 NaN          2
55                MESSINA          1    5  NaN                   5          6
56                 MILANO          6   35   55                  32         57

   DACIA   DR FIAT FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1      6  NaN   15    6  ...   NaN       NaN    NaN      2          NaN
2     12    1   15   13  ...   NaN       NaN    NaN     22            1
3     15    5   11    5  ...   NaN       NaN    NaN     23          NaN
4      8  NaN  364   18  ...   NaN       NaN    NaN     19            4
5      8  NaN   11    8  ...   NaN       NaN    NaN      7            2
6      5  NaN   10    7  ...   NaN       NaN    NaN      1          NaN
7      7  NaN    7    4  ...   NaN       NaN    NaN      5            1
8      5    1   13    4  ...   NaN       NaN    NaN      2          NaN
9     15    1   35   21  ...     2       NaN      1     21            2
10     2  NaN    6    1  ...   NaN       NaN    NaN      5            1
11     6  NaN  NaN    4  ...   NaN       NaN      1     11            1
12     5    1   10    4  ...   NaN       NaN    NaN      3            1
13    26    4   17   12  ...   NaN       NaN      1     24           18
14     4  NaN    8   11  ...   NaN       NaN    NaN     16            2
15    21  NaN   22   37  ...     2         1    NaN     31           10
16     6    1    8    8  ...   NaN       NaN      1     12           11
17    22    1   24   17  ...   NaN       NaN      3     14           22
18     4  NaN   11    2  ...   NaN       NaN    NaN      2          NaN
19     8  NaN   11   21  ...     1       NaN    NaN      2          NaN
20     3  NaN    8    3  ...   NaN       NaN    NaN      1          NaN
21   NaN  NaN    6  NaN  ...     1       NaN    NaN    NaN            1
22    13  NaN   23    9  ...   NaN         1    NaN      3          NaN
23    23  NaN   18   10  ...   NaN       NaN    NaN     11            1
24     1  NaN   18    3  ...   NaN       NaN    NaN      2          NaN
25     9    1    9    3  ...     1       NaN    NaN      6            2
26    16  NaN   26   14  ...   NaN       NaN      1     28           10
27     5  NaN   16   24  ...   NaN         1    NaN      3          NaN
28     8    3    6   15  ...   NaN       NaN    NaN      5            5
29   NaN  NaN    3  NaN  ...   NaN       NaN    NaN      1          NaN
30    13  NaN   38   32  ...   NaN       NaN      1      9           10
31     1  NaN    4    2  ...   NaN       NaN    NaN    NaN          NaN
32   NaN    1    2    5  ...   NaN       NaN      1      3          NaN
33    14  NaN   12   18  ...   NaN       NaN      1      5            1
34    26  NaN  195   55  ...     1       NaN      4     23            2
35     1    3   14    5  ...   NaN       NaN    NaN    NaN          NaN
36     9  NaN   11   30  ...   NaN       NaN      1     12            2
37     2  NaN   23    5  ...   NaN       NaN      1      1            1
38    19  NaN   27   11  ...   NaN       NaN      2     26            4
39     3  NaN    4    1  ...   NaN       NaN    NaN      5            1
40     5  NaN    9    5  ...   NaN       NaN      1      8            1
41     4  NaN    9    3  ...   NaN       NaN    NaN      5          NaN
42     1  NaN    1    1  ...   NaN       NaN    NaN    NaN            1
43     9  NaN   11    4  ...   NaN       NaN    NaN      5            2
44     5  NaN    7    4  ...   NaN       NaN    NaN      7            1
45    11    2   20   21  ...   NaN         1    NaN      2          NaN
46    11  NaN   11    8  ...   NaN       NaN    NaN      3            1
47     7  NaN   14    3  ...   NaN       NaN    NaN     20            7
48    15    1    9   33  ...   NaN       NaN    NaN      9          NaN
49     4  NaN    9    7  ...   NaN       NaN      1      7            3
50    20  NaN   24   18  ...   NaN       NaN      1     16            2
51    10    1    8   14  ...     1       NaN      1     11            2
52    14    1    6    4  ...   NaN       NaN    NaN      3            4
53     5    1   13    7  ...   NaN       NaN    NaN      2            1
54     3  NaN    6  NaN  ...   NaN       NaN    NaN      2          NaN
55     6  NaN   18    8  ...   NaN       NaN    NaN     10          NaN
56    90    6   83   65  ...     2         1      9     74           74

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN          4   NaN     0     62
2            14          6     2     1    198
3             5         33   NaN     0    214
4            20         10     5     4   1217
5             2         22     3     1    158
6             2          9   NaN     0     73
7             1         12   NaN     0     81
8             3          8   NaN     0     98
9             6         10     3     7    239
10            1          3   NaN     1     40
11            2         12   NaN     0     90
12          NaN        NaN   NaN     1     61
13           14         42     9     4    355
14            4          5   NaN     0     94
15           22         48    35    15    504
16            9        304    96     0   1146
17            4         56     5     1    502
18          NaN          3   NaN     1     67
19            6          8   NaN     0    106
20          NaN          2   NaN     0     41
21            1          1     1     0     37
22            2          8     1     2    198
23            3          9     1     0    223
24          NaN          3   NaN     0     83
25          NaN          7   NaN     0     91
26           28         27     2     2    341
27            1          5     2     1    135
28            7         12     2     4    163
29          NaN          1   NaN     0     26
30            6         21     5     1    261
31            2          1   NaN     0     34
32            1         11     1     1     51
33            3         16   NaN     1    165
34          163        132   123     7   1859
35            3          6     2     0     74
36            3         25     5     0    189
37            4         23   NaN     0    126
38            7         66     5     1    301
39            1          5   NaN     0     34
40            2         17   NaN     0     95
41            2          7   NaN     0     64
42          NaN        NaN   NaN     0     16
43          NaN         19   NaN     0     98
44            7          6   NaN     1     81
45            2         11     2     3    201
46            5          7   NaN     1    144
47           10         22     3     1    185
48            2         11     1     0    165
49            3          4   NaN     0     90
50            5         20     1     2    283
51            6         17     1     1    159
52            2          7     3     1    133
53          NaN         23     1     1     98
54          NaN        NaN   NaN     0     25
55            1          2     1     4    124
56           96         89    32    13   1462

[56 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(53, 37)>
{'accuracy': 99.99, 'whitespace': 22.13, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI  BMW CHRYSLER/JEEP/DODGE  \
1                  MODENA          1    13    4                   5
2   MONZA E DELLA BRIANZA          3     7   13                   5
3                  NAPOLI          3    14    4                  22
4                  NOVARA        NaN     6    1                   5
5                   NUORO        NaN   NaN  NaN                   1
6                ORISTANO        NaN   NaN  NaN                   1
7                  PADOVA          2     8    5                   7
8                 PALERMO          1     4    7                   3
9                   PARMA          1     4   11                   5
10                  PAVIA          1     4    4                   5
11                PERUGIA          1     4    1                   8
12          PESARO URBINO        NaN     4    4                 NaN
13                PESCARA        NaN     2    1                   1
14               PIACENZA          1     3    2                   1
15                   PISA          1     5  NaN                   3
16                PISTOIA        NaN   NaN  NaN                   1
17              PORDENONE        NaN     3    9                 NaN
18                POTENZA          2   NaN  NaN                   6
19                  PRATO        NaN     6    1                   4
20                 RAGUSA          1   NaN  NaN                   2
21                RAVENNA          2     2    1                   5
22     REGGIO DI CALABRIA        NaN     8  NaN                   4
23     REGGIO NELL'EMILIA          2     6    2                   7
24                  RIETI        NaN   NaN  NaN                 NaN
25                 RIMINI          2     4    2                   1
26                   ROMA          5    26   32                  37
27                 ROVIGO        NaN     1    2                 NaN
28                SALERNO          4     3  NaN                  14
29                SASSARI          2     2    2                   2
30                 SAVONA          1     1    1                   1
31                  SIENA          3     9    1                   3
32               SIRACUSA          3     2  NaN                   2
33                SONDRIO          2     1  NaN                   1
34           SUD SARDEGNA          2     1    1                   1
35                TARANTO          2     2  NaN                   5
36                 TERAMO          1     3    1                   8
37                  TERNI        NaN     3    2                   2
38                 TORINO         28    14   13                 112
39                TRAPANI          1     4  NaN                   4
40                 TRENTO         12   142  314                  45
41                TREVISO        NaN     8    8                   4
42                TRIESTE        NaN     2    1                 NaN
43                  UDINE          1     4    3                   2
44                 VARESE          3    13   15                   8
45                VENEZIA          2    10    1                   4
46               VERBANIA        NaN     3  NaN                   2
47               VERCELLI          2     6    2                   3
48                 VERONA          1    26    5                   7
49          VIBO VALENTIA          3     5  NaN                   1
50                VICENZA        NaN    17    4                  13
51                VITERBO        NaN     4    1                   4
52                 TOTALE        271  1208  723                1070

   CITROEN/DS DACIA   DR  FIAT  FORD  ... SMART SSANGYONG SUBARU SUZUKI  \
1          33    30    4    23    21  ...     1       NaN      2     23
2          23    26    2    26    12  ...   NaN       NaN      1     30
3           7    24    2    72    23  ...   NaN       NaN    NaN     22
4           3     5  NaN     7     9  ...   NaN         1    NaN     21
5           3     5  NaN     4     2  ...   NaN       NaN    NaN      1
6           4     1  NaN     5     1  ...   NaN       NaN    NaN      4
7          14    30    1    46    26  ...   NaN       NaN      4     14
8          11    17  NaN    28    17  ...   NaN       NaN    NaN      6
9          11    10  NaN    29     8  ...     1       NaN      1     11
10          5    15    1    17    15  ...   NaN       NaN      1      9
11          9    10  NaN    47    15  ...   NaN       NaN      4     15
12          8     9    2    24     2  ...   NaN       NaN      3      3
13         15     6  NaN    14     5  ...     1       NaN    NaN      6
14          5     6  NaN     5     9  ...   NaN       NaN      1      8
15          6    17    2    28    17  ...   NaN       NaN      1      3
16          2     9  NaN     6     5  ...   NaN       NaN    NaN      7
17          7   NaN    1     6    12  ...   NaN         1    NaN     13
18          2     6  NaN     5     5  ...   NaN       NaN    NaN      4
19          2     8    2    12     4  ...   NaN       NaN    NaN      5
20        NaN     8    1     8     6  ...   NaN       NaN    NaN    NaN
21          6    12  NaN    15    14  ...   NaN       NaN    NaN      4
22          2     3  NaN    19     2  ...   NaN       NaN    NaN      5
23         19    17  NaN    84     8  ...   NaN       NaN      1     23
24          1     5  NaN     4     5  ...   NaN       NaN    NaN    NaN
25          5     5  NaN     8     9  ...   NaN       NaN    NaN      7
26         59    99    7   109   195  ...    11         1      1    106
27          6     5  NaN     6     8  ...   NaN       NaN    NaN      5
28          8     9    1    53    18  ...   NaN       NaN    NaN     13
29          6    10  NaN    14    13  ...   NaN       NaN    NaN      4
30          4     3  NaN     6     7  ...   NaN       NaN    NaN     10
31          6     6  NaN     9    10  ...   NaN       NaN      2      8
32          1    11  NaN    17     3  ...   NaN       NaN    NaN      3
33          3     7  NaN     4     3  ...   NaN       NaN    NaN      8
34          2     9    1    10    11  ...   NaN       NaN    NaN      1
35          3    13  NaN    14     5  ...   NaN       NaN    NaN      7
36          5   NaN  NaN    25    10  ...   NaN       NaN    NaN      4
37          5     1    1    13     7  ...   NaN       NaN    NaN      2
38         46    48    4   357   167  ...   NaN         5      3     67
39          1     3  NaN    23     2  ...   NaN       NaN    NaN      1
40        137    14  NaN    88   231  ...   140         1     10     23
41         17    13  NaN    25    33  ...   NaN       NaN      3     14
42          3     3    1     4     4  ...   NaN         1      1     10
43         12     6  NaN    10     9  ...   NaN       NaN    NaN     15
44         14    25  NaN    22    20  ...   NaN       NaN      2     42
45         12    10  NaN    30    28  ...   NaN         1      4      3
46          2     6  NaN     8     5  ...   NaN       NaN    NaN      7
47          5     3  NaN     9     6  ...   NaN       NaN    NaN     17
48         31    26  NaN    30    24  ...   NaN         1      5     14
49          1   NaN  NaN     8     2  ...   NaN       NaN    NaN      1
50         19    24    1    24    30  ...   NaN       NaN      5     25
51          4     6  NaN    15     3  ...   NaN       NaN    NaN      4
52       1110  1215   69  2794  1759  ...   165        17     87   1208

   TESLA MOTORS TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1             9           11         27     3     4    399
2            12           22         46     7     6    441
3             1            3         15     3    10    475
4             3           18          8     2     0    165
5           NaN            2          3   NaN     0     43
6             1          NaN          7     1     0     38
7            11           15         30     9     7    450
8           NaN           12          4     3     2    197
9             2            5          8     4     0    219
10            3           21          9     4     0    219
11            3            8         38     8     4    287
12            1            1         16     1     1    157
13          NaN          NaN          4     4     0    115
14            3            2          5     3     1     99
15            1            2         34     4     0    231
16            4            1         21     2     2    149
17            3            6         10     4     0    150
18          NaN            1          3   NaN     0     69
19            4          NaN          8     3     2    135
20            3            2          1   NaN     1     63
21            6            3         14     6     1    186
22          NaN            3          6   NaN     1     88
23            2            8         24     5     1    322
24          NaN            1        NaN     1     0     29
25            1            1          4     1     2    139
26           16          156        123    24     6   1772
27            1            1         18     1     0     99
28            1            1         21   NaN     0    280
29          NaN            3          6     2     1    114
30            2            1          8     4     0     74
31          NaN            3         30     1     1    155
32          NaN            2          1   NaN     0     84
33            2            2          3     2     0     73
34          NaN            1          3   NaN     0     67
35          NaN            1          5   NaN     0    101
36          NaN            1         10     1     2    126
37            2            1         12   NaN     3     94
38           14           41         42     4     6   1384
39          NaN            3          5   NaN     0     90
40           26          251        150   147     3   3166
41           19           14         27     3     2    349
42            2            2          5   NaN     0     85
43            4           11         13     6     1    169
44           17           38         42     3     1    520
45            6            7         37     4     2    295
46            2            2         11   NaN     0     76
47            2            1          4     1     0     97
48            9           15         69     6     3    467
49          NaN          NaN          3   NaN     0     33
50           11           17         73    10     1    437
51          NaN            2         12     3     0     94
52          424         1218       2316   653   161  28326

[52 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2020_4.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(58, 37)>
{'accuracy': 99.78, 'whitespace': 73.53, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               RESIDENZA        NaN  NaN  NaN                 NaN        NaN
2               AGRIGENTO        NaN    1  NaN                 NaN        NaN
3             ALESSANDRIA        NaN  NaN  NaN                   1          2
4                  ANCONA        NaN    2    1                 NaN        NaN
5                   AOSTA         95  NaN  NaN                 246          1
6                  AREZZO        NaN  NaN  NaN                   1          1
7            ASCOLIPICENO        NaN  NaN  NaN                 NaN        NaN
8                    ASTI        NaN  NaN  NaN                 NaN        NaN
9                AVELLINO        NaN  NaN  NaN                   1          2
10                   BARI          2  NaN  NaN                   2        NaN
11  BARLETTA-ANDRIA-TRANI        NaN  NaN  NaN                 NaN        NaN
12                BELLUNO        NaN  NaN  NaN                   4          4
13              BENEVENTO        NaN  NaN  NaN                 NaN        NaN
14                BERGAMO          2    1    3                 NaN          4
15                 BIELLA        NaN  NaN  NaN                   1        NaN
16                BOLOGNA        NaN    5    2                 NaN          8
17          BOLZANO-BOZEN        NaN   20  NaN                 NaN         12
18                BRESCIA        NaN  NaN    6                   3          6
19               BRINDISI        NaN  NaN  NaN                 NaN          3
20               CAGLIARI          3  NaN  NaN                   2          4
21          CALTANISSETTA        NaN    1  NaN                 NaN        NaN
22             CAMPOBASSO        NaN  NaN    1                 NaN        NaN
23                CASERTA        NaN  NaN  NaN                   1          2
24                CATANIA          3  NaN    1                   2          2
25              CATANZARO        NaN    7  NaN                 NaN        NaN
26                 CHIETI        NaN  NaN    1                 NaN          2
27                   COMO          1  NaN  NaN                   4          5
28                COSENZA          1    5  NaN                   3          2
29                CREMONA        NaN  NaN  NaN                 NaN        NaN
30                CROTONE        NaN    1  NaN                 NaN        NaN
31                  CUNEO        NaN  NaN  NaN                   4          1
32                   ENNA        NaN  NaN  NaN                 NaN        NaN
33                  FERMO        NaN  NaN  NaN                 NaN        NaN
34                FERRARA        NaN  NaN    1                 NaN          3
35                FIRENZE        NaN  NaN  NaN                   1          1
36                 FOGGIA        NaN    1  NaN                 NaN          3
37          FORLI' CESENA          1  NaN  NaN                 NaN          4
38              FROSINONE          2    1    1                   1          5
39                 GENOVA        NaN  NaN  NaN                   2          1
40                GORIZIA        NaN  NaN  NaN                 NaN        NaN
41               GROSSETO        NaN  NaN  NaN                 NaN        NaN
42                IMPERIA        NaN  NaN  NaN                 NaN        NaN
43                ISERNIA        NaN  NaN  NaN                 NaN        NaN
44              LA SPEZIA        NaN  NaN  NaN                 NaN        NaN
45               L'AQUILA        NaN  NaN  NaN                   1        NaN
46                 LATINA        NaN  NaN    3                   1          4
47                  LECCE        NaN  NaN  NaN                   1          2
48                  LECCO          1  NaN    1                 NaN        NaN
49                LIVORNO        NaN  NaN  NaN                   1        NaN
50                   LODI        NaN  NaN  NaN                 NaN          2
51                  LUCCA        NaN    1  NaN                 NaN          1
52               MACERATA        NaN  NaN  NaN                 NaN          1
53                MANTOVA        NaN  NaN  NaN                   2          3
54          MASSA-CARRARA        NaN    1  NaN                 NaN        NaN
55                 MATERA        NaN  NaN  NaN                 NaN          1
56                MESSINA        NaN  NaN  NaN                 NaN          1
57                 MILANO          4    1    6                  10         30

   DACIA   DR FIAT FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1    NaN  NaN  NaN  NaN  ...   NaN       NaN    NaN    NaN          NaN
2    NaN  NaN    1  NaN  ...   NaN       NaN    NaN      1          NaN
3    NaN  NaN    5    3  ...   NaN       NaN    NaN    NaN            2
4    NaN    1    4    4  ...   NaN       NaN    NaN    NaN          NaN
5     31  NaN  327  NaN  ...   NaN       NaN    NaN      1          NaN
6    NaN    1    3    4  ...   NaN       NaN    NaN      1            1
7    NaN  NaN  NaN    1  ...   NaN       NaN    NaN      1          NaN
8    NaN  NaN    1  NaN  ...   NaN       NaN    NaN    NaN          NaN
9      2  NaN    3  NaN  ...   NaN       NaN    NaN      1          NaN
10   NaN    1   32   12  ...   NaN       NaN    NaN    NaN            1
11   NaN  NaN  NaN    2  ...   NaN       NaN    NaN    NaN          NaN
12   NaN  NaN   12    2  ...   NaN       NaN    NaN    NaN            1
13   NaN  NaN    1  NaN  ...   NaN       NaN    NaN    NaN          NaN
14   NaN    1    3    1  ...   NaN       NaN    NaN    NaN            5
15   NaN  NaN    2    1  ...   NaN       NaN    NaN    NaN          NaN
16   NaN  NaN    7    1  ...   NaN       NaN      1    NaN            1
17   NaN  NaN    4    2  ...     1       NaN    NaN      1            6
18     3  NaN    3    1  ...   NaN       NaN    NaN    NaN            6
19   NaN  NaN    3    1  ...   NaN       NaN    NaN    NaN            1
20   NaN  NaN   23   20  ...   NaN       NaN    NaN    NaN          NaN
21   NaN  NaN    1  NaN  ...   NaN       NaN    NaN    NaN          NaN
22   NaN  NaN    1    1  ...   NaN       NaN    NaN    NaN          NaN
23     1  NaN    8  NaN  ...   NaN       NaN    NaN    NaN          NaN
24   NaN  NaN    8  NaN  ...   NaN       NaN    NaN    NaN          NaN
25   NaN  NaN    6    1  ...   NaN       NaN    NaN    NaN          NaN
26   NaN  NaN  NaN  NaN  ...   NaN       NaN    NaN    NaN          NaN
27   NaN  NaN   14  NaN  ...   NaN       NaN    NaN    NaN            2
28   NaN  NaN   10  NaN  ...   NaN       NaN    NaN    NaN          NaN
29   NaN  NaN  NaN    1  ...   NaN       NaN    NaN    NaN          NaN
30   NaN  NaN    2  NaN  ...   NaN       NaN    NaN    NaN          NaN
31   NaN  NaN    1    1  ...   NaN       NaN    NaN    NaN            1
32   NaN  NaN    2  NaN  ...   NaN       NaN    NaN    NaN          NaN
33   NaN  NaN  NaN    3  ...   NaN       NaN    NaN    NaN          NaN
34   NaN  NaN    7  NaN  ...   NaN       NaN    NaN      1          NaN
35   NaN  NaN   10    3  ...   NaN       NaN    NaN    NaN          NaN
36   NaN    1    3    1  ...   NaN       NaN    NaN      1          NaN
37   NaN  NaN    7  NaN  ...   NaN       NaN    NaN    NaN          NaN
38   NaN    1    1  NaN  ...   NaN       NaN    NaN    NaN          NaN
39   NaN  NaN    4    4  ...   NaN       NaN    NaN    NaN            1
40   NaN  NaN    1  NaN  ...   NaN       NaN    NaN    NaN          NaN
41   NaN  NaN  NaN    1  ...   NaN       NaN    NaN    NaN          NaN
42   NaN  NaN  NaN  NaN  ...   NaN       NaN    NaN    NaN          NaN
43   NaN    1  NaN  NaN  ...   NaN       NaN    NaN    NaN          NaN
44   NaN  NaN    3    1  ...   NaN       NaN    NaN      1          NaN
45   NaN  NaN    3  NaN  ...   NaN       NaN    NaN    NaN            2
46   NaN    1    1    1  ...   NaN       NaN    NaN    NaN          NaN
47   NaN  NaN    2  NaN  ...   NaN       NaN    NaN    NaN          NaN
48   NaN  NaN    3  NaN  ...   NaN       NaN    NaN    NaN            4
49     2  NaN  NaN   14  ...   NaN         1    NaN    NaN          NaN
50   NaN  NaN  NaN  NaN  ...   NaN       NaN    NaN    NaN          NaN
51   NaN  NaN  NaN  NaN  ...   NaN       NaN    NaN    NaN          NaN
52   NaN  NaN  NaN    3  ...   NaN       NaN    NaN    NaN          NaN
53   NaN    1    2  NaN  ...   NaN       NaN    NaN    NaN            1
54   NaN  NaN   10  NaN  ...   NaN       NaN    NaN      1          NaN
55   NaN  NaN    2  NaN  ...   NaN       NaN    NaN    NaN          NaN
56   NaN  NaN    3  NaN  ...   NaN       NaN    NaN    NaN          NaN
57   NaN  NaN   36   15  ...   NaN       NaN    NaN    NaN           10

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2           NaN          1   NaN   NaN      5
3           NaN          1   NaN   NaN     16
4           NaN        NaN   NaN   NaN     19
5           NaN        NaN   NaN   NaN    737
6           NaN        NaN   NaN   NaN     13
7           NaN          2   NaN   NaN     10
8           NaN        NaN   NaN   NaN      5
9           NaN        NaN   NaN   NaN     13
10          NaN          1   NaN   NaN     64
11          NaN        NaN   NaN   NaN      4
12          NaN        NaN   NaN   NaN     30
13          NaN        NaN   NaN   NaN      2
14            1        NaN   NaN   NaN     29
15          NaN        NaN   NaN   NaN      5
16            3          5     2     4     52
17            3         22   NaN     1    132
18          NaN          1   NaN   NaN     96
19          NaN          1   NaN   NaN     12
20          NaN          1   NaN   NaN     70
21          NaN        NaN   NaN   NaN      5
22          NaN        NaN   NaN   NaN      6
23            2        NaN   NaN   NaN     26
24            2        NaN   NaN   NaN     34
25          NaN        NaN   NaN   NaN     19
26          NaN        NaN   NaN   NaN      4
27          NaN        NaN   NaN   NaN     43
28          NaN          1   NaN   NaN     36
29          NaN        NaN   NaN   NaN      4
30          NaN        NaN   NaN   NaN      4
31            2        NaN   NaN   NaN     17
32          NaN        NaN   NaN   NaN      4
33          NaN          1   NaN   NaN      5
34          NaN        NaN   NaN   NaN     19
35            1        NaN   NaN     1     42
36          NaN        NaN   NaN   NaN     18
37          NaN        NaN   NaN     1     22
38          NaN        NaN   NaN   NaN     27
39            1        NaN   NaN   NaN     23
40            1        NaN   NaN   NaN      3
41          NaN          1   NaN   NaN      3
42          NaN        NaN   NaN   NaN      3
43          NaN        NaN   NaN   NaN      1
44          NaN        NaN   NaN   NaN      7
45          NaN          1   NaN   NaN     10
46          NaN          1   NaN   NaN     16
47          NaN        NaN   NaN   NaN     35
48          NaN        NaN   NaN   NaN     11
49          NaN          2   NaN     1     27
50          NaN        NaN   NaN   NaN      6
51          NaN          1   NaN     2     15
52          NaN        NaN   NaN   NaN      8
53          NaN        NaN   NaN   NaN     25
54          NaN        NaN   NaN   NaN     12
55          NaN        NaN   NaN   NaN      4
56          NaN        NaN   NaN   NaN     12
57          NaN          1   NaN   NaN    165

[57 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(54, 37)>
{'accuracy': 99.8, 'whitespace': 67.57, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               RESIDENZA        NaN  NaN  NaN                 NaN        NaN
2                  MODENA          2  NaN  NaN                   3          6
3   MONZA E DELLA BRIANZA          2  NaN    3                   1          2
4                  NAPOLI        NaN    2  NaN                  11          3
5                  NOVARA        NaN  NaN  NaN                 NaN        NaN
6                   NUORO        NaN  NaN  NaN                 NaN          1
7                ORISTANO          1  NaN  NaN                   2        NaN
8                  PADOVA          2  NaN    1                   4          7
9                 PALERMO          1  NaN  NaN                   7        NaN
10                  PARMA        NaN  NaN  NaN                 NaN        NaN
11                  PAVIA          1  NaN  NaN                 NaN          1
12                PERUGIA        NaN  NaN  NaN                   1          1
13          PESARO URBINO          1  NaN  NaN                 NaN        NaN
14                PESCARA        NaN  NaN    1                   4          2
15               PIACENZA        NaN  NaN    1                   4          1
16                   PISA        NaN  NaN  NaN                   1          3
17                PISTOIA          1  NaN  NaN                   5        NaN
18              PORDENONE        NaN  NaN  NaN                 NaN          3
19                POTENZA        NaN    1  NaN                 NaN          1
20                  PRATO        NaN  NaN  NaN                   1          2
21                 RAGUSA          2  NaN  NaN                   5          2
22                RAVENNA        NaN    3    1                   1          2
23     REGGIO DI CALABRIA        NaN    2  NaN                   3        NaN
24     REGGIO NELL'EMILIA          1  NaN  NaN                 NaN          1
25                  RIETI        NaN  NaN  NaN                 NaN          1
26                 RIMINI        NaN  NaN  NaN                 NaN        NaN
27                   ROMA          5    7    9                   8         36
28                 ROVIGO        NaN  NaN  NaN                 NaN          3
29                SALERNO          2  NaN  NaN                   2          4
30                SASSARI        NaN  NaN  NaN                 NaN          2
31                 SAVONA        NaN  NaN  NaN                 NaN        NaN
32                  SIENA        NaN  NaN  NaN                 NaN          2
33               SIRACUSA        NaN  NaN  NaN                 NaN          1
34                SONDRIO        NaN  NaN  NaN                 NaN          1
35           SUD SARDEGNA          2  NaN  NaN                   6          6
36                TARANTO        NaN    1  NaN                   1        NaN
37                 TERAMO        NaN  NaN  NaN                   3        NaN
38                  TERNI          1  NaN  NaN                 NaN          1
39                 TORINO        NaN  NaN  NaN                   1          5
40                TRAPANI        NaN  NaN  NaN                 NaN          1
41                 TRENTO          3    2   48                 NaN         59
42                TREVISO          1  NaN  NaN                  12         13
43                TRIESTE        NaN  NaN  NaN                 NaN        NaN
44                  UDINE        NaN  NaN  NaN                 NaN          2
45                 VARESE          2    2    1                 NaN          3
46                VENEZIA          2    1  NaN                   2          9
47               VERBANIA        NaN  NaN  NaN                 NaN        NaN
48               VERCELLI        NaN  NaN  NaN                   1        NaN
49                 VERONA        NaN  NaN    1                   6          5
50          VIBO VALENTIA        NaN  NaN  NaN                 NaN        NaN
51                VICENZA        NaN    4  NaN                   2          7
52                VITERBO        NaN  NaN  NaN                   3          1
53                 TOTALE        147   73   93                 395        323

   DACIA   DR FIAT FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1    NaN  NaN  NaN  NaN  ...   NaN       NaN    NaN    NaN          NaN
2    NaN  NaN    5  NaN  ...   NaN       NaN      2    NaN            4
3    NaN  NaN    6  NaN  ...   NaN       NaN    NaN    NaN            3
4      1  NaN   10    2  ...   NaN       NaN    NaN      1            1
5    NaN  NaN    1    4  ...   NaN       NaN    NaN      1            1
6      3  NaN    6    1  ...   NaN       NaN    NaN    NaN            1
7      2  NaN    1  NaN  ...   NaN       NaN    NaN    NaN          NaN
8    NaN  NaN    6    8  ...   NaN       NaN    NaN      4            5
9    NaN    2   15  NaN  ...   NaN       NaN    NaN    NaN            1
10     2  NaN  NaN    2  ...   NaN       NaN    NaN    NaN            2
11   NaN  NaN    4  NaN  ...   NaN       NaN    NaN    NaN            2
12   NaN  NaN    4    2  ...   NaN       NaN    NaN    NaN          NaN
13   NaN  NaN    2    5  ...   NaN       NaN    NaN    NaN            1
14     1  NaN    1  NaN  ...   NaN       NaN    NaN    NaN          NaN
15   NaN  NaN   10  NaN  ...   NaN       NaN    NaN    NaN            1
16     4  NaN    5    6  ...   NaN       NaN    NaN    NaN            1
17   NaN  NaN    2    1  ...   NaN       NaN    NaN    NaN          NaN
18   NaN  NaN    1    2  ...   NaN       NaN    NaN    NaN            1
19   NaN  NaN    3  NaN  ...   NaN       NaN    NaN    NaN          NaN
20   NaN  NaN  NaN  NaN  ...   NaN       NaN    NaN    NaN          NaN
21   NaN  NaN    5  NaN  ...   NaN       NaN    NaN    NaN          NaN
22   NaN  NaN    2    3  ...   NaN       NaN    NaN    NaN          NaN
23   NaN  NaN    2  NaN  ...   NaN       NaN    NaN    NaN          NaN
24     1  NaN   33  NaN  ...   NaN       NaN    NaN    NaN            1
25   NaN  NaN  NaN  NaN  ...   NaN       NaN    NaN    NaN          NaN
26   NaN  NaN  NaN    2  ...   NaN       NaN      1    NaN            1
27     9    2   40    9  ...   NaN       NaN      2    NaN            3
28   NaN  NaN    4  NaN  ...   NaN       NaN    NaN    NaN            1
29     1  NaN    4    7  ...   NaN       NaN    NaN      2          NaN
30     1  NaN    6  NaN  ...   NaN       NaN    NaN    NaN            1
31   NaN  NaN    2  NaN  ...   NaN       NaN    NaN    NaN            2
32   NaN  NaN  NaN    1  ...   NaN       NaN    NaN    NaN          NaN
33     1  NaN    2    1  ...   NaN       NaN    NaN    NaN          NaN
34   NaN  NaN  NaN  NaN  ...   NaN       NaN    NaN    NaN            2
35   NaN  NaN    9    3  ...   NaN       NaN    NaN    NaN          NaN
36   NaN  NaN    2    1  ...   NaN       NaN    NaN    NaN          NaN
37     1  NaN    6  NaN  ...   NaN       NaN    NaN    NaN          NaN
38   NaN  NaN  NaN  NaN  ...   NaN       NaN    NaN    NaN          NaN
39   NaN  NaN  118   13  ...   NaN       NaN    NaN      1          NaN
40   NaN  NaN    3  NaN  ...   NaN       NaN    NaN    NaN          NaN
41     1  NaN    2   17  ...   NaN       NaN    NaN      2            3
42   NaN  NaN  NaN   13  ...   NaN       NaN    NaN    NaN          NaN
43   NaN  NaN    1  NaN  ...   NaN       NaN    NaN    NaN            1
44   NaN  NaN    2    2  ...   NaN       NaN    NaN    NaN            1
45   NaN  NaN    7    2  ...   NaN       NaN    NaN      1            2
46     2    1   19    2  ...   NaN       NaN    NaN    NaN            6
47   NaN  NaN  NaN    1  ...   NaN       NaN    NaN    NaN            1
48   NaN  NaN    1  NaN  ...   NaN       NaN    NaN      1            2
49   NaN  NaN   18    1  ...   NaN       NaN    NaN    NaN            3
50   NaN    1    1  NaN  ...   NaN       NaN    NaN    NaN          NaN
51   NaN  NaN   10    6  ...   NaN       NaN      2    NaN            5
52   NaN  NaN    3  NaN  ...   NaN       NaN    NaN    NaN          NaN
53    69   15  969  222  ...     1         1      8     23          104

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2             3          2   NaN   NaN     39
3           NaN          1     1   NaN     26
4             4        NaN   NaN   NaN     67
5           NaN        NaN   NaN   NaN     13
6           NaN        NaN   NaN   NaN     16
7           NaN        NaN   NaN   NaN     10
8           NaN        NaN     1   NaN     74
9           NaN          1   NaN   NaN     38
10          NaN        NaN   NaN   NaN     17
11          NaN        NaN   NaN   NaN      9
12          NaN        NaN   NaN   NaN     18
13          NaN          4   NaN   NaN     20
14          NaN        NaN   NaN   NaN     14
15          NaN        NaN   NaN   NaN     21
16          NaN          6   NaN   NaN     45
17          NaN          2   NaN   NaN     15
18          NaN        NaN   NaN   NaN     14
19          NaN          1   NaN   NaN      6
20          NaN        NaN   NaN   NaN     12
21          NaN        NaN   NaN   NaN     20
22          NaN        NaN   NaN   NaN     21
23          NaN        NaN   NaN     1     12
24            1        NaN   NaN   NaN     46
25          NaN        NaN   NaN   NaN      2
26          NaN          2   NaN     2     10
27           11          6   NaN     2    617
28          NaN          4     1   NaN     17
29            2        NaN   NaN     1     41
30          NaN        NaN   NaN   NaN     19
31          NaN        NaN   NaN   NaN      8
32          NaN        NaN   NaN   NaN     13
33          NaN        NaN   NaN   NaN     10
34            1        NaN   NaN   NaN      4
35          NaN          1   NaN   NaN     32
36          NaN          1   NaN     1     10
37          NaN        NaN   NaN   NaN     13
38          NaN        NaN   NaN   NaN      4
39           10          1   NaN     1    184
40          NaN        NaN   NaN   NaN      8
41            1         37     4   NaN    297
42          NaN          3     1   NaN     68
43          NaN        NaN   NaN   NaN      5
44            3          3   NaN   NaN     24
45          NaN        NaN   NaN   NaN     37
46          NaN          1     3   NaN     75
47          NaN        NaN   NaN   NaN      5
48          NaN        NaN   NaN   NaN      5
49            1          1   NaN   NaN     69
50          NaN        NaN   NaN   NaN      2
51            1         17   NaN   NaN     83
52          NaN        NaN   NaN   NaN      9
53           54        138    13    18   4279

[53 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2020_5.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(56, 37)>
{'accuracy': 99.96, 'whitespace': 17.18, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               RESIDENZA          A  NaN  NaN                   C        NaN
2               AGRIGENTO          1    7    3                  10         22
3             ALESSANDRIA          9   18   23                  16         43
4                  ANCONA          9   23   17                  24         43
5                   AOSTA        213   47   28                 809         40
6                  AREZZO          5   22   12                  24         37
7            ASCOLIPICENO          1    4   11                  19         14
8                    ASTI          1    8    6                  13         19
9                AVELLINO          1    8    4                  17         22
10                   BARI         13   12   17                  63         56
11  BARLETTA-ANDRIA-TRANI          1    4    7                  10         13
12                BELLUNO          5    7   13                  21         44
13              BENEVENTO          2    5    1                  11          9
14                BERGAMO         10   59   75                  45         93
15                 BIELLA          4    9   12                  14         16
16                BOLOGNA         28   57   55                  60        112
17          BOLZANO-BOZEN         10  931   36                  14         42
18                BRESCIA         15   77   73                  45        102
19               BRINDISI          2    1    5                  10          5
20               CAGLIARI          5    9    7                  43         36
21          CALTANISSETTA          2    9    2                   8          8
22             CAMPOBASSO          3    3    4                  13          5
23                CASERTA         11   15   17                  33         28
24                CATANIA          8   16   30                  41         55
25              CATANZARO          4   15    5                  24         16
26                 CHIETI         11    9    6                  16         35
27                   COMO         14   48   29                  43         51
28                COSENZA          8   23    3                  32         31
29                CREMONA          3   22   21                  13         36
30                CROTONE        NaN    1  NaN                   8         13
31                  CUNEO         11   37   15                  81        100
32                   ENNA          2    7    3                   2          6
33                  FERMO          3    8    2                   8          8
34                FERRARA          6   10   20                  19         49
35                FIRENZE         78  375  346                 224        416
36                 FOGGIA          7    5    6                  12         10
37          FORLI' CESENA          5   17   13                  21         24
38              FROSINONE          4   10   11                  16         15
39                 GENOVA         12   27   28                  18         41
40                GORIZIA        NaN    6    1                   6          4
41               GROSSETO          5    2    3                  13         13
42                IMPERIA          1    7  NaN                   3          9
43                ISERNIA          1    1    1                   1          2
44              LA SPEZIA        NaN   10    8                   8         11
45               L'AQUILA          3    8    4                  17         29
46                 LATINA          4    8   16                  33         27
47                  LECCE          2   11   18                  20         11
48                  LECCO          2   13   18                  19         28
49                LIVORNO        NaN   12    8                  15         19
50                   LODI          4   10   21                  13         21
51                  LUCCA          5   18   20                  34         32
52               MACERATA          5   14   12                   8         24
53                MANTOVA          5   17   14                  15         31
54          MASSA-CARRARA          3    9    6                  17         16
55                 MATERA          1    2    4                   5          7

   DACIA   DR  FIAT FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1    NaN  NaN   NaN  NaN  ...   NaN       NaN    NaN    NaN           TE
2     14  NaN    40    9  ...   NaN       NaN    NaN      5          NaN
3     35  NaN   112   62  ...     1         2    NaN     43            1
4     32    8    96   50  ...   NaN       NaN      1     31          NaN
5     41  NaN   836   89  ...     1       NaN      2     37          NaN
6     38    2    69   38  ...   NaN       NaN    NaN     20          NaN
7     22    1    33    8  ...   NaN         1    NaN      5          NaN
8     28    1    22   38  ...   NaN         1      1     14          NaN
9     20  NaN    44   22  ...   NaN       NaN    NaN      6          NaN
10    50    2   279  100  ...     8       NaN    NaN     36          NaN
11     6  NaN    47   16  ...   NaN       NaN    NaN      2          NaN
12    17  NaN    84   36  ...   NaN       NaN      2     30            1
13    11  NaN    50    8  ...   NaN       NaN    NaN      8          NaN
14    78    6   161  120  ...     2       NaN      5     47            4
15    16    1    53   35  ...   NaN         1      1     15          NaN
16   102    2   240  232  ...     2       NaN      6     59            4
17     8  NaN  1036   74  ...     3         2      2     22            1
18    99  NaN   231  143  ...     5       NaN      7     68            9
19    17    1    40   13  ...   NaN       NaN    NaN      6          NaN
20    48  NaN    91   85  ...     1       NaN    NaN     17          NaN
21     7  NaN    33    6  ...     1       NaN    NaN      2          NaN
22    16    2    22    8  ...   NaN       NaN    NaN      3          NaN
23    41    4   115   45  ...   NaN       NaN    NaN     10            1
24    32  NaN    90   31  ...     1       NaN    NaN     15          NaN
25    13  NaN    72   25  ...   NaN       NaN    NaN      7          NaN
26    21  NaN    80   28  ...   NaN         1    NaN      6          NaN
27    69  NaN   114   75  ...   NaN       NaN      5     68            1
28    30    1   150   66  ...   NaN       NaN    NaN     16          NaN
29    26    8    39   34  ...     1         1      1     16          NaN
30     6  NaN    16    6  ...   NaN       NaN    NaN      1          NaN
31    39    6   203   95  ...   NaN       NaN      2     51          NaN
32     5  NaN     3    2  ...   NaN       NaN    NaN      1          NaN
33     8    2    29    4  ...   NaN         1      1      2          NaN
34    44    1    32   36  ...   NaN       NaN    NaN      9          NaN
35   142    1   573  301  ...    24       NaN      5     50            3
36    13    1    60   18  ...   NaN       NaN    NaN      4          NaN
37    41  NaN    79   66  ...   NaN       NaN    NaN      8          NaN
38    30  NaN   100   32  ...     4       NaN      1     10          NaN
39    34  NaN   126  116  ...     1       NaN      2     86          NaN
40     7  NaN    12    6  ...   NaN       NaN    NaN     25            1
41    16  NaN    39   25  ...   NaN       NaN      2      9          NaN
42     6  NaN    38   16  ...   NaN       NaN      1     22          NaN
43     2    1     6    3  ...   NaN       NaN    NaN      1            1
44    14    3    69   19  ...   NaN       NaN    NaN     10          NaN
45    19    4    76   11  ...     1       NaN    NaN     18          NaN
46    37    5   127   36  ...     2         1      1      7          NaN
47    45  NaN    52   37  ...   NaN       NaN    NaN     16          NaN
48    30  NaN    67   30  ...   NaN       NaN      2     28          NaN
49    32    2    71   69  ...   NaN       NaN    NaN     12          NaN
50    26    3    52   41  ...     1         1    NaN     12            1
51    61    1   112   24  ...   NaN       NaN      1     25          NaN
52    15    1    54   24  ...     1       NaN    NaN     21          NaN
53    28    2    44   46  ...   NaN       NaN      2      5            1
54    12    1    82   20  ...     1         1      1     10            1
55     7  NaN    37    7  ...   NaN       NaN    NaN      5          NaN

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1             T          V   NaN   NaN    NaN
2             7         22   NaN     1    213
3            16         45    11     6    701
4            27         60     7     3    714
5            27         57    11     4   2612
6            20         63     5     5    559
7             8         21     1     2    256
8            16         27     2     0    316
9             6         25     3     1    275
10           22         41     9     5   1116
11           12         13   NaN     0    193
12           21         29     5     0    442
13            6          9   NaN     0    186
14           82        175    11     6   1638
15           13         19   NaN     0    316
16          104        206    46     6   2097
17           41       1044    19     6   4004
18           90        255    24    15   2008
19            2         12   NaN     2    183
20           49         48     2     0    588
21            2         15   NaN     0    159
22            6         11     1     0    155
23           19         33     3     5    701
24           43         37     2     1    765
25           19         28     1     1    346
26           13         21     2     0    402
27          100        123    19     1   1271
28           16         47     2     2    619
29           40         51     3     0    568
30            2          7   NaN     0     86
31           42        106    13     8   1212
32            2          6   NaN     1     72
33            9         13     1     1    169
34           42         45     7     1    590
35          356        436   573    18   6356
36           16         14     2     3    259
37           22         75    15     6    656
38           14         25     2     2    428
39           49        133     4     1   1034
40            6         22   NaN     2    167
41           10         35     2     0    282
42           22         15     1     0    212
43            2          2   NaN     0     43
44            5         64     1     1    322
45           17         39     3     2    367
46           27         32     3     2    615
47            8         59     7     1    508
48           30         62     4     1    595
49           15         54     2     0    534
50           16         34     2     1    402
51           24         85     4     1    744
52           17         47     3     3    411
53           24         55     8     1    517
54           10         48     3     2    344
55            1         10     1     0    128

[55 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(57, 37)>
{'accuracy': 99.93, 'whitespace': 17.92, 'order': 2, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI  BMW CHRYSLER/JEEP/DODGE  \
1            PROVINCIA DI    LFA ROM  AUDI  BMW      HRYSLER/P DODG
2               RESIDENZA          A   NaN  NaN                   C
3               AGRIGENTO          1     7    3                  10
4             ALESSANDRIA          9    18   23                  16
5                  ANCONA          9    23   17                  24
6                   AOSTA        213    47   28                 809
7                  AREZZO          5    22   12                  24
8            ASCOLIPICENO          1     4   11                  19
9                    ASTI          1     8    6                  13
10               AVELLINO          1     8    4                  17
11                   BARI         13    12   17                  63
12  BARLETTA-ANDRIA-TRANI          1     4    7                  10
13                BELLUNO          5     7   13                  21
14              BENEVENTO          2     5    1                  11
15                BERGAMO         10    59   75                  45
16                 BIELLA          4     9   12                  14
17                BOLOGNA         28    57   55                  60
18          BOLZANO-BOZEN         10   931   36                  14
19                BRESCIA         15    77   73                  45
20               BRINDISI          2     1    5                  10
21               CAGLIARI          5     9    7                  43
22          CALTANISSETTA          2     9    2                   8
23             CAMPOBASSO          3     3    4                  13
24                CASERTA         11    15   17                  33
25                CATANIA          8    16   30                  41
26              CATANZARO          4    15    5                  24
27                 CHIETI         11     9    6                  16
28                   COMO         14    48   29                  43
29                COSENZA          8    23    3                  32
30                CREMONA          3    22   21                  13
31                CROTONE        NaN     1  NaN                   8
32                  CUNEO         11    37   15                  81
33                   ENNA          2     7    3                   2
34                  FERMO          3     8    2                   8
35                FERRARA          6    10   20                  19
36                FIRENZE         78   375  346                 224
37                 FOGGIA          7     5    6                  12
38          FORLI' CESENA          5    17   13                  21
39              FROSINONE          4    10   11                  16
40                 GENOVA         12    27   28                  18
41                GORIZIA        NaN     6    1                   6
42               GROSSETO          5     2    3                  13
43                IMPERIA          1     7  NaN                   3
44                ISERNIA          1     1    1                   1
45              LA SPEZIA        NaN    10    8                   8
46               L'AQUILA          3     8    4                  17
47                 LATINA          4     8   16                  33
48                  LECCE          2    11   18                  20
49                  LECCO          2    13   18                  19
50                LIVORNO        NaN    12    8                  15
51                   LODI          4    10   21                  13
52                  LUCCA          5    18   20                  34
53               MACERATA          5    14   12                   8
54                MANTOVA          5    17   14                  15
55          MASSA-CARRARA          3     9    6                  17
56                 MATERA          1     2    4                   5

   CITROEN/DS  DACIA   DR  FIAT  FORD  ...  SMART SSANGYONG  SUBARU  SUZUKI  \
1    CITROEN/  DACIA   DR  FIAT  FORD  ...  SMART   SSANGYO  SUBARU  SUZUKI
2         NaN    NaN  NaN   NaN   NaN  ...    NaN       NaN     NaN     NaN
3          22     14  NaN    40     9  ...    NaN       NaN     NaN       5
4          43     35  NaN   112    62  ...      1         2     NaN      43
5          43     32    8    96    50  ...    NaN       NaN       1      31
6          40     41  NaN   836    89  ...      1       NaN       2      37
7          37     38    2    69    38  ...    NaN       NaN     NaN      20
8          14     22    1    33     8  ...    NaN         1     NaN       5
9          19     28    1    22    38  ...    NaN         1       1      14
10         22     20  NaN    44    22  ...    NaN       NaN     NaN       6
11         56     50    2   279   100  ...      8       NaN     NaN      36
12         13      6  NaN    47    16  ...    NaN       NaN     NaN       2
13         44     17  NaN    84    36  ...    NaN       NaN       2      30
14          9     11  NaN    50     8  ...    NaN       NaN     NaN       8
15         93     78    6   161   120  ...      2       NaN       5      47
16         16     16    1    53    35  ...    NaN         1       1      15
17        112    102    2   240   232  ...      2       NaN       6      59
18         42      8  NaN  1036    74  ...      3         2       2      22
19        102     99  NaN   231   143  ...      5       NaN       7      68
20          5     17    1    40    13  ...    NaN       NaN     NaN       6
21         36     48  NaN    91    85  ...      1       NaN     NaN      17
22          8      7  NaN    33     6  ...      1       NaN     NaN       2
23          5     16    2    22     8  ...    NaN       NaN     NaN       3
24         28     41    4   115    45  ...    NaN       NaN     NaN      10
25         55     32  NaN    90    31  ...      1       NaN     NaN      15
26         16     13  NaN    72    25  ...    NaN       NaN     NaN       7
27         35     21  NaN    80    28  ...    NaN         1     NaN       6
28         51     69  NaN   114    75  ...    NaN       NaN       5      68
29         31     30    1   150    66  ...    NaN       NaN     NaN      16
30         36     26    8    39    34  ...      1         1       1      16
31         13      6  NaN    16     6  ...    NaN       NaN     NaN       1
32        100     39    6   203    95  ...    NaN       NaN       2      51
33          6      5  NaN     3     2  ...    NaN       NaN     NaN       1
34          8      8    2    29     4  ...    NaN         1       1       2
35         49     44    1    32    36  ...    NaN       NaN     NaN       9
36        416    142    1   573   301  ...     24       NaN       5      50
37         10     13    1    60    18  ...    NaN       NaN     NaN       4
38         24     41  NaN    79    66  ...    NaN       NaN     NaN       8
39         15     30  NaN   100    32  ...      4       NaN       1      10
40         41     34  NaN   126   116  ...      1       NaN       2      86
41          4      7  NaN    12     6  ...    NaN       NaN     NaN      25
42         13     16  NaN    39    25  ...    NaN       NaN       2       9
43          9      6  NaN    38    16  ...    NaN       NaN       1      22
44          2      2    1     6     3  ...    NaN       NaN     NaN       1
45         11     14    3    69    19  ...    NaN       NaN     NaN      10
46         29     19    4    76    11  ...      1       NaN     NaN      18
47         27     37    5   127    36  ...      2         1       1       7
48         11     45  NaN    52    37  ...    NaN       NaN     NaN      16
49         28     30  NaN    67    30  ...    NaN       NaN       2      28
50         19     32    2    71    69  ...    NaN       NaN     NaN      12
51         21     26    3    52    41  ...      1         1     NaN      12
52         32     61    1   112    24  ...    NaN       NaN       1      25
53         24     15    1    54    24  ...      1       NaN     NaN      21
54         31     28    2    44    46  ...    NaN       NaN       2       5
55         16     12    1    82    20  ...      1         1       1      10
56          7      7  NaN    37     7  ...    NaN       NaN     NaN       5

   TESLA MOTORS TOYOTA/LEXUS VOLKSWAGEN  VOLVO  ALTRE  TOTALE
1       SLA MOT     OYOTA/LE    OLKSWAG  VOLVO  ALTRE  TOTALE
2            TE            T          V    NaN    NaN     NaN
3           NaN            7         22    NaN      1     213
4             1           16         45     11      6     701
5           NaN           27         60      7      3     714
6           NaN           27         57     11      4    2612
7           NaN           20         63      5      5     559
8           NaN            8         21      1      2     256
9           NaN           16         27      2      0     316
10          NaN            6         25      3      1     275
11          NaN           22         41      9      5    1116
12          NaN           12         13    NaN      0     193
13            1           21         29      5      0     442
14          NaN            6          9    NaN      0     186
15            4           82        175     11      6    1638
16          NaN           13         19    NaN      0     316
17            4          104        206     46      6    2097
18            1           41       1044     19      6    4004
19            9           90        255     24     15    2008
20          NaN            2         12    NaN      2     183
21          NaN           49         48      2      0     588
22          NaN            2         15    NaN      0     159
23          NaN            6         11      1      0     155
24            1           19         33      3      5     701
25          NaN           43         37      2      1     765
26          NaN           19         28      1      1     346
27          NaN           13         21      2      0     402
28            1          100        123     19      1    1271
29          NaN           16         47      2      2     619
30          NaN           40         51      3      0     568
31          NaN            2          7    NaN      0      86
32          NaN           42        106     13      8    1212
33          NaN            2          6    NaN      1      72
34          NaN            9         13      1      1     169
35          NaN           42         45      7      1     590
36            3          356        436    573     18    6356
37          NaN           16         14      2      3     259
38          NaN           22         75     15      6     656
39          NaN           14         25      2      2     428
40          NaN           49        133      4      1    1034
41            1            6         22    NaN      2     167
42          NaN           10         35      2      0     282
43          NaN           22         15      1      0     212
44            1            2          2    NaN      0      43
45          NaN            5         64      1      1     322
46          NaN           17         39      3      2     367
47          NaN           27         32      3      2     615
48          NaN            8         59      7      1     508
49          NaN           30         62      4      1     595
50          NaN           15         54      2      0     534
51            1           16         34      2      1     402
52          NaN           24         85      4      1     744
53          NaN           17         47      3      3     411
54            1           24         55      8      1     517
55            1           10         48      3      2     344
56          NaN            1         10      1      0     128

[56 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 3

 <Table shape=(52, 37)>
{'accuracy': 99.63, 'whitespace': 13.1, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

              PROVINCIA ALFA ROMEO  AUDI     BMW CHRYSLER/JEEP/DODGE  \
1              BRIANZA         25    48      69                  66
2               NAPOLI         18    39      36                  64
3               NOVARA          4    24      26                  16
4                NUORO          3     2     NaN                   3
5             ORISTANO          2     1     NaN                   4
6               PADOVA         16    56      45                  61
7              PALERMO          8    31      23                  56
8                PARMA          5    27      29                  21
9                PAVIA         12    14      38                  44
10             PERUGIA         12    42      15                  40
11       PESARO URBINO        NaN    16       9                  19
12             PESCARA          4    10       8                  15
13            PIACENZA          6    22      25                  11
14                PISA          7    24      21                  40
15             PISTOIA          1    13      22                  15
16           PORDENONE          3    12       1                  14
17             POTENZA          5     3       5                  20
18               PRATO          1    13      22                  22
19              RAGUSA          4     7       2                  18
20             RAVENNA          6    19      18                  30
21  REGGIO DI CALABRIA          2    23       8                  22
22  REGGIO NELL'EMILIA         15    26      26                  36
23               RIETI        NaN     1       5                   6
24              RIMINI          3    12       5                  21
25                ROMA         49   141     236                 140
26              ROVIGO          3     6      19                   3
27             SALERNO          6    10       7                  49
28             SASSARI          3     6       4                  18
29              SAVONA          5     5       6                  14
30               SIENA          7     9       5                  16
31            SIRACUSA          1     9       7                   8
32             SONDRIO          1     6       1                   8
33        SUD SARDEGNA          4     3       2                   9
34             TARANTO        NaN     8       8                   9
35              TERAMO          4     8      10                  27
36               TERNI          7    10      14                  10
37              TORINO        127   117      88                 797
38             TRAPANI          4     2       4                   5
39              TRENTO         40   374    1200                 135
40             TREVISO         17    46      36                  57
41             TRIESTE          4     8       4                  12
42               UDINE         12    25       9                  16
43              VARESE         18    47      47                  58
44             VENEZIA         11    24      19                  48
45            VERBANIA          1     6      11                  14
46            VERCELLI          4     8      13                  11
47              VERONA          8    99      60                  35
48       VIBO VALENTIA          2     3       1                   3
49             VICENZA         16    38      48                  52
50             VITERBO          5    10       9                  15
51              TOTALE       1172  3841  3810 4               608 5

   CITROEN/DS DACIA   DR   FIAT  FORD  ... SMART SSANGYONG SUBARU SUZUKI  \
1          82   100    5    147   125  ...   NaN         2      4     61
2          89   135    5    320   111  ...   NaN       NaN    NaN     39
3          49    29    1     64    51  ...   NaN       NaN      2     49
4          11    16  NaN     17     5  ...   NaN       NaN    NaN      2
5          13    12  NaN     11     9  ...   NaN       NaN    NaN      2
6          88    70  NaN    197   124  ...     1         2      4     29
7          70    54    2    192    65  ...     2       NaN      1     13
8          57    54    4     73    71  ...   NaN       NaN      2     23
9          37    72    6    117   105  ...   NaN         2      1     52
10         58    35  NaN    173    68  ...   NaN         2      1     37
11         35    30    1     66    37  ...     1       NaN    NaN     17
12         30    26    2     70    26  ...   NaN         1    NaN     10
13         29    14    1     95    39  ...   NaN       NaN      2     10
14         53    64    1    135    71  ...   NaN       NaN      1     15
15         36    52  NaN     38    22  ...     1       NaN    NaN     13
16         22    19    1     43    30  ...   NaN       NaN    NaN     13
17         17    15  NaN     72     8  ...   NaN       NaN    NaN     14
18         22    30    1     54    27  ...     1       NaN      1     21
19         21     8    1     73    28  ...   NaN       NaN    NaN     10
20         26    41  NaN     59    61  ...   NaN       NaN      1     22
21          7    36    2     62    33  ...     1       NaN    NaN      6
22         59    58    5    231    82  ...   NaN       NaN      2     31
23          7     6  NaN     19    10  ...   NaN       NaN    NaN      5
24         20    27    1     50    29  ...   NaN       NaN    NaN     22
25        264   389    5    645   532  ...     7         1     10    233
26         30    21  NaN     16    34  ...   NaN       NaN    NaN     15
27         81    37    4    159    71  ...     1       NaN    NaN     18
28         23    21  NaN     67    35  ...   NaN       NaN    NaN      6
29         30    14  NaN     52    43  ...   NaN       NaN      2     16
30         30    38  NaN     50    43  ...   NaN       NaN      3     19
31         25    24  NaN     62    29  ...   NaN       NaN    NaN      5
32          5    11  NaN     35    17  ...   NaN       NaN      5     26
33         28    29  NaN     40    43  ...   NaN       NaN    NaN      6
34          8    21  NaN     61    25  ...     1       NaN    NaN      5
35         22    15    1     73    28  ...   NaN       NaN      1     10
36         19    23    2     30    29  ...     1       NaN      2      9
37        203   208   18   1472   181  ...   NaN        12      9    151
38         27    26  NaN     68     7  ...   NaN       NaN    NaN      7
39        456    63    1    401   646  ...   271         1      8     85
40         77    67  NaN    104    98  ...   NaN         2      6     34
41          7    14  NaN     39    18  ...     3         1      3     28
42         25    50  NaN     84    53  ...   NaN       NaN      2     60
43         85   103    1    120   113  ...     1       NaN      3    107
44         45    59    4    129    80  ...   NaN       NaN      2     18
45         15    17  NaN     35    17  ...   NaN       NaN      1     16
46         25    17    1     22    19  ...   NaN       NaN      1     40
47        105    72    6    117   108  ...   NaN       NaN      6     48
48          7     9  NaN     20    12  ...   NaN       NaN    NaN      1
49         63    69    1    332   119  ...   NaN       NaN      8     30
50         17    16   10     63    23  ...     1       NaN      1     13
51        101  4532  185  13975  6868  ...   362        45    173   2867

   TESLA MOTORS TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1             2          119        195    17     6   1751
2             1           53         73     4    13   1726
3           NaN           37         53     2     2    652
4           NaN            6         14   NaN     0    133
5           NaN            3         12   NaN     0    111
6             3           94        141    19    15   1650
7           NaN           52        105     3     3   1010
8           NaN           25         71    10     2    807
9           NaN           39         75     8     2   1032
10          NaN           39        109    22     6   1050
11            1           11         53     6     0    503
12          NaN           18         30     1     1    384
13            1           23         29     9     1    504
14            1           18        112     4     2    918
15          NaN           31         42     2     0    503
16            1           29         37     5     1    424
17          NaN            4         16   NaN     1    267
18          NaN           26         54     5     1    514
19          NaN            8         18   NaN     1    273
20            1           23         69    12     1    681
21          NaN           33         31     1     0    399
22          NaN           52         97    13     3   1115
23          NaN            1         10   NaN     1    130
24            1           20         52     8     0    434
25            5          508        514    42    18   6809
26          NaN           13         36     5     2    354
27          NaN           24         51   NaN     4    829
28          NaN           15         37     1     0    365
29          NaN           22         37     2     1    381
30            1           17         56     5     1    496
31          NaN           10         21   NaN     3    310
32          NaN           10         25     3     0    241
33          NaN           14         21   NaN     0    268
34          NaN            7         11   NaN     4    359
35          NaN           12         27     3     1    388
36          NaN            3         25     2     2    309
37          NaN          226        322    20    16   5446
38          NaN           12         21     3     0    289
39            3          320        466   229     4   7632
40            2          109        160    19     5   1332
41          NaN           33         27     4     0    328
42            1           45         92    11     1    854
43            3          161        192    22     5   1782
44            2           58        108    14     3   1043
45          NaN            8         24     1     1    278
46          NaN           11         26     3     1    297
47            1           65        245    20     9   1750
48          NaN            3          4     1     0    109
49            1           81        141    13     7   1573
50          NaN           13         23     1     1    364
51           80         4646       8910  1538   321  99711

[51 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 4

 <Table shape=(55, 37)>
{'accuracy': 99.61, 'whitespace': 14.4, 'order': 2, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI     BMW CHRYSLER/JEEP/DODGE  \
1                 MESSINA          5    10       9                  18
2                  MILANO         62   164     305                 147
3   MODENA  MONZA E DELLA         16    41      50                  83
4                 BRIANZA         25    48      69                  66
5                  NAPOLI         18    39      36                  64
6                  NOVARA          4    24      26                  16
7                   NUORO          3     2     NaN                   3
8                ORISTANO          2     1     NaN                   4
9                  PADOVA         16    56      45                  61
10                PALERMO          8    31      23                  56
11                  PARMA          5    27      29                  21
12                  PAVIA         12    14      38                  44
13                PERUGIA         12    42      15                  40
14          PESARO URBINO        NaN    16       9                  19
15                PESCARA          4    10       8                  15
16               PIACENZA          6    22      25                  11
17                   PISA          7    24      21                  40
18                PISTOIA          1    13      22                  15
19              PORDENONE          3    12       1                  14
20                POTENZA          5     3       5                  20
21                  PRATO          1    13      22                  22
22                 RAGUSA          4     7       2                  18
23                RAVENNA          6    19      18                  30
24     REGGIO DI CALABRIA          2    23       8                  22
25     REGGIO NELL'EMILIA         15    26      26                  36
26                  RIETI        NaN     1       5                   6
27                 RIMINI          3    12       5                  21
28                   ROMA         49   141     236                 140
29                 ROVIGO          3     6      19                   3
30                SALERNO          6    10       7                  49
31                SASSARI          3     6       4                  18
32                 SAVONA          5     5       6                  14
33                  SIENA          7     9       5                  16
34               SIRACUSA          1     9       7                   8
35                SONDRIO          1     6       1                   8
36           SUD SARDEGNA          4     3       2                   9
37                TARANTO        NaN     8       8                   9
38                 TERAMO          4     8      10                  27
39                  TERNI          7    10      14                  10
40                 TORINO        127   117      88                 797
41                TRAPANI          4     2       4                   5
42                 TRENTO         40   374    1200                 135
43                TREVISO         17    46      36                  57
44                TRIESTE          4     8       4                  12
45                  UDINE         12    25       9                  16
46                 VARESE         18    47      47                  58
47                VENEZIA         11    24      19                  48
48               VERBANIA          1     6      11                  14
49               VERCELLI          4     8      13                  11
50                 VERONA          8    99      60                  35
51          VIBO VALENTIA          2     3       1                   3
52                VICENZA         16    38      48                  52
53                VITERBO          5    10       9                  15
54                 TOTALE       1172  3841  3810 4               608 5

   CITROEN/DS DACIA   DR   FIAT  FORD  ... SMART SSANGYONG SUBARU SUZUKI  \
1          30    19  NaN     82    15  ...     1       NaN    NaN      9
2         332   354   16    560   498  ...     7         6     22    232
3          80    67    3    221   109  ...   NaN       NaN      2     42
4          82   100    5    147   125  ...   NaN         2      4     61
5          89   135    5    320   111  ...   NaN       NaN    NaN     39
6          49    29    1     64    51  ...   NaN       NaN      2     49
7          11    16  NaN     17     5  ...   NaN       NaN    NaN      2
8          13    12  NaN     11     9  ...   NaN       NaN    NaN      2
9          88    70  NaN    197   124  ...     1         2      4     29
10         70    54    2    192    65  ...     2       NaN      1     13
11         57    54    4     73    71  ...   NaN       NaN      2     23
12         37    72    6    117   105  ...   NaN         2      1     52
13         58    35  NaN    173    68  ...   NaN         2      1     37
14         35    30    1     66    37  ...     1       NaN    NaN     17
15         30    26    2     70    26  ...   NaN         1    NaN     10
16         29    14    1     95    39  ...   NaN       NaN      2     10
17         53    64    1    135    71  ...   NaN       NaN      1     15
18         36    52  NaN     38    22  ...     1       NaN    NaN     13
19         22    19    1     43    30  ...   NaN       NaN    NaN     13
20         17    15  NaN     72     8  ...   NaN       NaN    NaN     14
21         22    30    1     54    27  ...     1       NaN      1     21
22         21     8    1     73    28  ...   NaN       NaN    NaN     10
23         26    41  NaN     59    61  ...   NaN       NaN      1     22
24          7    36    2     62    33  ...     1       NaN    NaN      6
25         59    58    5    231    82  ...   NaN       NaN      2     31
26          7     6  NaN     19    10  ...   NaN       NaN    NaN      5
27         20    27    1     50    29  ...   NaN       NaN    NaN     22
28        264   389    5    645   532  ...     7         1     10    233
29         30    21  NaN     16    34  ...   NaN       NaN    NaN     15
30         81    37    4    159    71  ...     1       NaN    NaN     18
31         23    21  NaN     67    35  ...   NaN       NaN    NaN      6
32         30    14  NaN     52    43  ...   NaN       NaN      2     16
33         30    38  NaN     50    43  ...   NaN       NaN      3     19
34         25    24  NaN     62    29  ...   NaN       NaN    NaN      5
35          5    11  NaN     35    17  ...   NaN       NaN      5     26
36         28    29  NaN     40    43  ...   NaN       NaN    NaN      6
37          8    21  NaN     61    25  ...     1       NaN    NaN      5
38         22    15    1     73    28  ...   NaN       NaN      1     10
39         19    23    2     30    29  ...     1       NaN      2      9
40        203   208   18   1472   181  ...   NaN        12      9    151
41         27    26  NaN     68     7  ...   NaN       NaN    NaN      7
42        456    63    1    401   646  ...   271         1      8     85
43         77    67  NaN    104    98  ...   NaN         2      6     34
44          7    14  NaN     39    18  ...     3         1      3     28
45         25    50  NaN     84    53  ...   NaN       NaN      2     60
46         85   103    1    120   113  ...     1       NaN      3    107
47         45    59    4    129    80  ...   NaN       NaN      2     18
48         15    17  NaN     35    17  ...   NaN       NaN      1     16
49         25    17    1     22    19  ...   NaN       NaN      1     40
50        105    72    6    117   108  ...   NaN       NaN      6     48
51          7     9  NaN     20    12  ...   NaN       NaN    NaN      1
52         63    69    1    332   119  ...   NaN       NaN      8     30
53         17    16   10     63    23  ...     1       NaN      1     13
54        101  4532  185  13975  6868  ...   362        45    173   2867

   TESLA MOTORS TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN           16         46     2     3    465
2            18          380        499    57    30   6157
3             1           71         95    54     7   1476
4             2          119        195    17     6   1751
5             1           53         73     4    13   1726
6           NaN           37         53     2     2    652
7           NaN            6         14   NaN     0    133
8           NaN            3         12   NaN     0    111
9             3           94        141    19    15   1650
10          NaN           52        105     3     3   1010
11          NaN           25         71    10     2    807
12          NaN           39         75     8     2   1032
13          NaN           39        109    22     6   1050
14            1           11         53     6     0    503
15          NaN           18         30     1     1    384
16            1           23         29     9     1    504
17            1           18        112     4     2    918
18          NaN           31         42     2     0    503
19            1           29         37     5     1    424
20          NaN            4         16   NaN     1    267
21          NaN           26         54     5     1    514
22          NaN            8         18   NaN     1    273
23            1           23         69    12     1    681
24          NaN           33         31     1     0    399
25          NaN           52         97    13     3   1115
26          NaN            1         10   NaN     1    130
27            1           20         52     8     0    434
28            5          508        514    42    18   6809
29          NaN           13         36     5     2    354
30          NaN           24         51   NaN     4    829
31          NaN           15         37     1     0    365
32          NaN           22         37     2     1    381
33            1           17         56     5     1    496
34          NaN           10         21   NaN     3    310
35          NaN           10         25     3     0    241
36          NaN           14         21   NaN     0    268
37          NaN            7         11   NaN     4    359
38          NaN           12         27     3     1    388
39          NaN            3         25     2     2    309
40          NaN          226        322    20    16   5446
41          NaN           12         21     3     0    289
42            3          320        466   229     4   7632
43            2          109        160    19     5   1332
44          NaN           33         27     4     0    328
45            1           45         92    11     1    854
46            3          161        192    22     5   1782
47            2           58        108    14     3   1043
48          NaN            8         24     1     1    278
49          NaN           11         26     3     1    297
50            1           65        245    20     9   1750
51          NaN            3          4     1     0    109
52            1           81        141    13     7   1573
53          NaN           13         23     1     1    364
54           80         4646       8910  1538   321  99711

[54 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2020_6.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(57, 37)>
{'accuracy': 100.0, 'whitespace': 13.75, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

          PROVINCIA ALFA ROMEO  AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS DACIA  \
1        RESIDENZA          A   NaN  NaN                   C        NaN   NaN
2        AGRIGENTO          5    12    2                  20         16    12
3      ALESSANDRIA          8    41   54                  31         64    47
4           ANCONA          9    40   13                  35         46    32
5            AOSTA        427    51   15                 803         61    45
6           AREZZO         11    26   23                  43         40    34
7     ASCOLIPICENO          5     6    8                  16         15    23
8             ASTI        NaN    14   14                  15         11    63
9         AVELLINO          5    13    6                  22         27    35
10  BARI BARLETTA-         20    28   38                  77         77    81
11    ANDRIA-TRANI        NaN     4    7                  12          9    15
12         BELLUNO          5    11   13                  40         50    16
13       BENEVENTO          6     5    3                  18          9    12
14         BERGAMO         17    71   94                  68        140   120
15          BIELLA         14    15   10                  18         19    25
16         BOLOGNA         30   107   73                 102        182   149
17   BOLZANO-BOZEN          9  1564   51                  37         79   606
18         BRESCIA         20    86  106                  80        138   124
19        BRINDISI          1     3   11                  12          9    21
20        CAGLIARI         13    10   14                  56         30    55
21   CALTANISSETTA          1     6    9                   8         17    21
22      CAMPOBASSO          5     5    4                   9          6     9
23         CASERTA         12    29   20                  47         51    39
24         CATANIA          2    36   38                  66         45    57
25       CATANZARO          7    28   13                  37         19    18
26          CHIETI          7    11   13                  26         33    19
27            COMO         15    67   51                  67         72    64
28         COSENZA          8    36   18                  49         50    30
29         CREMONA          3    25   22                  11         33    35
30         CROTONE          2     2    5                   2         15    13
31           CUNEO         23    44   41                  91         95    55
32            ENNA        NaN     4    1                   3          3     9
33           FERMO          3    10   10                   8          6    10
34         FERRARA          3    15   24                  28         33    60
35         FIRENZE         53   414  267                 198        508   160
36          FOGGIA          6    10    9                  25         25    33
37   FORLI' CESENA          3    19   13                  13         23    62
38       FROSINONE         13    15   22                  24         14    22
39          GENOVA          6    47   51                  29         46    66
40         GORIZIA          1     7    3                   6          5     7
41        GROSSETO          2     5    8                   9         18    21
42         IMPERIA        NaN     1    6                   5         14     8
43         ISERNIA        NaN     1    1                   1          1     5
44       LA SPEZIA          1    14   11                   9         20    15
45        L'AQUILA          4    10    5                  15         26    27
46          LATINA          4    11   31                  35         29    46
47           LECCE          4    30   22                  44         18    61
48           LECCO          6    23   28                  31         22    34
49         LIVORNO          3    21   19                  19         32    49
50            LODI          7    13   22                  16         14    24
51           LUCCA         12    34   26                  43         37    65
52        MACERATA          5    26   25                  19         22    25
53         MANTOVA          7    26   31                   7         32    37
54   MASSA-CARRARA          4    33    6                  15         22    25
55          MATERA          5     4    9                   9         11    10
56         MESSINA          7    26   16                  22         28    26

     DR  FIAT FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1   NaN   NaN  NaN  ...   NaN         S    NaN    NaN           TE
2   NaN    53   21  ...   NaN       NaN    NaN     10          NaN
3     3   146   81  ...     2       NaN      3     39            1
4     6   124   61  ...     1       NaN    NaN     29            1
5   NaN  2099   63  ...   NaN         1      1    196          NaN
6   NaN    74   48  ...   NaN         1      1     34            2
7     1    60   21  ...   NaN         1    NaN      2          NaN
8     1    43   47  ...   NaN       NaN      1     15          NaN
9     3    58   25  ...   NaN       NaN    NaN      2          NaN
10    4   368  157  ...   NaN       NaN    NaN     57            1
11    1    40   13  ...   NaN         1    NaN     14          NaN
12  NaN   109   26  ...   NaN       NaN      1     21          NaN
13    4    43   13  ...   NaN       NaN    NaN     10          NaN
14   11   214  140  ...     3       NaN      2     39            9
15    4    62   48  ...     1       NaN      2     24          NaN
16    1   336  261  ...     6         2      8     91            7
17    4  1426   82  ...     3         3      3     25           20
18   13   239  155  ...     9         2      5     76           13
19    1    61   18  ...   NaN       NaN    NaN      9          NaN
20  NaN   122   91  ...     2       NaN    NaN     18            1
21    1    48   11  ...   NaN       NaN    NaN      1          NaN
22    2    33    9  ...   NaN       NaN    NaN      7          NaN
23    5   126   48  ...   NaN       NaN      1     15            1
24    1   120   73  ...   NaN         1    NaN     31            2
25  NaN    87   36  ...   NaN       NaN    NaN     19          NaN
26    1   119   39  ...   NaN       NaN      1      9            1
27    2   185   82  ...   NaN         1      6     70            6
28  NaN   185   87  ...   NaN       NaN      1     10          NaN
29    8    64   53  ...   NaN       NaN      2     12            3
30  NaN    25    6  ...   NaN       NaN    NaN      2          NaN
31    3   226  108  ...   NaN         3      2     46           10
32  NaN    15    4  ...     1       NaN    NaN      2            1
33    3    26   12  ...   NaN       NaN    NaN      9            1
34  NaN    62   61  ...   NaN       NaN    NaN     15          NaN
35    6   834  408  ...    13         1      7     88           24
36    1    74   17  ...   NaN       NaN    NaN      2          NaN
37    1    96   72  ...     1       NaN      2      7            5
38    1   109   35  ...   NaN         3      1     14          NaN
39    1   192  208  ...   NaN         1      5    105            3
40  NaN    14   10  ...   NaN       NaN    NaN     28          NaN
41  NaN    50   27  ...   NaN         1    NaN     17          NaN
42    1    60   27  ...     1       NaN      1     23          NaN
43    4    14    4  ...   NaN         1    NaN    NaN          NaN
44  NaN    88   27  ...   NaN       NaN      2      5            3
45    2   104   13  ...   NaN         1    NaN     13          NaN
46    8   109   36  ...   NaN       NaN    NaN      7          NaN
47    1   147   56  ...   NaN       NaN    NaN     25          NaN
48    1    89   27  ...     2       NaN      7     32            3
49  NaN    93  107  ...   NaN         2    NaN     21            1
50    2    62   47  ...   NaN         1      1     12            3
51    1   140   52  ...     2       NaN      2     16          NaN
52    2    55   26  ...   NaN         1      2     20            1
53    4    46   44  ...   NaN       NaN      2     18            5
54    1    84   25  ...   NaN         1      1     12            1
55  NaN    55   12  ...   NaN       NaN    NaN      4          NaN
56  NaN   131   29  ...     2       NaN    NaN      7          NaN

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1            TO          V   NaN   NaN    NaN
2             5         31   NaN     2    307
3            33         79    16     1   1004
4            47        114    13     1    923
5           107         34    25    29   4723
6            24         63     6     3    709
7            18         32     2     2    348
8            13         23     2     2    399
9             8         23     1     3    379
10           58         94     8     4   1690
11           21         10     4     0    237
12           25         39     3     0    498
13           10          6   NaN     0    251
14          142        210    28    13   2153
15           24         26     1     0    429
16          210        251    43    21   2892
17           34       1276   289    15   7123
18          131        239    21    10   2529
19            7         19     4     1    313
20           85         68     2     0    792
21            1         14     1     0    206
22           11         15   NaN     0    197
23           36         43     4     5    829
24           58         62     3     3   1077
25           33         47     1     2    511
26           30         37     4     2    557
27          125        166    18     5   1618
28           25         72     3     0    880
29           40         64     6     3    713
30            5          9   NaN     0    130
31           75        130    14     5   1446
32            4         10   NaN     0    105
33            8         11     3     3    238
34           53         77    10     2    820
35          427        500   342    17   6462
36           30         21     5     3    450
37           35         75     9     7    734
38           22         50     3     4    578
39           80        182    10     5   1479
40           14         20     2     0    206
41           10         49     4     1    363
42           30         21     5     0    307
43            1          2     2     1     57
44           19         76     4     1    444
45           27         40     2     4    472
46           50         45     4     7    735
47           23         77     5     0    918
48           50         79     6     2    713
49           35         79     3     2    736
50           18         46     1     4    539
51           47        110    11     3   1010
52           29         69     3     1    565
53           40         59    14     1    676
54           17         74     3     0    450
55            3          9     2     0    216
56           30         56     7     7    666

[56 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(57, 37)>
{'accuracy': 99.93, 'whitespace': 16.07, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

         PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS DACIA  \
1          MILANO         53   216   408                 319        333   438
2          MODENA         20    46    66                  80        101    80
3   MONZA E DELLA        NaN   NaN   NaN                 NaN        NaN   NaN
4         BRIANZA         21    74    77                  80         89   114
5          NAPOLI         15    65    52                  79        162   159
6          NOVARA         13    47    46                  19         63    72
7           NUORO          3     1     2                   6         10    16
8        ORISTANO          2     3   NaN                   6         12    21
9          PADOVA         24    75    67                  72         89    79
10        PALERMO         15    43    36                  79         87   113
11          PARMA          4    44    45                  43         56    60
12          PAVIA         15    25    59                  61         55   105
13        PERUGIA         18    88    30                  59         59    38
14  PESARO URBINO          8    32    13                  26         29    36
15        PESCARA          7    19    19                  14         38    12
16       PIACENZA          2    23    25                  19         41    28
17           PISA          7    33    34                  43         55    84
18        PISTOIA          4    20    27                  15         54    60
19      PORDENONE          5    15    12                  21         31    15
20        POTENZA          4     3     6                  32         11    10
21          PRATO          7     9    33                  24         38    34
22         RAGUSA         10    15     1                  26         38    30
23        RAVENNA          6    23    22                  25         34    48
24      REGGIO DI        NaN   NaN   NaN                 NaN        NaN   NaN
25       CALABRIA          7    16    13                  14         13    35
26         REGGIO        NaN   NaN   NaN                 NaN        NaN   NaN
27    NELL'EMILIA         17    37    22                  38         79    76
28          RIETI          5     2     7                   2         13    11
29         RIMINI         12    24     4                  17         35    26
30           ROMA         55   139   289                 243        350   528
31         ROVIGO          1    14     8                   2         20    25
32        SALERNO         15    32    23                  63        123    60
33        SASSARI          5     7     6                  25         32    40
34         SAVONA          5     9    14                  18         30    34
35          SIENA          9    19    11                  37         44    40
36       SIRACUSA          3     9     9                  11         29    28
37        SONDRIO          2     9     6                  17         12    13
38   SUD SARDEGNA          4     1     4                  11         21    33
39        TARANTO          2    12    12                  22         19    27
40         TERAMO          2     8    13                  22         25    21
41          TERNI          6     7    10                  14         27    21
42         TORINO        100   135   139                 500        198   292
43        TRAPANI          4    11     9                  11         35    18
44         TRENTO         49   816  1140                 169        546    80
45        TREVISO         18    69    47                  51         62    62
46        TRIESTE          5    12    11                  27          8    12
47          UDINE         11    21    24                  35         25    36
48         VARESE         18    65    77                  94        103   136
49        VENEZIA          6    41    26                  65         70    87
50       VERBANIA          4    13     9                  11         15    10
51       VERCELLI          6    11    15                  14         16    28
52         VERONA         15    99    70                  43        103    59
53  VIBO VALENTIA        NaN     5     4                   5         11    13
54        VICENZA         22    61    55                  75         45    80
55        VITERBO          5     9    15                  18         19    28
56         TOTALE       1525  5847  4627                5373       6080  6393

     DR   FIAT  FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1    24    678   601  ...     6         9     20    235           50
2     7    130   114  ...   NaN       NaN      4     50            6
3   NaN    NaN   NaN  ...   NaN       NaN    NaN    NaN          NaN
4     7    216   124  ...   NaN         6      4     48           16
5     5    395   144  ...   NaN         2      1     63            1
6     3     71    53  ...     1         1      3     34            4
7   NaN     16     7  ...   NaN         1    NaN      1          NaN
8   NaN     12    14  ...   NaN         1    NaN      1          NaN
9     1    259   104  ...     1       NaN      4     33           12
10    3    254    86  ...   NaN       NaN    NaN     22            1
11   11     94    82  ...     1       NaN      4     20            2
12    4    144   115  ...   NaN         3      2     36            4
13    1    253    85  ...   NaN         5      2     38            2
14    3     80    38  ...   NaN         3      2     11            1
15  NaN     86    27  ...   NaN         2      1     12            1
16    2     61    56  ...   NaN         2      2     16            5
17    2    162    94  ...     1       NaN      3     23            1
18  NaN     55    24  ...     1       NaN      3     16          NaN
19  NaN     60    44  ...   NaN         1    NaN     20            3
20  NaN     98    10  ...     1       NaN    NaN      6          NaN
21    2     60    22  ...     1         2    NaN      8            2
22  NaN     82    52  ...   NaN       NaN    NaN      2            1
23  NaN     72    85  ...   NaN       NaN      2     22            1
24  NaN    NaN   NaN  ...   NaN       NaN    NaN    NaN          NaN
25    5    110    42  ...   NaN         1    NaN     11          NaN
26  NaN    NaN   NaN  ...   NaN       NaN    NaN    NaN          NaN
27    6    198    94  ...   NaN       NaN      3     37            3
28    1     38    15  ...   NaN       NaN    NaN      5          NaN
29    2     58    25  ...     1         1      1     20            2
30   24   1017   740  ...    16         4     13    281           24
31    2     27    28  ...   NaN       NaN      1      6            1
32    2    185    79  ...     1       NaN      1     24          NaN
33    3     87    51  ...     1       NaN      1      5          NaN
34    1     97    62  ...     1       NaN      2     21            4
35  NaN     64    34  ...   NaN         1      1     22          NaN
36  NaN     70    45  ...     2       NaN    NaN     10            2
37  NaN     46    28  ...   NaN       NaN      2     20          NaN
38  NaN     48    63  ...   NaN       NaN    NaN      3          NaN
39    1     86    39  ...   NaN       NaN    NaN     19            1
40    1     90    44  ...   NaN         1    NaN     12          NaN
41    1     47    25  ...   NaN         1    NaN      5          NaN
42   23   1334   375  ...     2        24      5    170            8
43  NaN     52    12  ...   NaN       NaN    NaN      8            1
44    2    503  1007  ...   229         5     23     67           40
45    5    125   111  ...     1         3     10     39            9
46  NaN     65    20  ...   NaN         2      3     35            1
47  NaN    130    62  ...   NaN         1      4     22            3
48    2    184   114  ...   NaN       NaN      6     98           11
49    4    187    93  ...     1         1      3     31            5
50  NaN     42    17  ...   NaN       NaN      1     29            1
51    2     30    32  ...   NaN       NaN    NaN     42            1
52    1    138   128  ...   NaN         2      5     39            9
53  NaN     27    14  ...   NaN       NaN    NaN      2          NaN
54    3    437   148  ...   NaN         3      5     54           14
55    8     57    29  ...   NaN         1      1     12          NaN
56  294  18561  8866  ...   317       118    221   3301          382

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1           696        611    88    42    7968
2           115        123    39     5    1679
3           NaN        NaN   NaN   NaN     NaN
4           187        194    22     7    2130
5            96        118    10    13    2370
6            50         61     7     2     880
7            11         11   NaN     0     140
8             4         20     1     0     138
9           147        174    25    20    2087
10           77        115     5     2    1451
11           27         97    19     4    1057
12           58         98     6     5    1306
13           51        161    20     5    1463
14           31         61     5     3     639
15           24         30     5     1     498
16           35         62    14     1     626
17           55        125    16     2    1248
18           29         72    11     3     833
19           65         35    12     3     579
20            5         32     2     1     344
21           50         84     8     1     678
22           25         28     3     1     423
23           35         98     9     3     915
24          NaN        NaN   NaN   NaN     NaN
25           43         41     3     1     555
26          NaN        NaN   NaN   NaN     NaN
27           69        121    15     3    1332
28            3         11   NaN     1     182
29           31         42     5     2     557
30          907        615    66    21    8704
31           29         42     8     2     403
32           40         71     5     6    1174
33           27         60     1     1     744
34           28         58     5     2     530
35           29         62    10     5     645
36           38         39   NaN     4     442
37           14         23     5     1     288
38           15         29     1     0     325
39           19         19     3     4     539
40           27         41     4     3     509
41           12         50     2     1     355
42          314        346    25    18    6113
43           33         39   NaN     0     357
44          963        927   272     8   11308
45          124        177    28     6    1569
46           52         32     2     0     438
47           72         96    24     3     991
48          213        171    22     7    2277
49           98        182    20     4    1470
50           15         27   NaN     2     327
51           12         32     5     1     379
52          129        264    22    12    2044
53            3         11     5     0     152
54          135        230    33    10    2050
55           22         30     7     0     444
56       7932 1       1431  1907   459  132457

[56 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2020_7.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(56, 37)>
{'accuracy': 100.0, 'whitespace': 14.09, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI  BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN  NaN                   C
2               AGRIGENTO          6    12  NaN                  32
3             ALESSANDRIA         10    35   40                  42
4                  ANCONA          7    36   25                  45
5                   AOSTA        450    45   28                 709
6                  AREZZO          6    27   29                  36
7            ASCOLIPICENO          4    13   11                  24
8                    ASTI          2    15   18                  16
9                AVELLINO          2    20    6                  26
10                   BARI         20    27   50                 107
11  BARLETTA-ANDRIA-TRANI          2     4   11                  12
12                BELLUNO          6     6    9                  47
13              BENEVENTO          3     4    8                  19
14                BERGAMO         18    84   80                  68
15                 BIELLA          4    11    7                  25
16                BOLOGNA         21    85   87                 101
17          BOLZANO-BOZEN         11  1771   57                  10
18                BRESCIA         22   103   87                 103
19               BRINDISI          4     6   23                  24
20               CAGLIARI          4    12   13                  56
21          CALTANISSETTA          2    12    9                  11
22             CAMPOBASSO          4     2    4                  16
23                CASERTA         12    21   22                  33
24                CATANIA         10    29   29                  60
25              CATANZARO         11    21   12                  47
26                 CHIETI          9    13   19                  32
27                   COMO          9    44   48                  70
28                COSENZA          9    42   19                  82
29                CREMONA          5    36   31                  23
30                CROTONE        NaN     4  NaN                   6
31                  CUNEO          9    35   41                 111
32                   ENNA        NaN     3    2                   2
33                  FERMO          1     8    9                  19
34                FERRARA          5    14   30                  17
35                FIRENZE        135   437  491                 181
36                 FOGGIA          3    12    8                  30
37          FORLI' CESENA          6    20   10                  35
38              FROSINONE         17     8   23                  51
39                 GENOVA          6    45   47                  39
40                GORIZIA        NaN     6    1                   9
41               GROSSETO          6     3    5                  18
42                IMPERIA          1    10    3                   5
43                ISERNIA          1   NaN    2                   6
44              LA SPEZIA          2    17   14                   9
45               L'AQUILA          5     7    7                  19
46                 LATINA          7    15   22                  29
47                  LECCE          8    27   23                  39
48                  LECCO         15    13   24                  28
49                LIVORNO          1    18   13                  31
50                   LODI          4    15   22                  19
51                  LUCCA         13    50   35                  46
52               MACERATA          7    18   18                  18
53                MANTOVA          5    21   34                  12
54          MASSA-CARRARA          4    26   10                  19
55                 MATERA          3     4    6                  14

   CITROEN/DS DACIA   DR  FIAT FORD  ... SMART SSANGYONG SUBARU SUZUKI  \
1         NaN   NaN  NaN   NaN  NaN  ...   NaN       NaN    NaN    NaN
2          21    12  NaN    87   16  ...   NaN         1    NaN      2
3          52    52    6   136   81  ...   NaN       NaN    NaN     39
4          38    31   11   140   37  ...   NaN         1      2     12
5          59    15  NaN  1504   85  ...     2         1    NaN     40
6          33    33    4   109   51  ...   NaN         1    NaN     18
7          21    13    3    87   19  ...   NaN         8    NaN      5
8          10    20  NaN    36   55  ...   NaN         1      1      6
9          24    28    1    85   19  ...   NaN       NaN    NaN      2
10         75    72    6   411  150  ...     1         7      1     34
11          3     6  NaN    55   16  ...   NaN       NaN    NaN      7
12         21     9  NaN   110   36  ...     1       NaN      3     23
13          7     6    4    63   14  ...   NaN       NaN    NaN      2
14         90    83    8   268  134  ...     2         3      6     24
15         15    23    1    69   32  ...   NaN       NaN    NaN     19
16        126   149    3   299  267  ...     5         3     10     47
17        203    17    5   701  259  ...     2         3      1     11
18        100   114    7   309  143  ...     3         2     11     44
19         10    12  NaN    74   22  ...   NaN       NaN    NaN      2
20         36    57  NaN   145  123  ...     4       NaN    NaN     12
21         11     9    1    34   10  ...   NaN       NaN    NaN      2
22          4    13    1    27    4  ...   NaN       NaN      1      7
23         47    45   10   146   32  ...   NaN       NaN    NaN      3
24         42    74    2   134   74  ...     1         1    NaN     30
25         27    13  NaN   106   15  ...   NaN       NaN    NaN      4
26         25    16    2   149   21  ...   NaN         1      2      5
27         61    40  NaN   164   97  ...     3         1      8     48
28         42    14    1   188   90  ...   NaN       NaN    NaN      4
29         35    32    4    85   32  ...   NaN       NaN      1      8
30          8    13  NaN    44    6  ...   NaN       NaN    NaN    NaN
31         76    62    7   273  103  ...   NaN         1      2     31
32          1     6  NaN    21    1  ...   NaN       NaN    NaN      3
33          3    15    3    34    9  ...   NaN       NaN      1      4
34         38    40    1    52   50  ...   NaN         1      2      2
35        191   189    2   763  552  ...    33         5      4     97
36         25    22    2    94   23  ...   NaN         1      1     11
37         25    39  NaN   134   71  ...   NaN       NaN    NaN     13
38         19    25    1   140   37  ...     1         4    NaN      6
39         53    68    1   240  260  ...   NaN         3      2     57
40          9    12  NaN    29   11  ...   NaN       NaN      1     14
41         17    20  NaN    51   25  ...   NaN         1    NaN      6
42         10     5  NaN    63   31  ...   NaN       NaN      1      8
43          4     3    6     7    5  ...   NaN       NaN    NaN    NaN
44         15    29    1    87   23  ...   NaN         1      1      9
45         19    15    2   111   16  ...     2       NaN    NaN      8
46         30    44    8   149   51  ...     1       NaN    NaN      5
47         17    55  NaN   141   55  ...   NaN       NaN      2     11
48         33    21  NaN   160   33  ...     2       NaN      3     19
49         36    30    1    96  108  ...   NaN         2    NaN      3
50         18    39    5    62   56  ...   NaN         1      1      8
51         31    71    2   150   52  ...     2       NaN      1     18
52         12    18    3    63   30  ...   NaN         2    NaN     13
53         32    29   10    63   59  ...   NaN       NaN      2      4
54         19    26  NaN    91   33  ...   NaN       NaN    NaN      6
55         15    13  NaN    61   12  ...   NaN       NaN    NaN      1

   TESLA MOTORS TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1             T            T          V   NaN   NaN    NaN
2           NaN           12         39     2     3    366
3           NaN           20        113    14     4   1020
4           NaN           34        101    15     4    917
5             1           73         41    13     7   3609
6           NaN           25         99     3     7    739
7           NaN           14         24     2     0    407
8           NaN           20         50     3     2    408
9           NaN            8         27   NaN     2    402
10          NaN           34        138    10     8   1865
11          NaN            9         14     2     2    246
12          NaN           18         40     8     0    487
13          NaN            4         16     1     0    272
14            1          106        215    21    14   2093
15          NaN           14         27     3     0    402
16          NaN          159        238    48    29   2778
17          NaN          110       2740    83     4   8329
18            1           89        309    33    12   2508
19          NaN            7         29     3     4    389
20          NaN           48         85     6     0    859
21          NaN            2          9     1     1    192
22          NaN            9         10     1     0    193
23          NaN           27         44     6     5    955
24          NaN           38         91     3     9   1124
25          NaN           14         54   NaN     0    498
26          NaN           18         66     3     0    623
27          NaN           82        161    32     3   1452
28          NaN            7         92     7     2    923
29            4           49         57     7     2    755
30          NaN            2         14     1     0    139
31            1           46        124    14     7   1471
32          NaN            1         10   NaN     1     99
33          NaN           17         23     1     3    256
34            1           53         90    11     1    741
35            4          424        527   569    14   7032
36          NaN           23         25     1     4    489
37          NaN           22         69    13     4    834
38          NaN           18         64     5     3    677
39          NaN           58        197    11     2   1608
40          NaN           22         20     1     1    230
41          NaN            7         77     5     0    376
42          NaN           13         26     4     1    276
43          NaN            3          4     3     0     65
44          NaN           17         85     2     1    444
45          NaN            9         54     5     3    455
46          NaN           42         49     9     6    816
47          NaN           17         91     6     3    872
48          NaN           32         81    10     0    760
49          NaN           28        106    13     1    807
50          NaN           14         49     5     0    538
51          NaN           28        111    10     2   1057
52          NaN           10         51     6     3    590
53          NaN           34         63    22     1    734
54          NaN           18         75     2     2    480
55          NaN            4         18     2     0    238

[55 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(55, 37)>
{'accuracy': 99.95, 'whitespace': 11.15, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE  \
1                 MESSINA         18    19    16                  31
2                  MILANO         73   236   369                 285
3                  MODENA         17    48    82                  67
4   MONZA E DELLA BRIANZA         38    84   100                 102
5                  NAPOLI         19    75    48                 116
6                  NOVARA         11    27    37                  28
7                   NUORO          2     5     1                   5
8                ORISTANO          1     1     3                   7
9                  PADOVA         27    42    77                  82
10                PALERMO          9    39    26                  92
11                  PARMA          6    55    32                  35
12                  PAVIA          7    26    56                  52
13                PERUGIA         14    51    30                  73
14          PESARO URBINO          5    23    17                  24
15                PESCARA          3    14    14                  25
16               PIACENZA          1    33    33                  23
17                   PISA          7    31    32                  64
18                PISTOIA          5    20    24                  29
19              PORDENONE          6     9     7                  22
20                POTENZA          2     5     4                  45
21                  PRATO          2    24    34                  36
22                 RAGUSA        NaN    15     1                  37
23                RAVENNA          6    24    21                  49
24     REGGIO DI CALABRIA          5    28    11                  27
25     REGGIO NELL'EMILIA         13    38    32                  44
26                  RIETI          2     2     4                   9
27                 RIMINI        NaN    14    20                  23
28                   ROMA         58   147   301                 278
29                 ROVIGO          3     8     8                  12
30                SALERNO          7    21    36                  85
31                SASSARI          3    10     2                  46
32                 SAVONA          4    10     8                  23
33                  SIENA          4    14    11                  32
34               SIRACUSA          3     9    11                  24
35                SONDRIO          3     4     6                  13
36           SUD SARDEGNA         11     4     3                  16
37                TARANTO          2    14    11                  24
38                 TERAMO          4     7     7                  31
39                  TERNI          4    12    10                  27
40                 TORINO        138   138   169                 588
41                TRAPANI          1     7     4                  23
42                 TRENTO        119  1079  1403                 237
43                TREVISO         22    50    34                  96
44                TRIESTE          2    13     7                  14
45                  UDINE         15    40    21                  32
46                 VARESE         22    95    82                  96
47                VENEZIA         13    28    40                  58
48               VERBANIA          5    13    13                  14
49               VERCELLI          3     6    13                  12
50                 VERONA         20    96    71                  59
51          VIBO VALENTIA        NaN     7     6                  14
52                VICENZA         20    50    53                 154
53                VITERBO          2    10     7                  19
54                 TOTALE       1724  6252  5150                6147

   CITROEN/DS DACIA   DR   FIAT  FORD  ... SMART SSANGYONG SUBARU SUZUKI  \
1          34    31  NaN    158    38  ...     1         1    NaN      9
2         358   336   26    813   553  ...     8        12     25    179
3          75    78    1    171   112  ...     1         4      2     27
4          69   102    7    236   127  ...     2         1      2     41
5         123   177    6    464   134  ...   NaN       NaN      2     35
6          52    48    1    103    53  ...   NaN         1      1     20
7          10    18  NaN     20    12  ...     1       NaN    NaN      3
8          11    19  NaN     12    21  ...   NaN       NaN    NaN      2
9          90    46    1    274    99  ...   NaN         3     11     14
10         78    73    6    270    80  ...   NaN         2      2     15
11         51    63    9    106    82  ...   NaN         2      2     25
12         46    84    4    173   116  ...     2       NaN      2     31
13         48    41    1    262    47  ...     1         2      1     29
14         34    32    4    104    52  ...     1         1      4      5
15         33    14    3     96    21  ...   NaN         1    NaN      2
16         34    23    2     52    56  ...   NaN         4      3      5
17         51    77    3    170    88  ...   NaN         1    NaN      4
18         39    65    1     84    31  ...   NaN       NaN    NaN      7
19         26    25  NaN     78    58  ...   NaN         2      2     22
20         22     8    1    145     9  ...   NaN       NaN    NaN      4
21         35    44  NaN     64    24  ...   NaN         3    NaN     16
22         29    27    4     86    39  ...     1       NaN    NaN     11
23         31    51    2    101    61  ...     1       NaN      1     13
24         13    28    1     99    31  ...     1         1    NaN     13
25         76    71    4    242    40  ...   NaN         1      2     21
26          4    13  NaN     53    10  ...   NaN         1    NaN      1
27         29    27    1     48    26  ...   NaN       NaN      1      8
28        361   475   18   1263   688  ...    13         2     11    166
29         30    13    1     28    29  ...   NaN         2    NaN      4
30         76    54    1    195    85  ...     1       NaN    NaN      9
31         45    28    1     89    68  ...     1       NaN    NaN      7
32         21    30  NaN     69    56  ...   NaN       NaN      3     19
33         26    32    2     76    37  ...   NaN         3      3     15
34         33    50    1     84    53  ...   NaN       NaN      1      6
35         17     4  NaN     40    58  ...     1       NaN      5     24
36         23    43  NaN     76    66  ...   NaN       NaN    NaN      4
37         32    29    1     96    37  ...   NaN       NaN    NaN     10
38         26    13    1    104    41  ...   NaN         1    NaN      5
39         38    10  NaN     52    13  ...     1         2    NaN      9
40        197   287   36   1593   372  ...     1        27      8    156
41         26    13  NaN     77    11  ...     1       NaN    NaN      5
42        497    90    3    776  1241  ...   310         4     15     60
43         77    52    8    151   120  ...     2         2    NaN     35
44         17    15  NaN     64    29  ...     2         4      3     17
45         39    37  NaN    118    62  ...     1         3      1     34
46         81    91    2    204   106  ...   NaN       NaN      4     62
47         62    41    6    185    95  ...   NaN         3      2     18
48         10     9  NaN     36    32  ...   NaN         1    NaN     11
49         11    20  NaN     40    23  ...   NaN         1    NaN     19
50         94    63    4    179   117  ...     1         1      1     24
51          3    12  NaN     40    15  ...   NaN       NaN    NaN      2
52         63    58    2    439   129  ...   NaN         2      5     14
53         21    27   11     78    10  ...   NaN       NaN      1     15
54       5421  5134  321  19536  9259  ...   420       157    197   2129

   TESLA MOTORS TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1           NaN            7         66     2     4     726
2            20          598        643    93    40    7640
3             2           90        129    34    22    1743
4             1          127        218    26    12    2178
5             1           85        125    16    11    2518
6           NaN           55        177     5     3     949
7           NaN           14         27   NaN     0     187
8           NaN            2         23   NaN     0     148
9             1          119        213    34    17    1984
10          NaN           68        147     6     5    1437
11          NaN           30         98    28     3    1065
12          NaN           66         85    12     2    1248
13          NaN           50        164    21     5    1324
14          NaN           18         76     6     6     728
15          NaN           26         29     5     4     501
16            1           32         44     9     4     613
17          NaN           35        166    29     0    1212
18          NaN           23         78     4     0     720
19            2           44         52    10     1     639
20          NaN            4         29     3     1     422
21          NaN           26         77     6     4     727
22          NaN           19         35     3     2     450
23          NaN           20         86    20     2     899
24          NaN           37         45     3     2     546
25          NaN           77        118    15     3    1304
26          NaN            7         16   NaN     0     208
27          NaN           11         56     8     6     529
28            2          845        619    87    42    9329
29          NaN           30         51     3     1     403
30          NaN           34         80     4     7    1193
31          NaN           21         82     3     2     628
32          NaN           14         55     9     1     499
33          NaN           17         76     4     5     656
34          NaN           13         37     2     3     473
35          NaN           16         18     2     0     294
36          NaN           19         34     2     1     422
37          NaN           12         13     1     3     549
38          NaN           23         38     5     0     530
39          NaN            8         50     5     2     423
40          NaN          310        386    42    27    6293
41          NaN           16         40   NaN     2     388
42            3          843       1451   296     4   12711
43          NaN          101        184    22     5    1580
44          NaN           28         27     2     1     413
45          NaN           51        129    32     5    1079
46            2          143        235    33     5    2214
47          NaN           49        200    20     4    1454
48          NaN           11         21     1     1     330
49            1           12         23     3     0     318
50            1           72        273    22    11    1919
51          NaN            5         13     2     0     196
52            2          113        273    29     7    2177
53          NaN           24         27    14     0     444
54           52       6532 1       4489  2104   485  136455

[54 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2020_8.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(61, 37)>
{'accuracy': 100.0, 'whitespace': 15.51, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               RESIDENZA        NaN  NaN  NaN                 NaN        NaN
2               AGRIGENTO          2   10  NaN                  23         14
3             ALESSANDRIA         10   15   29                  45         32
4                  ANCONA          5   29   18                  32         44
5                   AOSTA        423   13   13                 448         52
6                  AREZZO          4   10   12                  20         15
7            ASCOLIPICENO          3    4    6                  23         18
8                    ASTI          2    6    7                   9          5
9                AVELLINO          2   11    2                  18         25
10                   BARI          8   15   31                  58         64
11  BARLETTA-ANDRIA-TRANI        NaN    1    6                   6          4
12                BELLUNO          5   13    9                  36         24
13              BENEVENTO          3    2    4                  25          9
14                BERGAMO         14   41   71                  58        113
15                 BIELLA          6  NaN   10                  14         18
16                BOLOGNA          8   65   50                  67        103
17          BOLZANO-BOZEN          9  616   31                 161         60
18                BRESCIA         30   67   53                  74         88
19               BRINDISI          5    4    6                   8         20
20               CAGLIARI          8   10    7                  36         20
21          CALTANISSETTA        NaN    9    3                  11         23
22             CAMPOBASSO        NaN    4    4                  11          5
23                CASERTA          4    6   14                  26         34
24                CATANIA          5   26   12                  45         52
25              CATANZARO          9   14    5                  30         31
26                 CHIETI          5    3    8                  26         35
27                   COMO          4   31   15                  35         53
28                COSENZA          5   11    3                  31         42
29                CREMONA          4   16   27                  15         38
30                CROTONE          1    1  NaN                   7         11
31                  CUNEO         14   19   21                  72         59
32                   ENNA          1    3  NaN                   5          3
33                  FERMO          3    4    5                  13          6
34                FERRARA          2    1   14                  16         45
35                FIRENZE        122  222  241                 170        127
36                 FOGGIA          6    6    3                  23         26
37          FORLI' CESENA          3   16    8                  22         23
38              FROSINONE         13    2   12                  25         25
39                 GENOVA          3   26   24                  11         34
40                GORIZIA          2    2    2                   3          8
41               GROSSETO          2    3  NaN                   8         22
42                IMPERIA        NaN    4    9                   8         27
43                ISERNIA        NaN  NaN    1                   4          4
44              LA SPEZIA          2    9    9                   8         15
45               L'AQUILA          8    6    4                  16         27
46                 LATINA          1    4   12                  31         39
47                  LECCE          6   18   13                  51         23
48                  LECCO          7   11    6                  17         22
49                LIVORNO          4    6    6                  14         19
50                   LODI          7    4   16                  14         11
51                  LUCCA          7   19   19                  34         17
52               MACERATA         10   11    7                  18         24
53                MANTOVA          1   24   10                  15         42
54          MASSA-CARRARA        NaN   11    7                  23         20
55                 MATERA          5    1    8                  13         16
56                MESSINA          5   13   10                  31         27
57                 MILANO         30  111  152                 122        305
58                 MODENA         21   41   39                  74         81
59  MONZA E DELLA BRIANZA         15   22   60                  56         87
60                 NAPOLI         16   35   42                  57         79

   DACIA   DR FIAT FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1    NaN  NaN  NaN  NaN  ...   NaN       NaN    NaN    NaN          NaN
2      7  NaN   55   27  ...   NaN         1    NaN      9          NaN
3     45  NaN   88   57  ...   NaN       NaN    NaN     31          NaN
4     38   10  122   46  ...     3         2    NaN     11            1
5      3  NaN  582   49  ...   NaN       NaN    NaN     20          NaN
6     37    2   89   36  ...     1         1    NaN     13          NaN
7     11  NaN   69   19  ...   NaN         3    NaN      9          NaN
8     20  NaN   22   20  ...   NaN       NaN    NaN      9            1
9     17  NaN   63   31  ...   NaN       NaN    NaN      6          NaN
10    49    3  248  123  ...     3         1    NaN     35            1
11     5    2   55   20  ...     1       NaN    NaN      4            1
12    13  NaN   45   30  ...     1       NaN      3     16            1
13    15    2   50   10  ...   NaN       NaN    NaN     10          NaN
14   105   11  170  118  ...     1         1      4     21            3
15     8  NaN   48   24  ...     1       NaN    NaN     14          NaN
16    85    5  220  171  ...     1         2      5     45            1
17    11    2  484   51  ...   NaN         6    NaN     15            7
18   103    7  202  150  ...     5         3      2     31           16
19    15  NaN   44   29  ...   NaN         1    NaN      8          NaN
20    57  NaN   93   90  ...     3         1    NaN     18            1
21    12    1   17   10  ...   NaN       NaN    NaN      6          NaN
22     5    2   40    4  ...   NaN       NaN    NaN      7            2
23    31    8   81   60  ...   NaN       NaN      1      7          NaN
24    49  NaN  111   64  ...   NaN         1    NaN     22          NaN
25    13    1   56   27  ...   NaN       NaN    NaN      7          NaN
26    12    5   90   34  ...   NaN         1    NaN     14            1
27    37  NaN  128   45  ...     4         1      2     33            7
28    27    1  130   64  ...     1         1    NaN     13          NaN
29    30    7   51   52  ...   NaN       NaN      1      2            1
30     3  NaN   19    4  ...   NaN       NaN    NaN      1          NaN
31    37    3  103   66  ...   NaN         2    NaN     21            1
32     6    1   15    2  ...   NaN       NaN    NaN    NaN          NaN
33     8    5   25    7  ...   NaN       NaN    NaN      5          NaN
34    34    1   45   42  ...   NaN       NaN    NaN     14          NaN
35    94    4  749  234  ...    22         3      1     69           13
36    18    6   54   10  ...   NaN       NaN    NaN     14            1
37    44    1  109   72  ...     1       NaN    NaN     19            2
38    19  NaN  107   29  ...     1         3    NaN      7          NaN
39    41  NaN  143   92  ...   NaN         3    NaN     49          NaN
40    11    1   17   15  ...   NaN       NaN      2     19          NaN
41    15  NaN   42   19  ...   NaN       NaN      2      6          NaN
42     6  NaN   53   31  ...   NaN       NaN    NaN     19            1
43     2    6   14    3  ...   NaN       NaN    NaN    NaN            1
44    19  NaN   49   20  ...   NaN         1    NaN     11          NaN
45     6    5   71   10  ...   NaN         1    NaN      9          NaN
46    32    8  157   52  ...   NaN         1    NaN      5          NaN
47    33    2  113   51  ...     1         1    NaN     12          NaN
48    16    1   85   32  ...   NaN       NaN      3     20            2
49    39  NaN   48   73  ...     1         7    NaN     12          NaN
50    14    2   34   36  ...     1       NaN    NaN      5          NaN
51    45    1  121   31  ...   NaN       NaN    NaN     27            1
52    19    6   59   34  ...   NaN       NaN      1     16            2
53    25    4   34   49  ...   NaN       NaN    NaN      9            4
54    19  NaN   52   25  ...     1         1      1      7            1
55    10  NaN   33   13  ...   NaN       NaN    NaN      7            1
56    20    1  100   31  ...   NaN       NaN    NaN     20          NaN
57   185   20  387  330  ...     3        11      6    102           30
58    73    5  227  105  ...   NaN         1      3     23            3
59    63    4  118   98  ...   NaN         3      2     14            4
60    90    5  263   95  ...   NaN         3    NaN     21          NaN

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2             4         32     1     3    306
3            16         33     5     1    654
4            20         82    12     1    834
5            52          9     3     1   1892
6            19         80     2     4    546
7             5         28     3     0    336
8             3         21     2     1    247
9            11         28     2     0    332
10           42         88     8     3   1247
11           13          9   NaN     2    214
12           16         21     3     0    383
13            5         11   NaN     1    240
14           55        175     8     6   1645
15           15         14     1     0    265
16          104        182    52     4   1917
17          142       1021   123     1   3558
18           96        281    14     6   2021
19            3         17     1     0    285
20           39         45   NaN     0    627
21            1         13     1     1    176
22            9          9     1     0    178
23           15         34     4     1    621
24           25         67   NaN     1    836
25           18         45   NaN     1    381
26           16         51     1     3    483
27           50        127     6     1    951
28           14         61   NaN     2    615
29           44         45     4     3    612
30            1         11   NaN     0     94
31           43         77     8     4    905
32            3          4   NaN     0     83
33            6         30     1     0    209
34           35         45     4     0    563
35          197        307   166     4   4007
36           20         20   NaN     2    353
37           14         42     3     2    661
38           18         47     4     0    539
39           42        130     7     4    949
40            8         21     2     1    195
41            8         35     1     1    287
42           17         12     1     0    262
43            3          1     1     0     55
44            6         74     2     0    364
45            8         28     2     3    329
46           14         52     4     3    673
47           17         68     3     0    702
48           31         49     2     1    463
49           21         40     1     1    527
50           11         42   NaN     1    342
51           24         76     6     3    735
52            7         55     3     0    514
53           28         38     5     1    551
54           10         50     3     3    363
55          NaN          3     1     0    176
56           16         48     3     7    546
57          293        459    23    16   4323
58           64         76    10     4   1373
59           81        155     6     1   1266
60           48         78     7    12   1477

[60 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(62, 37)>
{'accuracy': 99.98, 'whitespace': 16.83, 'order': 2, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA  ALFA ROMEO  AUDI  BMW  CHRYSLER/JEEP/DODGE  \
1            PROVINCIA DI  ALFA ROMEO  AUDI  BMW  CHRYSLER/JEEP DODGE
2               RESIDENZA         NaN   NaN  NaN                  NaN
3               AGRIGENTO           2    10  NaN                   23
4             ALESSANDRIA          10    15   29                   45
5                  ANCONA           5    29   18                   32
..                    ...         ...   ...  ...                  ...
57                MESSINA           5    13   10                   31
58                 MILANO          30   111  152                  122
59                 MODENA          21    41   39                   74
60  MONZA E DELLA BRIANZA          15    22   60                   56
61                 NAPOLI          16    35   42                   57

    CITROEN/DS  DACIA   DR  FIAT  FORD  ...  SMART  SSANGYONG  SUBARU  SUZUKI  \
1   CITROEN/DS  DACIA   DR  FIAT  FORD  ...  SMART  SSANGYONG  SUBARU  SUZUKI
2          NaN    NaN  NaN   NaN   NaN  ...    NaN        NaN     NaN     NaN
3           14      7  NaN    55    27  ...    NaN          1     NaN       9
4           32     45  NaN    88    57  ...    NaN        NaN     NaN      31
5           44     38   10   122    46  ...      3          2     NaN      11
..         ...    ...  ...   ...   ...  ...    ...        ...     ...     ...
57          27     20    1   100    31  ...    NaN        NaN     NaN      20
58         305    185   20   387   330  ...      3         11       6     102
59          81     73    5   227   105  ...    NaN          1       3      23
60          87     63    4   118    98  ...    NaN          3       2      14
61          79     90    5   263    95  ...    NaN          3     NaN      21

    TESLA MOTORS  TOYOTA/LEXUS  VOLKSWAGEN  VOLVO  ALTRE  TOTALE
1   TESLA MOTORS  TOYOTA/LEXUS  VOLKSWAGEN  VOLVO  ALTRE  TOTALE
2            NaN           NaN         NaN    NaN    NaN     NaN
3            NaN             4          32      1      3     306
4            NaN            16          33      5      1     654
5              1            20          82     12      1     834
..           ...           ...         ...    ...    ...     ...
57           NaN            16          48      3      7     546
58            30           293         459     23     16    4323
59             3            64          76     10      4    1373
60             4            81         155      6      1    1266
61           NaN            48          78      7     12    1477

[61 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 3

 <Table shape=(49, 37)>
{'accuracy': 100.0, 'whitespace': 13.35, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

              PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1                NUORO          2     4   NaN                   4         19
2             ORISTANO        NaN     1   NaN                   7         18
3               PADOVA         21    52    43                  66         88
4              PALERMO         11    27    19                  92         76
5                PARMA          7    31    23                  32         54
6                PAVIA         11     7    28                  46         53
7              PERUGIA         18    28    17                  60         43
8        PESARO URBINO          3    10    13                  20         28
9              PESCARA        NaN     9     9                  18         33
10            PIACENZA        NaN    15    13                  21         47
11                PISA          8    14    21                  39         47
12             PISTOIA          2    19    16                  15         28
13           PORDENONE          6     6     9                  29         30
14             POTENZA          5     4     2                  19         27
15               PRATO          2    13    15                  23         17
16              RAGUSA          2     8     1                  24         25
17             RAVENNA          5    15    17                  33         25
18  REGGIO DI CALABRIA          7    15     1                  30         17
19  REGGIO NELL'EMILIA          4    20    23                  58         55
20               RIETI        NaN     3     2                   6          9
21              RIMINI          1    10     8                  14         26
22                ROMA         31    53   137                 163        266
23              ROVIGO          1    13    10                   6         29
24             SALERNO          4    16    11                  55         84
25             SASSARI          1     6     2                  28         41
26              SAVONA          4    10     2                  17         40
27               SIENA          3     7    13                  26         24
28            SIRACUSA        NaN     8     2                  15         36
29             SONDRIO          5     6     5                  10         10
30        SUD SARDEGNA          5     4     2                  22         35
31             TARANTO          3    13     8                  22         25
32              TERAMO          2     5     5                  27         27
33               TERNI          4     4    10                  25         25
34              TORINO         79    71    63                 459        172
35             TRAPANI          2     6     3                  16         20
36              TRENTO         78   370   571                 180        188
37             TREVISO         15    40    22                  54         83
38             TRIESTE        NaN    10     4                  15         12
39               UDINE          8    24     5                  32         42
40              VARESE         14    47    39                  58         58
41             VENEZIA         15    31    15                  47         80
42            VERBANIA          1     7     7                  13          8
43            VERCELLI          4     7    11                   3         12
44              VERONA         15    73    52                  49         84
45       VIBO VALENTIA        NaN     2     2                   6         12
46             VICENZA          8    23    24                  73         68
47             VITERBO          2     7     3                  13         25
48              TOTALE       1326  2893  2539                4480       4616

   DACIA   DR   FIAT  FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1     10  NaN     10     9  ...   NaN         1    NaN      1          NaN
2      6  NaN      6    20  ...   NaN       NaN    NaN      7          NaN
3     57    3    188   131  ...     1         4      2     33            6
4     50    4    216    94  ...   NaN       NaN    NaN     20          NaN
5     41    3     95    65  ...   NaN         1      3     33            4
6     61    6     91    74  ...   NaN       NaN    NaN     37            2
7     32    2    201    64  ...   NaN         1      1     49            1
8     42    3     64    52  ...     2         2      2     13          NaN
9     16  NaN     73    31  ...     1         3    NaN     13          NaN
10    17    2     35    39  ...   NaN         4    NaN      9            1
11    46    1    133    58  ...     1       NaN    NaN      9          NaN
12    34    1     64    15  ...   NaN         1      1     11          NaN
13    19  NaN     60    44  ...   NaN         2      3     10            2
14    15    1     89    26  ...   NaN       NaN    NaN     14          NaN
15    15  NaN     53    23  ...     1       NaN    NaN     13          NaN
16    21    2     49    38  ...   NaN       NaN    NaN     12          NaN
17    37  NaN     69    68  ...     1         1      1     14          NaN
18    27    2     65    40  ...   NaN         1    NaN     11          NaN
19    35    3    141    67  ...     1       NaN      1     13            2
20     9  NaN     28    22  ...   NaN       NaN    NaN      1          NaN
21    31  NaN     53    22  ...   NaN       NaN    NaN     21          NaN
22   328   14    696   491  ...     2         2      3     44            5
23    14    2     34    22  ...   NaN         1    NaN      2          NaN
24    37    3    124    61  ...   NaN         1    NaN     25            1
25    38  NaN     74    61  ...   NaN       NaN    NaN      7          NaN
26    16  NaN     53    33  ...   NaN       NaN    NaN     16          NaN
27    30    3     40    33  ...   NaN         2      2      9          NaN
28    25  NaN     81    25  ...   NaN       NaN    NaN      5          NaN
29     6  NaN     29    20  ...   NaN       NaN    NaN     22            2
30    40  NaN     35    49  ...   NaN         1    NaN     13          NaN
31    30  NaN     71    40  ...   NaN       NaN    NaN     13          NaN
32    12    1     69    36  ...   NaN         2    NaN     11          NaN
33     8    1     48    36  ...   NaN         2    NaN      3          NaN
34   122   22    763   219  ...   NaN        10      2     55            4
35    12  NaN     38    24  ...   NaN       NaN    NaN    NaN          NaN
36    34    1    302   526  ...   113         1      4     34           21
37    68  NaN    115   124  ...     2         1      1     45            4
38    11  NaN     41    27  ...     1         2      4     34          NaN
39    26  NaN    100    62  ...   NaN         1      2     37            1
40    75    3    131    78  ...     2       NaN      2     35            7
41    71   17    134    92  ...   NaN         1      2     18            5
42     7  NaN     26    15  ...   NaN       NaN      1     21          NaN
43    15  NaN     27    22  ...   NaN       NaN    NaN     18            3
44    71    3    129   104  ...   NaN         1      2     19            5
45     8  NaN     22     7  ...   NaN       NaN    NaN      1          NaN
46    77    1    246   116  ...   NaN       NaN      9     14            5
47    22    6     53    25  ...   NaN       NaN    NaN      5            1
48  3761  275  12219  6569  ...   184       117     87   1865          195

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1             9          9   NaN     0    145
2             2         17   NaN     0    123
3            69        134     8     8   1553
4            41        105     2     4   1167
5            29         69    16     0    840
6            60         52     6     1    881
7            46         95    17     2   1097
8            11         61     6     9    618
9            19         20     1     1    432
10           24         24     3     1    454
11           30         93    10     0    820
12           20         52     2     1    530
13           33         34     6     3    534
14            1         26     1     0    356
15           21         56   NaN     1    459
16           14         23     3     0    293
17           20         59    12     0    698
18           23         39     1     3    458
19           32         67     6     0    888
20            1         10     3     2    157
21           19         43     9     1    447
22          712        442    32    13   5631
23           18         39     3     0    360
24           28         35     1     1    801
25           14         58   NaN     0    480
26           16         41     4     0    379
27           12         58     5     1    480
28           20         33     2     1    370
29           13         19     1     1    228
30           15         39     2     0    362
31            6         18     3     2    440
32           11         22     3     1    389
33            7         32     2     3    317
34          166        233    10     8   3674
35            9         40     1     1    297
36          304        563   314     0   5316
37           74        139    14     1   1399
38           28         28     1     0    371
39           64         70    15     2    953
40          114        142     4     4   1464
41           41        136     8     2   1135
42            7         10     1     0    209
43           11         14     4     0    253
44           52        176    21     4   1520
45            3          5     1     0    122
46           99        298    10     1   1655
47           29         16     4     3    332
48         4390       8708  1115   207  88801

[48 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 4

 <Table shape=(50, 37)>
{'accuracy': 99.97, 'whitespace': 15.03, 'order': 2, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

              PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               NOVARA          7    12    15                  18         30
2                NUORO          2     4   NaN                   4         19
3             ORISTANO        NaN     1   NaN                   7         18
4               PADOVA         21    52    43                  66         88
5              PALERMO         11    27    19                  92         76
6                PARMA          7    31    23                  32         54
7                PAVIA         11     7    28                  46         53
8              PERUGIA         18    28    17                  60         43
9        PESARO URBINO          3    10    13                  20         28
10             PESCARA        NaN     9     9                  18         33
11            PIACENZA        NaN    15    13                  21         47
12                PISA          8    14    21                  39         47
13             PISTOIA          2    19    16                  15         28
14           PORDENONE          6     6     9                  29         30
15             POTENZA          5     4     2                  19         27
16               PRATO          2    13    15                  23         17
17              RAGUSA          2     8     1                  24         25
18             RAVENNA          5    15    17                  33         25
19  REGGIO DI CALABRIA          7    15     1                  30         17
20  REGGIO NELL'EMILIA          4    20    23                  58         55
21               RIETI        NaN     3     2                   6          9
22              RIMINI          1    10     8                  14         26
23                ROMA         31    53   137                 163        266
24              ROVIGO          1    13    10                   6         29
25             SALERNO          4    16    11                  55         84
26             SASSARI          1     6     2                  28         41
27              SAVONA          4    10     2                  17         40
28               SIENA          3     7    13                  26         24
29            SIRACUSA        NaN     8     2                  15         36
30             SONDRIO          5     6     5                  10         10
31        SUD SARDEGNA          5     4     2                  22         35
32             TARANTO          3    13     8                  22         25
33              TERAMO          2     5     5                  27         27
34               TERNI          4     4    10                  25         25
35              TORINO         79    71    63                 459        172
36             TRAPANI          2     6     3                  16         20
37              TRENTO         78   370   571                 180        188
38             TREVISO         15    40    22                  54         83
39             TRIESTE        NaN    10     4                  15         12
40               UDINE          8    24     5                  32         42
41              VARESE         14    47    39                  58         58
42             VENEZIA         15    31    15                  47         80
43            VERBANIA          1     7     7                  13          8
44            VERCELLI          4     7    11                   3         12
45              VERONA         15    73    52                  49         84
46       VIBO VALENTIA        NaN     2     2                   6         12
47             VICENZA          8    23    24                  73         68
48             VITERBO          2     7     3                  13         25
49              TOTALE       1326  2893  2539                4480       4616

   DACIA   DR   FIAT  FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1     31    4     56    47  ...   NaN         1    NaN     16            2
2     10  NaN     10     9  ...   NaN         1    NaN      1          NaN
3      6  NaN      6    20  ...   NaN       NaN    NaN      7          NaN
4     57    3    188   131  ...     1         4      2     33            6
5     50    4    216    94  ...   NaN       NaN    NaN     20          NaN
6     41    3     95    65  ...   NaN         1      3     33            4
7     61    6     91    74  ...   NaN       NaN    NaN     37            2
8     32    2    201    64  ...   NaN         1      1     49            1
9     42    3     64    52  ...     2         2      2     13          NaN
10    16  NaN     73    31  ...     1         3    NaN     13          NaN
11    17    2     35    39  ...   NaN         4    NaN      9            1
12    46    1    133    58  ...     1       NaN    NaN      9          NaN
13    34    1     64    15  ...   NaN         1      1     11          NaN
14    19  NaN     60    44  ...   NaN         2      3     10            2
15    15    1     89    26  ...   NaN       NaN    NaN     14          NaN
16    15  NaN     53    23  ...     1       NaN    NaN     13          NaN
17    21    2     49    38  ...   NaN       NaN    NaN     12          NaN
18    37  NaN     69    68  ...     1         1      1     14          NaN
19    27    2     65    40  ...   NaN         1    NaN     11          NaN
20    35    3    141    67  ...     1       NaN      1     13            2
21     9  NaN     28    22  ...   NaN       NaN    NaN      1          NaN
22    31  NaN     53    22  ...   NaN       NaN    NaN     21          NaN
23   328   14    696   491  ...     2         2      3     44            5
24    14    2     34    22  ...   NaN         1    NaN      2          NaN
25    37    3    124    61  ...   NaN         1    NaN     25            1
26    38  NaN     74    61  ...   NaN       NaN    NaN      7          NaN
27    16  NaN     53    33  ...   NaN       NaN    NaN     16          NaN
28    30    3     40    33  ...   NaN         2      2      9          NaN
29    25  NaN     81    25  ...   NaN       NaN    NaN      5          NaN
30     6  NaN     29    20  ...   NaN       NaN    NaN     22            2
31    40  NaN     35    49  ...   NaN         1    NaN     13          NaN
32    30  NaN     71    40  ...   NaN       NaN    NaN     13          NaN
33    12    1     69    36  ...   NaN         2    NaN     11          NaN
34     8    1     48    36  ...   NaN         2    NaN      3          NaN
35   122   22    763   219  ...   NaN        10      2     55            4
36    12  NaN     38    24  ...   NaN       NaN    NaN    NaN          NaN
37    34    1    302   526  ...   113         1      4     34           21
38    68  NaN    115   124  ...     2         1      1     45            4
39    11  NaN     41    27  ...     1         2      4     34          NaN
40    26  NaN    100    62  ...   NaN         1      2     37            1
41    75    3    131    78  ...     2       NaN      2     35            7
42    71   17    134    92  ...   NaN         1      2     18            5
43     7  NaN     26    15  ...   NaN       NaN      1     21          NaN
44    15  NaN     27    22  ...   NaN       NaN    NaN     18            3
45    71    3    129   104  ...   NaN         1      2     19            5
46     8  NaN     22     7  ...   NaN       NaN    NaN      1          NaN
47    77    1    246   116  ...   NaN       NaN      9     14            5
48    22    6     53    25  ...   NaN       NaN    NaN      5            1
49  3761  275  12219  6569  ...   184       117     87   1865          195

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1            47        112     1     0    626
2             9          9   NaN     0    145
3             2         17   NaN     0    123
4            69        134     8     8   1553
5            41        105     2     4   1167
6            29         69    16     0    840
7            60         52     6     1    881
8            46         95    17     2   1097
9            11         61     6     9    618
10           19         20     1     1    432
11           24         24     3     1    454
12           30         93    10     0    820
13           20         52     2     1    530
14           33         34     6     3    534
15            1         26     1     0    356
16           21         56   NaN     1    459
17           14         23     3     0    293
18           20         59    12     0    698
19           23         39     1     3    458
20           32         67     6     0    888
21            1         10     3     2    157
22           19         43     9     1    447
23          712        442    32    13   5631
24           18         39     3     0    360
25           28         35     1     1    801
26           14         58   NaN     0    480
27           16         41     4     0    379
28           12         58     5     1    480
29           20         33     2     1    370
30           13         19     1     1    228
31           15         39     2     0    362
32            6         18     3     2    440
33           11         22     3     1    389
34            7         32     2     3    317
35          166        233    10     8   3674
36            9         40     1     1    297
37          304        563   314     0   5316
38           74        139    14     1   1399
39           28         28     1     0    371
40           64         70    15     2    953
41          114        142     4     4   1464
42           41        136     8     2   1135
43            7         10     1     0    209
44           11         14     4     0    253
45           52        176    21     4   1520
46            3          5     1     0    122
47           99        298    10     1   1655
48           29         16     4     3    332
49         4390       8708  1115   207  88801

[49 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2020_9.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(64, 37)>
{'accuracy': 100.0, 'whitespace': 12.54, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

       PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS DACIA  \
1     RESIDENZA        NaN  NaN  NaN                 NaN        NaN   NaN
2     AGRIGENTO          1   11    1                  27         13    24
3   ALESSANDRIA          8   20   36                  41         38    60
4        ANCONA         10   25   19                  48         53    66
5         AOSTA        612   28   20                1211         69    78
..          ...        ...  ...  ...                 ...        ...   ...
59      BRIANZA         24   63   75                 114        129   131
60       NAPOLI         18   61   46                  87        166   174
61       NOVARA          6   41   39                  27         70    55
62        NUORO          2    3  NaN                   7         23    23
63     ORISTANO        NaN    1    1                  10         17    19

     DR  FIAT FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1   NaN   NaN  NaN  ...   NaN       NaN    NaN    NaN          NaN
2   NaN   103   18  ...   NaN       NaN    NaN      8          NaN
3     1   186   83  ...     1         2      1     80            7
4    11   201   68  ...     1       NaN      2     54            3
5   NaN  1507   49  ...   NaN       NaN    NaN     53            5
..  ...   ...  ...  ...   ...       ...    ...    ...          ...
59   13   270  165  ...     2         3      3     85           28
60   15   572  172  ...     1       NaN    NaN    126            7
61    1   103   82  ...     1         1    NaN     65           14
62    1    29   18  ...   NaN       NaN    NaN    NaN          NaN
63  NaN    13   23  ...     1       NaN    NaN     11          NaN

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2            10         37     2     1    394
3            32         65     8     3   1046
4            58        130    12     1   1231
5            67         29     8   109   4302
..          ...        ...   ...   ...    ...
59          196        214    10     7   2623
60          126        132    11    19   2882
61           60         58     9     3   1029
62           19         22   NaN     0    244
63            6         28   NaN     0    203

[63 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(48, 37)>
{'accuracy': 100.0, 'whitespace': 9.74, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

              PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1            RESIDENZA        NaN   NaN   NaN                 NaN        NaN
2               PADOVA         26    33    78                  92        110
3              PALERMO         12    41    21                 109        102
4                PARMA          5    31    40                  31         75
5                PAVIA         10    26    49                  78         73
6              PERUGIA         11    34    27                  71         79
7        PESARO URBINO          2    29    13                  31         29
8              PESCARA          6    19    16                  27         53
9             PIACENZA          4    14    35                  16         42
10                PISA         12    25    23                  53         41
11             PISTOIA          9    12    24                  13         44
12           PORDENONE          5     6    21                  40         46
13             POTENZA          2     6     4                  39         18
14               PRATO          5     7    30                  24         39
15              RAGUSA          3     8     3                  31         31
16             RAVENNA          5    10    25                  80         42
17  REGGIO DI CALABRIA          4    14     8                  39         19
18  REGGIO NELL'EMILIA         12    26    39                  37        110
19               RIETI          3     5     1                  11         19
20              RIMINI          5    12    13                  39         42
21                ROMA         46   134   297                 258        428
22              ROVIGO          1    12    10                   2         35
23             SALERNO         13    27    34                  79         79
24             SASSARI          4     9     5                  44         45
25              SAVONA          6    12     9                  15         41
26               SIENA          4     8    12                  35         33
27            SIRACUSA          2     2     8                  25         35
28             SONDRIO        NaN     9     4                  33         12
29        SUD SARDEGNA          7     2     1                  16         42
30             TARANTO        NaN    11    12                  12         14
31              TERAMO          3     5    12                  39         36
32               TERNI          5     3    13                  29         36
33              TORINO        135   120   134                 612        221
34             TRAPANI          5     8     4                  19         35
35              TRENTO        233   459   834                 110        509
36             TREVISO         17    13    51                  91        112
37             TRIESTE          7     5     9                  17         19
38               UDINE         18    22    23                  36         65
39              VARESE         11    51   108                 114         98
40             VENEZIA         16    31    26                  67         74
41            VERBANIA          6    10     3                  14         24
42            VERCELLI          2     7    11                   9         26
43              VERONA         23    86    67                  79        129
44       VIBO VALENTIA          2     4     3                  15          6
45             VICENZA         62    30    71                 131         70
46             VITERBO          4    10     7                  19         27
47              TOTALE       2073  4005  4819                7085       6803

   DACIA   DR   FIAT   FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1    NaN  NaN    NaN    NaN  ...   NaN       NaN    NaN    NaN          NaN
2     80    4    347    186  ...     2         3     11     66           31
3    126    4    351    131  ...   NaN         2    NaN     32            3
4     79   10    174    103  ...     2       NaN      2     34            7
5     85    7    202    107  ...   NaN         2      5     89            9
6     37    4    334     70  ...     1         3      4     66            6
7     80    2    104     64  ...     3         5      4     39            1
8     19    1    136     39  ...   NaN         1    NaN     23            3
9     37    2     72     62  ...   NaN       NaN      2     27            4
10   124    5    248     85  ...   NaN         2    NaN     46            2
11    65    1    113     30  ...   NaN       NaN    NaN     24            3
12    25    3    114     64  ...     1         3      3     36            7
13    20  NaN    170     31  ...   NaN       NaN    NaN     22          NaN
14    48  NaN     84     23  ...   NaN         1    NaN     27            5
15    27  NaN    112     48  ...   NaN       NaN    NaN     16          NaN
16    57  NaN    128     76  ...     2       NaN      2     52            5
17    54    6    135     67  ...     2         2    NaN     21          NaN
18    86    4    245    105  ...   NaN         1      1     78           13
19    24    1     57     26  ...   NaN       NaN    NaN      7          NaN
20    62    1     91     48  ...     1       NaN    NaN     38            3
21   605   24   1525    881  ...    27         2      7    294           70
22    33    1     33     45  ...   NaN       NaN      2     22            7
23    71    6    265    122  ...   NaN         3      1     49            4
24    66    1    109     74  ...     1       NaN    NaN     14            4
25    26    1     96     60  ...   NaN         1      2     48            3
26    52    2     91     68  ...   NaN       NaN      5     40            4
27    65  NaN     89     57  ...   NaN       NaN    NaN     15            2
28     6    1     55     41  ...     2       NaN      5     33            3
29    53  NaN     65     92  ...     1       NaN    NaN      9            2
30    48    2     91     57  ...   NaN       NaN    NaN     22            1
31    28    3    128     40  ...   NaN         2    NaN     29            2
32    23    4     80     29  ...   NaN       NaN    NaN      9            1
33   238   39   1568    364  ...     3         9      5    203           31
34    19  NaN     99     28  ...   NaN       NaN    NaN      3            1
35    70    7    573    967  ...   378         2     12     77           50
36    72    1    179    145  ...   NaN         1      9     76           23
37    15  NaN     43     23  ...     2         4      5     65            2
38    72  NaN    180     64  ...     1         4      1     74           14
39   174    4    251    156  ...     1       NaN      8    174           18
40    65    9    206    110  ...   NaN         2      2     49           21
41    20  NaN     51     35  ...   NaN       NaN    NaN     41            4
42    18    3     44     40  ...     1         2      2     40            5
43   118    7    272    126  ...     1         5      7     54           26
44    17  NaN     36     18  ...   NaN       NaN      1      7            1
45   119    7    522    219  ...     2       NaN      8     78           25
46    32   13     97     45  ...   NaN         1      1     19            2
47  7022  479  23134  10657  ...   554       111    196   4966          956

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1           NaN        NaN   NaN   NaN     NaN
2           168        294    36     5    2609
3           116        132     8     2    1792
4            36        107    14     3    1248
5            78        133    10     1    1484
6            89        180    29     8    1726
7            45        110     3     3     924
8            30         55     5     1     704
9            56         72     9     1     784
10           55        142    13     0    1419
11           25         99     6     1     809
12           51         85     8     4     852
13            9         38     1     1     582
14           31        106     8     3     824
15           39         56     1     0     510
16           32         99     8     0    1132
17           65         59     7     1     762
18           86         84    13     1    1518
19           11         15     1     0     267
20           43         70    13     4     808
21         1086        688    46    22   10767
22           34         83     5     0     582
23           66         88     4     4    1535
24           42         90     5     0     763
25           25         74     9     1     610
26           35        108     6     3     808
27           31         36   NaN     2     544
28           21         23    10     0     370
29           22         42     3     0     474
30           26         31     4     0     581
31           23         59     5     0     693
32           30         46     7     1     497
33          358        460    24    11    6667
34           34         58     1     0     491
35          720        537   243     6   10067
36          174        217    22     1    1936
37           53         48     2     0     482
38          100        154    10     2    1529
39          257        238    17     4    2899
40          119        216    15     1    1747
41            9         20     1     0     375
42           37         29     4     0     433
43          161        294    29     5    2596
44            4         17     2     0     213
45          181        272    26     5    2661
46           28         29     3     1     571
47         9351      13578  1766   423  156132

[47 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2020_10.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(93, 37)>
{'accuracy': 100.0, 'whitespace': 10.93, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

        PROVINCIA ALFA ROMEO AUDI BMW CHRYSLER/JEEP/DODGE CITROEN/DS DACIA  \
1      AGRIGENTO          4   14   3                  12         21    13
2    ALESSANDRIA          9   38  38                  31         63    34
3         ANCONA          7   42  27                  40         61    38
4          AOSTA        487   43  27                 829         69    53
5         AREZZO          2   22  29                  39         49    27
..           ...        ...  ...  ..                 ...        ...   ...
88      SIRACUSA          2   12  11                  14         41    51
89       SONDRIO          3    6   5                  10         21    11
90  SUD SARDEGNA          7    4   7                  19         56    53
91       TARANTO          5   14  13                  31         33    22
92        TERAMO          6    4  12                  29         44    14

     DR  FIAT FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1     1   123   29  ...   NaN       NaN    NaN      7          NaN
2   NaN   170   91  ...   NaN       NaN      2     74          NaN
3    12   247   73  ...   NaN         3      1     61          NaN
4   NaN  2037   66  ...   NaN         1      3     52          NaN
5     5   163   57  ...   NaN         3      5     27          NaN
..  ...   ...  ...  ...   ...       ...    ...    ...          ...
88    3    84   47  ...     1       NaN    NaN     14          NaN
89  NaN    60   51  ...   NaN       NaN      4     32          NaN
90  NaN    77   57  ...   NaN       NaN    NaN     13          NaN
91  NaN   149   66  ...   NaN       NaN    NaN     18            1
92    2   144   48  ...   NaN       NaN    NaN     14          NaN

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1            10         45     1     2    440
2            23         80    13     0   1046
3            59        106     9     4   1330
4           135         39     9    53   4540
5            33         84     6     5    888
..          ...        ...   ...   ...    ...
88           36         37     1     1    538
89           21          9     9     1    352
90           20         27     1     0    476
91           24         17     4     2    725
92           35         28     2     2    624

[92 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(96, 37)>
{'accuracy': 99.93, 'whitespace': 13.63, 'order': 2, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                  PROVINCIA  ALFA ROMEO  AUDI  BMW  CHRYSLER/JEEP/DODGE  \
1                      NaN         NaN   NaN  NaN                  NaN
2                      NaN         NaN   NaN  NaN                  NaN
3   PROVINCIA DI RESIDENZA  ALFA ROMEO  AUDI  BMW  CHRYSLER/JEEP DODGE
4                AGRIGENTO           4    14    3                   12
5              ALESSANDRIA           9    38   38                   31
..                     ...         ...   ...  ...                  ...
91                SIRACUSA           2    12   11                   14
92                 SONDRIO           3     6    5                   10
93            SUD SARDEGNA           7     4    7                   19
94                 TARANTO           5    14   13                   31
95                  TERAMO           6     4   12                   29

    CITROEN/DS  DACIA   DR  FIAT  FORD  ...  SMART  SSANGYONG  SUBARU  SUZUKI  \
1          NaN    NaN  NaN   NaN   NaN  ...    NaN        NaN     NaN     NaN
2          NaN    NaN  NaN   NaN   NaN  ...    NaN        NaN     NaN     NaN
3   CITROEN/DS  DACIA   DR  FIAT  FORD  ...  SMART  SSANGYONG  SUBARU  SUZUKI
4           21     13    1   123    29  ...    NaN        NaN     NaN       7
5           63     34  NaN   170    91  ...    NaN        NaN       2      74
..         ...    ...  ...   ...   ...  ...    ...        ...     ...     ...
91          41     51    3    84    47  ...      1        NaN     NaN      14
92          21     11  NaN    60    51  ...    NaN        NaN       4      32
93          56     53  NaN    77    57  ...    NaN        NaN     NaN      13
94          33     22  NaN   149    66  ...    NaN        NaN     NaN      18
95          44     14    2   144    48  ...    NaN        NaN     NaN      14

    TESLA MOTORS  TOYOTA/LEXUS  VOLKSWAGEN  VOLVO  ALTRE  TOTALE
1            NaN           NaN         NaN    NaN    NaN     NaN
2            NaN           NaN         NaN    NaN    NaN     NaN
3   TESLA MOTORS  TOYOTA/LEXUS  VOLKSWAGEN  VOLVO  ALTRE  TOTALE
4            NaN            10          45      1      2     440
5            NaN            23          80     13      0    1046
..           ...           ...         ...    ...    ...     ...
91           NaN            36          37      1      1     538
92           NaN            21           9      9      1     352
93           NaN            20          27      1      0     476
94             1            24          17      4      2     725
95           NaN            35          28      2      2     624

[95 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 3

 <Table shape=(14, 37)>
{'accuracy': 100.0, 'whitespace': 7.92, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

         PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS DACIA  \
1          TRENTO         57   514   928                 127        589    51
2         TREVISO         21    74    54                  91        120    70
3         TRIESTE          5     7    13                   2         21    16
4           UDINE         13    28    26                  39         63    41
5          VARESE         12    83    85                  85        104    98
6         VENEZIA          8    27    38                  64        118    66
7        VERBANIA          3    13     6                   8         18     7
8        VERCELLI          3     9     6                  10         25    17
9          VERONA         13   124    80                  52        162    89
10  VIBO VALENTIA        NaN     6     5                  13          8     7
11        VICENZA         42    63    51                 136        125    87
12        VITERBO          3    14    10                  28         29    34
13         TOTALE       1598  5618  5291                6262       8423  5557

     DR   FIAT   FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1     4    775   1077  ...   481         2     15     90            1
2     5    245    161  ...   NaN         2      6     75            1
3   NaN     94     21  ...     1         6     10     48          NaN
4   NaN    192     68  ...     1       NaN      6     62          NaN
5     8    320    138  ...     2       NaN      7    162            3
6     9    227    115  ...     2         2      8     39            1
7     1     55     47  ...   NaN       NaN      1     32          NaN
8     1     69     44  ...   NaN         1      2     49          NaN
9     4    257    169  ...     3         2      7     41            1
10  NaN     39     21  ...   NaN         2      2      7          NaN
11    4    374    138  ...   NaN       NaN     11     95            2
12   13    109     43  ...   NaN       NaN    NaN     16            1
13  521  25360  10285  ...   682       109    279   4951           64

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1           465        710   328     4   10303
2           152        206    27     4    2092
3            42         34     7     2     548
4           103        116    12     6    1284
5           295        225    28     5    2720
6           120        190    18     2    1753
7             9         15     3     1     363
8            21         13     5     1     442
9           139        330    22    11    2544
10            7         18     1     0     197
11          179        284    24     6    2431
12           33         25     4     0     557
13         8734      12737  1892   447  156978

[13 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 4

 <Table shape=(17, 37)>
{'accuracy': 100.0, 'whitespace': 7.31, 'order': 2, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

         PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS DACIA  \
1           TERNI          1    18    25                  25         41    24
2          TORINO        167   128   157                 962        301   273
3         TRAPANI          2    14    13                  25         45    20
4          TRENTO         57   514   928                 127        589    51
5         TREVISO         21    74    54                  91        120    70
6         TRIESTE          5     7    13                   2         21    16
7           UDINE         13    28    26                  39         63    41
8          VARESE         12    83    85                  85        104    98
9         VENEZIA          8    27    38                  64        118    66
10       VERBANIA          3    13     6                   8         18     7
11       VERCELLI          3     9     6                  10         25    17
12         VERONA         13   124    80                  52        162    89
13  VIBO VALENTIA        NaN     6     5                  13          8     7
14        VICENZA         42    63    51                 136        125    87
15        VITERBO          3    14    10                  28         29    34
16         TOTALE       1598  5618  5291                6262       8423  5557

     DR   FIAT   FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1     3    114     43  ...   NaN       NaN    NaN     11          NaN
2    55   1728    288  ...     1         6      6    201            2
3   NaN    141     33  ...   NaN       NaN    NaN      8          NaN
4     4    775   1077  ...   481         2     15     90            1
5     5    245    161  ...   NaN         2      6     75            1
6   NaN     94     21  ...     1         6     10     48          NaN
7   NaN    192     68  ...     1       NaN      6     62          NaN
8     8    320    138  ...     2       NaN      7    162            3
9     9    227    115  ...     2         2      8     39            1
10    1     55     47  ...   NaN       NaN      1     32          NaN
11    1     69     44  ...   NaN         1      2     49          NaN
12    4    257    169  ...     3         2      7     41            1
13  NaN     39     21  ...   NaN         2      2      7          NaN
14    4    374    138  ...   NaN       NaN     11     95            2
15   13    109     43  ...   NaN       NaN    NaN     16            1
16  521  25360  10285  ...   682       109    279   4951           64

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1            26         50     4     2     583
2           347        429    20    16    7218
3            27         49   NaN     0     561
4           465        710   328     4   10303
5           152        206    27     4    2092
6            42         34     7     2     548
7           103        116    12     6    1284
8           295        225    28     5    2720
9           120        190    18     2    1753
10            9         15     3     1     363
11           21         13     5     1     442
12          139        330    22    11    2544
13            7         18     1     0     197
14          179        284    24     6    2431
15           33         25     4     0     557
16         8734      12737  1892   447  156978

[16 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2020_11.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(65, 37)>
{'accuracy': 100.0, 'whitespace': 13.39, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

       PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS DACIA  \
1     RESIDENZA        NaN  NaN  NaN                 NaN        NaN   NaN
2     AGRIGENTO          2   12    5                  12         21    21
3   ALESSANDRIA         13   28   32                  34         25    80
4        ANCONA         17   41   30                  42         61    54
5         AOSTA        686   52   25                1906        203     6
..          ...        ...  ...  ...                 ...        ...   ...
60       NAPOLI         19   51   44                  78        164   179
61       NOVARA         10   51   36                  21         72    44
62        NUORO        NaN    2  NaN                  10         13    16
63     ORISTANO        NaN    3    6                   2         15    14
64       PADOVA         19   64   72                  73        137   101

     DR  FIAT FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1   NaN   NaN  NaN  ...   NaN       NaN    NaN    NaN          NaN
2   NaN   117   19  ...   NaN       NaN    NaN      9          NaN
3     6   143   71  ...   NaN         1    NaN     54          NaN
4    16   196   42  ...     2         2    NaN     38          NaN
5   NaN  1795   37  ...   NaN       NaN      2     44            3
..  ...   ...  ...  ...   ...       ...    ...    ...          ...
60    9   476  139  ...     1       NaN      1     83          NaN
61    1    75   59  ...     1       NaN      2     37            1
62  NaN    31   11  ...     1         1    NaN      1            1
63  NaN    14   21  ...   NaN       NaN    NaN      6          NaN
64    5   311  116  ...     3         1     10     53           11

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2            14         40     1     0    388
3            38         64    11     2    869
4            53        137    11     0   1192
5            75         29     5    44   5865
..          ...        ...   ...   ...    ...
60          131        126    14    14   2497
61           67        100     3     0    880
62           16         14   NaN     0    216
63            4         22   NaN     0    156
64          149        208    31     9   2376

[64 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(47, 37)>
{'accuracy': 100.0, 'whitespace': 11.27, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

              PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1            RESIDENZA        NaN   NaN   NaN                 NaN        NaN
2              PALERMO          9    47    42                  85        102
3                PARMA          2    53    53                  30         48
4                PAVIA         16    25    44                  26         62
5              PERUGIA         14    38    28                  43         70
6        PESARO URBINO          5    23    24                  22         61
7              PESCARA          3    17    16                  12         49
8             PIACENZA          2    23    31                  15         41
9                 PISA          5    29    32                  45         47
10             PISTOIA          4    16    29                   9         39
11           PORDENONE          9    16    17                  22         40
12             POTENZA          2     4     2                  25         17
13               PRATO          8    17    26                  28         43
14              RAGUSA          2    14     2                  25         39
15             RAVENNA         10    16    21                  37         40
16  REGGIO DI CALABRIA          5    23     6                  18         24
17  REGGIO NELL'EMILIA         41    37    41                  24        110
18               RIETI          1     3     5                   5          8
19              RIMINI          1    16    19                  22         41
20                ROMA         41   177   271                 226        416
21              ROVIGO          2     6    29                  10         28
22             SALERNO         17    27    38                  42        104
23             SASSARI          2    12     4                  30         46
24              SAVONA          8    11    11                  16         43
25               SIENA          6    13    17                  21         23
26            SIRACUSA          5    10     9                  14         43
27             SONDRIO          4     3     5                   8          7
28        SUD SARDEGNA          7     6     5                  14         33
29             TARANTO          2    20    14                  11         38
30              TERAMO          5     5    13                  17         19
31               TERNI        NaN    11    18                  16         36
32              TORINO        115   157   136                 740        240
33             TRAPANI          2    10     5                  15         36
34              TRENTO        108   518   860                  99        544
35             TREVISO         19    57    62                  64         98
36             TRIESTE          6    13    16                  11         24
37               UDINE         10    39    35                  29         57
38              VARESE         48    86    98                  90         73
39             VENEZIA         10    30    36                  59         92
40            VERBANIA          1     6    10                   4         16
41            VERCELLI          1    10     1                   8         16
42              VERONA         16    92   124                  34        123
43       VIBO VALENTIA          1     7   NaN                   5          5
44             VICENZA         38    58    59                 100         98
45             VITERBO          4    15    21                  17         25
46              TOTALE       1986  5435  4884                7022       7195

   DACIA   DR   FIAT  FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1    NaN  NaN    NaN   NaN  ...   NaN       NaN    NaN    NaN          NaN
2    109    3    262    56  ...     2         1      1     33          NaN
3     79   10    117    80  ...   NaN         1      3     25            5
4     98    4    127    82  ...   NaN       NaN      2     62            1
5     58    4    331    79  ...     2       NaN      2     49          NaN
6     45    4    115    46  ...   NaN       NaN      2     20            3
7     28    1    121    27  ...   NaN         1    NaN      8          NaN
8     20    3     87    52  ...     1         6      6     17            1
9     87    1    154    71  ...     2         2      2     29            2
10    37  NaN     91    30  ...   NaN       NaN      1     26          NaN
11    31  NaN     75    36  ...   NaN         2    NaN     29            2
12    31    1    159    12  ...     1       NaN    NaN     12            1
13    45    1    114    21  ...     3       NaN      1     14            1
14    19    3    129    30  ...   NaN       NaN    NaN      9          NaN
15    71    6     98    58  ...   NaN       NaN      1     28          NaN
16    47    6     80    23  ...     1       NaN    NaN     10            1
17    81    4    202    55  ...   NaN       NaN      3     36            2
18    20  NaN     42    23  ...   NaN       NaN      1     12            1
19    47    1     83    41  ...     2         2    NaN     23            3
20   574   29   1311   588  ...    31       NaN     10    414           17
21    37  NaN     33    34  ...     1       NaN    NaN     15            1
22    65    4    288    72  ...     1       NaN    NaN     30            1
23    28    8    106    61  ...     2         1    NaN      7            1
24    21    1     77    57  ...   NaN       NaN      1     30            1
25    36    2     98    34  ...   NaN       NaN      3     27            1
26    44    3     82    51  ...     1       NaN    NaN      6          NaN
27     8  NaN     33    33  ...   NaN       NaN      3     27            2
28    29  NaN     66    59  ...   NaN       NaN    NaN     12          NaN
29    47    1    111    35  ...     1       NaN    NaN     14            1
30    24    3    109    32  ...   NaN         1    NaN     11            1
31    23    3     72    24  ...   NaN         1      1      7          NaN
32   335   36   1614   295  ...     7         3      5    167            6
33    25  NaN     87    20  ...   NaN       NaN    NaN      6          NaN
34    66  NaN    477   898  ...   471         1     20     65           20
35    81    4    213   126  ...     1         4     11     49            4
36    10  NaN     59    16  ...     4         3      3     35          NaN
37    54    1    155    44  ...     1       NaN      1     43            3
38    83    8    262    94  ...   NaN         1      3    123            5
39    88    4    196    85  ...     2         3      8     36            3
40    10  NaN     42    24  ...   NaN       NaN    NaN     21          NaN
41    25    3     49    28  ...   NaN         1    NaN     29          NaN
42   109   12    217   126  ...     3         3      3     45            7
43    18  NaN     26     7  ...   NaN       NaN    NaN      3          NaN
44    99    6    410   135  ...   NaN       NaN      7     95           11
45    38    5    111    17  ...     1       NaN      1     21          NaN
46  6188  423  21342  8311  ...   728        72    204   3684          263

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1           NaN        NaN   NaN   NaN     NaN
2           102        166     4     8    1542
3            43        112    12     1    1153
4            78         86    10     1    1125
5            58        161     8     7    1489
6            39         98     3     6     846
7            23         28     6     0     549
8            47         48    10     5     652
9            45        135    19     4    1170
10           30         66     4     1     759
11           57         67    11     0     647
12            6         29     1     0     464
13           55         85     6     0     758
14           30         32     1     1     472
15           34        106    16     1     987
16           55         25     2     1     513
17           78        124    10     2    1377
18           10         17     1     0     247
19           48         56    10     1     731
20          950        704    52    27    9594
21           28         70     1     0     475
22           42         86     1     4    1248
23           36         68     3     1     623
24           27         60     8     2     540
25           32         64     4     1     646
26           33         37   NaN     2     525
27           20         24     6     0     270
28           19         40     1     0     386
29           16         18     1     1     558
30           17         30     1     0     496
31           33         42     1     0     462
32          345        370    17    14    6176
33           14         68   NaN     0     431
34          484        517   210     9    9197
35          150        217    22     6    1886
36           39         55     2     2     466
37           82        124    13     7    1156
38          223        210    18     5    2219
39          106        149    16     4    1573
40           12         29     2     2     308
41           36         21    11     2     355
42          114        304    17     8    2218
43            4          8     3     0     152
44          164        261    40    10    2318
45           39         32     3     2     532
46         8064      11882  1515   401  138405

[46 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questo è il file:	2020_12.pdf

Questa è la struttura della tabella numero: 1

 <Table shape=(57, 37)>
{'accuracy': 100.0, 'whitespace': 15.36, 'order': 1, 'page': 1}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO AUDI  BMW CHRYSLER/JEEP/DODGE CITROEN/DS  \
1               RESIDENZA        NaN  NaN  NaN                   C        NaN
2               AGRIGENTO          6   10    3                  11         19
3             ALESSANDRIA          8   20   22                  37         14
4                  ANCONA          9   37   20                  43         44
5                   AOSTA        593   31   18                 980        136
6                  AREZZO          5   24   18                  35         37
7            ASCOLIPICENO          1    2   11                  30         18
8                    ASTI          1   10   10                   7          9
9                AVELLINO          2    5    5                  10         23
10                   BARI         14   39   17                  95         36
11  BARLETTA-ANDRIA-TRANI          1    3    6                  14          2
12                BELLUNO          6    4   10                  35         31
13              BENEVENTO          5    3    3                  13         13
14                BERGAMO          9   54   64                  68        136
15                 BIELLA          4   15   10                  18         21
16                BOLOGNA         26   62   71                  86        148
17          BOLZANO-BOZEN         17  769   31                  24         44
18                BRESCIA          6  119   87                  23        123
19               BRINDISI          2    5   11                  15          9
20               CAGLIARI          7   10   10                  57         46
21          CALTANISSETTA          1    4    1                   5          4
22             CAMPOBASSO          3    4    5                   9          9
23                CASERTA          4   12   19                  21         33
24                CATANIA          9   26   23                  53         60
25              CATANZARO          2   30   11                  35         31
26                 CHIETI          5    8   16                  26         22
27                   COMO         11   20   40                  56         56
28                COSENZA          4   32   13                  53         39
29                CREMONA         30   32   25                  22         30
30                CROTONE        NaN    4    2                   1          5
31                  CUNEO         30   27   35                 129         66
32                   ENNA          2    2    1                   4          7
33                  FERMO          1   11    8                   8          3
34                FERRARA          5    9   22                  19         43
35                FIRENZE         81  263  286                 237        258
36                 FOGGIA          7    5    9                  26         15
37          FORLI' CESENA          2   13   10                  10         29
38              FROSINONE         13    8   18                  34         28
39                 GENOVA          6   40   45                  35         45
40                GORIZIA        NaN    4    5                 NaN          8
41               GROSSETO        NaN    2    8                  10         16
42                IMPERIA        NaN    5    5                 NaN         12
43                ISERNIA        NaN    1  NaN                   2          9
44              LA SPEZIA          1   12   10                   5         14
45               L'AQUILA          4    6   13                  28         17
46                 LATINA          2    5   16                  20         33
47                  LECCE          4   28   20                  40         32
48                  LECCO         10   17   16                  37         15
49                LIVORNO          3   19   13                  15         24
50                   LODI          1   10   17                  14         35
51                  LUCCA          6   55   23                  31         26
52               MACERATA          3   26   21                  20         19
53                MANTOVA          7   22   24                  41         61
54          MASSA-CARRARA          3   20   11                  29         17
55                 MATERA          8    3    4                  14         18
56                MESSINA          4   24   23                  33         37

   DACIA   DR  FIAT FORD  ... SMART SSANGYONG SUBARU SUZUKI TESLA MOTORS  \
1    NaN  NaN   NaN  NaN  ...   NaN       NaN    NaN    NaN          NaN
2     21  NaN    93   11  ...   NaN       NaN    NaN      6            1
3     33    3   160   47  ...   NaN       NaN    NaN     27            4
4     25   16   196   25  ...     3       NaN      1     39            5
5     18  NaN  1135   23  ...   NaN       NaN      1     21            1
6     21    2   111   23  ...   NaN         1      2     16            5
7     27    2    66   12  ...   NaN       NaN      1      1            4
8     19  NaN    28   31  ...   NaN       NaN    NaN     11            4
9     12    1    78   20  ...   NaN       NaN    NaN      4          NaN
10    48    7   401  114  ...   NaN         1      1     61            1
11     7    2    43    7  ...   NaN       NaN    NaN      6            2
12     6  NaN   144   12  ...   NaN       NaN    NaN     13            1
13    13    1    68    7  ...   NaN       NaN    NaN      4            1
14    77    7   221  106  ...     2         1      1     23           33
15     8    2    59   23  ...   NaN       NaN    NaN      6            4
16    92    3   308  207  ...     2       NaN      9     40           22
17     7    3   158  175  ...     1         1      1      7           27
18    82    8   219  111  ...    10       NaN      7     21           59
19    14  NaN    54   18  ...     3       NaN    NaN      9          NaN
20    44  NaN   161   98  ...     1       NaN    NaN      7            2
21    14  NaN    45    6  ...   NaN       NaN    NaN      1          NaN
22     5    1    24    7  ...   NaN       NaN    NaN      8          NaN
23    42    2   184   24  ...   NaN       NaN      1     19            3
24    63  NaN   150   46  ...     2         2    NaN     33            5
25    25  NaN   110   26  ...   NaN       NaN    NaN      2            1
26    18    3   131   18  ...   NaN       NaN    NaN      6            1
27    30  NaN   147   51  ...     2         1      6     45           19
28    11    2   226   58  ...     3         1    NaN     15            3
29    16    4   131   42  ...     3         1    NaN     14            6
30     1  NaN    26    5  ...   NaN       NaN    NaN      1          NaN
31    29    3   269   71  ...   NaN         1      4     29           17
32    10  NaN    14    4  ...   NaN       NaN    NaN      1          NaN
33    12    1    33   11  ...   NaN       NaN      3      9            2
34    24    2    62   55  ...   NaN       NaN    NaN      3            3
35   114    2   763  271  ...   108       NaN      9     48           24
36    20    1    71   13  ...   NaN       NaN    NaN      7            1
37    40    1   110   78  ...   NaN       NaN    NaN     15            2
38    20  NaN   168   37  ...   NaN         1      1      3            3
39    47    1   196  126  ...   NaN         4      5     47            6
40     6  NaN    24   10  ...   NaN       NaN      1     22            3
41    15  NaN    50   21  ...   NaN       NaN      5      4            1
42     5  NaN    49   27  ...   NaN       NaN    NaN      9            2
43     5    4    14    5  ...   NaN       NaN    NaN    NaN          NaN
44    21    2    89   25  ...     1       NaN    NaN      9            3
45    16    3   128    8  ...     1       NaN    NaN     11            1
46    49    3   196   43  ...     2         1    NaN      8           10
47    41    1   111   37  ...   NaN       NaN    NaN     25            5
48    13    1    80   17  ...   NaN         1      2      6            3
49    20  NaN    94   92  ...   NaN         1      1     13            3
50    13    3    62   33  ...     1       NaN    NaN     10            6
51    64    2   155   42  ...   NaN       NaN      7      6            1
52    16    2   109   27  ...     1       NaN      2     24          NaN
53    22   13    82   54  ...   NaN       NaN    NaN     12            5
54    23  NaN    81   18  ...   NaN       NaN    NaN      7            5
55     4  NaN    86   12  ...   NaN       NaN    NaN      7            1
56    17    3   190   34  ...     1       NaN      1      6            2

   TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE TOTALE
1           NaN        NaN   NaN   NaN    NaN
2             9         39     1     3    347
3            50         61    12     2    730
4            55        136    12     4   1047
5            50         21     3    34   3789
6            33         84     4     2    649
7            24         31     4     1    375
8            17         24     1     1    313
9            10         37   NaN     1    301
10           85         88    13     8   1664
11           25         18   NaN     2    224
12           14         34     3     2    416
13           13         11   NaN     0    250
14          135        212    16     3   1916
15           36         19     2     0    302
16          248        270    97     9   2519
17           57       2529    17    24   4681
18          169        267    33     5   2169
19           13         26   NaN     3    300
20           93         78     2     1    830
21            8          8   NaN     1    178
22           12         13     1     0    174
23           48         36     1     1    811
24           79         96   NaN     4   1072
25           30         44   NaN     1    515
26           39         34     1     3    558
27          131        164    26     8   1352
28           40         68     1     1    774
29           48         76     2     1    742
30            9         10   NaN     0     99
31           76        121    26     7   1320
32            3         10   NaN     0    106
33           16         28   NaN     1    263
34           82         64     8     1    660
35          491        470   488    18   6335
36           32         16   NaN     4    381
37           41         78    13     3    692
38           28         89     5     3    667
39          122        267    18     3   1390
40           12         16   NaN     2    180
41            9         47     3     0    310
42           35         22     2     0    238
43            6          2     1     0     76
44           23         87   NaN     0    435
45           26         54     1     6    458
46           53         55     3     5    791
47           25         82     1     4    760
48           54         86     7     0    653
49           35         66     3     2    610
50           22         56     2     1    440
51           67        109     8     2    962
52           35         85    15     1    627
53           48         59    18     0    723
54           20         62     5     2    420
55            2         18   NaN     1    267
56           46         61     4     5    766

[56 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la struttura della tabella numero: 2

 <Table shape=(55, 37)>
{'accuracy': 99.71, 'whitespace': 11.11, 'order': 1, 'page': 2}

Questo grafico mostra il dato testuale ricavato dalla tabella:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo grafico mostra l'area della tabella individuata per l'estrazione dei dati:

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Questo è il dataframe:

                 PROVINCIA ALFA ROMEO  AUDI   BMW CHRYSLER/JEEP/DODGE  \
1               RESIDENZA        NaN   NaN   NaN                   C
2                  MILANO        135   162   241                 122
3                  MODENA          7    42    55                  42
4   MONZA E DELLA BRIANZA         19    48    39                  97
5                  NAPOLI         25    47    43                  90
6                  NOVARA          5    41    19                  30
7                   NUORO          2     3     1                   1
8                ORISTANO          2     1     1                   6
9                  PADOVA         18    49    50                  68
10                PALERMO         11    42    24                  91
11                  PARMA          2    39    22                  30
12                  PAVIA         15    18    36                  35
13                PERUGIA         12    36    33                  55
14          PESARO URBINO          4    30    15                  29
15                PESCARA          4    10    10                  24
16               PIACENZA        NaN    23    22                   9
17                   PISA          9    38    30                  59
18                PISTOIA        NaN    20    16                  16
19              PORDENONE         16     8    20                  26
20                POTENZA          2     6     5                  30
21                  PRATO          9     9    36                  21
22                 RAGUSA          5    10     4                  27
23                RAVENNA          2    16    16                  62
24     REGGIO DI CALABRIA          3    18     9                  25
25     REGGIO NELL'EMILIA          5    37    29                  42
26                  RIETI          1     4     6                  10
27                 RIMINI          7    13    15                  28
28                   ROMA         34   119   206                 248
29                 ROVIGO          1     7    20                   5
30                SALERNO         14    21    19                  56
31                SASSARI        NaN    11     5                  36
32                 SAVONA          5     8    13                  17
33                  SIENA          6     9    15                  23
34               SIRACUSA          1     4     8                  23
35                SONDRIO          2     3     3                   4
36           SUD SARDEGNA          5     7     2                  15
37                TARANTO          2    17    11                  23
38                 TERAMO          6     8     8                  21
39                  TERNI          2    15     8                  22
40                 TORINO         93   140   120                 574
41                TRAPANI          1     5     9                  19
42                 TRENTO         48   283   695                  90
43                TREVISO         20    52    47                  74
44                TRIESTE        NaN    11     4                  10
45                  UDINE         12    39    26                  31
46                 VARESE         34    40    66                  72
47                VENEZIA         15    27    33                  55
48               VERBANIA          6     4     8                   5
49               VERCELLI          3     5     3                   4
50                 VERONA         19    63    96                  49
51          VIBO VALENTIA        NaN     5     2                   6
52                VICENZA         18    55    45                 155
53                VITERBO          3    11    11                  23
54                 TOTALE       1664  3770  3525                5458

   CITROEN/DS DACIA   DR   FIAT  FORD  ... SMART SSANGYONG SUBARU SUZUKI  \
1         NaN   NaN  NaN    NaN   NaN  ...   NaN       NaN    NaN    NaN
2         327   182   32    831   394  ...     8        14      7    189
3          77    35    7    294   109  ...   NaN         3      3     23
4          73    46    3    190   102  ...     1         2      5     34
5         175   142    4    424    95  ...   NaN         2      1     44
6          36    30  NaN     87    36  ...   NaN       NaN    NaN     31
7          10    11  NaN     22     5  ...   NaN       NaN    NaN    NaN
8          17    12  NaN     12    11  ...   NaN       NaN    NaN      2
9          97    51    4    304   119  ...     2         5      9     26
10        105    75    7    219    40  ...   NaN         1      3     38
11         32    29    5     96    53  ...   NaN       NaN      5      8
12         48    33    3    123    90  ...     1       NaN      2     18
13         75    24  NaN    285    62  ...     1         3      2     39
14         36    27    2    110    50  ...     2       NaN      3     12
15         41    21    2     90    23  ...     1         1      1     11
16          8    16    1     78    41  ...   NaN         1      3     10
17         37    62    4    172    63  ...   NaN       NaN      1     22
18         15    42  NaN     83    13  ...   NaN         1      1      4
19         30    14    4     88    36  ...     1       NaN      1      6
20         17     3    1    156    12  ...   NaN       NaN    NaN     11
21         32    25    1    107    15  ...     1       NaN      1      5
22         36    20    1     85    32  ...   NaN       NaN    NaN     14
23         35    26    2     87    62  ...   NaN       NaN      2     21
24         19    39    4    115    36  ...   NaN         1    NaN      9
25         87    45    2    258    77  ...     1       NaN      3     22
26          7    10  NaN     42    10  ...   NaN       NaN    NaN      4
27         30    25    2     71    24  ...     1         2      1     14
28        336   326   21   1142   550  ...    45       NaN     24    261
29         20    12    4     38    28  ...   NaN         1      1      5
30        119    36    2    232    70  ...     1       NaN    NaN     12
31         36    22    1     74    41  ...   NaN       NaN    NaN      5
32         33     9    1     65    33  ...   NaN       NaN      4     20
33         22    18    2     71    39  ...     1         1      2      9
34         24    35    6    126    31  ...   NaN       NaN    NaN      1
35          9     5  NaN     27    70  ...   NaN       NaN      3      5
36         29    26  NaN     34    30  ...   NaN       NaN    NaN      2
37         25    18  NaN     89    34  ...   NaN       NaN    NaN      8
38         19    28  NaN    112    16  ...     1         3    NaN      6
39         36    22    3     55    26  ...   NaN         1    NaN      4
40        204   153   36   2556   268  ...     7         4      5    313
41         28    14  NaN     72    14  ...   NaN       NaN    NaN      7
42        610    33  NaN    658   739  ...   302         2     13     38
43         76    28    2    208   123  ...     1       NaN      9     26
44         13     7  NaN     60    17  ...     1         2      6     14
45         54    12    2    155    52  ...     1         1      1     26
46         63    36    5    234    78  ...   NaN         1      7     78
47         71    45   23    191    81  ...   NaN         4      6      5
48         11     8  NaN     27    15  ...   NaN       NaN    NaN     16
49         16    11    2     38    34  ...   NaN         1      3     18
50         71    50   11    209    89  ...   NaN         3      4     46
51          9    18  NaN     24    13  ...   NaN       NaN    NaN      1
52         98    56    1    339   117  ...   NaN       NaN      4     26
53         17    25   11     91    17  ...   NaN         1      2      5
54       5636  3563  341  19519  6759  ...   527        79    220   2381

   TESLA MOTORS TOYOTA/LEXUS VOLKSWAGEN VOLVO ALTRE  TOTALE
1           NaN          NaN        NaN   NaN   NaN     NaN
2            94          664        521    48    25    6421
3            20          109        132    36    10    1624
4            28          173        197     8    14    1748
5             6          117        120     7     7    2061
6             9           67        102     2     0     728
7           NaN           16         15     1     0     168
8             1            6         22   NaN     0     131
9            36          183        208    27    18    1975
10            2          112        145     7    10    1337
11            5           49         91    27     2     857
12           10           79         89     7     3     973
13            6           81        162    40     7    1386
14            3           40         77     5     3     752
15            4           34         32     7     2     490
16            6           38         50     4     1     511
17            3           51        152     6     1    1082
18          NaN           39         79     5     0     614
19            3           51         53    16     2     598
20            2            5         30   NaN     0     407
21            2           50         75    12     1     680
22            1           42         36     1     3     436
23            4           31         78    19     5     817
24            2           58         34     1     5     513
25            8           74        114    12     4    1265
26            1           16         13     1     0     203
27            5           57         43    11     2     581
28           66         1176        708    68    36    9483
29            3           32         65     6     0     409
30            8           46         60   NaN     5    1049
31          NaN           35         53     1     2     686
32            2           45         53    15     0     458
33            3           27         70   NaN     3     548
34            3           31         34     1     2     474
35            7           13         19     4     2     262
36            1           24         42   NaN     0     316
37          NaN           19         18     2     2     462
38            2           34         42     3     0     458
39            2           31         42     2     7     394
40           41          397        407    13    19    6898
41          NaN           25         46   NaN     2     349
42           72          253        404   184     6    7857
43           27          137        206    23     3    1613
44            1           44         32     5     3     341
45            4           95        118    17     2     996
46           20          230        179    19    14    1876
47           10           91        131    14     5    1286
48            4           14         27   NaN     1     230
49            9           26         27     5     2     310
50           31          121        237    27    10    1955
51            1            6          8   NaN     1     168
52           21          184        223    35    15    2152
53            1           29         35     6     0     439
54          923         8396      12600  1643   463  119454

[54 rows x 37 columns]


Queste sono le colonne:

 Index(['PROVINCIA', 'ALFA ROMEO', 'AUDI', 'BMW', 'CHRYSLER/JEEP/DODGE',
       'CITROEN/DS', 'DACIA', 'DR', 'FIAT', 'FORD', 'HONDA', 'HYUNDAI',
       'JAGUAR', 'KIA', 'LANCIA', 'LAND ROVER', 'MAZDA', 'MERCEDES', 'MINI',
       'MITSUBISHI', 'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT',
       'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA MOTORS',
       'TOYOTA/LEXUS', 'VOLKSWAGEN', 'VOLVO', 'ALTRE', 'TOTALE'],
      dtype='object')


Questa è la tabella con i miei brand scelti:

                 DATA TOTALE
PROVINCIA
MESSINA     2018-1-01    876
MESSINA     2018-2-01    755
MESSINA     2018-3-01    946
MESSINA     2018-4-01    765
MESSINA     2018-5-01   1021
MESSINA     2018-6-01    911
MESSINA     2018-7-01    939
MESSINA     2018-8-01    580
MESSINA     2018-9-01    767
MESSINA    2018-10-01    889
MESSINA    2018-11-01    880
MESSINA    2018-12-01    819
MESSINA     2019-1-01    847
MESSINA     2019-2-01    834
MESSINA     2019-3-01    810
MESSINA     2019-4-01    796
MESSINA     2019-5-01    899
MESSINA     2019-6-01    820
MESSINA     2019-7-01    786
MESSINA     2019-8-01    499
MESSINA     2019-9-01    778
MESSINA    2019-10-01    875
MESSINA    2019-11-01    760
MESSINA    2019-12-01    760
MESSINA     2020-1-01    783
MESSINA     2020-2-01    727
MESSINA     2020-3-01    124
MESSINA     2020-4-01     12
MESSINA     2020-5-01    465
MESSINA     2020-6-01    666
MESSINA     2020-7-01    726
MESSINA     2020-8-01    546
MESSINA     2020-9-01    805
MESSINA    2020-10-01    902
MESSINA    2020-11-01    848
MESSINA    2020-12-01    766